.a_a {
	BEHAVIOR: url(/style/css/base/htc/htc.span.a.htc); CURSOR: pointer; moz-binding: url(/style/css/base/htc/bind.xml#htc.span.a.htc)
}
.g_htc_toggle {
	BEHAVIOR: url(/style/css/base/htc/htc.toggle.htc); moz-binding: url(/style/css/base/htc/bind.xml#htc.toggle.htc)
}
.g_htc_toggle .ck0 {
	DISPLAY: none
}
.g_htc_toggle .ck1 {
	DISPLAY: inline
}
.toggle .ck0 {
	DISPLAY: inline
}
.toggle .ck1 {
	DISPLAY: none
}
.g_htc_selitm {
	BEHAVIOR: url(/style/css/base/htc/htc.selitm.htc); CURSOR: default; moz-binding: url(/style/css/base/htc/bind.xml#htc.selitm.htc)
}
.g_htc_selitm SPAN.del {
	VISIBILITY: hidden
}
.selitm SPAN.del {
	VISIBILITY: visible
}
.g_htc_selitm:hover SPAN.del {
	VISIBILITY: visible
}
.g_htc_seltgl {
	BEHAVIOR: url(/style/css/base/htc/htc.selitm.htc) url(/style/css/base/htc/htc.toggle.htc); moz-binding: url(/style/css/base/htc/bind.xml#htc.selitm.htc|htc.toggle.htc)
}
.g_htc_seltgl .ck {
	VISIBILITY: hidden
}
.selitm .ck {
	VISIBILITY: visible
}
.g_htc_blogselitm {
	BEHAVIOR: url(/style/css/base/htc/htc.blogselitm.htc); CURSOR: default; moz-binding: url(/style/css/base/htc/bind.xml#htc.blogselitm.htc)
}
.g_htc_over {
	BEHAVIOR: url(/style/css/base/htc/htc.over.htc); CURSOR: text
}
.g_htc_over:hover {
	BACKGROUND-COLOR: #ffffe1
}
.over {
	BACKGROUND-COLOR: #ffffe1
}
.g_htc_brd {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BEHAVIOR: url(/style/css/base/htc/htc.brd.htc); PADDING-TOP: 1px
}
.brd {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid
}
.g_htc_brd:hover {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid
}
.g_htc_hvr {
	BEHAVIOR: url(/style/css/base/htc/htc.hvr.htc)
}
.g_htc_item {
	BEHAVIOR: url(/style/css/base/htc/htc.item.htc); moz-binding: url(/style/css/base/htc/bind.xml#htc.item.htc)
}
.g_htc_item_selected {
	BEHAVIOR: url(/style/css/base/htc/htc.item.selected.htc) url(/style/css/base/htc/htc.item.htc); moz-binding: url(/style/css/base/htc/bind.xml#htc.item.selected.htc|htc.item.htc)
}
.g_htc_focus {
	BEHAVIOR: url(/style/css/base/htc/htc.focus.input.htc); CURSOR: text
}
.focus {
	CURSOR: text; BACKGROUND-COLOR: #ffffe1
}
.g_htc_focus:unknown {
	CURSOR: text; BACKGROUND-COLOR: #ffffe1
}
.g_htc_list {
	BEHAVIOR: url(/style/css/base/htc/htc.hvr.htc)
}
.g_htc_list SPAN.del {
	VISIBILITY: hidden
}
.hvr SPAN.del {
	VISIBILITY: visible
}
.g_htc_list:hover SPAN.del {
	VISIBILITY: visible
}
