.css_hom_1 .wcl {
	WIDTH: 100%
}
.css_hom_1 .wcc {
	DISPLAY: none
}
.css_hom_1 .wcr {
	DISPLAY: none
}
.css_hom_2 .wcl {
	WIDTH: 454px
}
.css_hom_2 .wcc {
	WIDTH: 454px
}
.css_hom_2 .wcr {
	DISPLAY: none
}
.css_hom_3 .wcl {
	WIDTH: 310px
}
.css_hom_3 .wcc {
	WIDTH: 598px
}
.css_hom_3 .wcr {
	DISPLAY: none
}
.css_hom_4 .wcl {
	WIDTH: 598px
}
.css_hom_4 .wcc {
	WIDTH: 310px
}
.css_hom_4 .wcr {
	DISPLAY: none
}
.css_hom_5 .wcl {
	WIDTH: 298px
}
.css_hom_5 .wcc {
	WIDTH: 298px
}
.css_hom_5 .wcr {
	WIDTH: 310px
}
.css_hom_6 .wcl {
	WIDTH: 236px
}
.css_hom_6 .wcc {
	WIDTH: 436px
}
.css_hom_6 .wcr {
	WIDTH: 236px
}
.css_hom_7 .wcl {
	WIDTH: 236px
}
.css_hom_7 .wcc {
	WIDTH: 236px
}
.css_hom_7 .wcr {
	WIDTH: 436px
}
.css_hom_8 .wcl {
	WIDTH: 436px
}
.css_hom_8 .wcc {
	WIDTH: 236px
}
.css_hom_8 .wcr {
	WIDTH: 236px
}
.css_inr_1 .wql {
	DISPLAY: none
}
.css_inr_1 .wqc {
	WIDTH: 100%
}
.css_inr_1 .wqr {
	DISPLAY: none
}
.css_inr_2 .wql {
	WIDTH: 218px
}
.css_inr_2 .wqc {
	WIDTH: 690px
}
.css_inr_2 .wqr {
	DISPLAY: none
}
.wkl {
	WIDTH: 638px
}
