BODY {
	COLOR: #000000
}
LI {
	COLOR: #000000
}
A {
	COLOR: #000000
}
TD {
	COLOR: #000000
}
TH {
	COLOR: #000000
}
.c02 {
	COLOR: #349306
}
.c02 A {
	COLOR: #349306
}
.c03 {
	COLOR: #0b5f1b
}
.c04 {
	COLOR: #000000
}
.c04 A {
	COLOR: #000000
}
.c05 {
	COLOR: #009b1d
}
.c05 LI {
	COLOR: #009b1d
}
.c05 A {
	COLOR: #009b1d
}
.c06 {
	COLOR: #05c900
}
.c06 LI {
	COLOR: #05c900
}
.c06 A {
	COLOR: #05c900
}
.c07 {
	COLOR: #000000
}
.c07 P {
	COLOR: #000000
}
.c08 {
	COLOR: #777777
}
.c09 {
	COLOR: #8dd65b
}
.c09 TD {
	COLOR: #8dd65b
}
.c10 {
	COLOR: #73d332
}
.c10 A {
	COLOR: #73d332
}
.bd1c {
	COLOR: #8dd65b
}
.bd00 {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.bd01 {
	BORDER-RIGHT: #8dd65b 1px solid; BORDER-TOP: #8dd65b 1px solid; BORDER-LEFT: #8dd65b 1px solid; BORDER-BOTTOM: #8dd65b 1px solid
}
.brd01 {
	BORDER-LEFT-COLOR: #8dd65b; BORDER-BOTTOM-COLOR: #8dd65b; BORDER-TOP-COLOR: #8dd65b; BORDER-RIGHT-COLOR: #8dd65b
}
.bdt {
	BORDER-LEFT-COLOR: #8dd65b; BORDER-BOTTOM-COLOR: #8dd65b; BORDER-TOP-COLOR: #8dd65b; BORDER-RIGHT-COLOR: #8dd65b
}
.bdl {
	BORDER-LEFT-COLOR: #8dd65b; BORDER-BOTTOM-COLOR: #8dd65b; BORDER-TOP-COLOR: #8dd65b; BORDER-RIGHT-COLOR: #8dd65b
}
.bdr {
	BORDER-LEFT-COLOR: #8dd65b; BORDER-BOTTOM-COLOR: #8dd65b; BORDER-TOP-COLOR: #8dd65b; BORDER-RIGHT-COLOR: #8dd65b
}
.bdb {
	BORDER-LEFT-COLOR: #8dd65b; BORDER-BOTTOM-COLOR: #8dd65b; BORDER-TOP-COLOR: #8dd65b; BORDER-RIGHT-COLOR: #8dd65b
}
.bd1t {
	BORDER-LEFT-COLOR: #8dd65b; BORDER-BOTTOM-COLOR: #8dd65b; BORDER-TOP-COLOR: #8dd65b; BORDER-RIGHT-COLOR: #8dd65b
}
.bd1l {
	BORDER-LEFT-COLOR: #8dd65b; BORDER-BOTTOM-COLOR: #8dd65b; BORDER-TOP-COLOR: #8dd65b; BORDER-RIGHT-COLOR: #8dd65b
}
.bd1r {
	BORDER-LEFT-COLOR: #8dd65b; BORDER-BOTTOM-COLOR: #8dd65b; BORDER-TOP-COLOR: #8dd65b; BORDER-RIGHT-COLOR: #8dd65b
}
.bd1b {
	BORDER-LEFT-COLOR: #8dd65b; BORDER-BOTTOM-COLOR: #8dd65b; BORDER-TOP-COLOR: #8dd65b; BORDER-RIGHT-COLOR: #8dd65b
}
.bggb {
	BACKGROUND: url(img/bg_bowser.jpg) #42af31 repeat-x 50% bottom
}
.bg11 {
	BACKGROUND: url(img/bg_top.jpg) no-repeat
}
.bg21 {
	BACKGROUND: url(img/bg_nav.jpg) no-repeat
}
.bg40 {
	BACKGROUND: url(img/bg_mid2.jpg) repeat-y
}
.bg41 {
	BACKGROUND: url(img/bg_mid.jpg) no-repeat
}
.bg51 {
	BACKGROUND: url(img/bg_bottom.jpg) no-repeat
}
.bgmf {
	DISPLAY: none
}
.bgtf {
	DISPLAY: none
}
.bgmt {
	DISPLAY: none
}
.wkg {
	MARGIN: 0px auto; WIDTH: 1004px
}
.wsy {
	MARGIN: 0px auto; WIDTH: 1004px
}
.wnl {
	WIDTH: 63px
}
.wnr {
	WIDTH: 200px
}
.wnc {
	MARGIN: 0px 200px 0px 63px
}
.whl {
	DISPLAY: none
}
.whr {
	DISPLAY: none
}
.wml {
	DISPLAY: none
}
.wmr {
	DISPLAY: none
}
.whc {
	MARGIN: 0px 45px 0px 50px; WIDTH: 909px
}
.wmc {
	MARGIN: 0px 45px 0px 50px; WIDTH: 909px
}
.ht {
	HEIGHT: 262px
}
.hn {
	LINE-HEIGHT: 85px; HEIGHT: 96px
}
.hm {
	MIN-HEIGHT: 560px; HEIGHT: 560px
}
.hf {
	HEIGHT: 791px
}
.logo {
	DISPLAY: none
}
.fmgtp {
	PADDING-TOP: 10px
}
.fs01 {
	FONT-SIZE: 48px
}
.title {
	FONT-SIZE: 18px; LEFT: 300px; WIDTH: 704px; COLOR: #3ca807; FONT-FAMILY: "свт╡",Arial,Verdana,Helvetica,sans-serif; TOP: 125px
}
.btnb {
	BORDER-LEFT-COLOR: #84cdff; BORDER-BOTTOM-COLOR: #84cdff; COLOR: #ffffff; BORDER-TOP-COLOR: #84cdff; BACKGROUND-COLOR: #65cb20; BORDER-RIGHT-COLOR: #84cdff
}
.butn {
	BORDER-LEFT-COLOR: #84cdff; BORDER-BOTTOM-COLOR: #84cdff; COLOR: #ffffff; BORDER-TOP-COLOR: #84cdff; BACKGROUND-COLOR: #65cb20; BORDER-RIGHT-COLOR: #84cdff
}
.topbar {
	BACKGROUND: #65cb20
}
.topbar A {
	COLOR: #ffffff
}
.topbar SPAN.nick {
	COLOR: #ffffff
}
.topbar .sep {
	COLOR: #84cdff
}
.selitm {
	BACKGROUND-COLOR: #a0fa6a
}
.wnc A {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
.wnc A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000
}
.seltag A {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000
}
.wnc .seltag A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000
}
.plybtn {
	BACKGROUND-IMAGE: url(img/-1.gif); BACKGROUND-REPEAT: no-repeat
}
.mdl {
	MARGIN: 10px 0px
}
.mdl_t {
	BACKGROUND: url(img/bg_mo_tm.jpg) repeat-x; LINE-HEIGHT: 100px; HEIGHT: 90px
}
.mdl_t_l {
	BACKGROUND: url(img/bg_mo_ctl.jpg) no-repeat; WIDTH: 95px; LINE-HEIGHT: 100px; HEIGHT: 90px
}
.mdl_t_c {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; Z-INDEX: 10; MARGIN: 0px 90px 0px 40px; LINE-HEIGHT: 100px; HEIGHT: 90px
}
.mdl_t_r {
	BACKGROUND: url(img/bg_mo_ctr.jpg) no-repeat right 50%; WIDTH: 90px; LINE-HEIGHT: 100px; HEIGHT: 90px
}
.mdl_t_m {
	RIGHT: 40px; TOP: 40px
}
.mdl_c_l {
	BACKGROUND: url(img/bg_mol.jpg) repeat-y; WIDTH: 31px
}
.mdl_c_c {
	BACKGROUND: #b6fb87; MARGIN: 0px 31px
}
.mdl_c_r {
	BACKGROUND: url(img/bg_mor.jpg) repeat-y right 50%; WIDTH: 31px
}
.mdl_b {
	HEIGHT: 75px
}
.mdl_b_l {
	BACKGROUND: url(img/bg_mo_cbl.jpg) no-repeat left bottom; WIDTH: 68px; HEIGHT: 75px
}
.mdl_b_c {
	BACKGROUND: url(img/bg_mo_bm.jpg) repeat-x left bottom; MARGIN: 0px 75px 0px 68px; HEIGHT: 75px
}
.mdl_b_r {
	BACKGROUND: url(img/bg_mo_cbr.jpg) no-repeat left bottom; WIDTH: 75px; HEIGHT: 75px
}
.mdlbg {
	BACKGROUND-COLOR: #b6fb87
}
.g_tab_btn00 DIV.s {
	BORDER-BOTTOM: #b6fb87 1px solid
}
.g_abm_list_rgt .case .selected {
	BACKGROUND-COLOR: #a0fa6a
}
#blog-163-com .g_menu_nv .item {
	WIDTH: 104px
}
#blog-163-com .g_menu_nv .item A {
	WIDTH: 104px
}
.g_blog_list .content A {
	COLOR: #009b1d
}
.g_hom_com .list .item .content .case A {
	COLOR: #009b1d
}
.g_com_table .layout_r .t .c A {
	COLOR: #009b1d
}
.g_hom_note .hw1 A {
	COLOR: #009b1d
}
.g_hom_note .hw3 A {
	COLOR: #009b1d
}
