#CHBig1 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN-LEFT: auto; WIDTH: 770px; MARGIN-RIGHT: auto; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, sans-serif; TEXT-ALIGN: left
}
#CHBig2 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; WIDTH: 770px; MARGIN-RIGHT: auto; PADDING-TOP: 0px; BORDER-BOTTOM: #003366 1px solid; FONT-FAMILY: Tahoma, sans-serif; TEXT-ALIGN: left
}
#CHBigNavBar {
	LINE-HEIGHT: 20px; HEIGHT: 20px
}
#CHBigNavBar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BACKGROUND-COLOR: #fff
}
#CHBigNavBar LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#CHBigNavBar LI A {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #4682b4 1px solid; BACKGROUND-COLOR: #4682b4; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#CHBigNavBar LI A:hover {
	COLOR: #fff; BORDER-BOTTOM: #369 1px solid; BACKGROUND-COLOR: #369
}
#Logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 150px; PADDING-TOP: 0px
}
#TopAds {
	PADDING-RIGHT: 4px; FLOAT: right; WIDTH: 610px; TEXT-ALIGN: right
}
