BODY {
	MARGIN: 4px 10px
}
FORM {
	MARGIN: 0px
}
TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; FONT-FAMILY: Arial
}
DIV {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; FONT-FAMILY: Arial
}
A:link {
	COLOR: #261cdc
}
A:visited {
	COLOR: #800080
}
.path {
	FONT-SIZE: 12px; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.hd {
	LEFT: -2px; POSITION: relative
}
#tab {
	MARGIN-TOP: 3px; FONT-SIZE: 14px; HEIGHT: 21px
}
.hdi {
	FONT-SIZE: 16px; FONT-FAMILY: Arial
}
.btn {
	PADDING-TOP: 2px; HEIGHT: 24px
}
#ft {
	CLEAR: both; MARGIN-TOP: 10px; LINE-HEIGHT: 20px; TEXT-ALIGN: center
}
#ft {
	FONT-SIZE: 12px; COLOR: #77c; FONT-FAMILY: Arial; WHITE-SPACE: nowrap
}
#ft * {
	FONT-SIZE: 12px; COLOR: #77c; FONT-FAMILY: Arial; WHITE-SPACE: nowrap
}
#main {
	MIN-WIDTH: 756px; MAX-WIDTH: 979px; WIDTH: 100%
}
#right {
	FLOAT: right; WIDTH: 23%
}
#center {
	PADDING-RIGHT: 9px; MARGIN: 0px 23% 0px 0px
}
.bai {
	WIDTH: 100%
}
.p90 {
	WIDTH: 90%
}
#usrbar {
	FONT-SIZE: 12px; LINE-HEIGHT: 19px; HEIGHT: 19px; TEXT-ALIGN: right
}
.headTitB {
	FONT-WEIGHT: bold
}
.t3 {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-LEFT: 1px solid; LINE-HEIGHT: 24px; BORDER-BOTTOM: 0px solid; HEIGHT: 24px
}
.t3_favor {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-LEFT: 1px solid; LINE-HEIGHT: 24px; BORDER-BOTTOM: 0px solid; HEIGHT: 24px
}
.t1 {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px solid; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px solid; HEIGHT: 24px
}
.b3 {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 0px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; BORDER-LEFT: 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: 1px solid
}
.bgg {
	BACKGROUND-COLOR: #ddf1d8
}
.bgb {
	BACKGROUND-COLOR: #deeef4
}
.bgy {
	BACKGROUND-COLOR: #fbf5c6
}
.bgr {
	BACKGROUND-COLOR: #ffe8e6
}
.bcg {
	BORDER-LEFT-COLOR: #58cb64; BORDER-BOTTOM-COLOR: #58cb64; BORDER-TOP-COLOR: #58cb64; BORDER-RIGHT-COLOR: #58cb64
}
.bcy {
	BORDER-LEFT-COLOR: #f4bf20; BORDER-BOTTOM-COLOR: #f4bf20; BORDER-TOP-COLOR: #f4bf20; BORDER-RIGHT-COLOR: #f4bf20
}
.bcb {
	BORDER-LEFT-COLOR: #64b7d7; BORDER-BOTTOM-COLOR: #64b7d7; BORDER-TOP-COLOR: #64b7d7; BORDER-RIGHT-COLOR: #64b7d7
}
.bcr {
	BORDER-LEFT-COLOR: #fe7878; BORDER-BOTTOM-COLOR: #fe7878; BORDER-TOP-COLOR: #fe7878; BORDER-RIGHT-COLOR: #fe7878
}
.b4y {
	BORDER-RIGHT: #f4bf20 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f4bf20 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; BORDER-LEFT: #f4bf20 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #f4bf20 1px solid
}
.b4g {
	BORDER-RIGHT: #58cb64 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #58cb64 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 8px; BORDER-LEFT: #58cb64 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #58cb64 1px solid
}
.f14 {
	FONT-SIZE: 14px; LINE-HEIGHT: 22px
}
.f14B {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 22px
}
.tdx {
	FONT-SIZE: 14px; LINE-HEIGHT: 22px
}
.B {
	FONT-WEIGHT: bold
}
.mb12 {
	MARGIN-BOTTOM: 12px
}
.mb10 {
	MARGIN-BOTTOM: 10px
}
.mt10 {
	MARGIN-TOP: 10px
}
.mt20 {
	MARGIN-TOP: 20px
}
.grn {
	COLOR: #008800
}
A.grn:link {
	COLOR: #008800
}
A.grn:visited {
	COLOR: #008800
}
.lbk {
	COLOR: #000000
}
A.lbk:link {
	COLOR: #000000
}
A.lbk:visited {
	COLOR: #000000
}
.lgy {
	COLOR: #555555
}
A.lgy:link {
	COLOR: #555555
}
A.lgy:visited {
	COLOR: #555555
}
.org {
	COLOR: #ff6600
}
A.org:link {
	COLOR: #ff6600
}
A.org:visited {
	COLOR: #ff6600
}
A.lmore:link {
	FONT-WEIGHT: bold
}
A.lmore:visited {
	FONT-WEIGHT: bold
}
A.lmore_relaques:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
A.lmore_relaques:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
A.lklbe:link {
	COLOR: #7777cc; TEXT-DECORATION: underline
}
A.lklbe:visited {
	COLOR: #7777cc; TEXT-DECORATION: underline
}
.per80 {
	LINE-HEIGHT: 80%
}
#lbd TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #e1e1e1 1px solid
}
#lbd .m {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px
}
.wr {
	TABLE-LAYOUT: fixed; WORD-WRAP: break-word
}
.wr TD {
	PADDING-TOP: 5px
}
.gray {
	COLOR: #666666
}
.red {
	COLOR: #ff3300
}
#Lbg {
	BORDER-TOP: #999999 1px solid; MARGIN: 13px 0px 7px; LINE-HEIGHT: 1px; HEIGHT: 1px
}
#Lg {
	BORDER-TOP: #999999 1px solid; MARGIN: 7px 0px 3px; LINE-HEIGHT: 1px; HEIGHT: 1px
}
#Lq {
	BORDER-TOP: #e1e1e1 1px solid; MARGIN: 7px 0px 2px; LINE-HEIGHT: 1px; HEIGHT: 1px
}
.pl6 {
	PADDING-LEFT: 6px
}
.p30 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 30px; PADDING-TOP: 30px
}
.p10 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#pg {
	FONT-SIZE: 14px; LINE-HEIGHT: 22px; TEXT-ALIGN: center
}
#tl TD {
	BORDER-TOP: #e1e1e1 1px solid
}
.tlp4 TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#tl TD.nl {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.tlp3 TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.bl TD {
	BORDER-BOTTOM: #e1e1e1 1px solid
}
.p2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.p4 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.p3 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.bl TD.nl {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.f12 {
	FONT-SIZE: 12px
}
.bn100 {
	WIDTH: 100px; PADDING-TOP: 2px; HEIGHT: 24px
}
#sub {
	FONT-SIZE: 14px; POSITION: relative; HEIGHT: 25px
}
#sub SPAN {
	BORDER-RIGHT: #58cb64 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #58cb64 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: #ddf1d8; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN-LEFT: 10px; BORDER-LEFT: #58cb64 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #58cb64 0px solid
}
#sub A {
	BORDER-RIGHT: #d6d6eb 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #d6d6eb 1px solid; PADDING-LEFT: 10px; BACKGROUND: #ffffff; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN-LEFT: 10px; BORDER-LEFT: #d6d6eb 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #d6d6eb 0px solid
}
#subline {
	FONT-SIZE: 0px; LINE-HEIGHT: 1px; POSITION: relative; TOP: 25px; HEIGHT: 1px; BACKGROUND-COLOR: #58cb64
}
.subt {
	PADDING-RIGHT: 10px; MARGIN-BOTTOM: 5px; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-ALIGN: right
}
.f {
	PADDING-LEFT: 15px; FONT-SIZE: 100%; WIDTH: 32em; WORD-BREAK: break-all; LINE-HEIGHT: 120%; WORD-WRAP: break-word
}
#pg {
	MARGIN-TOP: 20px; FONT-SIZE: 14px; WORD-SPACING: 4px; LINE-HEIGHT: 30px; FONT-FAMILY: arial; HEIGHT: 30px; TEXT-ALIGN: center
}
#pg FONT {
	FONT-SIZE: 16px
}
.bnsrh {
	PADDING-TOP: 2px; HEIGHT: 24px
}
DIV.cpro_iknow {
	BORDER-RIGHT: #f4bf20 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #f4bf20 1px solid; PADDING-LEFT: 0px; MARGIN-BOTTOM: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #f4bf20 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #f4bf20 1px solid
}
DIV.cpro_iknow DIV {
	PADDING-RIGHT: 5px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WORD-BREAK: break-all; PADDING-TOP: 0px
}
DIV.cpro_iknow DIV A {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
DIV.cpro_iknow DIV A U {
	FONT-SIZE: 14px; COLOR: blue; text_decoration: underline
}
DIV.cpro_iknow DIV A SPAN {
	COLOR: green
}
DIV.cpro_iknow DIV A SPAN.cpro_red {
	COLOR: #c60a00
}
.cprodiv {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
