PRE.programlisting {
	FONT-SIZE: 93%; WIDTH: 97%; FONT-FAMILY: Courier New; BACKGROUND-COLOR: #e6e6e6
}
CODE.code {
	FONT-FAMILY: Courier New
}
.footnote {
	FONT-SIZE: 90%
}
BODY {
	FONT-FAMILY: Verdana,Simsun, Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 93%
}
A {
	FONT-SIZE: 93%
}
