@charset "utf-8";
body {
	font-family: Verdana, Geneva, sans-serif;
	margin: 0px;
	padding: 20px;
	color: #000;
	background-color: #FFF;
}
img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
div.docbook > div {
	border-left-width: 150px;
	border-left-style: solid;
	border-left-color: #F6F6F6;
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 1px; /* required by all browsers to avoid gap between h2 and div */
	padding-bottom: 1px; /* required by all browsers to avoid gap between div and h2 */
	position: relative; /* required to use absolute positioning for h3 */
}
div.docbook > div.toc {
	background-color: #F6F6F6;
	background-image: url(../img/2x20_panel_white.gif);
	background-repeat: repeat-y;
	zoom: 1; /* required by IE to position background-image not underneath border */
}
div.docbook > div.toc ul {
	font-size: 0.8em;
}
div.docbook > div.toc a {
	text-decoration: none;
}
div.docbook > div.toc a:hover {
	text-decoration: underline;
}
div.docbook ul {
	margin-top: 10px;
	margin-bottom: 10px;
}
div.docbook ul.programlisting {
	font-size: 0.8em;
	border: 1px solid #F6F6F6;
	color: #000;
	background-color: #FFFFDD;
	margin-top: 3px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
}
div.docbook ul.programlisting li {
	display: inline;
}
div.docbook ul.programlisting li:before {
	content: '| ';
}
div.docbook ul.programlisting li:first-child:before {
	content: '';
}
div.docbook ol {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 0.8em; /* required by all browser to adapt font size of item numbers */
}
div.docbook ol p {
	font-size: 1em; /* required by all browsers to adapt font size of paragraphs in ordered lists */
}
div.docbook ol pre.programlisting {
	font-size: 1.0em; /* required by IE to adapt font size of programlistings in ordered lists; doesn't help for Firefox though */
}
div.docbook p {
	font-size: 0.8em;
	margin-top: 10px;
	margin-bottom: 10px;
}
div.docbook h1 {
	font-size: 2.4em;
	color: #666699;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
}
div.docbook h1 small {
	font-size: 0.8em;
	color: #CCCCCC;
}
div.docbook h2 {
	font-size: 0.8em;
	font-weight: bold;
	background-color: #F6F6F6;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-top: 0px;
	margin-bottom: 2px;
}
div.docbook h3 {
	font-size: 0.7em;
	font-weight: normal;
	position: absolute; /* absolute positioning relative to div container */
	left: -150px;
	width: 130px;
	margin: 0px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	word-wrap: break-word; /* CSS3 property currently only supported by IE */
}
hr {
	border: 1px solid #DDDDDD;
}
hr.hrhead {
	border: 1px solid #000;
	clear: both;
}
div.docbook pre.programlisting {
	color: #0000FF;
	background-color: #F6F6FF;
	padding: 5px;
	margin: 0px; /* required by IE which shows a gap if programlisting is last in sect1 */
	border: 1px solid #E0E0FF;
	overflow: auto;
}
div.docbook pre.literallayout {
	color: #000;
	background-color: #DDFFDD;
	padding: 5px;
	margin: 0px; /* required by IE which shows a gap if literallayout is last in sect1 */
	border: 1px solid #CCFFCC;
	overflow: auto;
}
div.docbook pre.screen {
	color: #000;
	background-color: #DDFFDD;
	padding: 5px;
	margin: 0px; /* required by IE which shows a gap if literallayout is last in sect1 */
	border: 1px solid #CCFFCC;
	overflow: auto;
}
div.docbook p.author, div.docbook p.title {
	font-weight: bold;
	letter-spacing: 0.2em;
	margin-top: 0px;
	margin-bottom: 6px;
	float: left;
}
div.docbook p.author a {
	color: #000;
	text-decoration: none;
}
div.docbook p.author a:hover {
	text-decoration: underline;
}
div.docbook form.toc, div.docbook p.toc {
	float: right;
	margin-top: 0px;
	margin-bottom: 6px;
}
div.docbook form.toc select {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.7em;
	color: #0000FF;
}
div.docbook p.date { /* used by articles only */
	float: right;
	margin-top: 0px;
	margin-bottom: 6px;
	font-weight: bold;
}
div.docbook p.license {
	background-color: #DDFFDD;
	border: 1px solid #CCFFCC;
	padding: 5px;
	margin-bottom: 0px; /* required by IE to avoid a gap */
}
div.docbook p.license a {
	color: #000;
	text-decoration: underline;
}
div.docbook p.license img {
	vertical-align: middle;
}
div.docbook p.pdf {
	background-color: #FFDDDD;
	border: 1px solid #FFCCCC;
	padding: 5px;
	margin-bottom: 0px; /* required by IE to avoid a gap */
}
div.docbook p.pdf a {
	color: #000;
	text-decoration: underline;
}
div.docbook p.pdf img {
	vertical-align: middle;
}
div.docbook p.othercredit {
	background-color: #FFFFBB;
	border: 1px solid #FFFF99;
	padding: 5px;
	margin-bottom: 0px; /* required by IE to avoid a gap */
}
div.docbook p.othercredit a {
	color: #000;
	text-decoration: underline;
}
div.docbook p.othercredit img {
	vertical-align: middle;
}
div.docbook p.edit {
	background-color: #DFDDFF;
	border: 1px solid #CFCCFF;
	padding: 5px;
	margin-bottom: 0px; /* required by IE to avoid a gap */
}
div.docbook p.edit a {
	color: #000;
	text-decoration: underline;
}
div.docbook p.editable {
	background-color: #DFDDFF;
}
div.docbook p.solution {
	background-color: #FFDDDD;
	border: 1px solid #FFCCCC;
	padding: 5px;
	margin-bottom: 0px; /* required by IE to avoid a gap */
}
div.docbook p.solution a {
	color: #000;
	text-decoration: underline;
}
div.docbook p.solution img {
	vertical-align: middle;
}
p.copyright {
	font-size: 0.7em;
	text-align: right;
}
p.copyright a {
	color: #000;
	text-decoration: underline;
}
div.docbook p.abstract { /* used by articles only */
	font-style: italic;
	line-height: 1.5em;
}
div.docbook code {
	font-size: 1em;
	color: #0000FF;
	font-family: Verdana, Geneva, sans-serif; /* Firefox uses different font-family by default */
}
div.docbook code.computeroutput {
	font-family: "Courier New", Courier, monospace;
	color: #666;
	background-color: #DDD;
}
div.docbook var {
	font-weight: bold;
	color: #000;
	font-style: normal; /* required by all browsers */
}
div.docbook table {
	border: 1px solid #C0C0FF;
	font-size: 0.8em;
}
div.docbook caption {
	font-style: italic;
}
div.docbook th {
	color: #000;
	background-color: #D6D6FF;
	border: 1px solid #C0C0FF;
	padding: 4px;
	vertical-align: top;
}
div.docbook th[scope="col"] {
	text-align: left;
}
div.docbook th[scope="row"] {
	text-align: left;
	vertical-align: middle;
}
div.docbook td {
	color: #000;
	background-color: #F0F0FF;
	border: 1px solid #C0C0FF;
	padding: 4px;
	vertical-align: top;
}
div.docbook div.mediaobject[align="left"] * {
	margin-right: 10px;
}
div.docbook div.mediaobject[align="right"] * {
	margin-left: 10px;
}
div.docbook div.tip {
	color: #090;
	background-color: #F6FFF6;
	display: none;
}
div.docbook div.tip p {
	padding: 7px;
}
div.docbook span.keyword {
}
div.docbook span.keyword.hover {
	text-decoration: underline;
	background-color: #FF0;
}
div.docbook span.keyword.selected {
	background-color: #0F0;
}
div.docbook span.guimenu {
	background-color: #F3F3EF;
	padding-right: 2px;
	padding-left: 2px;
	border: 1px solid #D3D3CF;
}
div.docbook span.guimenuitem {
	background-color: #F3F3EF;
	padding-right: 2px;
	padding-left: 2px;
	border: 1px solid #D3D3CF;
}
div.docbook span.guisubmenu {
	background-color: #F3F3EF;
	padding-right: 2px;
	padding-left: 2px;
	border: 1px solid #D3D3CF;
}
div.docbook span.package {
	color: #0000FF;
}
.ajax .window {
	color: #000;
	background-color: #FFF;
	border: 1px solid #000;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.8em;
	z-index: 10;
}
.ajax .window .title {
	color: #FFF;
	background-color: #000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	margin: 0;
}
.ajax .menu {
	position: fixed;
	top: 10px;
	left: 10px;
	min-width: 200px;
}
.ajax .menu .title {
	text-align: right;
	cursor: move;
}
.ajax .menu .title a {
	color: #FFF;
	text-decoration: none;
	margin-right: 2px;
}
.ajax .menu form {
	margin: 4px;
	background-color: #FFF;
}
.ajax .menu form table {
	margin-bottom: 4px;
}
.ajax .notices {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 300px;
}
.ajax .notices .notice {
	position: relative;
	margin-bottom: 10px;
}
.ajax .notices .notice p.message {
	margin: 0;
	padding: 5px;
}
