.Reply {
	HEIGHT: 100%
}
.ArticleBlogText {
	HEIGHT: 100%
}
.ArticleBlogText P {
	MARGIN-BOTTOM: 10px
}
.PageTagLine_1 {
	PADDING-LEFT: 10px; FLOAT: left; WIDTH: 320px
}
.PageTagLine_2 {
	FLOAT: left
}
.PageTagLine_3 {
	PADDING-RIGHT: 10px; FLOAT: right
}
.VideoRight {
	MARGIN-TOP: 5px; HEIGHT: 100%! important
}
.VideoRightText {
	OVERFLOW: hidden; WIDTH: 120px; HEIGHT: 22px
}
.MusicPlayerTd_3_3 {
	OVERFLOW: visible; HEIGHT: 205px
}
.message_list_left_2 {
	WIDTH: 60px
}
.MusicPlayerTd_3_3 {
	HEIGHT: 100%
}
.music_list {
	MARGIN-TOP: 0px! important; MARGIN-BOTTOM: 10px! important
}
.site_description_A {
	LINE-HEIGHT: 36px
}
.site_description_B {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: normal
}
.calendar-box A {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.linklogo {
	WIDTH: 88px
}
#photo_list SPAN {
	WIDTH: 83px! important
}
#photo_list DIV {
	MARGIN-TOP: 3px! important; BACKGROUND: url(http://hexun.com/img/temp/photobg_1.gif) no-repeat; PADDING-BOTTOM: 5px; MARGIN-LEFT: 2px! important; MARGIN-RIGHT: 2px! important; PADDING-TOP: 2px
}
#PhotoManage_list {
	FONT-WEIGHT: normal! important
}
.PhotoGood {
	WIDTH: 720px; HEIGHT: 100%
}
.GoodLeft {
	FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 510px; HEIGHT: 100%
}
.GoodRight {
	BORDER-RIGHT: #bedae7 1px solid; BORDER-TOP: #bedae7 1px solid; MARGIN-TOP: 16px; BACKGROUND: #e3f3fd; FLOAT: left; MARGIN-LEFT: 10px; OVERFLOW: visible; BORDER-LEFT: #bedae7 1px solid; WIDTH: 177px; COLOR: #35393b; BORDER-BOTTOM: #bedae7 1px solid; HEIGHT: 100%
}
.GoodRightA {
	PADDING-LEFT: 5px; FONT-SIZE: 14px; PADDING-TOP: 8px
}
.GoodRightB {
	PADDING-TOP: 5px
}
.GoodRightB IMG {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 7px; BORDER-LEFT: #000000 1px solid; WIDTH: 75px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 75px
}
.PhotoPlayer {
	MARGIN-LEFT: 0px! important; WIDTH: auto! important
}
.PhotoKeep {
	MARGIN-LEFT: 0px! important; WIDTH: auto! important
}
.PhotoIntroduction {
	MARGIN-LEFT: 0px! important; WIDTH: auto! important
}
.Ptoadd_1 {
	MARGIN-LEFT: 0px! important; WIDTH: auto! important
}
.Ptoadd_2 {
	MARGIN-LEFT: 0px! important; WIDTH: auto! important
}
.Ptoadd_3 {
	MARGIN-LEFT: 0px! important; WIDTH: auto! important
}
.Ptoadd_4 {
	MARGIN-LEFT: 0px! important; WIDTH: auto! important
}
.Ptoadd_5 {
	MARGIN-LEFT: 0px! important; WIDTH: auto! important
}
.PublishComment {
	BORDER-TOP-WIDTH: 1px! important; BORDER-LEFT-WIDTH: 1px! important; BORDER-BOTTOM-WIDTH: 1px! important; BORDER-RIGHT-WIDTH: 1px! important
}
#MyVisitUser {
	OVERFLOW: hidden; WIDTH: 182px
}
#main #MyVisitUser {
	WIDTH: 486px
}
#MyVisitUser IMG {
	WIDTH: 40px; HEIGHT: 40px
}
.ArticleBlogText  {
	LINE-HEIGHT: 1.5em! important
}
#MyVisitUser DL {
	FLOAT: left; MARGIN: 0px; WIDTH: 100%
}
#MyVisitUser DT {
	FLOAT: left
}
#MyVisitUser .title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: 22px
}
#MyVisitUser .vicetitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: 22px
}
#addtag {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; WIDTH: 512px; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid
}
#addtag DIV {
	LINE-HEIGHT: 1.7em
}
#addtag .existtag A {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#addtag .fromtag A {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#addtag .inputtxt {
	MARGIN: 0px 3px
}
.ArticleSubstanceText {
	FONT-SIZE: 14px; LINE-HEIGHT: 1.6em! important
}
.ArticleBlogText {
	FONT-SIZE: 14px; LINE-HEIGHT: 1.6em! important
}
.ArticleTitle {
	FONT-WEIGHT: normal! important; FONT-SIZE: 12px! important; HEIGHT: auto! important
}
.ArticleTitleText A {
	FONT-WEIGHT: bold! important; FONT-SIZE: 14px! important
}
.ArticleTitleText {
	FONT-WEIGHT: bold! important; FONT-SIZE: 14px! important
}
#QuickLink_list DIV {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 1.1em! important; PADDING-TOP: 3px; HEIGHT: auto! important
}
.TopArticleLine DIV {
	MARGIN-BOTTOM: 6px; PADDING-BOTTOM: 3px; HEIGHT: auto! important
}
.TopArticleLine TABLE {
	WIDTH: 100%; BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
.TopArticleLine TD {
	LINE-HEIGHT: 1.5em
}
#BookmarkDetailExcerpt {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 8px
}
#BookmarkDetailComment {
	MARGIN-BOTTOM: 8px
}
.ReplyTable_A_1 {
	OVERFLOW: visible! important; HEIGHT: auto! important
}
#tab {
	BORDER-RIGHT: #9fb3ba 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #9fb3ba 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(/img/bg_tab01.gif) repeat-x 50% bottom; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #9fb3ba 1px solid; WIDTH: 548px; PADDING-TOP: 0px; BORDER-BOTTOM: #9fb3ba 1px solid; LIST-STYLE-TYPE: none; HEIGHT: 25px
}
#tab LI {
	FLOAT: left; WIDTH: 80px; LINE-HEIGHT: 25px; LIST-STYLE-TYPE: none; HEIGHT: 25px; TEXT-ALIGN: center
}
#tab LI A {
	FONT-SIZE: 14px; COLOR: #467181
}
#tab .onfocus {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/img/bg_tab02.gif); PADDING-BOTTOM: 0px; BOTTOM: 5px; PADDING-TOP: 5px; POSITION: relative; HEIGHT: 26px
}
#tab .close {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
#choosethemes {
	BACKGROUND: #fff; WIDTH: 560px
}
#choosethemes .content {
	BORDER-RIGHT: #9fb3ba 1px solid; BORDER-TOP: #9fb3ba 1px; FLOAT: left; BORDER-LEFT: #9fb3ba 1px solid; WIDTH: 558px; BORDER-BOTTOM: #9fb3ba 1px solid
}
#choosethemes .content LI IMG {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(/img/bg_themes.gif); PADDING-BOTTOM: 5px; WIDTH: 56px; PADDING-TOP: 5px; HEIGHT: 56px
}
#choosethemes .content UL {
	PADDING-RIGHT: 20px; PADDING-LEFT: 25px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 513px; PADDING-TOP: 20px; LIST-STYLE-TYPE: none
}
#choosethemes .content LI {
	FLOAT: left; WIDTH: 85px; LIST-STYLE-TYPE: none; HEIGHT: 88px; TEXT-ALIGN: center
}
#choosethemes .page {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 15px; WIDTH: 100%; PADDING-TOP: 5px; TEXT-ALIGN: center
}
#choosethemes .page A {
	BORDER-RIGHT: #dbdbdb 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #dbdbdb 1px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 2px; MARGIN: 0px 4px; BORDER-LEFT: #dbdbdb 1px solid; LINE-HEIGHT: 12px; PADDING-TOP: 2px; BORDER-BOTTOM: #dbdbdb 1px solid; HEIGHT: 12px
}
#choosethemes .page .onfocus {
	BORDER-RIGHT: #dbdbdb 1px solid; BORDER-TOP: #dbdbdb 1px solid; BORDER-LEFT: #dbdbdb 1px solid; COLOR: #f00; BORDER-BOTTOM: #dbdbdb 1px solid
}
#choosemodule {
	BORDER-RIGHT: #9fb3ba 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #9fb3ba 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 12px; BORDER-LEFT: #9fb3ba 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #9fb3ba 1px solid
}
#save {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(/img/bg_tab01.gif) repeat-x 50% bottom; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 12px; WIDTH: 408px; PADDING-TOP: 0px; HEIGHT: 25px
}
#save .btn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
#save .btn A {
	BORDER-RIGHT: #dadada 1px solid; BORDER-TOP: #dadada 1px solid; BACKGROUND: #fff; FLOAT: left; MARGIN: 0px 2px; BORDER-LEFT: #dadada 1px solid; WIDTH: 33px; LINE-HEIGHT: 16px; BORDER-BOTTOM: #dadada 1px solid; HEIGHT: 16px; TEXT-ALIGN: center
}
#save .close {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
#choosemodule UL {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px 0px 0px 25px; WIDTH: 368px; LIST-STYLE-TYPE: none; HEIGHT: 32px
}
#choosemodule LI {
	FLOAT: left; LINE-HEIGHT: 32px; LIST-STYLE-TYPE: none; HEIGHT: 32px; TEXT-ALIGN: center
}
#choosemodule LI A {
	FONT-SIZE: 14px; COLOR: #467181
}
#choosemodule .content {
	BORDER-RIGHT: #9fb3ba 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #9fb3ba 1px; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 0px 25px; BORDER-LEFT: #9fb3ba 1px solid; WIDTH: 366px; PADDING-TOP: 10px; BORDER-BOTTOM: #9fb3ba 1px; HEIGHT: 100px
}
#choosemodule .content UL {
	MARGIN: 0px 0px 0px 13px
}
#choosemodule .content LI {
	BORDER-RIGHT: #e7e7e7 1px solid; BORDER-TOP: #e7e7e7 1px solid; DISPLAY: inline; FLOAT: left; MARGIN: 2px 6px; BORDER-LEFT: #e7e7e7 1px solid; WIDTH: 155px; COLOR: #000; BORDER-BOTTOM: #e7e7e7 1px solid; HEIGHT: 25px; TEXT-ALIGN: left
}
#choosemodule INPUT {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#choosemodule .num {
	BACKGROUND: #f1f1f1; VERTICAL-ALIGN: middle; WIDTH: 20px; COLOR: #000; HEIGHT: 12px; TEXT-ALIGN: center
}
#bottomtab LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-TOP: 7px; HEIGHT: 25px
}
#tab1 {
	BACKGROUND: url(/img/bg_mo01.gif); WIDTH: 122px
}
.onfocus#tab1 {
	BACKGROUND: url(/img/bg_mo01.gif) 50% bottom; WIDTH: 122px
}
#tab2 {
	BACKGROUND: url(/img/bg_mo02.gif); WIDTH: 124px
}
.onfocus#tab2 {
	BACKGROUND: url(/img/bg_mo02.gif) 50% bottom; WIDTH: 124px
}
#tab3 {
	BACKGROUND: url(/img/bg_mo03.gif); WIDTH: 122px
}
.onfocus#tab3 {
	BACKGROUND: url(/img/bg_mo03.gif) 50% bottom; WIDTH: 122px
}
#tab4 {
	BACKGROUND: url(/img/bg_mo04.gif); WIDTH: 122px
}
.onfocus#tab4 {
	BACKGROUND: url(/img/bg_mo04.gif) 50% bottom; WIDTH: 122px
}
#tab5 {
	BACKGROUND: url(/img/bg_mo05.gif); WIDTH: 124px
}
.onfocus#tab5 {
	BACKGROUND: url(/img/bg_mo05.gif) 50% bottom; WIDTH: 124px
}
#tab6 {
	BACKGROUND: url(/img/bg_mo06.gif); WIDTH: 122px
}
.onfocus#tab6 {
	BACKGROUND: url(/img/bg_mo06.gif) 50% bottom; WIDTH: 122px
}
.num1 {
	BACKGROUND: #f1f1f1; VERTICAL-ALIGN: middle; WIDTH: 20px; COLOR: #000; HEIGHT: 12px; TEXT-ALIGN: center
}
.editorEmotion {
	CURSOR: pointer
}
#EmotionsDiv {
	FONT-SIZE: 12px; OVERFLOW: hidden; WIDTH: 140px; FONT-FAMILY: verdana
}
#deepin .side_title_zl {
	FONT-WEIGHT: normal
}
#deepin .deepinul {
	MARGIN: 10px 0px; WIDTH: 100%; LINE-HEIGHT: 22px; LIST-STYLE-TYPE: none
}
#deepin .deepinul LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 40px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#deepin .deepinp {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#deepin .deepinp DIV {
	WIDTH: 100%; TEXT-INDENT: 40px; LINE-HEIGHT: 24px; BORDER-BOTTOM: #ccc 1px solid
}
#deepin .deepinul .span {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px; OVERFLOW: hidden; WIDTH: 100%; LINE-HEIGHT: 1px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 1px
}
#NewGuestID {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-TOP: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
#NewGuestID .side_title .side_title_2 {
	FLOAT: right; PADDING-TOP: 3px
}
#NewGuestID .side_title .side_title_2 IMG {
	POSITION: relative; TOP: 3px
}
#NewGuestID .newguest {
	FLOAT: left
}
#NewGuestID .newguestlogin {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 12px; WIDTH: 95px; PADDING-TOP: 12px; TEXT-ALIGN: center
}
#NewGuestID .newguestlogined {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 95px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#NewGuestID .newguestlogined IMG {
	DISPLAY: block; MARGIN: 6px auto 3px; WIDTH: 40px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 40px; BORDER-BOTTOM-STYLE: none
}
#NewGuestID UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#NewGuestID LI {
	FLOAT: left; WIDTH: 75px; TEXT-ALIGN: center
}
#NewGuestID LI IMG {
	DISPLAY: block; MARGIN: 6px auto 3px; WIDTH: 40px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 40px; BORDER-BOTTOM-STYLE: none
}
#presentboxlist UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#presentboxlist LI {
	DISPLAY: inline; FLOAT: left; MARGIN: 5px 9px; WIDTH: 40px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
#presentboxlist LI IMG {
	DISPLAY: block; MARGIN: 0px 0px 5px; WIDTH: 40px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 40px; BORDER-BOTTOM-STYLE: none
}
.whogiveyou {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
#whogiveyouID .MessageTable_1 {
	PADDING-BOTTOM: 5px
}
#whogiveyouID .PageSkip_1 {
	TEXT-ALIGN: center
}
.articleclass {
	PADDING-BOTTOM: 10px; MARGIN-LEFT: -8px; WIDTH: 808px; BACKGROUND-COLOR: #ffffe1
}
.articleclass_1 {
	FLOAT: left; MARGIN-LEFT: 12px; LETTER-SPACING: 0px; TEXT-ALIGN: left
}
.blogFromWap {
	MARGIN-TOP: 20px; FONT-SIZE: 12px
}
#MySound .Slist {
	WIDTH: 100%; HEIGHT: auto
}
#MySound .Slist_1 {
	WIDTH: 95%; HEIGHT: auto
}
#main #MySound .Slist_2 {
	WIDTH: auto; POSITION: relative; TOP: -18px; TEXT-ALIGN: right
}
#left_side #MySound .Slist_2 {
	VISIBILITY: visible
}
#right_side #MySound .Slist_2 {
	VISIBILITY: visible
}
#main #MySound #main #MySound .Slist_1 {
	HEIGHT: 22px
}
Slist_2 {
	HEIGHT: 22px
}
#main #MySound .Slist {
	HEIGHT: 22px
}
#MiniFeed .substance {
	PADDING-TOP: 0px
}
#MiniFeed .Slist {
	WIDTH: 99%; HEIGHT: auto
}
#MiniFeed .Slist_1 {
	OVERFLOW: visible; WIDTH: auto; HEIGHT: auto
}
#MiniFeed .Slist_1 FONT {
	FONT-SIZE: 12px
}
#MiniFeed .pic IMG {
	MARGIN: 3px 2px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#MiniFeed .pic {
	CLEAR: both; OVERFLOW: hidden; WIDTH: 99%; HEIGHT: 80px; TEXT-ALIGN: right
}
#MiniFeedmore .MessageTable_1 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#MiniFeedmore .MessageTable_1 {
	WIDTH: auto
}
#MiniFeedmore .MessageTable_2 {
	VERTICAL-ALIGN: top; WIDTH: 85px; TEXT-ALIGN: center
}
#MiniFeedmore .date DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; TEXT-INDENT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: 1px solid
}
#MiniFeedmore A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#MiniFeedmore .imgfont IMG {
	WIDTH: 20px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 20px; BORDER-BOTTOM-STYLE: none
}
#main #main_inner .side_block #MyFriend {
	WIDTH: 470px
}
#MyTagDivItem SPAN {
	LINE-HEIGHT: 1.3em
}
#page #dinglist {
	BORDER-TOP: 1px solid; MARGIN: 10px auto 0px; WIDTH: 98%
}
#page #dinglist DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px -5px; PADDING-TOP: 10px
}
#page #dinglist DT {
	DISPLAY: inline; BACKGROUND: url(http://blog.hexun.com/img/bg-newding.gif); FLOAT: left; MARGIN: 0px 15px; OVERFLOW: hidden; WIDTH: 61px; HEIGHT: 81px; TEXT-ALIGN: center
}
#page #dinglist DT SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 24px; FLOAT: left; PADDING-BOTTOM: 25px; OVERFLOW: hidden; WIDTH: 61px; PADDING-TOP: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 24px; TEXT-ALIGN: center
}
#page #dinglist DT SPAN A {
	COLOR: #ff9d02
}
#page #dinglist DT A {
	FLOAT: left; WIDTH: 61px; COLOR: #000000; HEIGHT: 12px; TEXT-ALIGN: center
}
#page #dinglist DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 4px; HEIGHT: 77px
}
#page #dinglist DD UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 77px
}
#page #dinglist LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 10px; OVERFLOW: hidden; WIDTH: 50px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
#page #dinglist LI IMG {
	DISPLAY: block; MARGIN: 0px 0px 3px; WIDTH: 50px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 50px; BORDER-BOTTOM-STYLE: none
}
#page #dinglist LI A {
	DISPLAY: block
}
#page #dinglist .attention {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; WIDTH: 97%; PADDING-TOP: 15px; HEIGHT: auto
}
#page #dinglist .attention SPAN {
	COLOR: #db0100
}
#ShowWeiBo_DIV A {
	FONT-WEIGHT: bold
}
