BODY {
	BACKGROUND-POSITION: left top; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(http://hexun.com/homephoto/img_bak/35/3356517/bk03-58-14.jpg); MARGIN: 0px auto; WIDTH: 956px; COLOR: #8f8f8f; BACKGROUND-REPEAT: repeat
}
#navi_bar A:link {
	COLOR: #e7eec1
}
#navi_bar A:visited {
	COLOR: #e7eec1
}
#header #site_title A:link {
	COLOR: #ffffff
}
#header #site_title A:visited {
	COLOR: #ffffff
}
#header #site_title {
	PADDING-RIGHT: 10px; COLOR: #ffffff; LINE-HEIGHT: 31px; HEIGHT: 31px
}
.side_content {
	BACKGROUND-COLOR: #e8efcb! important
}
#argue_right_sub {
	BACKGROUND-COLOR: #e8efcb! important
}
.substance {
	BACKGROUND-COLOR: #e8efcb! important
}
.BkMark {
	BACKGROUND-COLOR: #e8efcb! important
}
.PublishForm {
	BACKGROUND-COLOR: #e8efcb! important
}
.TagLine {
	BACKGROUND-COLOR: #e8efcb! important
}
.TopArticleLine {
	BACKGROUND-COLOR: #e8efcb! important
}
.ArticleSubstance {
	BACKGROUND-COLOR: #e8efcb! important
}
.ArticleBlog {
	BACKGROUND-COLOR: #e8efcb! important
}
#BlogLinksAll {
	BACKGROUND-COLOR: #e8efcb! important
}
.Reply {
	BACKGROUND-COLOR: #e8efcb! important
}
.ReplyTable_B_2 {
	BACKGROUND-COLOR: #e8efcb! important
}
.PublishItem {
	BACKGROUND-COLOR: #e8efcb! important
}
.Music_Item_B {
	BACKGROUND-COLOR: #e8efcb! important
}
.CircleList TD {
	BACKGROUND-COLOR: #e8efcb! important
}
.ExperList {
	BACKGROUND-COLOR: #e8efcb! important
}
.FriendTableList {
	BACKGROUND-COLOR: #e8efcb! important
}
.Column {
	BACKGROUND-COLOR: #e8efcb! important
}
.MessageTable {
	BACKGROUND-COLOR: #e8efcb! important
}
.release_2 {
	BACKGROUND-COLOR: #e8efcb! important
}
.MusicNameList {
	BACKGROUND-COLOR: #e8efcb! important
}
#MusicPlayerID {
	BACKGROUND-COLOR: #e8efcb! important
}
.ReplyTable {
	BACKGROUND-COLOR: #e8efcb! important
}
.side_block {
	BACKGROUND-COLOR: #e8efcb! important
}
.PhotoItem {
	BACKGROUND-COLOR: #e8efcb! important
}
#AlterPhoto {
	BACKGROUND-COLOR: #e8efcb! important
}
#MyPhoto_MySpecial_Name {
	BACKGROUND-COLOR: #e8efcb! important
}
#MyVideo {
	BACKGROUND-COLOR: #e8efcb! important
}
.BkMarkSave {
	BACKGROUND-COLOR: #e8efcb! important
}
.NextBlog {
	BACKGROUND-COLOR: #e8efcb! important
}
.side_content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; PADDING-TOP: 10px; BACKGROUND-COLOR: #e8efcb
}
#argue_right_sub {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; PADDING-TOP: 10px; BACKGROUND-COLOR: #e8efcb
}
.substance {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 22px; PADDING-TOP: 10px; BACKGROUND-COLOR: #e8efcb
}
.release_1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; COLOR: #788381; LINE-HEIGHT: 28px; BORDER-BOTTOM: #cdcdcd 1px solid; HEIGHT: 28px; BACKGROUND-COLOR: #e8efcb
}
.release_2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; COLOR: #494949; PADDING-TOP: 10px; BACKGROUND-COLOR: #e8efcb
}
#TopArticle {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #e8efcb
}
.Article {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #e8efcb
}
.PageSkip {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: 1px solid; LINE-HEIGHT: 26px; BORDER-BOTTOM: 1px solid; HEIGHT: 26px; BACKGROUND-COLOR: #e8efcb
}
.calendar-box {
	WIDTH: 100%; BACKGROUND-COLOR: #e8efcb; TEXT-ALIGN: center
}
.calendar-box TD {
	WIDTH: 24px; BACKGROUND-COLOR: #e8efcb
}
.NextBlog {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #e8efcb
}
#BlogLinksID {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-TOP: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #e8efcb
}
.Reply {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; HEIGHT: 100%; BACKGROUND-COLOR: #e8efcb
}
.PublishComment {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #e8efcb
}
.ReplyTable_B_1 {
	MARGIN-BOTTOM: 5px; LINE-HEIGHT: 24px; BORDER-BOTTOM: 1px solid; HEIGHT: 24px; BACKGROUND-COLOR: #e8efcb
}
.ReplyTable_B_2 {
	BORDER-RIGHT: 1px dashed; PADDING-RIGHT: 5px; BORDER-TOP: 1px dashed; PADDING-LEFT: 5px; MARGIN: 5px 5px 5px 1px; BORDER-LEFT: 1px dashed; BORDER-BOTTOM: 1px dashed; BACKGROUND-COLOR: #e8efcb
}
.PublishItem {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 16px; PADDING-TOP: 10px; BACKGROUND-COLOR: #e8efcb
}
.FriendBlock {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #e8efcb
}
.FriendTable {
	BACKGROUND-COLOR: #e8efcb
}
.FriendTableList {
	WIDTH: 934px; BORDER-BOTTOM: 1px solid; HEIGHT: 95px; BACKGROUND-COLOR: #e8efcb
}
.CircleListTitle {
	BACKGROUND-COLOR: #e8efcb! important
}
.CircleList TR {
	BACKGROUND-COLOR: #e8efcb
}
.MessageBlock {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #e8efcb
}
.MessageTable_2_1 {
	MARGIN-BOTTOM: 5px; LINE-HEIGHT: 24px; BORDER-BOTTOM: 1px solid; HEIGHT: 24px; BACKGROUND-COLOR: #e8efcb
}
.ExperList {
	LINE-HEIGHT: 26px; BORDER-BOTTOM: 1px solid; HEIGHT: 26px; BACKGROUND-COLOR: #e8efcb
}
.left_side_3 DIV {
	BACKGROUND-POSITION: 20px 7px; PADDING-LEFT: 37px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_13.gif); LINE-HEIGHT: 27px; BORDER-BOTTOM: #e9eeed 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px; BACKGROUND-COLOR: #e8efcb
}
.BgWhite {
	BACKGROUND-COLOR: #e8efcb! important
}
.Music_Item {
	BORDER-BOTTOM: #e9eeed 1px solid; HEIGHT: auto; BACKGROUND-COLOR: #e8efcb
}
.Music_Item_A {
	PADDING-LEFT: 10px; LINE-HEIGHT: 27px; BORDER-BOTTOM: #e9eeed 1px solid; HEIGHT: 27px; BACKGROUND-COLOR: #e8efcb
}
.PhotoItem {
	WIDTH: 720px; BACKGROUND-COLOR: #e8efcb
}
#MyPhoto_MySpecial_Name {
	BACKGROUND-COLOR: #e8efcb
}
#VideoPlayer {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #e8efcb
}
#MyVideo {
	BACKGROUND-COLOR: #e8efcb
}
#MusicTalk {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-TOP: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #e8efcb
}
#BkMarkTalk {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-TOP: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #e8efcb
}
#MusicPlayer {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #e8efcb
}
.side_title {
	
}
.ArticleTitle {
	
}
.BkMarkTitle {
	
}
.UserInfo_B_1 {
	
}
.UserInfo_A .UserInfo_A_1 TD {
	
}
.PublishTitle {
	
}
.PublishArticleTitle {
	
}
.quote {
	
}
.release_1 {
	
}
.release_2_sub {
	
}
.release_2_res {
	
}
.PageSkip {
	
}
#argue_right {
	
}
.ReplyTable_B_1 {
	
}
.MoreOption_A {
	
}
#PublishMoreTag_A {
	
}
.left_side_3 DIV {
	
}
.Music_Item_A {
	
}
.MessageTable_2_1 {
	
}
.MessageTable_2_2 {
	
}
.PageNext {
	
}
.PhotoVb_5 {
	
}
.side_title {
	
}
.ArticleTitle {
	
}
.BkMarkTitle {
	
}
.UserInfo_B_1 {
	
}
.UserInfo_A .UserInfo_A_1 TD {
	
}
.PublishTitle {
	
}
.PublishArticleTitle {
	
}
DIV {
	BORDER-LEFT-COLOR: #3c8637! important; BORDER-BOTTOM-COLOR: #3c8637! important; BORDER-TOP-COLOR: #3c8637! important; BORDER-RIGHT-COLOR: #3c8637! important
}
TABLE {
	BORDER-LEFT-COLOR: #3c8637! important; BORDER-BOTTOM-COLOR: #3c8637! important; BORDER-TOP-COLOR: #3c8637! important; BORDER-RIGHT-COLOR: #3c8637! important
}
TD {
	BORDER-LEFT-COLOR: #3c8637! important; BORDER-BOTTOM-COLOR: #3c8637! important; BORDER-TOP-COLOR: #3c8637! important; BORDER-RIGHT-COLOR: #3c8637! important
}
.CircleList {
	WIDTH: 100%; LINE-HEIGHT: 28px; BACKGROUND-COLOR: #3c8637! important
}
.side_title {
	COLOR: #006c00! important
}
.ArticleTitle {
	COLOR: #006c00! important
}
.BkMarkTitle {
	COLOR: #006c00! important
}
.UserInfo_B_1 {
	COLOR: #006c00! important
}
.UserInfo_A .UserInfo_A_1 TD {
	COLOR: #006c00! important
}
.PublishTitle {
	COLOR: #006c00! important
}
.PublishArticleTitle {
	COLOR: #006c00! important
}
.quote {
	COLOR: #006c00! important
}
.release_1 {
	COLOR: #006c00! important
}
.release_2_sub {
	COLOR: #006c00! important
}
.release_2_res {
	COLOR: #006c00! important
}
.PageSkip {
	COLOR: #006c00! important
}
#argue_right {
	COLOR: #006c00! important
}
.ReplyTable_B_1 {
	COLOR: #006c00! important
}
.MoreOption_A {
	COLOR: #006c00! important
}
#PublishMoreTag_A {
	COLOR: #006c00! important
}
.left_side_3 DIV {
	COLOR: #006c00! important
}
.Music_Item_A {
	COLOR: #006c00! important
}
.MessageTable_2_1 {
	COLOR: #006c00! important
}
.MessageTable_2_2 {
	COLOR: #006c00! important
}
.PageNext {
	COLOR: #006c00! important
}
.CircleListTitle {
	COLOR: #006c00! important
}
.side_title A:link {
	COLOR: #006c00
}
.PageSkip A:link {
	COLOR: #006c00
}
.BkMarkTitle A:link {
	COLOR: #006c00
}
.ArticleTitle A:link {
	COLOR: #006c00
}
#argue_right A:link {
	COLOR: #006c00
}
.MoreOption_A_1 A:link {
	COLOR: #006c00
}
.left_side_3 DIV A:link {
	COLOR: #006c00
}
.Music_Item_A A:link {
	COLOR: #006c00
}
.MessageTable_2_1 A:link {
	COLOR: #006c00
}
.PageNext A:link {
	COLOR: #006c00
}
.side_title A:visited {
	COLOR: #006c00
}
.PageSkip A:visited {
	COLOR: #006c00
}
.BkMarkTitle A:visited {
	COLOR: #006c00
}
.ArticleTitle A:visited {
	COLOR: #006c00
}
#argue_right A:visited {
	COLOR: #006c00
}
.MoreOption_A_1 A:visited {
	COLOR: #006c00
}
.left_side_3 DIV A:visited {
	COLOR: #006c00
}
.Music_Item_A A:visited {
	COLOR: #006c00
}
.MessageTable_2_1 A:visited {
	COLOR: #006c00
}
.PageNext A:visited {
	COLOR: #006c00
}
#header #tag_bar A:link {
	COLOR: #5a7d45
}
#header #tag_bar A:visited {
	COLOR: #5a7d45
}
#header #tag_bar {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; WIDTH: 914px; COLOR: #5a7d45; LINE-HEIGHT: 26px; HEIGHT: 26px; BACKGROUND-COLOR: #dfe9b7
}
BODY {
	COLOR: #006c00! important
}
.ArticleBlogText {
	COLOR: #006c00! important
}
A:link {
	COLOR: #006c00; TEXT-DECORATION: none
}
A:visited {
	COLOR: #006c00; TEXT-DECORATION: none
}
#page {
	WIDTH: 956px; BACKGROUND-COLOR: #d2df9d
}
#header {
	BORDER-TOP-WIDTH: 1px; BORDER-RIGHT: 1px solid; BACKGROUND-POSITION: center top; BACKGROUND-IMAGE: url(http://hexun.com/homephoto/img_bak/35/3356517/top04-46-53.jpg); MARGIN-LEFT: 10px; BORDER-LEFT: 1px solid; WIDTH: 934px; MARGIN-RIGHT: 10px; BORDER-BOTTOM: 1px solid; BACKGROUND-REPEAT: repeat-y; HEIGHT: 230px
}
#header .site_description {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 21px; WIDTH: 924px; LINE-HEIGHT: 56px; HEIGHT: 143px
}
.topIframe {
	HEIGHT: 204px! important
}
#header #navi_bar {
	PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; WIDTH: 914px; LINE-HEIGHT: 28px; BORDER-BOTTOM: 1px solid; HEIGHT: 28px; BACKGROUND-COLOR: #5a7d45
}
.tag {
	LINE-HEIGHT: 25px; BORDER-BOTTOM: 1px solid; HEIGHT: 25px
}
#bottom {
	COLOR: #dfe9b7; LINE-HEIGHT: 40px; HEIGHT: 40px; BACKGROUND-COLOR: #526f46; TEXT-ALIGN: center
}
#bottom A:link {
	COLOR: #dfe9b7
}
#bottom A:visited {
	COLOR: #dfe9b7
}
BODY {
	BACKGROUND-ATTACHMENT: fixed
}
SELECT {
	FONT-SIZE: 12px; COLOR: #666666
}
FORM {
	MARGIN: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #cccccc 1px solid; COLOR: #666666; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #fafafa
}
TEXTAREA {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; OVERFLOW: hidden; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #fafafa
}
DIV {
	OVERFLOW: hidden
}
DIV {
	BORDER-LEFT-COLOR: #cecece; BORDER-BOTTOM-COLOR: #cecece; BORDER-TOP-COLOR: #cecece; BORDER-RIGHT-COLOR: #cecece
}
A:hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
.PhotoTable A:link {
	COLOR: #3975e3
}
#photoXiu A:link {
	COLOR: #3975e3
}
.AlterRig A:link {
	COLOR: #3975e3
}
.PhotoTable A:visited {
	COLOR: #3975e3
}
#photoXiu A:visited {
	COLOR: #3975e3
}
.AlterRig A:visited {
	COLOR: #3975e3
}
#allTags A:link {
	COLOR: #333333
}
#allTags A:visited {
	COLOR: #333333
}
A.PageNextSelected :link {
	COLOR: #ff0000
}
A.PageNextSelected:visited {
	COLOR: #ff0000
}
A.Alter :link {
	COLOR: #3975e3
}
A.Alter:visited {
	COLOR: #3975e3
}
.all_bar {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FLOAT: left
}
.alter {
	PADDING-LEFT: 10px; LINE-HEIGHT: 26px; BORDER-BOTTOM: 1px solid; HEIGHT: 26px
}
.allFriend {
	BORDER-TOP: 1px solid; LINE-HEIGHT: 28px; HEIGHT: 28px; TEXT-ALIGN: center
}
.addmc_01 {
	BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_04.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 29px
}
.addmc_02 {
	FLOAT: left
}
.addmc_02 IMG {
	MARGIN-LEFT: 10px
}
.addmc_03 {
	BACKGROUND-POSITION: 0px 3px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_10.gif); MARGIN-LEFT: 5px; WIDTH: 88px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 9px
}
.addmc_04 {
	BACKGROUND-POSITION: right 50%; MARGIN-TOP: 5px; FLOAT: left; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/addmusic_09.gif); MARGIN-LEFT: 46px; WIDTH: 273px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.addmc_04 SPAN {
	DISPLAY: block; FLOAT: left; OVERFLOW: hidden; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "ËÎÌו"; HEIGHT: 20px
}
.ArticleTitle {
	PADDING-LEFT: 10px; PADDING-TOP: 6px; BORDER-BOTTOM: 1px solid; HEIGHT: 20px
}
.ArticleTitleText {
	FONT-WEIGHT: bold
}
.ArticleSubstance {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; PADDING-TOP: 10px
}
.ArticleBlog {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; PADDING-TOP: 10px
}
.ArticleInfo {
	WORD-SPACING: 4px
}
.ArticleTag {
	PADDING-TOP: 30px
}
.ArticleDing {
	WIDTH: auto; TEXT-ALIGN: right
}
.ArticleDing_1 {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; WIDTH: 60px; BORDER-BOTTOM: 1px solid; HEIGHT: 22px; TEXT-ALIGN: center
}
.ArticleDing_2 {
	BORDER-RIGHT: 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 24px; BORDER-LEFT: 1px solid; WIDTH: 60px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.ArticleDing_3 {
	BORDER-RIGHT: 1px solid; PADDING-BOTTOM: 5px; BORDER-LEFT: 1px solid; WIDTH: 60px; PADDING-TOP: 5px; BORDER-BOTTOM: 1px solid; TEXT-ALIGN: center
}
.ArticleDing_7 {
	COLOR: #666666
}
.ArticleBlogText {
	COLOR: #666666; LINE-HEIGHT: 180%
}
.ArticleBlogText P {
	LINE-HEIGHT: 180%
}
#AlterPhoto {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #ffffff
}
.AlterPhotoItemDiv {
	PADDING-LEFT: 20px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; BORDER-BOTTOM: 1px dashed; HEIGHT: 182px
}
.AlterPhotoItemDiv_A {
	FLOAT: left; WIDTH: 250px; HEIGHT: 182px
}
.AlterPhotoItemDiv_A IMG {
	BORDER-RIGHT: #c6c6c6 1px solid; BORDER-TOP: #c6c6c6 1px solid; BORDER-LEFT: #c6c6c6 1px solid; BORDER-BOTTOM: #c6c6c6 1px solid; HEIGHT: 180px
}
.AlterPhotoItemDiv_B {
	WIDTH: 415px; HEIGHT: 182px
}
.AlterPhotoItemDiv_B DIV {
	BACKGROUND-POSITION: 0px 12px; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_45.gif); PADDING-BOTTOM: 4px; PADDING-TOP: 3px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.AlterPhotoItemDiv_B INPUT {
	WIDTH: 330px
}
.AlterPhotoItemDiv_B_1 {
	HEIGHT: 90px! important
}
.AlterPhotoItemDiv_B_1 TEXTAREA {
	WIDTH: 330px; COLOR: #666666; HEIGHT: 85px
}
.AlterPhotoItemDiv_B_1 SPAN {
	POSITION: relative; TOP: -70px
}
.AlterPhotoItemDiv_B_2 INPUT {
	WIDTH: 14px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative; TOP: 2px; BORDER-BOTTOM-STYLE: none
}
#AlterPhotoItemDiv_Two {
	PADDING-LEFT: 25px
}
#AlterSect {
	PADDING-BOTTOM: 15px; PADDING-TOP: 15px
}
#AlterPhotoItemTable {
	MARGIN-BOTTOM: 168px
}
#AlterPhotoItemTableLeft {
	WIDTH: 395px
}
#AlterPhotoItemTableRight {
	WIDTH: 280px; BACKGROUND-COLOR: #f3f2f2
}
#AlterPhotoList DIV {
	FLOAT: left; WIDTH: 77px; MARGIN-RIGHT: 20px; HEIGHT: 97px
}
#AlterPhotoList IMG {
	BORDER-RIGHT: #afadad 1px solid; BORDER-TOP: #afadad 1px solid; BORDER-LEFT: #afadad 1px solid; WIDTH: 75px; BORDER-BOTTOM: #afadad 1px solid; HEIGHT: 75px
}
#AlterPhotoList SPAN {
	DISPLAY: block
}
#AlterPhotoList INPUT {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.AlterRig {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BORDER-BOTTOM: #ffffff 3px solid
}
.AlterRigCC {
	PADDING-LEFT: 35px; PADDING-BOTTOM: 16px; PADDING-TOP: 16px
}
.AlterRigCC INPUT {
	WIDTH: 50px; HEIGHT: 26px
}
.AlterRig DIV {
	PADDING-BOTTOM: 4px; PADDING-TOP: 3px
}
.AlterRig_1 {
	BACKGROUND-POSITION: 0px 0px; PADDING-LEFT: 25px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_46.gif); BACKGROUND-REPEAT: no-repeat
}
.AlterRig_2 {
	PADDING-LEFT: 25px
}
.AlterRig_2 INPUT {
	WIDTH: 135px
}
.AlterRig_3 {
	BACKGROUND-POSITION: 0px 0px; PADDING-LEFT: 25px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_47.gif); BACKGROUND-REPEAT: no-repeat
}
.AlterRig_4 {
	PADDING-LEFT: 25px
}
.AlterRig_4 INPUT {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative; TOP: 2px; BORDER-BOTTOM-STYLE: none
}
#bar_01 {
	PADDING-LEFT: 0px
}
#Board {
	
}
#Board .message {
	
}
.BkMarkList_1 {
	DISPLAY: block; FLOAT: left; OVERFLOW: hidden; WIDTH: 130px; HEIGHT: 20px
}
.BkMarkList_2 {
	DISPLAY: block; FLOAT: right
}
.BkMark {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.BkMarkTitle {
	PADDING-LEFT: 10px; PADDING-TOP: 6px; BORDER-BOTTOM: 1px solid; HEIGHT: 20px
}
.BkMarkTitleText {
	FONT-WEIGHT: bold
}
.BkMarkSubstance {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; PADDING-TOP: 10px
}
.BkMarkSave {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.BkMarkSave DIV {
	PADDING-LEFT: 10px; LINE-HEIGHT: 26px
}
.BkMarkSave_1 {
	BORDER-BOTTOM: 1px dashed
}
#BlogLinksID .side_title .side_title_2 {
	PADDING-TOP: 3px
}
#BlogLinksID .side_title .side_title_2 IMG {
	POSITION: relative; TOP: 3px
}
.BlogLinksTable {
	WIDTH: 100%
}
.BlogLinksTable TD {
	BORDER-BOTTOM: #cecece 1px dashed
}
.BlogLinksTable DIV {
	PADDING-LEFT: 10px; LINE-HEIGHT: 22px; HEIGHT: 22px
}
.BlogLinks_1 {
	WIDTH: 420px
}
.BlogLinks_2 {
	WIDTH: 100px
}
.BlogLinksMore {
	LINE-HEIGHT: 22px; MARGIN-RIGHT: 10px; TEXT-ALIGN: right
}
#BlogArgueID {
	MARGIN-TOP: 10px
}
.Blog_C {
	BORDER-TOP: 1px dashed; LINE-HEIGHT: 22px; HEIGHT: 22px
}
.Blog_C_1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; WIDTH: 50%
}
.Blog_C_2 {
	PADDING-RIGHT: 10px; FLOAT: left
}
#content {
	PADDING-RIGHT: 10px; MARGIN-TOP: 8px; PADDING-LEFT: 10px; WIDTH: 936px
}
#content_inner {
	WIDTH: 936px
}
#content_Friends {
	WIDTH: 936px
}
.clear {
	CLEAR: both; HEIGHT: 0px
}
.Column {
	PADDING-BOTTOM: 8px; PADDING-TOP: 7px; BORDER-BOTTOM: 1px solid; HEIGHT: 18px
}
.ColumnLeft {
	PADDING-LEFT: 10px; FLOAT: left
}
.ColumnRight {
	PADDING-RIGHT: 10px; FLOAT: right; PADDING-TOP: 4px
}
.CircleList TD {
	PADDING-LEFT: 10px
}
#content_music {
	BORDER-RIGHT: #d5d5d5 1px solid; BORDER-TOP: #d5d5d5 1px solid; BORDER-LEFT: #d5d5d5 1px solid; WIDTH: 936px; BORDER-BOTTOM: #d5d5d5 1px solid
}
.Date {
	TEXT-ALIGN: center
}
.ExperList DIV {
	FLOAT: left; WIDTH: 150px; HEIGHT: 26px
}
.ExperList_1 {
	BACKGROUND-POSITION: 12px 8px; PADDING-LEFT: 24px! important
}
.ExperList_2 {
	FLOAT: right; TEXT-ALIGN: right
}
.Editor {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #f8f8f7
}
.Editor TEXTAREA {
	WIDTH: 680px
}
.Editor P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.Editor_1 {
	TEXT-ALIGN: right
}
#FriLinkDivItem DIV {
	LINE-HEIGHT: 20px; HEIGHT: 20px
}
.FriendTableList_1 {
	BORDER-RIGHT: 1px solid; FLOAT: left; WIDTH: 95px; PADDING-TOP: 10px; HEIGHT: 85px; TEXT-ALIGN: center
}
.FriendTableList_1 IMG {
	WIDTH: 75px; HEIGHT: 75px
}
.FriendTableList_2 {
	PADDING-LEFT: 10px; FLOAT: left; WIDTH: 705px; LINE-HEIGHT: 20px; PADDING-TOP: 18px
}
.FriendTableList_2_1 {
	HEIGHT: 20px
}
.FriendTableList_2_1_1 {
	FLOAT: left; WIDTH: 238px
}
.FriendTableList_2_1_2 {
	FLOAT: left; WIDTH: 230px
}
.FriendTableList_2_2 {
	HEIGHT: 20px
}
.FriendTableList_3 {
	BORDER-LEFT: 1px solid; PADDING-TOP: 40px; HEIGHT: 55px; TEXT-ALIGN: center
}
.GoInPhoto {
	PADDING-TOP: 20px; HEIGHT: 40px; TEXT-ALIGN: center
}
#header #site_title .address {
	PADDING-LEFT: 10px; FLOAT: left
}
#header #site_title .link {
	FLOAT: right
}
#header .site_description SPAN {
	PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px
}
#header #navi_bar .navi_bar_left {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; WORD-SPACING: 12px; WIDTH: 720px; FONT-FAMILY: "ËÎÌו"; HEIGHT: 28px
}
#header #navi_bar .navi_bar_right {
	FLOAT: right; WIDTH: 190px; TEXT-ALIGN: right
}
#header #tag_bar .tag_bar_title {
	FONT-WEIGHT: bold; FLOAT: left; WIDTH: 50px; HEIGHT: 26px
}
#header #tag_bar .tag_bar_left {
	FLOAT: left; WIDTH: 790px; HEIGHT: 26px
}
#header #tag_bar .tag_bar_right {
	FLOAT: right
}
#HomeTags .TagLine {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.Issue {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px; TEXT-ALIGN: center
}
.Issue DIV {
	PADDING-BOTTOM: 4px; PADDING-TOP: 3px
}
.Issue_2 SPAN {
	COLOR: #ff6600
}
.Issue_3 INPUT {
	PADDING-LEFT: 5px; MARGIN-LEFT: 5px; WIDTH: 100px; CURSOR: hand; COLOR: #333333; MARGIN-RIGHT: 5px; PADDING-TOP: 4px; BACKGROUND-COLOR: #f0f0f0
}
#left_side {
	WIDTH: 204px
}
.left_side_2 {
	WIDTH: 204px
}
.left_side_3 {
	BORDER-RIGHT: #e4e4e4 1px solid; WIDTH: 204px
}
#left_side #left_side_inner .side_block .substance .substance_list .Slist .Slist_2 {
	VISIBILITY: hidden
}
#left_side #left_side_inner .side_block .substance .Slist .Slist_2 {
	VISIBILITY: hidden
}
#left_side #left_side_inner .side_block #AudioDivItem .music_boder {
	WIDTH: 160px
}
#left_side #left_side_inner .side_block #AudioDivItem OBJECT {
	WIDTH: 182px; HEIGHT: 64px
}
#left_side #left_side_inner .side_block #Board .message .message_list {
	WIDTH: 182px
}
#left_side #left_side_inner .side_block #Board .release .release_2 INPUT {
	WIDTH: 120px
}
#left_side #left_side_inner .side_block #Board .release .release_2 TEXTAREA {
	WIDTH: 120px
}
#left_side #left_side_inner .side_block #Board .message .message_list .message_list_right .message_list_right_text {
	HEIGHT: 66px
}
#left_side #left_side_inner .side_block #VideoDivItem OBJECT {
	WIDTH: 182px
}
#left_side #left_side_inner .side_block #MyFriend {
	WIDTH: 182px; HEIGHT: auto
}
#left_side #left_side_inner .side_block #MyFriend DIV {
	MARGIN-TOP: 5px; MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px
}
.list {
	LINE-HEIGHT: 20px; HEIGHT: 20px
}
.list_1 {
	FLOAT: left
}
.list_2 {
	FLOAT: right
}
#main {
	WIDTH: 528px
}
#main_inner {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; WIDTH: 508px
}
#master_ptoto {
	TEXT-ALIGN: center
}
#master_ptoto_1 {
	PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
#master_ptoto_2 {
	LINE-HEIGHT: 18px
}
#main #main_inner .side_block #Board .release .release_2 INPUT {
	WIDTH: 422px
}
#main #main_inner .side_block #Board .release .release_2 TEXTAREA {
	WIDTH: 422px
}
#main #main_inner .side_block #AudioDivItem OBJECT {
	WIDTH: 450px; HEIGHT: 64px
}
#main #main_inner .side_block #AudioDivItem .music_boder {
	WIDTH: 428px
}
#main #main_inner .side_block #Board .message .message_list {
	WIDTH: 486px
}
#main #main_inner .side_block #VideoDivItem OBJECT {
	WIDTH: 450px; HEIGHT: 360px
}
#main #main_inner .side_block #VideoDivItem .music_boder {
	WIDTH: 428px
}
#main #main_inner .side_block #MyFriend {
	HEIGHT: 200px
}
#main #main_inner .side_block #MyFriend DIV {
	MARGIN-TOP: 5px; MARGIN-LEFT: 11px; MARGIN-RIGHT: 5px
}
#MyFriend {
	TEXT-ALIGN: center
}
#MyFriend DIV {
	FLOAT: left
}
#MyFriend SPAN {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 75px; HEIGHT: 22px
}
#MyFriend IMG {
	WIDTH: 75px; HEIGHT: 75px
}
#AudioDivItem {
	TEXT-ALIGN: center
}
.music_list {
	MARGIN-TOP: 10px
}
.music_boder {
	BORDER-RIGHT: #cecece 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cecece 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #cecece 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #cecece 1px solid; TEXT-ALIGN: left
}
.music_boder_1 SPAN {
	FONT-WEIGHT: bold
}
.music_boder_2 SPAN {
	FONT-WEIGHT: bold
}
.message_list {
	MARGIN-BOTTOM: 7px; BORDER-BOTTOM: #cecece 1px dashed
}
.message_list_left {
	MARGIN: 0px; WIDTH: 60px; HEIGHT: 62px; TEXT-ALIGN: center
}
.message_list_left_1 {
	HEIGHT: 40px
}
.message_list_left_2 {
	HEIGHT: 22px
}
.message_list_right {
	
}
.message_list_right DIV {
	PADDING-LEFT: 10px
}
.more {
	PADDING-RIGHT: 10px; FLOAT: right
}
.MusicNameList {
	WIDTH: 100%; COLOR: #999999; LINE-HEIGHT: 28px; TEXT-ALIGN: center
}
.MusicNameList TR {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/vi_01.gif); BACKGROUND-REPEAT: repeat-x
}
.MusicNameList DIV {
	BACKGROUND-POSITION: right bottom; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/vi_10.gif); BACKGROUND-REPEAT: no-repeat
}
.MusicNameListTitle {
	COLOR: #494949
}
.Music_Item_B {
	HEIGHT: 95px
}
.Music_Item_B_1 {
	FLOAT: left
}
.Music_Item_B_1 IMG {
	MARGIN: 10px; WIDTH: 75px; HEIGHT: 75px
}
.Music_Item_B_2 {
	MARGIN-TOP: 8px
}
.Music_Item_B_2 DIV {
	LINE-HEIGHT: 20px; HEIGHT: 20px
}
#MusicPlayerID {
	WIDTH: 100%
}
#MusicPlayerID TD {
	PADDING-BOTTOM: 12px; LINE-HEIGHT: 22px; PADDING-TOP: 12px
}
.MusicPlayerTd_1 DIV {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px
}
.MusicPlayerTd_1_2 OBJECT {
	WIDTH: 500px; HEIGHT: 64px
}
.MusicPlayerTd_2 DIV {
	MARGIN-LEFT: 10px; HEIGHT: 22px
}
.MusicPlayerTd_3 DIV {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px
}
#MusicPlayerID .MusicPlayerTd_1 {
	WIDTH: 530px; BORDER-BOTTOM: #cccccc 1px dashed
}
#MusicPlayerID .MusicPlayerTd_2 {
	BORDER-LEFT: #cccccc 1px dashed; WIDTH: 189px
}
.MusicPlayerTd_3_3 {
	MARGIN-TOP: 10px
}
#MusicBlock .PageSkip {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.MessageTable {
	WIDTH: 100%; LINE-HEIGHT: 22px
}
.MessageTable_1 {
	BORDER-RIGHT: #e0e0e0 1px solid; WIDTH: 75px; BORDER-BOTTOM: #e0e0e0 1px solid
}
.MessageTable_1 IMG {
	MARGIN-TOP: 10px; MARGIN-LEFT: 10px; WIDTH: 75px; MARGIN-RIGHT: 10px; HEIGHT: 75px
}
.MessageTable_1 DIV {
	WIDTH: 95px; HEIGHT: 22px; TEXT-ALIGN: center
}
.MessageTable_2 {
	BORDER-BOTTOM: #e0e0e0 1px solid
}
.MessageTable_2 DIV {
	PADDING-LEFT: 10px
}
.MessageTable_2_2 {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; MARGIN: 10px 200px 10px 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.MoreOption_A {
	HEIGHT: 26px; TEXT-ALIGN: left! important
}
.MoreOption_A_1 {
	PADDING-LEFT: 10px; FLOAT: left
}
.MoreOption_A_2 {
	PADDING-RIGHT: 10px; FLOAT: right; PADDING-TOP: 5px
}
.MoreOption_B_4 INPUT {
	WIDTH: 150px! important
}
.MoreOption_B_5 INPUT {
	WIDTH: 150px! important
}
.MoSpecial {
	PADDING-RIGHT: 10px; LINE-HEIGHT: 26px; HEIGHT: 26px; TEXT-ALIGN: right
}
#MusicTalk .PageSkip {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#BkMarkTalk .PageSkip {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#MusicPublisID {
	MARGIN-TOP: 10px
}
.MyVideoItemDiv {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; PADDING-BOTTOM: 16px; PADDING-TOP: 16px; BORDER-BOTTOM: 1px dashed; HEIGHT: 90px
}
.MyVideoItemDiv_1 {
	PADDING-RIGHT: 10px; FLOAT: left
}
.MyVideoItemDiv_1 IMG {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; WIDTH: 120px; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 90px
}
.MyVideoItemDiv_2 {
	PADDING-TOP: 6px
}
#MessageImport {
	MARGIN-BOTTOM: 10px
}
#MessageTextImport INPUT {
	WIDTH: 468px
}
#MessageTextImport TEXTAREA {
	WIDTH: 468px
}
.Noborder {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#PhotoDivItem {
	TEXT-ALIGN: center
}
#PhotoDivItem IMG {
	MARGIN: 5px
}
.PageSkip_1 {
	PADDING-RIGHT: 10px; WORD-SPACING: 2px; TEXT-ALIGN: right
}
.PageSkip_2 {
	DISPLAY: none
}
.PublishTitle {
	FONT-WEIGHT: bold; COLOR: #333333; LINE-HEIGHT: 26px; BORDER-BOTTOM: 1px solid; TEXT-ALIGN: center
}
.MoreOption_A {
	FONT-WEIGHT: bold; COLOR: #333333; LINE-HEIGHT: 26px; BORDER-BOTTOM: 1px solid; TEXT-ALIGN: center
}
.PublishForm {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.PublishForm DIV {
	PADDING-BOTTOM: 1px; PADDING-TOP: 2px
}
.PublishForm INPUT {
	WIDTH: 400px; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.PublishForm TEXTAREA {
	WIDTH: 528px
}
.PublishSubmit INPUT {
	WIDTH: 100px; CURSOR: hand; HEIGHT: 22px; BACKGROUND-COLOR: #efefef
}
.PublishArticle {
	
}
.PublishItem DIV {
	PADDING-BOTTOM: 3px; PADDING-TOP: 2px
}
.PublishItem SPAN {
	COLOR: #000000
}
.PublishItem INPUT {
	WIDTH: 680px
}
.PublishItem TEXTAREA {
	WIDTH: 680px
}
.PublishItem_1 {
	TEXT-ALIGN: right
}
.PublishItem_2 {
	MARGIN-TOP: 3px
}
.PublishItem_2 INPUT {
	WIDTH: auto; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM-STYLE: none
}
.MoreOption_B_1 INPUT {
	WIDTH: auto; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM-STYLE: none
}
.MoreOption_B_2 INPUT {
	WIDTH: auto; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM-STYLE: none
}
.MoreOption_B_3 INPUT {
	WIDTH: auto; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM-STYLE: none
}
#RecommendID .PublishItem INPUT {
	WIDTH: auto; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM-STYLE: none
}
.Issue_2 INPUT {
	WIDTH: auto; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM-STYLE: none
}
#allTags {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; MARGIN-TOP: 8px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; WIDTH: 682px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid
}
#allTags DIV {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#PublishMoreTag_A {
	BORDER-BOTTOM: 1px solid; HEIGHT: 22px
}
#PublishMoreTag_A_1 {
	BORDER-RIGHT: 1px solid; FLOAT: left; WIDTH: 80px; TEXT-ALIGN: center
}
#PublishMoreTag_A_2 {
	BORDER-RIGHT: 1px solid; FLOAT: left; WIDTH: 80px; TEXT-ALIGN: center
}
#PublishMoreTag_A_3 {
	FLOAT: right
}
#PublishMoreTag_A_3 IMG {
	PADDING-RIGHT: 10px; PADDING-TOP: 4px
}
#PublishMoreTagRight_B {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND-COLOR: #ffffe6
}
#PublishMoreTagRight_C {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND-COLOR: #ffffe6
}
.PublishTagSelected {
	POSITION: relative; TOP: 1px; HEIGHT: 23px; BACKGROUND-COLOR: #ffffe6
}
#PhotoManage_list {
	FONT-WEIGHT: bold
}
.PiChuLi {
	PADDING-RIGHT: 10px; BACKGROUND-POSITION: right 50%; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_19.gif); MARGIN: 10px; PADDING-TOP: 7px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 18px; TEXT-ALIGN: right
}
.PhotoTable {
	FLOAT: left; MARGIN: 10px 10px 10px 30px; WIDTH: 250px
}
.PhotoTable DIV {
	LINE-HEIGHT: 22px
}
.PhotoTable SPAN {
	COLOR: #3975e3
}
.PhotoTable_1 {
	FONT-WEIGHT: bold; COLOR: #333333; HEIGHT: auto
}
.PhotoTable_2 {
	WIDTH: 242px
}
.PhotoTable_2 IMG {
	BORDER-RIGHT: #afadad 1px solid; BORDER-TOP: #afadad 1px solid; BORDER-LEFT: #afadad 1px solid; BORDER-BOTTOM: #afadad 1px solid
}
.PageNext {
	BORDER-TOP: 1px solid; WORD-SPACING: 8px; LINE-HEIGHT: 38px; TEXT-ALIGN: center
}
.PhotoItemList TD {
	WIDTH: 50%
}
.PhotoPlayer {
	MARGIN-TOP: 1px; MARGIN-BOTTOM: 18px; MARGIN-LEFT: 106px; WIDTH: 645px; LINE-HEIGHT: 72px; HEIGHT: 72px
}
.PhotoPlayer DIV {
	FLOAT: left
}
.PhotoPlayer_2 {
	MARGIN-TOP: 6px; WIDTH: 393px; HEIGHT: 60px; BACKGROUND-COLOR: #ffffff
}
.PhotoPlayer_2 IMG {
	WIDTH: 50px; HEIGHT: 50px
}
.PhotoPlayer_4 {
	PADDING-LEFT: 5px; HEIGHT: 72px
}
.PhoSelected {
	BORDER-RIGHT: #4cb6ed 2px solid; BORDER-TOP: #4cb6ed 2px solid; MARGIN-TOP: 3px! important; BORDER-LEFT: #4cb6ed 2px solid; BORDER-BOTTOM: #4cb6ed 2px solid
}
.PhotoName {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; TEXT-ALIGN: center
}
.PhotoNext {
	MARGIN-TOP: 8px; TEXT-ALIGN: center
}
.PhotoSize {
	TEXT-ALIGN: center
}
.PhotoSize IMG {
	BORDER-RIGHT: #c6c6c6 1px solid; BORDER-TOP: #c6c6c6 1px solid; BORDER-LEFT: #c6c6c6 1px solid; BORDER-BOTTOM: #c6c6c6 1px solid
}
.PhotoKeep {
	MARGIN-LEFT: 106px; WIDTH: 512px; LINE-HEIGHT: 35px; BORDER-BOTTOM: 1px solid; HEIGHT: 35px
}
.PhotoKeep_1 {
	FLOAT: left
}
.PhotoKeep_2 {
	FLOAT: right
}
.Ptoadd_1 {
	MARGIN-LEFT: 106px; WIDTH: 512px; LINE-HEIGHT: 20px
}
.Ptoadd_2 {
	PADDING-BOTTOM: 4px; MARGIN-LEFT: 106px; WIDTH: 512px; LINE-HEIGHT: 20px; BORDER-BOTTOM: 1px solid
}
.Ptoadd_3 {
	MARGIN-LEFT: 106px; WIDTH: 512px; LINE-HEIGHT: 20px; PADDING-TOP: 10px
}
.Ptoadd_3 SPAN {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #fafafa
}
.Ptoadd_4 {
	MARGIN-LEFT: 106px; WIDTH: 512px; LINE-HEIGHT: 20px
}
.Ptoadd_5 {
	PADDING-BOTTOM: 20px; MARGIN-LEFT: 106px; LINE-HEIGHT: 20px
}
.PageTagLine_1 {
	PADDING-LEFT: 10px; FLOAT: left; WIDTH: 320px
}
.PageTagLine_2 {
	FLOAT: left
}
.PageTagLine_3 {
	PADDING-RIGHT: 10px; FLOAT: right
}
.PhotoIntroduction {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 106px; WIDTH: 512px; LINE-HEIGHT: 20px; BORDER-BOTTOM: 1px solid
}
.PhotoRestore {
	PADDING-RIGHT: 10px; MARGIN-TOP: 10px; PADDING-LEFT: 10px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #f4f3f3
}
.PhotoShenFen INPUT {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.PhotoHuiDa TEXTAREA {
	WIDTH: 480px
}
.PhotoTiJiao {
	BACKGROUND-POSITION: 0px 4px; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_19.gif); PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 28px
}
.PhotoLian {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #ffffff
}
.PhotoLianTitle {
	LINE-HEIGHT: 26px; BORDER-BOTTOM: 1px solid; HEIGHT: 26px
}
.PhotoLianTitle_1 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FLOAT: left
}
.PhotoLianTitle_2 {
	PADDING-RIGHT: 10px; FLOAT: right; PADDING-TOP: 5px
}
#photo_list {
	WIDTH: 182px; HEIGHT: auto
}
#photo_list DIV {
	MARGIN-TOP: 0px; FLOAT: left; MARGIN-LEFT: 5px; MARGIN-RIGHT: 2px
}
#photo_list SPAN {
	DISPLAY: block; WIDTH: 75px; TEXT-ALIGN: center
}
#photoXiu {
	HEIGHT: 100%; TEXT-ALIGN: center
}
#photoXiu DIV {
	MARGIN-TOP: 0px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN-LEFT: 6px; MARGIN-RIGHT: 14px; PADDING-TOP: 10px
}
#photoXiu SPAN {
	DISPLAY: block; WIDTH: 75px
}
.Pop_1 {
	WIDTH: 410px; BACKGROUND-COLOR: #ffffff
}
.Pop_1 DIV {
	WIDTH: 200px; HEIGHT: 22px
}
.Pop_1 INPUT {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.Pop_1 P {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.Pop_1 .PopTextInput {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; WIDTH: 15px; BORDER-BOTTOM: 1px solid; HEIGHT: 12px
}
.Pop_2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; WIDTH: 300px; PADDING-TOP: 10px; HEIGHT: 300px; BACKGROUND-COLOR: #ffffff
}
.Pop_2 IMG {
	MARGIN: 3px
}
.quote {
	BORDER-RIGHT: #cdcdcd 1px solid; BORDER-TOP: #cdcdcd 1px solid; PADDING-LEFT: 0px! important; MARGIN-BOTTOM: 8px; MARGIN-LEFT: 10px; BORDER-LEFT: #cdcdcd 1px solid; BORDER-BOTTOM: #cdcdcd 1px solid; BACKGROUND-COLOR: #f3f3f3
}
.QuickLink_search {
	BACKGROUND-POSITION: 118px 1px; PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_03_4.gif)! important; BACKGROUND-REPEAT: no-repeat
}
.QuickLink_search INPUT {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 12px; BORDER-LEFT: 1px solid; WIDTH: 110px; BORDER-BOTTOM: 1px solid; HEIGHT: 15px
}
.QuickLink_search IMG {
	WIDTH: 47px; HEIGHT: 20px
}
.QuickLink_rss {
	MARGIN-TOP: 10px; PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important
}
.QuickLink_rss IMG {
	MARGIN-RIGHT: 8px
}
#right_side {
	WIDTH: 204px
}
#right_side #right_side_inner .side_block #Board .release .release_2 INPUT {
	WIDTH: 120px
}
#right_side #right_side_inner .side_block #Board .release .release_2 TEXTAREA {
	WIDTH: 120px
}
#right_side #right_side_inner .side_block #Board .message .message_list .message_list_right .message_list_right_text {
	HEIGHT: 66px
}
#right_side #right_side_inner .side_block .substance .substance_list .Slist .Slist_2 {
	VISIBILITY: hidden
}
#right_side #right_side_inner .side_block .substance .Slist .Slist_2 {
	VISIBILITY: hidden
}
#right_side #right_side_inner .side_block #Board .message .message_list {
	WIDTH: 182px
}
#right_side #right_side_inner .side_block #VideoDivItem OBJECT {
	WIDTH: 182px
}
#right_side #right_side_inner .side_block #MyFriend {
	WIDTH: 182px; HEIGHT: auto
}
#right_side #right_side_inner .side_block #MyFriend DIV {
	MARGIN-TOP: 5px; MARGIN-LEFT: 5px; MARGIN-RIGHT: 5px
}
.right_side_2 {
	WIDTH: 732px
}
.right_side_2_inner {
	MARGIN-LEFT: 10px
}
.right_side_3 {
	WIDTH: 732px
}
#right_side #right_side_inner .side_block #AudioDivItem OBJECT {
	WIDTH: 182px; HEIGHT: 64px
}
.release {
	BORDER-RIGHT: #cdcdcd 1px solid; BORDER-TOP: #cdcdcd 1px solid; MARGIN-TOP: 10px; BORDER-LEFT: #cdcdcd 1px solid; BORDER-BOTTOM: #cdcdcd 1px solid
}
.release_1_1 {
	FLOAT: left
}
.release_1_2 {
	FLOAT: right
}
.release_1_2 IMG {
	PADDING-TOP: 2px
}
.release_2 DIV {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
.release_2 INPUT {
	BORDER-RIGHT: #cdcdcd 1px solid; BORDER-TOP: #cdcdcd 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #cdcdcd 1px solid; WIDTH: auto; COLOR: #898989; BORDER-BOTTOM: #cdcdcd 1px solid
}
.release_2 TEXTAREA {
	BORDER-RIGHT: #cdcdcd 1px solid; BORDER-TOP: #cdcdcd 1px solid; OVERFLOW: hidden; BORDER-LEFT: #cdcdcd 1px solid; WIDTH: auto; BORDER-BOTTOM: #cdcdcd 1px solid
}
.release_2_sub {
	FONT-SIZE: 12px; MARGIN-LEFT: 36px; WIDTH: 45px! important; CURSOR: hand; COLOR: #ffffff! important; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 22px; BACKGROUND-COLOR: #939393; BORDER-BOTTOM-STYLE: none
}
.release_2_res {
	FONT-SIZE: 12px; MARGIN-LEFT: 4px; WIDTH: 45px! important; CURSOR: hand; COLOR: #ffffff! important; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 22px; BACKGROUND-COLOR: #939393; BORDER-BOTTOM-STYLE: none
}
.right_side_3 .PageSkip {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
.ReplyTable {
	WIDTH: 100%; LINE-HEIGHT: 22px
}
.ReplyTable_A {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-BOTTOM: 5px; WIDTH: 75px; BORDER-BOTTOM: #e0e0e0 1px solid
}
.ReplyTable_A IMG {
	MARGIN: 5px; WIDTH: 40px; HEIGHT: 40px
}
.ReplyTable_A DIV {
	WIDTH: 95px; LINE-HEIGHT: 16px; TEXT-ALIGN: center
}
.ReplyTable_A_1 {
	HEIGHT: 16px
}
.ReplyTable_B {
	BORDER-BOTTOM: #e0e0e0 1px solid
}
.ReplyTable_BT {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; WIDTH: 605px
}
.ReplyTable_B_1_1 {
	PADDING-LEFT: 10px; FLOAT: left
}
.ReplyTable_B_1_2 {
	PADDING-RIGHT: 10px; FLOAT: right
}
.ReplyTable_B_4 {
	PADDING-RIGHT: 10px; TEXT-ALIGN: right
}
#ReplyTableAll {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px
}
.Rss {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: 1px solid; TEXT-ALIGN: center
}
.RestoreItem {
	MARGIN-BOTTOM: 5px; WIDTH: 502px
}
.RestoreItem_1 {
	FLOAT: left; WIDTH: 77px; MARGIN-RIGHT: 7px; HEIGHT: 97px
}
.RestoreItem_1 IMG {
	BORDER-RIGHT: #c6c6c6 1px solid; BORDER-TOP: #c6c6c6 1px solid; BORDER-LEFT: #c6c6c6 1px solid; WIDTH: 75px; BORDER-BOTTOM: #c6c6c6 1px solid; HEIGHT: 75px
}
.RestoreItem_1 DIV {
	WIDTH: 75px; HEIGHT: 20px; TEXT-ALIGN: center
}
.RestoreItem_2 {
	WIDTH: 400px; COLOR: #666666; HEIGHT: 95px
}
.side_block {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 8px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
#MusicBlock {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 8px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.PublishArticle {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 8px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
#BlogArgueID {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 8px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.side_title {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; COLOR: #3b3b3b; LINE-HEIGHT: 26px; BORDER-BOTTOM: 1px solid; HEIGHT: 26px
}
#argue_right {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; COLOR: #3b3b3b; LINE-HEIGHT: 26px; BORDER-BOTTOM: 1px solid; HEIGHT: 26px; BACKGROUND-COLOR: #f7f7f7
}
.side_title_1 {
	FLOAT: left
}
.side_title_2 {
	FONT-WEIGHT: normal; FLOAT: right
}
.size_01 {
	FONT-SIZE: 12px
}
.size_02 {
	FONT-SIZE: 13px
}
.size_03 {
	FONT-SIZE: 14px
}
.size_04 {
	FONT-SIZE: 15px
}
.size_05 {
	FONT-SIZE: 16px
}
.size_06 {
	FONT-SIZE: 17px
}
.size_07 {
	FONT-SIZE: 18px
}
.size_08 {
	FONT-SIZE: 19px
}
.size_09 {
	FONT-SIZE: 20px
}
.size_10 {
	FONT-SIZE: 21px
}
.size_11 {
	FONT-SIZE: 22px
}
.size_12 {
	FONT-SIZE: 23px
}
.size_13 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px
}
.size_14 {
	FONT-WEIGHT: bold; FONT-SIZE: 25px
}
.size_15 {
	FONT-WEIGHT: bold; FONT-SIZE: 26px
}
.size_16 {
	FONT-WEIGHT: bold; FONT-SIZE: 27px
}
.size_17 {
	FONT-WEIGHT: bold; FONT-SIZE: 30px
}
.size_18 {
	FONT-WEIGHT: bold; FONT-SIZE: 32px
}
.size_19 {
	FONT-WEIGHT: bold; FONT-SIZE: 33px
}
.size_20 {
	FONT-WEIGHT: bold; FONT-SIZE: 36px
}
.substance_1 {
	HEIGHT: 22px
}
.substance_3 {
	HEIGHT: 22px
}
.substance_4 {
	HEIGHT: 22px
}
.substance_list {
	MARGIN-TOP: 10px
}
.Slist {
	BORDER-BOTTOM: 1px dashed; HEIGHT: 22px
}
.Slist_1 {
	FLOAT: left
}
.Slist_2 {
	FLOAT: right
}
#summary DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#BiaoQian_list DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#BookDivItem DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#RestaurantDivItem DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#MovieDivItem DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#MusicDivItem DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#CircleDivItem DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#FriLinkDivItem DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.list {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.Slist_1 {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#HotArtitle_list DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#NewArtitle_list DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#NewPinglun_list DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#QuickLink_list DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#BkMarkbiaoQian_list DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#BkMarkStatistics DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#MusicInfo_list DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#Multimedia_list DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#Special_list DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.ExperList_1 {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#PhotoManage_list DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#VideoInfo_list DIV {
	BACKGROUND-POSITION: 0px 7px; PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_01.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
#summary_1 {
	PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; BORDER-BOTTOM: #cccccc 1px dashed; HEIGHT: auto! important
}
.SpecialItemList TD {
	WIDTH: 50%; TEXT-ALIGN: center
}
.SpecialList {
	MARGIN-TOP: 20px; MARGIN-LEFT: 60px; WIDTH: 268px; HEIGHT: 320px
}
.SpecialList_1 {
	FONT-WEIGHT: bold; LINE-HEIGHT: 26px; HEIGHT: 26px
}
.SpecialList_2 {
	BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_21.gif); WIDTH: 266px; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 266px
}
.SpecialData {
	WIDTH: 720px
}
.tag_list {
	FLOAT: left; HEIGHT: 25px
}
.tag_list DIV {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FLOAT: left
}
.tag_list .select {
	BACKGROUND-POSITION: right bottom; BACKGROUND-IMAGE: url(http://hexun.com/img/img_style000/h01_bian.gif); BACKGROUND-REPEAT: no-repeat
}
.TagLine {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: 1px solid
}
#TopArticle .side_title .side_title_2 IMG {
	POSITION: relative; TOP: 2px
}
#TopArticle .side_title .side_title_2 {
	HEIGHT: 17px
}
.TopArticleLine DIV {
	PADDING-LEFT: 10px; LINE-HEIGHT: 22px; BORDER-BOTTOM: 1px dashed; HEIGHT: 22px
}
.TopArticleLine .TopArticleLine_1 {
	BORDER-BOTTOM-STYLE: none
}
#TitleAndLot {
	MARGIN-TOP: 7px; PADDING-LEFT: 25px; LINE-HEIGHT: 24px; BORDER-BOTTOM: 1px solid; HEIGHT: 24px
}
#TitleAndLot_1 {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FLOAT: left; BORDER-LEFT: 1px solid; WIDTH: 75px; MARGIN-RIGHT: 3px; BACKGROUND-COLOR: #ebebeb; TEXT-ALIGN: center
}
#TitleAndLot_2 {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; WIDTH: 75px; BACKGROUND-COLOR: #ebebeb; TEXT-ALIGN: center
}
.TitleAndLotSecleted {
	LINE-HEIGHT: 25px; POSITION: relative; TOP: 0px; HEIGHT: 25px; BACKGROUND-COLOR: #ffffff! important
}
.UserInfo_A {
	WIDTH: 100%; BACKGROUND-COLOR: #cecece
}
.UserInfo_A TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; WIDTH: 50%; PADDING-TOP: 10px; BACKGROUND-COLOR: #ffffff
}
.UserInfo_A DIV {
	LINE-HEIGHT: 22px
}
.UserInfo_A_1 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.UserInfo_A_1 TD {
	PADDING-BOTTOM: 5px; PADDING-TOP: 6px
}
.UserInfo_B {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-TOP: 10px; BORDER-LEFT: 1px solid; LINE-HEIGHT: 26px; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #ffffff
}
.UserInfo_B_1 {
	PADDING-LEFT: 10px; BORDER-BOTTOM: 1px solid
}
.UserInfo_B_2 {
	PADDING-LEFT: 10px
}
#VideoDivItem {
	TEXT-ALIGN: center
}
#VideoInfo_search {
	PADDING-LEFT: 10px; PADDING-BOTTOM: 10px
}
#VideoNewItem {
	LINE-HEIGHT: 26px; TEXT-ALIGN: center
}
#VideoNewItem IMG {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; WIDTH: 120px; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 90px
}
.VideoCopyVi {
	MARGIN-TOP: 8px; MARGIN-LEFT: 5px! important
}
#VideoFormInpuTable TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.VideoInpoutWidth {
	WIDTH: 250px
}
#VideoPlayer #MusicPlayerID .MusicPlayerTd_3 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.bgimg {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(http://hexun.com/img/dot2.gif); BACKGROUND-REPEAT: repeat-x
}
#trackBar {
	BACKGROUND-IMAGE: url(http://hexun.com/img/photoV2/bo_08.gif); BACKGROUND-COLOR: #666666
}
#trackBar_slider {
	FILTER: progidDXImageTransform.Microsoft.Alpha(style=0,opacity=80,finishOpacity=100); BACKGROUND-IMAGE: url(http://hexun.com/img/photoV2/bo_10.gif)
}
.bo_01 {
	PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(http://hexun.com/img/photoV2/bo_01.gif); WIDTH: 368px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 28px
}
.bo_01 IMG {
	MARGIN-RIGHT: 7px
}
.bo_02 {
	FLOAT: left; BACKGROUND-IMAGE: url(http://hexun.com/img/photoV2/bo_08.gif); WIDTH: 143px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 28px
}
.t_155 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#left_side_inner {
	WIDTH: 204px
}
#right_side_inner {
	WIDTH: 204px
}
.li_message_22 {
	BORDER-RIGHT: #cdcdcd 1px solid; BORDER-TOP: #cdcdcd 1px solid; PADDING-LEFT: 0px! important; MARGIN-BOTTOM: 8px; MARGIN-LEFT: 10px; BORDER-LEFT: #cdcdcd 1px solid; BORDER-BOTTOM: #cdcdcd 1px solid; BACKGROUND-COLOR: #f3f3f3
}
.h_com_4 {
	BORDER-RIGHT: #cdcdcd 1px solid; BORDER-TOP: #cdcdcd 1px solid; PADDING-LEFT: 0px! important; MARGIN-BOTTOM: 8px; MARGIN-LEFT: 10px; BORDER-LEFT: #cdcdcd 1px solid; BORDER-BOTTOM: #cdcdcd 1px solid; BACKGROUND-COLOR: #f3f3f3
}
.NewTitle {
	LINE-HEIGHT: 22px; BORDER-BOTTOM: 1px dashed; HEIGHT: 22px
}
.NewTitleLeft {
	FLOAT: left
}
.NewTitleRight {
	FLOAT: right
}
.TagDetail {
	MARGIN-BOTTOM: 10px
}
.TagImage {
	WIDTH: 914px; HEIGHT: 100%
}
.TagImage DIV {
	FLOAT: left; MARGIN-BOTTOM: 10px; WIDTH: 75px; MARGIN-RIGHT: 16px; HEIGHT: 75px
}
.TagVideo {
	WIDTH: 914px; HEIGHT: 100%
}
.TagVideo DIV {
	FLOAT: left; MARGIN-BOTTOM: 10px; WIDTH: 120px; MARGIN-RIGHT: 10px; HEIGHT: 90px
}
.TagDetail .side_title {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid
}
