BODY {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: center top; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(busfly_ss/bodybg.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #06203a; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif,ו; BACKGROUND-COLOR: #7da0c4; TEXT-ALIGN: center
}
A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #095c83
}
A:visited {
	COLOR: #095c83
}
A:hover {
	COLOR: #993
}
A:active {
	COLOR: #dc143c
}
#all {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(busfly_ss/back01.jpg) repeat-y left 50%; PADDING-BOTTOM: 0px; MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 1024px; PADDING-TOP: 0px
}
#allbacktop {
	BACKGROUND: url(busfly_ss/allbacktop_01.jpg) no-repeat left top; MARGIN: 0px auto
}
#divcontent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#divtop {
	MARGIN: 0px auto; PADDING-TOP: 70px
}
#blogname {
	FONT-SIZE: 28px; COLOR: #83d9f9; TEXT-INDENT: 180px; FONT-FAMILY: "ו", Verdana; HEIGHT: 35px; TEXT-ALIGN: left
}
#blogname A:link {
	COLOR: #83d9f9
}
#blogname A:visited {
	COLOR: #83d9f9
}
#blogsubname {
	MARGIN-TOP: 5px; COLOR: #83d9f9; TEXT-INDENT: 180px; HEIGHT: 20px; TEXT-ALIGN: left
}
#menu {
	MARGIN-TOP: 40px; PADDING-LEFT: 120px; FONT-SIZE: 15px; HEIGHT: 30px; TEXT-ALIGN: left
}
#menu .classfind {
	FLOAT: right; MARGIN-RIGHT: 20px
}
#edtSearch {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
#menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#menu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 2px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#menu A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 6px; HEIGHT: 14px; TEXT-DECORATION: none
}
#menu A:link {
	COLOR: #993
}
#menu A:visited {
	COLOR: black
}
#menu A:hover {
	BACKGROUND: #dc143c; COLOR: white
}
#menu A:active {
	BACKGROUND: #dc143c; COLOR: white
}
#divmid {
	MARGIN: 0px auto
}
#midleft {
	MARGIN-TOP: 20px; FLOAT: left; OVERFLOW: hidden; WIDTH: 700px; TEXT-ALIGN: left
}
.post {
	MARGIN: 0px 37px 0px 130px
}
.nav_l {
	FLOAT: left
}
.nav_r {
	FLOAT: right
}
.post-date {
	MARGIN-TOP: 20px; FONT-SIZE: 20px; COLOR: #156d8e; FONT-FAMILY: Georgia
}
.post-title {
	PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 16px; BACKGROUND: url(busfly_ss/post-title.jpg) no-repeat center top; COLOR: #000000; PADDING-TOP: 10px; HEIGHT: 37px
}
.post-title A:link {
	COLOR: #000000
}
.post-title A:hover {
	COLOR: #993
}
.post-body {
	PADDING-LEFT: 20px; OVERFLOW: hidden; COLOR: #000000; WORD-BREAK: break-all; LINE-HEIGHT: 150%
}
.post-footer {
	BORDER-TOP: #ffffff 1px dotted; TEXT-ALIGN: right
}
.post-pagebar {
	MARGIN: 15px 37px 10px 130px; COLOR: #23718e
}
.mutuality {
	BORDER-TOP: #ffffff 2px dotted; MARGIN: 20px 37px 20px 130px; PADDING-TOP: 10px
}
.mutualitytitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000
}
.mutualityarticle {
	PADDING-RIGHT: 2px; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #ffffff; WORD-BREAK: break-all; PADDING-TOP: 2px
}
DIV.msg {
	MARGIN-LEFT: 100px; MARGIN-RIGHT: 37px
}
LI.msgname {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px dashed; LIST-STYLE-TYPE: none
}
LI.tbname {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #d0d0d0 1px dashed; LIST-STYLE-TYPE: none
}
LI.msgarticle {
	BORDER-RIGHT: #ffffff 1px dashed; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #ffffff 1px dashed; WORD-BREAK: break-all; LINE-HEIGHT: 150%; PADDING-TOP: 15px; LIST-STYLE-TYPE: none
}
LI BLOCKQUOTE {
	MARGIN: 0px
}
.quote {
	BORDER-RIGHT: #ffffff 1px dotted; PADDING-RIGHT: 10px; BORDER-TOP: #ffffff 1px dotted; MARGIN-TOP: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 20px; BORDER-LEFT: #ffffff 1px dotted; PADDING-TOP: 10px; BORDER-BOTTOM: #ffffff 1px dotted
}
.quote-title {
	MARGIN-BOTTOM: 5px; BORDER-BOTTOM: #ffff00 1px double
}
LI.msgtime {
	BORDER-RIGHT: #ffffff 1px dashed; PADDING-RIGHT: 5px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ffffff 1px dashed; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px dashed; LIST-STYLE-TYPE: none; TEXT-ALIGN: right
}
.msgpost {
	BORDER-RIGHT: #ffffff 1px dashed; BORDER-TOP: #ffffff 1px dashed; MARGIN-TOP: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; MARGIN-LEFT: 130px; BORDER-LEFT: #ffffff 1px dashed; MARGIN-RIGHT: 50px; PADDING-TOP: 10px; BORDER-BOTTOM: #ffffff 1px dashed
}
.posttop {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 5px
}
#midright {
	FLOAT: right; MARGIN: 0px; WIDTH: 324px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
DIV.function {
	MARGIN-TOP: 20px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 30px; OVERFLOW: hidden; WIDTH: 200px; TEXT-ALIGN: left
}
DIV.righttitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000
}
DIV.function UL {
	PADDING-RIGHT: 0px; BORDER-TOP: #ffff00 1px solid; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; MARGIN: 2px 0px 0px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
DIV.function LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 1px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 2px
}
DIV.function LI A:link {
	COLOR: #ffffff
}
DIV.function LI A:hover {
	COLOR: #993
}
DIV.function LI SPAN.feed-icon A {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND: url(busfly_ss/feed.png) no-repeat 0px 3px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 22px; PADDING-TOP: 0px; HEIGHT: 14px; BORDER-RIGHT-WIDTH: 0px
}
DIV.function LI SPAN.feed-icon IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; VISIBILITY: hidden; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 22px; PADDING-TOP: 0px; HEIGHT: 14px; BORDER-RIGHT-WIDTH: 0px
}
#divbottom {
	CLEAR: both; BACKGROUND: url(busfly_ss/allbackbottom.jpg) no-repeat left bottom; HEIGHT: 270px
}
#bottomleft {
	MARGIN-TOP: 15px; FLOAT: left; OVERFLOW: hidden; WIDTH: 700px; HEIGHT: 130px
}
#bottomright {
	MARGIN-TOP: 15px; FLOAT: right; OVERFLOW: hidden; WIDTH: 324px; HEIGHT: 130px; TEXT-ALIGN: left
}
#bottom {
	CLEAR: both; PADDING-LEFT: 160px; COLOR: #ffffff; PADDING-TOP: 60px; TEXT-ALIGN: left
}
DIV.post-body IMG.thumb {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 4px; OVERFLOW: auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; max-width: 200px; max-height: 100px
}
CODE {
	WORD-WRAP: break-word
}
.XianguoDigg {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
