#Rating {
	BORDER-RIGHT: #b0bdc6 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #b0bdc6 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 10px; OVERFLOW: auto; BORDER-LEFT: #b0bdc6 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #b0bdc6 1px solid; HEIGHT: 1%; TEXT-ALIGN: left
}
#Star {
	FLOAT: left; BACKGROUND-IMAGE: url(/PLUGIN/Rating/star.gif); WIDTH: 150px; HEIGHT: 30px
}
#Star-Cur {
	BACKGROUND-POSITION: 0px -60px; Z-INDEX: 11; BACKGROUND-IMAGE: url(/PLUGIN/Rating/star.gif); WIDTH: 0px; POSITION: absolute; HEIGHT: 30px
}
#Star1 {
	Z-INDEX: 20; WIDTH: 30px; POSITION: absolute; HEIGHT: 30px
}
#Star2 {
	Z-INDEX: 19; WIDTH: 60px; POSITION: absolute; HEIGHT: 30px
}
#Star3 {
	Z-INDEX: 18; WIDTH: 90px; POSITION: absolute; HEIGHT: 30px
}
#Star4 {
	Z-INDEX: 17; WIDTH: 120px; POSITION: absolute; HEIGHT: 30px
}
#Star5 {
	Z-INDEX: 16; WIDTH: 150px; POSITION: absolute; HEIGHT: 30px
}
#Star1:hover {
	BACKGROUND-POSITION: -30px 50%; BACKGROUND-IMAGE: url(/PLUGIN/Rating/star.gif)
}
#Star2:hover {
	BACKGROUND-POSITION: -30px 50%; BACKGROUND-IMAGE: url(/PLUGIN/Rating/star.gif)
}
#Star3:hover {
	BACKGROUND-POSITION: -30px 50%; BACKGROUND-IMAGE: url(/PLUGIN/Rating/star.gif)
}
#Star4:hover {
	BACKGROUND-POSITION: -30px 50%; BACKGROUND-IMAGE: url(/PLUGIN/Rating/star.gif)
}
#Star5:hover {
	BACKGROUND-POSITION: -30px 50%; BACKGROUND-IMAGE: url(/PLUGIN/Rating/star.gif)
}
#Score {
	FLOAT: left; WIDTH: 250px; LINE-HEIGHT: 30px; TEXT-ALIGN: center
}
#Rating-show {
	FONT-WEIGHT: bold; COLOR: green
}
#Rating-already {
	FONT-WEIGHT: bold; COLOR: red
}
