BODY {
	MARGIN: 0px; COLOR: #666; FONT-FAMILY: Arial, Verdana, Helvetica, Simsun, sans-serif
}
.listdlmid LI {
	LINE-HEIGHT: 25px; LIST-STYLE-TYPE: none
}
LI {
	FONT-SIZE: 12px; LIST-STYLE-TYPE: none
}
SELECT {
	FONT-SIZE: 12px; COLOR: #666
}
INPUT {
	FONT-SIZE: 12px; COLOR: #666
}
.centre {
	MARGIN: 0px auto; WIDTH: 947px; BACKGROUND-COLOR: #fff
}
.hykj_over {
	FLOAT: left; WIDTH: 150px; MARGIN-RIGHT: 5px; HEIGHT: 20px
}
.hykj_over A {
	FONT: 12px/20px Arial
}
.piaof {
	BORDER-RIGHT: #5282a6 1px solid; BORDER-TOP: #5282a6 1px solid; RIGHT: 0px; OVERFLOW: hidden; BORDER-LEFT: #5282a6 1px solid; WIDTH: 201px; BORDER-BOTTOM: #5282a6 1px solid; POSITION: absolute; TOP: 0px
}
.piao_top {
	BACKGROUND-IMAGE: url(../ad/piao_tbg.gif); WIDTH: 201px; HEIGHT: 19px
}
.piao_top P {
	FLOAT: right; MARGIN: 0px 2px 0px 0px; WIDTH: 31px; HEIGHT: 16px
}
.piao_top A {
	DISPLAY: block; WIDTH: 31px; HEIGHT: 16px
}
.piao_top A:hover {
	DISPLAY: block; WIDTH: 31px; HEIGHT: 16px
}
.piao_m {
	BACKGROUND-IMAGE: url(../ad/piao_bg.jpg); PADDING-BOTTOM: 10px; WIDTH: 201px
}
.piao_b {
	BACKGROUND-IMAGE: url(../ad/piao_bbg.gif); WIDTH: 254px; HEIGHT: 30px
}
.piao_b P {
	FLOAT: left; MARGIN: 4px 0px 0px 4px; WIDTH: 54px; HEIGHT: 20px
}
.piao_b A {
	DISPLAY: block; WIDTH: 54px; HEIGHT: 20px
}
.piao_b A:hover {
	DISPLAY: block; WIDTH: 54px; HEIGHT: 20px
}
.piao_t {
	BACKGROUND-IMAGE: url(../ad/piao_t.gif); MARGIN: 2px 0px 0px 5px; WIDTH: 190px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px
}
.piao_t P {
	BACKGROUND-POSITION: 1px 5px; FONT-WEIGHT: 900; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../ad/announce.gif); MARGIN: 0px; COLOR: #f00; TEXT-INDENT: 20px; LINE-HEIGHT: 27px; BACKGROUND-REPEAT: no-repeat
}
.piao_cont {
	MARGIN: 10px 0px 0px 10px; WIDTH: 180px
}
.piao_cont P {
	FONT-SIZE: 12px; MARGIN: 0px; WIDTH: 180px; COLOR: #666; TEXT-INDENT: 24px; LINE-HEIGHT: 17px
}
.yh_ad {
	OVERFLOW: hidden; WIDTH: 947px; CURSOR: pointer; HEIGHT: 1px; BACKGROUND-COLOR: #eee
}
.yh_img {
	BACKGROUND-IMAGE: url(../ad/ad_yh.jpg); WIDTH: 947px; HEIGHT: 421px
}
.yh_img P {
	DISPLAY: inline; FONT-WEIGHT: 900; FONT-SIZE: 18px; FLOAT: right; MARGIN: 10px 0px 0px; WIDTH: 55px; COLOR: #fff
}
.yh_img A {
	COLOR: #ff0; TEXT-DECORATION: none
}
.yh_img A:hover {
	COLOR: #ff0; TEXT-DECORATION: none
}
#AdDiv_top P {
	DISPLAY: inline; FONT-WEIGHT: 900; FONT-SIZE: 18px; FLOAT: right; MARGIN: 10px 0px 0px; WIDTH: 55px; COLOR: #fff
}
.top {
	BACKGROUND-IMAGE: url(../img/bg_top.jpg); MARGIN-LEFT: auto; OVERFLOW: hidden; WIDTH: 947px; MARGIN-RIGHT: auto; HEIGHT: 210px
}
.navi_m {
	PADDING-LEFT: 25px; WIDTH: 905px; PADDING-TOP: 95px; HEIGHT: 32px
}
.navi_m UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.navi_m LI {
	FONT-SIZE: 0.8em; FLOAT: left; LINE-HEIGHT: 32px; LIST-STYLE-TYPE: none
}
.navi_m LI.nvm_line {
	BACKGROUND-POSITION: 8px 8px; BACKGROUND-IMAGE: url(../img/bg_nvline.gif); WIDTH: 32px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 32px
}
.navi_s {
	PADDING-LEFT: 65px; WIDTH: 700px; PADDING-TOP: 16px; HEIGHT: 20px
}
.navi_s UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.navi_s LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; FLOAT: left; COLOR: #fff; LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none
}
.stat {
	PADDING-LEFT: 15px; WIDTH: 932px; PADDING-TOP: 19px; HEIGHT: 25px
}
.stat UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.stat LI {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; FLOAT: left; COLOR: #666; LINE-HEIGHT: 25px; FONT-FAMILY: Simsun; LIST-STYLE-TYPE: none
}
.stat P {
	FONT-SIZE: 12px; COLOR: #666
}
.l_n_s {
	MARGIN-LEFT: auto; WIDTH: 947px; MARGIN-RIGHT: auto; HEIGHT: 190px; BACKGROUND-COLOR: #f0f0f0
}
.softlist {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 10px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px; BORDER-LEFT: #ccc 1px solid; WIDTH: 925px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 140px; BACKGROUND-COLOR: #fff
}
.softlist TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 25px
}
.pic_soft {
	MARGIN-TOP: 10px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 25px; WIDTH: 103px; HEIGHT: 125px
}
.pic_soft_img {
	WIDTH: 103px; HEIGHT: 103px
}
.pic_soft_img IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 103px; HEIGHT: 103px; BORDER-RIGHT-WIDTH: 0px
}
.pic_soft_title {
	FONT-SIZE: 0.8em; OVERFLOW: hidden; WIDTH: 103px; LINE-HEIGHT: 18px; HEIGHT: 18px; TEXT-ALIGN: center
}
.search {
	MARGIN-TOP: 5px; DISPLAY: inline; FLOAT: left; WIDTH: 660px; HEIGHT: 20px
}
.search UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.search LI {
	PADDING-RIGHT: 10px; FONT-SIZE: 12px; FLOAT: left; COLOR: #666; LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none
}
.search LI.search_t {
	BACKGROUND-POSITION: 0px 5px; PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(../img/icon_search.gif); LINE-HEIGHT: 28px; BACKGROUND-REPEAT: no-repeat
}
.searchBT {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #999 1px solid; WIDTH: 60px; COLOR: #666; LINE-HEIGHT: 20px; BORDER-BOTTOM: #999 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #fff
}
.list_m {
	MARGIN-LEFT: auto; WIDTH: 947px; MARGIN-RIGHT: auto; BACKGROUND-COLOR: #fff
}
.lm_l {
	FLOAT: left; WIDTH: 665px
}
.lm_b {
	FLOAT: left; MARGIN-BOTTOM: 15px; WIDTH: 645px; BORDER-BOTTOM: #ccc 1px dotted
}
.lm_x {
	DISPLAY: inline; FLOAT: left; MARGIN-BOTTOM: 15px; WIDTH: 315px; MARGIN-RIGHT: 15px; BACKGROUND-COLOR: #fafafa
}
.lm_y {
	FLOAT: left; MARGIN-BOTTOM: 15px; WIDTH: 315px; BACKGROUND-COLOR: #fafafa
}
.lmb_t {
	BACKGROUND-POSITION: 85px 12px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 0.8em; BACKGROUND-IMAGE: url(../img/bg_darrow.gif); WIDTH: 300px; COLOR: #666; LINE-HEIGHT: 34px; BORDER-BOTTOM: #ccc 1px dotted; BACKGROUND-REPEAT: no-repeat; HEIGHT: 34px
}
.lmb_top {
	WIDTH: 315px; BORDER-BOTTOM: #ccc 1px dotted; HEIGHT: 98px
}
.top_img {
	FLOAT: left; WIDTH: 95px; HEIGHT: 95px
}
.top_img IMG {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; FLOAT: left; MARGIN: 10px 10px 10px 6px; BORDER-LEFT: #ccc 1px solid; WIDTH: 75px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 75px
}
.top_txt {
	FLOAT: left; WIDTH: 210px
}
.top_txt UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.top_txt LI {
	FONT-SIZE: 0.75em; LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none
}
f .top_txt LI.top_link {
	PADDING-TOP: 8px
}
.top_txt LI.top_link A:link {
	COLOR: #09f
}
.top_txt LI.top_link A:hover {
	COLOR: #f90
}
.top_txt LI.top_link A:active {
	COLOR: #f00
}
.top_txt LI.top_link A:visited {
	COLOR: #09f
}
.top_txt LI.top_q {
	BACKGROUND-POSITION: 0px 2px; PADDING-LEFT: 25px; BACKGROUND-IMAGE: url(../img/icon_q.gif); BACKGROUND-REPEAT: no-repeat
}
.x_list {
	PADDING-BOTTOM: 10px; WIDTH: 315px; PADDING-TOP: 10px
}
.x_list UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.x_list LI {
	BACKGROUND-POSITION: 0px 8px; PADDING-LEFT: 15px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/bg_sarrow.gif); MARGIN-LEFT: 10px; WIDTH: 280px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #ccc 1px dotted; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none; HEIGHT: 25px
}
SPAN.xlist_l {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 205px; PADDING-TOP: 0px
}
SPAN.xlist_t {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 70px; COLOR: #666; PADDING-TOP: 0px
}
.lm_r {
	FLOAT: right; WIDTH: 280px
}
.xrdown {
	PADDING-BOTTOM: 25px; WIDTH: 280px; PADDING-TOP: 10px
}
.xrd_shape {
	WIDTH: 280px; HEIGHT: 13px
}
.xrd_t {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; PADDING-BOTTOM: 8px; MARGIN-LEFT: 6px; COLOR: #666; LINE-HEIGHT: 15px
}
.xrd_i {
	PADDING-BOTTOM: 10px; MARGIN-LEFT: auto; WIDTH: 268px; MARGIN-RIGHT: auto
}
.xrd_list {
	BORDER-TOP-WIDTH: 0px; BORDER-RIGHT: #999 1px solid; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT: #999 1px solid; WIDTH: 278px
}
.xrd_list UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.xrd_list LI {
	BACKGROUND-POSITION: 0px 6px; PADDING-LEFT: 15px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/bg_sgarrow.gif); MARGIN-LEFT: 10px; LINE-HEIGHT: 25px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
.xrhot {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; MARGIN-BOTTOM: 25px; PADDING-BOTTOM: 10px; BORDER-LEFT: #ddd 1px solid; WIDTH: 278px; BORDER-BOTTOM: #ddd 1px solid
}
.xrhot UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.xrhot LI {
	BACKGROUND-POSITION: 0px 6px; PADDING-LEFT: 15px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/bg_sgarrow.gif); MARGIN-LEFT: 10px; LINE-HEIGHT: 25px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
.xrh_t {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; BACKGROUND-IMAGE: url(../img/bg_hotdown.gif); MARGIN: 5px auto; WIDTH: 268px; COLOR: #fff; TEXT-INDENT: 28px; LINE-HEIGHT: 40px; HEIGHT: 40px
}
.xrswap {
	FLOAT: left; MARGIN-BOTTOM: 25px; WIDTH: 280px; BACKGROUND-COLOR: #f0f0f0
}
.xr_swap {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; DISPLAY: inline; FLOAT: left; MARGIN: 9px; BORDER-LEFT: #ddd 1px solid; WIDTH: 260px; BORDER-BOTTOM: #ddd 1px solid; BACKGROUND-COLOR: #fff
}
.xrs_t {
	BACKGROUND-IMAGE: url(../img/bg_rswap.gif); WIDTH: 260px; HEIGHT: 25px
}
.xrs_t UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.xrs_t LI {
	FONT-SIZE: 0.8em; FLOAT: left; LINE-HEIGHT: 25px; LIST-STYLE-TYPE: none
}
.xrs_t LI.xrs_title {
	PADDING-RIGHT: 6px; FONT-SIZE: 0.8em; WIDTH: 97px; COLOR: #666; LINE-HEIGHT: 25px; TEXT-ALIGN: center
}
.xrs_t LI.xrs_tl {
	FONT-SIZE: 0.8em; WIDTH: 78px; LINE-HEIGHT: 25px; TEXT-ALIGN: center
}
.xrs_c {
	MARGIN: 5px; WIDTH: 250px; HEIGHT: 180px; BACKGROUND-COLOR: #f8f8f8
}
.xrs_c UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.xrs_c LI {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: 11px 9px; PADDING-LEFT: 27px; FONT-SIZE: 12px; FLOAT: left; BACKGROUND-IMAGE: url(../img/bullet_4.gif); WIDTH: 90px; LINE-HEIGHT: 25px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
.bottom {
	CLEAR: both; BORDER-TOP: #ddd 1px solid; MARGIN-TOP: 10px; FONT-SIZE: 12px; MARGIN-LEFT: auto; WIDTH: 950px; COLOR: #666; LINE-HEIGHT: 20px; MARGIN-RIGHT: auto; BACKGROUND-COLOR: #fafafa
}
.bmlink {
	MARGIN-TOP: 15px; MARGIN-LEFT: auto; WIDTH: 600px; MARGIN-RIGHT: auto; HEIGHT: 20px
}
.bmlink UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.bmlink LI {
	FLOAT: left; LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
.bmlink LI.bm_link {
	WIDTH: 60px
}
.bmlink LI.bm_border {
	WIDTH: 20px
}
.bminfo {
	DISPLAY: inline; WIDTH: 927px; HEIGHT: 80px
}
.bm_logo {
	FLOAT: left; WIDTH: 195px
}
.bm_info {
	BORDER-RIGHT: #ccc 1px solid; FLOAT: left; BORDER-LEFT: #ccc 1px solid; WIDTH: 420px; LINE-HEIGHT: 25px; HEIGHT: 75px
}
.bm_info P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 15px; PADDING-TOP: 0px
}
.bm_info IMG {
	WIDTH: 400px
}
.bm_icp {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.bm_icp IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.bm_icp P {
	PADDING-LEFT: 15px; MARGIN: 0px; PADDING-TOP: 15px
}
.wj {
	RIGHT: 10px; BACKGROUND: url(../img/gangting.gif); WIDTH: 75px; TEXT-INDENT: -5000em; POSITION: absolute; TOP: 10px; HEIGHT: 70px
}
.wj A {
	DISPLAY: block; WIDTH: 75px; HEIGHT: 70px
}
.wj_bak {
	BACKGROUND: url(../img/gangting.gif); FLOAT: right; WIDTH: 75px; TEXT-INDENT: -5000em; MARGIN-RIGHT: 10px; HEIGHT: 70px
}
.wj_bak A {
	DISPLAY: block; WIDTH: 75px; HEIGHT: 70px
}
.smb_t {
	BACKGROUND-POSITION: 85px 12px; MARGIN-TOP: 10px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 0.8em; BACKGROUND-IMAGE: url(../img/bg_darrow.gif); WIDTH: 630px; COLOR: #666; LINE-HEIGHT: 34px; BORDER-BOTTOM: #ccc 1px dotted; BACKGROUND-REPEAT: no-repeat; HEIGHT: 34px
}
.sublist {
	PADDING-BOTTOM: 10px; WIDTH: 630px; PADDING-TOP: 10px
}
.sublist UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sublist LI {
	BACKGROUND-POSITION: 0px 8px; PADDING-LEFT: 15px; FONT-SIZE: 0.75em; BACKGROUND-IMAGE: url(../img/bg_sarrow.gif); MARGIN-LEFT: 10px; WIDTH: 610px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #ccc 1px dotted; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none; HEIGHT: 25px
}
SPAN.sublist_l {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 525px; PADDING-TOP: 0px
}
SPAN.sublist_t {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 70px; COLOR: #666; PADDING-TOP: 0px
}
.cont_t {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; WIDTH: 650px; COLOR: #36c; LINE-HEIGHT: 50px; PADDING-TOP: 10px; HEIGHT: 50px; TEXT-ALIGN: center
}
.cont_ti {
	FLOAT: left; WIDTH: 650px; COLOR: #666; LINE-HEIGHT: 30px; BORDER-BOTTOM: #e0e0e0 1px solid; HEIGHT: 30px; BACKGROUND-COLOR: #f5f5f5
}
.cont_ti UL {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.cont_ti LI {
	FONT-SIZE: 12px; FLOAT: right; LINE-HEIGHT: 30px; LIST-STYLE-TYPE: none
}
.cont_ti LI.cont_tt {
	PADDING-RIGHT: 5px
}
.cont_ti LI.cont_tc {
	PADDING-RIGHT: 10px
}
.cont_ti P {
	FONT-WEIGHT: 600; FONT-SIZE: 13px; BACKGROUND: url(../images/list_02.jpg) no-repeat 5px 11px; MARGIN: 0px; TEXT-INDENT: 18px
}
.cont_ti {
	WIDTH: 650px; COLOR: #666; LINE-HEIGHT: 30px; BORDER-BOTTOM: #e0e0e0 1px solid; HEIGHT: 30px; BACKGROUND-COLOR: #f5f5f5
}
.con_c {
	FLOAT: left; WIDTH: 650px
}
.con_c P {
	FONT-SIZE: 0.75em; MARGIN: 10px 20px 15px; COLOR: #666; LINE-HEIGHT: 20px
}
.con_ad {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 15px; FLOAT: left; MARGIN-BOTTOM: 15px; BORDER-LEFT: #ccc 1px solid; WIDTH: 340px; MARGIN-RIGHT: 25px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #fafafa
}
.con_ad P {
	FONT-SIZE: 0.75em; MARGIN: 10px 10px 15px; LINE-HEIGHT: 18px
}
.cont_tl {
	CLEAR: both; PADDING-BOTTOM: 10px; WIDTH: 650px; PADDING-TOP: 10px; HEIGHT: 40px
}
.cont_tl UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.cont_tl LI {
	BACKGROUND-POSITION: 9px 9px; PADDING-LEFT: 23px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/bullet_4.gif); WIDTH: 620px; COLOR: #666; LINE-HEIGHT: 25px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
.down_t {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; WIDTH: 650px; COLOR: #36c; LINE-HEIGHT: 25px; PADDING-TOP: 10px; BORDER-BOTTOM: #ccc 1px dotted; HEIGHT: 30px
}
.dl {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; WIDTH: 640px; PADDING-TOP: 10px; HEIGHT: 50px
}
.dl_ico {
	FLOAT: left; WIDTH: 45px; HEIGHT: 45px
}
.dl_ico IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-TOP: 5px; BORDER-RIGHT-WIDTH: 0px
}
.dl_link {
	FLOAT: left; WIDTH: 550px; HEIGHT: 35px
}
.dl_link P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P.dlink {
	FONT-WEIGHT: bold; FONT-SIZE: 1em; PADDING-BOTTOM: 5px; LINE-HEIGHT: 25px
}
P.dldpt {
	FONT-SIZE: 0.75em; COLOR: #999; LINE-HEIGHT: 15px
}
.dl_b {
	FLOAT: left; MARGIN-BOTTOM: 5px; WIDTH: 645px
}
.dl_list {
	PADDING-BOTTOM: 10px; WIDTH: 315px; PADDING-TOP: 10px
}
.dl_list UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.dl_list LI {
	BACKGROUND-POSITION: 4px 8px; PADDING-LEFT: 20px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/bullet_4.gif); MARGIN-LEFT: 10px; WIDTH: 275px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #ccc 1px dotted; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none; HEIGHT: 25px
}
SPAN.dlist_l {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 65px; COLOR: #666; PADDING-TOP: 0px
}
SPAN.dlist_t {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 210px; COLOR: #666; PADDING-TOP: 0px
}
.dl_descript {
	CLEAR: both; WIDTH: 640px
}
.dd_title {
	CLEAR: both; FONT-WEIGHT: bold; FONT-SIZE: 1em; MARGIN-BOTTOM: 10px; WIDTH: 640px; COLOR: #390; LINE-HEIGHT: 40px; BORDER-BOTTOM: #ccc 1px dotted; HEIGHT: 40px
}
.dd_txt {
	FONT-SIZE: 0.8em; FLOAT: left; WIDTH: 450px; COLOR: #666; LINE-HEIGHT: 18px
}
.dd_txt P {
	MARGIN: 0px 20px 18px 0px
}
.dd_img {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; BORDER-LEFT: #ccc 1px solid; WIDTH: 162px; PADDING-TOP: 10px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 122px
}
.dd_img IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 160px; HEIGHT: 120px; BORDER-RIGHT-WIDTH: 0px
}
.subdl {
	PADDING-BOTTOM: 20px; WIDTH: 630px
}
.subdl UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.subdl LI {
	BACKGROUND-POSITION: 0px 8px; PADDING-LEFT: 15px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/bullet_4.gif); MARGIN-LEFT: 10px; WIDTH: 610px; COLOR: #666; LINE-HEIGHT: 25px; BORDER-BOTTOM: #ccc 1px dotted; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none; HEIGHT: 25px
}
SPAN.subdl_l {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 525px; PADDING-TOP: 0px
}
SPAN.subdl_t {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 70px; COLOR: #666; PADDING-TOP: 0px
}
.cont {
	FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 650px; LINE-HEIGHT: 18px
}
.pt_cont {
	FONT-SIZE: 12px; MARGIN: 15px 0px 0px 10px; WIDTH: 630px; COLOR: #666
}
.pt_contitle {
	FONT-WEIGHT: 600; FONT-SIZE: 13px; MARGIN: 0px; WIDTH: 630px; COLOR: #0099cc
}
.pt_contmeat {
	FONT-SIZE: 12px; MARGIN: 5px 0px 0px; WIDTH: 630px; TEXT-INDENT: 24px; LINE-HEIGHT: 18px
}
.pt_contred {
	FONT-WEIGHT: 600; FONT-SIZE: 12px; PADDING-BOTTOM: 6px; MARGIN: 10px 0px 0px; WIDTH: 630px; COLOR: #f00; TEXT-INDENT: 10px; BORDER-BOTTOM: #ccc 1px dotted
}
.coursetab {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 10px 0px 0px 10px; WIDTH: 610px; COLOR: #666; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #bfbfbf; BORDER-RIGHT-WIDTH: 0px
}
.coursetab TD {
	BACKGROUND-COLOR: #fff
}
.tabsbtitle {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-WEIGHT: 600; PADDING-BOTTOM: 0px; WIDTH: 250px; LINE-HEIGHT: 25px; PADDING-TOP: 0px
}
.tabcontcat {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 380px; TEXT-INDENT: 15px; LINE-HEIGHT: 18px; PADDING-TOP: 5px
}
.xrd_i_cont {
	PADDING-BOTTOM: 10px; MARGIN-LEFT: auto; WIDTH: 250px; MARGIN-RIGHT: auto
}
.xrd_i_cont A {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
.xrd_i_cont A:hover {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
.fl {
	DISPLAY: inline; FLOAT: left
}
.fr {
	DISPLAY: inline; FLOAT: right
}
.mt5 {
	MARGIN-TOP: 5px
}
.mt10 {
	MARGIN-TOP: 10px
}
.mb5 {
	MARGIN-BOTTOM: 5px
}
.mb10 {
	MARGIN-BOTTOM: 10px
}
.ml15 {
	MARGIN-LEFT: 15px
}
.hidden {
	DISPLAY: none
}
.b_l {
	BORDER-LEFT: #ccc 1px solid
}
.b_r {
	BORDER-RIGHT: #ccc 1px solid
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.tguide {
	WIDTH: 315px
}
.tg_title {
	BACKGROUND: url(../img/bg_tg_title.jpg); WIDTH: 315px; HEIGHT: 26px
}
H4.tg_guide {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: url(../img/bg_tguide.jpg); MARGIN: 5px 0px 0px 5px; WIDTH: 80px; COLOR: #f00; LINE-HEIGHT: 21px; HEIGHT: 21px; TEXT-ALIGN: center
}
P.tg_vip {
	PADDING-RIGHT: 10px; MARGIN-TOP: 6px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 15px; PADDING-TOP: 0px
}
.tg_list {
	PADDING-BOTTOM: 5px; WIDTH: 315px; LINE-HEIGHT: 18px; BORDER-BOTTOM: #ccc 1px dotted
}
.tgl_l {
	BACKGROUND: #fff; WIDTH: 60px; COLOR: #39f; TEXT-ALIGN: center
}
.tgl_r {
	WIDTH: 250px
}
.tgl_r A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.con_t4 {
	FONT-SIZE: 12px; WIDTH: 615px
}
.con_down {
	WIDTH: 315px; HEIGHT: 485px
}
.comm_title {
	WIDTH: 100%; BORDER-BOTTOM: #ccc 1px dotted; HEIGHT: 25px
}
P.comm_t {
	PADDING-RIGHT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: url(../images/list_01.jpg) no-repeat right center; FLOAT: left; LINE-HEIGHT: 25px
}
.cl_swap {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 305px; PADDING-TOP: 5px
}
.cl_swap UL {
	
}
.cl_swap LI {
	BORDER-RIGHT: #eee 1px solid; BORDER-TOP: #eee 1px solid; DISPLAY: inline; FONT-SIZE: 0.8em; FLOAT: left; MARGIN: 1% 0px 0px 1%; BORDER-LEFT: #eee 1px solid; WIDTH: 31.5%; LINE-HEIGHT: 23px; BORDER-BOTTOM: #eee 1px solid; BACKGROUND-COLOR: #eee; TEXT-ALIGN: center
}
.cl_swap LI.swap_on {
	BORDER-RIGHT: #888 1px solid; BORDER-TOP: #888 1px solid; BACKGROUND: #fbf2d6; BORDER-LEFT: #888 1px solid; BORDER-BOTTOM: #888 1px solid
}
.cswap_con {
	PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px dotted; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px dotted
}
.cswap_con UL {
	
}
.cswap_con LI {
	PADDING-LEFT: 25px; FONT-SIZE: 12px; BACKGROUND: url(../images/ico_down.gif) no-repeat 6px 7px; WIDTH: 275px; LINE-HEIGHT: 26px; LIST-STYLE-TYPE: none
}
.down_adv {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.down_adv IMG {
	BORDER-TOP-WIDTH: 0px; DISPLAY: block; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.v_list {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 945px; BORDER-BOTTOM: #ccc 1px solid
}
.v_title {
	PADDING-RIGHT: 17px; PADDING-LEFT: 17px; FONT-SIZE: 13px; BACKGROUND: url(../images/bg_vt.jpg) no-repeat 10px 10px; PADDING-BOTTOM: 30px; WIDTH: 15px; COLOR: #fff; PADDING-TOP: 30px; HEIGHT: 100px; TEXT-ALIGN: center
}
.v_block {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 148px; PADDING-TOP: 20px; HEIGHT: 130px
}
.v_block P {
	FONT-SIZE: 12px; LINE-HEIGHT: 35px; TEXT-ALIGN: center
}
.pic_art {
	FLOAT: left; WIDTH: 132px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
.pic_art_img IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 100px; HEIGHT: 80px; BORDER-RIGHT-WIDTH: 0px
}
.pic_art_title {
	FONT-SIZE: 0.8em; LINE-HEIGHT: 35px
}
.train_con {
	WIDTH: 100%
}
.tr_img {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 5px; WIDTH: 635px; PADDING-TOP: 5px
}
.timg_t {
	BACKGROUND: url(../img/bg_timg_t.gif); WIDTH: 635px; LINE-HEIGHT: 25px; HEIGHT: 27px
}
.timg_t UL {
	
}
.timg_t LI {
	FLOAT: left; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
.timg_t LI A {
	DISPLAY: block; WIDTH: 98px; HEIGHT: 26px
}
.timg_t LI.timg_on {
	BORDER-RIGHT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; DISPLAY: block; BACKGROUND: #fff; BORDER-LEFT: #bbb 1px solid; WIDTH: 98px; HEIGHT: 26px
}
.timg_t LI.timg_on A {
	COLOR: #666
}
.timg_t LI.timg_off {
	BACKGROUND: #059; WIDTH: 100px; BORDER-BOTTOM: #bbb 1px solid; HEIGHT: 26px
}
.timg_t LI.timg_off A {
	COLOR: #fff
}
.timg_t LI.timg_off A:hover {
	BACKGROUND: #08c; COLOR: #fff
}
P.tt_link {
	PADDING-RIGHT: 10px; LINE-HEIGHT: 26px
}
.timg_c {
	BORDER-RIGHT: #bbb 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: #fff; PADDING-BOTTOM: 4px; BORDER-LEFT: #bbb 1px solid; WIDTH: 625px; PADDING-TOP: 4px; BORDER-BOTTOM: #bbb 1px solid
}
.timgc {
	BACKGROUND: #fff; WIDTH: 625px; HEIGHT: 135px
}
P.tc_img {
	PADDING-RIGHT: 5px; PADDING-LEFT: 15px; PADDING-BOTTOM: 10px; WIDTH: 145px; TEXT-INDENT: 0px; LINE-HEIGHT: 23px; PADDING-TOP: 10px
}
.timg_x {
	WIDTH: 150px; PADDING-TOP: 10px
}
.timg_x P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 35px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.timg_x P IMG {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid
}
.bulletin {
	BACKGROUND: #fff; WIDTH: 635px; HEIGHT: 35px
}
P.tel400 {
	BACKGROUND: url(../active/tel400.jpg); WIDTH: 410px; TEXT-INDENT: -5000em; HEIGHT: 35px
}
P.tel_course {
	BACKGROUND: url(../active/tel_course.jpg); WIDTH: 225px; TEXT-INDENT: -5000em; HEIGHT: 35px
}
P.tel_course A {
	DISPLAY: block; WIDTH: 225px; HEIGHT: 35px
}
.course {
	FONT-SIZE: 0.75em; BACKGROUND: #fff; WIDTH: 285px; HEIGHT: 220px
}
.d_swap {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.d_swap UL {
	
}
.d_swap LI {
	BORDER-RIGHT: #eee 1px solid; BORDER-TOP: #eee 1px solid; DISPLAY: inline; FLOAT: left; MARGIN: 5px; BORDER-LEFT: #eee 1px solid; WIDTH: 45%; COLOR: #f00; LINE-HEIGHT: 21px; BORDER-BOTTOM: #eee 1px solid; BACKGROUND-COLOR: #eee; TEXT-ALIGN: center
}
.d_swap LI.dswap_on {
	BORDER-RIGHT: #888 1px solid; BORDER-TOP: #888 1px solid; BACKGROUND: #fbf2d6; BORDER-LEFT: #888 1px solid; BORDER-BOTTOM: #888 1px solid
}
.d_swap LI A {
	COLOR: #ff0000
}
.d_swap LI A:hover {
	COLOR: #ff9900
}
.ds_con {
	BORDER-TOP: #ccc 1px dotted; MARGIN-TOP: 5px; WIDTH: 100%; BORDER-BOTTOM: #ccc 1px dotted
}
.ds_con UL {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.ds_con LI {
	PADDING-LEFT: 20px; BACKGROUND: url(../img/ico_navi.gif) no-repeat left center; LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none
}
.r_agree {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #eee; PADDING-BOTTOM: 5px; WIDTH: 280px; PADDING-TOP: 5px; HEIGHT: 230px
}
.r_agree P {
	PADDING-TOP: 5px
}
.r_agree P IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.r_expert {
	WIDTH: 315px; BORDER-BOTTOM: #ccc 1px dotted
}
.expert_c {
	PADDING-RIGHT: 0.8em; PADDING-LEFT: 0.8em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
.expert_c P {
	LINE-HEIGHT: 20px
}
.ep_img {
	MARGIN-BOTTOM: 3px; MARGIN-RIGHT: 15px
}
.ep_img IMG {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.book {
	WIDTH: 100%; BORDER-BOTTOM: #ccc 1px dotted
}
.book_x {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.8em; WIDTH: 280px; LINE-HEIGHT: 18px; PADDING-TOP: 0.8em
}
.book_img {
	FLOAT: left; MARGIN-RIGHT: 15px
}
.book_img IMG {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.r_ad {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.hr_info {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: #fff; BORDER-LEFT: #ccc 1px solid; WIDTH: 628px; LINE-HEIGHT: 20px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 28px
}
.hr_con {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; WIDTH: 520px; PADDING-TOP: 4px; HEIGHT: 20px
}
P.hr_t {
	BACKGROUND: #666; WIDTH: 88px; COLOR: #fff; LINE-HEIGHT: 28px; HEIGHT: 28px; TEXT-ALIGN: center
}
TD#scroller1 {
	WIDTH: 520px; HEIGHT: 25px
}
#holder1 {
	Z-INDEX: 100; WIDTH: 520px; POSITION: relative; HEIGHT: 20px
}
DIV#wn1 {
	Z-INDEX: 1; OVERFLOW: hidden; WIDTH: 520px; POSITION: absolute; HEIGHT: 20px
}
DIV#cnt1 {
	Z-INDEX: 1; POSITION: absolute
}
DIV.item {
	FONT-WEIGHT: bold; WIDTH: 500px; COLOR: #666; HEIGHT: 20px
}
.listbgs {
	BACKGROUND-POSITION: 5px 7px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/bullet_4.gif); TEXT-INDENT: 15px; LINE-HEIGHT: 23px; BACKGROUND-REPEAT: no-repeat
}
.show_page {
	FONT-SIZE: 12px; COLOR: #666; LINE-HEIGHT: 30px; TEXT-ALIGN: center
}
.listbgb {
	BACKGROUND-POSITION: 5px 7px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/bullet_4.gif); TEXT-INDENT: 18px; LINE-HEIGHT: 23px; BACKGROUND-REPEAT: no-repeat
}
.txt_b {
	COLOR: #09f
}
.license_bor {
	MARGIN-TOP: 10px; FLOAT: left; PADDING-BOTTOM: 6px; WIDTH: 650px; BACKGROUND-COLOR: #f4f4f4
}
.licenseimg_bor {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: #ccc 1px solid; WIDTH: 638px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 165px; BACKGROUND-COLOR: #fff
}
.licenseimg_cont {
	MARGIN-TOP: 6px; MARGIN-LEFT: 6px; WIDTH: 638px; HEIGHT: 30px; BACKGROUND-COLOR: #fff
}
.licenseimg_cont P {
	FONT-WEIGHT: 600; FONT-SIZE: 14px; MARGIN: 0px; COLOR: #444; LINE-HEIGHT: 30px; TEXT-ALIGN: center
}
.license_img {
	FLOAT: left; MARGIN-LEFT: 20px; WIDTH: 193px
}
.license_img P {
	MARGIN: 0px; LINE-HEIGHT: 18px; TEXT-ALIGN: center
}
.licenseimg_borhome {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: #ccc 1px solid; WIDTH: 638px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 165px; BACKGROUND-COLOR: #fff
}
.licenseimg_borhome TABLE {
	PADDING-RIGHT: 10px; MARGIN-TOP: 10px; FONT-SIZE: 12px; WIDTH: 638px; COLOR: #666
}
.licenseimg_borhome TD {
	WIDTH: 185px; LINE-HEIGHT: 35px
}
.licenseimg_borhome IMG {
	BORDER-RIGHT: #ccc 3px double; BORDER-TOP: #ccc 3px double; BORDER-LEFT: #ccc 3px double; BORDER-BOTTOM: #ccc 3px double
}
.sdpx_list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; WIDTH: 650px; LINE-HEIGHT: 25px; PADDING-TOP: 5px
}
.sdpx_list P {
	BACKGROUND-POSITION: 5px 7px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/bullet_4.gif); TEXT-INDENT: 20px; LINE-HEIGHT: 23px; BACKGROUND-REPEAT: no-repeat
}
.video_list {
	WIDTH: 300px; COLOR: #666; BORDER-BOTTOM: #ccc 1px dotted; HEIGHT: 34px
}
.video_ptitle {
	FONT-WEIGHT: 600; FONT-SIZE: 13px; FLOAT: left; MARGIN: 0px 15px 0px 0px; LINE-HEIGHT: 34px
}
.video_pimg {
	FLOAT: left; MARGIN: 12px 0px 0px
}
.video_pmore {
	FONT-SIZE: 12px; FLOAT: right; MARGIN: 20px 20px 0px 0px; COLOR: #666; LINE-HEIGHT: 24px
}
.video_pmore A {
	COLOR: #336699; TEXT-DECORATION: underline
}
.video_pmore A:hover {
	COLOR: #f90; TEXT-DECORATION: underline
}
.video_fl {
	DISPLAY: inline; FLOAT: left
}
.video_fl TABLE {
	MARGIN-TOP: 5px; FONT-SIZE: 12px; WIDTH: 890px; TEXT-ALIGN: left
}
.video_fl TD {
	LINE-HEIGHT: 35px
}
.s_item {
	MARGIN: 8px 0px 0px; WIDTH: 645px; PADDING-TOP: 3px; HEIGHT: 25px; BACKGROUND-COLOR: #f4f4f4
}
.s_item_title {
	FONT-WEIGHT: 600; FONT-SIZE: 13px; BACKGROUND-IMAGE: url(../images/s_img.jpg); MARGIN: 8px 0px 0px; WIDTH: 645px; COLOR: #fff; TEXT-INDENT: 24px; LINE-HEIGHT: 24px; HEIGHT: 24px
}
.s_item_title P {
	BACKGROUND-POSITION: 8px 7px; BACKGROUND-IMAGE: url(../img/s_listinc.jpg); BACKGROUND-REPEAT: no-repeat
}
.s_cont {
	PADDING-BOTTOM: 10px; MARGIN: 8px 0px 0px; WIDTH: 645px; BACKGROUND-COLOR: #f4f4f4
}
.s_biaoqian {
	BORDER-RIGHT: #ccc 1px dotted; BORDER-TOP: #ccc 1px dotted; PADDING-BOTTOM: 10px; MARGIN: 8px 0px 0px; BORDER-LEFT: #ccc 1px dotted; WIDTH: 643px; BORDER-BOTTOM: #ccc 1px dotted; HEIGHT: 25px; BACKGROUND-COLOR: #f4f4f4
}
.s_cont_title {
	FONT-WEIGHT: 600; FONT-SIZE: 13px; MARGIN-LEFT: 8px; WIDTH: 629px; COLOR: #666; TEXT-INDENT: 5px; LINE-HEIGHT: 30px; BORDER-BOTTOM: #bbb 1px solid; HEIGHT: 30px
}
.s_cont_cont {
	MARGIN-TOP: 10px; FONT-SIZE: 12px; FLOAT: left; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 20px; MARGIN-LEFT: 8px; WIDTH: 629px; COLOR: #666; LINE-HEIGHT: 25px; BORDER-BOTTOM: #bbb 1px solid
}
.s_cont_leftp {
	BACKGROUND-POSITION: 5px 9px; FONT-SIZE: 12px; FLOAT: left; BACKGROUND-IMAGE: url(../img/bullet_4.gif); WIDTH: 400px; TEXT-INDENT: 18px; BORDER-BOTTOM: #bbb 1px dotted; BACKGROUND-REPEAT: no-repeat
}
.s_cont_timep {
	FLOAT: right; MARGIN: 0px; WIDTH: 225px; BORDER-BOTTOM: #bbb 1px dotted
}
.s_itemhome {
	BORDER-RIGHT: #bbb 1px dotted; BORDER-TOP: #bbb 1px dotted; MARGIN: 8px 0px; BORDER-LEFT: #bbb 1px dotted; WIDTH: 648px; PADDING-TOP: 3px; BORDER-BOTTOM: #bbb 1px dotted; HEIGHT: 25px; BACKGROUND-COLOR: #f4f4f4
}
.mapcont {
	FONT-SIZE: 12px; MARGIN: 0px 25px; WIDTH: 600px; COLOR: #666666
}
.maptitlep {
	BORDER-RIGHT: #ccc 1px dotted; BACKGROUND-POSITION: 5px 6px; BORDER-TOP: #ccc 1px dotted; MARGIN-TOP: 25px; FONT-WEIGHT: 600; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../Soft/images/Soft_common5.gif); BORDER-LEFT: #ccc 1px dotted; WIDTH: 600px; COLOR: #666; TEXT-INDENT: 20px; LINE-HEIGHT: 30px; BORDER-BOTTOM: #ccc 1px dotted; BACKGROUND-REPEAT: no-repeat; HEIGHT: 30px; BACKGROUND-COLOR: #fafafa
}
.mapcont_cont {
	FONT-SIZE: 12px; MARGIN: 15px 25px 10px 20px; COLOR: #666666; LINE-HEIGHT: 20px
}
.mapcont_cont A {
	TEXT-DECORATION: underline
}
.mapcont_cont A:hover {
	TEXT-DECORATION: underline
}
.mapcont_cont SPAN {
	FONT-WEIGHT: 100
}
.st_ftcss {
	COLOR: #666
}
#doyooPanel {
	
}
.zhuoti_p {
	BACKGROUND-POSITION: 5px 8px; FONT-WEIGHT: 800; FONT-SIZE: 14px; FLOAT: left; BACKGROUND-IMAGE: url(../images/sub_list.jpg); MARGIN: 0px; WIDTH: 930px; TEXT-INDENT: 24px; BORDER-BOTTOM: #e0e0e0 1px solid; BACKGROUND-REPEAT: no-repeat
}
.z_guanggao {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 15px; FLOAT: left; MARGIN-BOTTOM: 15px; BORDER-LEFT: #ccc 1px solid; WIDTH: 420px; MARGIN-RIGHT: 25px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #fafafa
}
.z_guanggao P {
	FONT-SIZE: 12px; MARGIN: 10px 10px 15px; LINE-HEIGHT: 18px
}
.z_zuoti_cont {
	FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 10px 0px 0px; WIDTH: 935px; COLOR: #666
}
.z_zuoti_cont P {
	BACKGROUND-POSITION: 5px 3px; DISPLAY: inline; FONT-SIZE: 12px; FLOAT: left; BACKGROUND-IMAGE: url(../images/list_02.jpg); MARGIN: 0px 0px 0px 15px; WIDTH: 280px; TEXT-INDENT: 18px; LINE-HEIGHT: 20px; BORDER-BOTTOM: #ddd 1px dashed; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; BACKGROUND-COLOR: #fff
}
.z_video {
	DISPLAY: inline; FLOAT: left; MARGIN: 10px 10px 0px 0px; WIDTH: 145px; POSITION: relative; HEIGHT: 105px
}
.z_video P {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND-IMAGE: none; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; WIDTH: 145px; TEXT-INDENT: 0px; LINE-HEIGHT: 25px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.z_video IMG {
	BORDER-RIGHT: #ccc 3px double; BORDER-TOP: #ccc 3px double; BORDER-LEFT: #ccc 3px double; WIDTH: 105px; BORDER-BOTTOM: #ccc 3px double; HEIGHT: 78px
}
.top_z {
	BACKGROUND-IMAGE: url(../images/bg_top1.gif); MARGIN-LEFT: auto; OVERFLOW: hidden; WIDTH: 940px; MARGIN-RIGHT: auto; HEIGHT: 210px
}
.z_lm_l {
	FLOAT: left; WIDTH: 940px
}
.z_con_c {
	FLOAT: left; WIDTH: 940px
}
.z_con_c P {
	FONT-SIZE: 12px; MARGIN: 10px 20px 15px; COLOR: #666; LINE-HEIGHT: 20px
}
.z_cont_t {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; WIDTH: 940px; COLOR: #36c; LINE-HEIGHT: 30px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.z_cont_ti {
	FLOAT: left; WIDTH: 940px; COLOR: #666; LINE-HEIGHT: 30px; BACKGROUND-COLOR: #f5f5f5
}
.z_cont_ti UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 240px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.z_cont_ti LI {
	FONT-SIZE: 12px; FLOAT: left; LINE-HEIGHT: 30px; LIST-STYLE-TYPE: none
}
.z_cont_ti LI.cont_tt {
	PADDING-RIGHT: 5px
}
.z_cont_ti LI.cont_tc {
	PADDING-RIGHT: 10px
}
.z_lm_l A {
	FONT-SIZE: 12px; COLOR: #0000cc; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.z_lm_l A:visited {
	FONT-SIZE: 12px; COLOR: #666; TEXT-DECORATION: none
}
.z_itemhome {
	BORDER-RIGHT: #bbb 1px dotted; BORDER-TOP: #bbb 1px dotted; MARGIN: 8px 0px 0px; BORDER-LEFT: #bbb 1px dotted; WIDTH: 943px; PADDING-TOP: 3px; BORDER-BOTTOM: #bbb 1px dotted; HEIGHT: 25px; BACKGROUND-COLOR: #f40000
}
.z_banner {
	MARGIN-TOP: 10px; WIDTH: 943px; HEIGHT: 264px
}
.z_banner IMG {
	WIDTH: 947px
}
.z_cont_title {
	FONT-WEIGHT: 600; FONT-SIZE: 14px; MARGIN: 10px 0px 0px; WIDTH: 943px; COLOR: #f00; TEXT-INDENT: 5px; LINE-HEIGHT: 30px; BORDER-BOTTOM: #ccc 1px dotted; HEIGHT: 30px
}
.enet_list {
	BORDER-TOP: #ccc 1px dotted; MARGIN-TOP: 10px; FONT-SIZE: 12px; FLOAT: left; BACKGROUND-IMAGE: url(../img/enet_soft.jpg); WIDTH: 645px; TEXT-INDENT: 5px; LINE-HEIGHT: 30px; BACKGROUND-REPEAT: repeat-x
}
.enet_list_title {
	FLOAT: left; MARGIN: 0px; WIDTH: 265px; LINE-HEIGHT: 30px
}
.enet_cont {
	FLOAT: left; MARGIN: 0px 10px 0px 5px; WIDTH: 420px; TEXT-INDENT: 24px; LINE-HEIGHT: 18px
}
.enet_big {
	FLOAT: left; MARGIN: 0px 10px 0px 0px; WIDTH: 60px; LINE-HEIGHT: 30px
}
.enet_time {
	FONT-SIZE: 12px; FLOAT: right; MARGIN: 0px; WIDTH: 120px; COLOR: #f00; LINE-HEIGHT: 30px
}
.enet_img {
	MARGIN-TOP: 2px; FLOAT: left; WIDTH: 75px
}
.enet_img IMG {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 75px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 65px
}
.enet_down {
	FLOAT: right; WIDTH: 90px; HEIGHT: 30px
}
.enet_clear {
	CLEAR: both
}
.enet_alist {
	BACKGROUND-POSITION: 5px 10px; BORDER-TOP: #ccc 1px dotted; PADDING-LEFT: 20px; FONT-SIZE: 12px; FLOAT: left; BACKGROUND-IMAGE: url(../img/bullet_4.gif); WIDTH: 625px; LINE-HEIGHT: 30px; BACKGROUND-REPEAT: no-repeat
}
.enet_alist_title {
	FLOAT: left; MARGIN: 0px; WIDTH: 420px; LINE-HEIGHT: 30px
}
.enet_abig {
	FLOAT: left; MARGIN: 0px 10px 0px 0px; WIDTH: 60px; LINE-HEIGHT: 30px
}
.enet_atime {
	FONT-SIZE: 12px; FLOAT: right; MARGIN: 0px; WIDTH: 120px; COLOR: #f00; LINE-HEIGHT: 30px
}
.license_left {
	FLOAT: left; PADDING-BOTTOM: 15px; WIDTH: 715px
}
.license_right {
	FLOAT: right; BACKGROUND-IMAGE: url(../img/right_bg.jpg); PADDING-BOTTOM: 15px; WIDTH: 212px; BACKGROUND-REPEAT: no-repeat
}
.right_bg {
	BACKGROUND-IMAGE: url(../img/right_bg.gif); MARGIN: 13px 0px 0px 18px; WIDTH: 181px; BACKGROUND-REPEAT: no-repeat
}
.right_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; WIDTH: 161px; PADDING-TOP: 10px
}
.license_navr {
	BORDER-RIGHT: #56a5a9 1px solid; BACKGROUND-POSITION: 5px 3px; BORDER-TOP: #56a5a9 1px solid; MARGIN: 8px 0px 0px 11px; BORDER-LEFT: #56a5a9 1px solid; WIDTH: 157px; BORDER-BOTTOM: #56a5a9 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px
}
.license_navr P {
	FONT-WEIGHT: 900; FONT-SIZE: 13px; MARGIN: 0px; COLOR: #666; TEXT-INDENT: 27px; LINE-HEIGHT: 22px
}
.right_img {
	MARGIN: 13px 0px 0px 10px; WIDTH: 161px; HEIGHT: 125px
}
.licenseleft_title {
	WIDTH: 715px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 59px
}
.licenseleft_title P {
	FONT-WEIGHT: 900; FONT-SIZE: 14px; MARGIN: 0px 0px 0px 75px; PADDING-TOP: 22px
}
.licenseleft_cont {
	MARGIN-LEFT: 73px; WIDTH: 662px
}
.licenseleft_cont P {
	DISPLAY: inline; FONT-SIZE: 12px; FLOAT: left; MARGIN: 0px 20px 10px 0px; WIDTH: 134px; LINE-HEIGHT: 25px; HEIGHT: 115px; TEXT-ALIGN: center
}
.licenseleft_cont IMG {
	BORDER-RIGHT: #ccc 3px double; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 3px double; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ccc 3px double; WIDTH: 134px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 3px double; HEIGHT: 91px
}
.licenseleft_avtion {
	MARGIN-LEFT: 73px; WIDTH: 640px
}
.licenseleft_avtion P {
	BACKGROUND-POSITION: 5px 8px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/license_list01.gif); MARGIN: 0px; WIDTH: 630px; COLOR: #666; TEXT-INDENT: 24px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #ccc 1px dotted; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px
}
.licenseleft_licont {
	MARGIN-LEFT: 73px; WIDTH: 640px
}
.licenseleft_licont P {
	FONT-SIZE: 12px; MARGIN: 0px; WIDTH: 630px; LINE-HEIGHT: 18px
}
.licenseleft_contt {
	MARGIN-LEFT: 73px; WIDTH: 620px
}
.advert {
	BACKGROUND-IMAGE: url(../img/Advert_bg.jpg); WIDTH: 925px; HEIGHT: 140px
}
.advert_list {
	DISPLAY: inline; FLOAT: left; MARGIN: 3px 86px 0px 0px; WIDTH: 185px; HEIGHT: 125px
}
.advert_list P {
	MARGIN: 3px 0px 0px 28px
}
.advert_list IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 11px 0px 0px; BORDER-RIGHT-WIDTH: 0px
}
.active_top {
	OVERFLOW: hidden
}
.active_cont {
	BACKGROUND-IMAGE: url(../active/gonggao_middle.gif); WIDTH: 290px; BACKGROUND-REPEAT: repeat-y; HEIGHT: 305px
}
.gonggao_t {
	MARGIN-LEFT: 20px; WIDTH: 270px
}
.gonggao_t P {
	BACKGROUND-POSITION: 5px 0px; FONT-WEIGHT: 600; FONT-SIZE: 15px; BACKGROUND-IMAGE: url(../active/gonggao_list.gif); MARGIN: 0px; COLOR: #f00; TEXT-INDENT: 50px; LINE-HEIGHT: 34px; BACKGROUND-REPEAT: no-repeat
}
.gonggao_c {
	MARGIN-LEFT: 20px; WIDTH: 270px
}
.gonggao_c P {
	BACKGROUND-POSITION: 5px 5px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/announce_1.gif); MARGIN: 0px; TEXT-INDENT: 25px; LINE-HEIGHT: 25px; BACKGROUND-REPEAT: no-repeat
}
.index_l {
	DISPLAY: inline; FONT-SIZE: 15px; FLOAT: left; MARGIN: 20px 0px 0px 20px; WIDTH: 200px; LINE-HEIGHT: 33px; HEIGHT: 30px
}
.index_l IMG {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; FLOAT: left; MARGIN: 0px 10px; BORDER-LEFT: #ccc 1px solid; WIDTH: 65px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 32px
}
.tujiandaodu {
	FONT-SIZE: 12px; MARGIN: 0px auto; WIDTH: 256px; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.xgxz {
	BACKGROUND-POSITION: 0px 5px; PADDING-LEFT: 15px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/bullet_4.gif); MARGIN-LEFT: 10px; WIDTH: 265px; COLOR: #666666; LINE-HEIGHT: 18px; BORDER-BOTTOM: #ccc 1px dotted; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
.xgxz_g {
	BACKGROUND-POSITION: 0px 9px; PADDING-LEFT: 15px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../img/bullet_4.gif); MARGIN-LEFT: 10px; COLOR: #666666; LINE-HEIGHT: 22px; BORDER-BOTTOM: #ccc 1px dotted; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
.xgxz_gzs {
	BACKGROUND-POSITION: 0px 9px; PADDING-LEFT: 15px; FONT-SIZE: 12px; FLOAT: left; BACKGROUND-IMAGE: url(../img/bullet_4.gif); MARGIN-LEFT: 20px; WIDTH: 680px; COLOR: #666666; LINE-HEIGHT: 25px; BORDER-BOTTOM: #ccc 1px dotted; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
.xgxz_gzss {
	BACKGROUND-POSITION: 0px 9px; PADDING-LEFT: 15px; FONT-SIZE: 12px; FLOAT: left; BACKGROUND-IMAGE: url(../img/bullet_4.gif); MARGIN-LEFT: 20px; WIDTH: 510px; COLOR: #666666; LINE-HEIGHT: 25px; BORDER-BOTTOM: #ccc 1px dotted; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
.sd_top {
	BACKGROUND-IMAGE: url(../images/sd/top_bg.jpg); MARGIN: 0px auto; WIDTH: 950px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 215px
}
.sd_navr {
	DISPLAY: inline; MARGIN: 40px 0px 0px 210px; WIDTH: 700px; HEIGHT: 40px
}
.sd_navr UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sd_navr LI {
	FONT-WEIGHT: 600; FONT-SIZE: 13px; FLOAT: left; BACKGROUND-IMAGE: url(../images/sd/navr_m.gif); OVERFLOW: hidden; LINE-HEIGHT: 40px; LIST-STYLE-TYPE: none; HEIGHT: 40px; TEXT-ALIGN: center
}
.sub_navr {
	BACKGROUND-IMAGE: url(../images/sd/navr_bg.gif); MARGIN: 71px 30px 0px 0px; WIDTH: 160px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 64px
}
.sub_p {
	FONT-SIZE: 12px; FLOAT: left; MARGIN: 3px 0px 0px; WIDTH: 53px; LINE-HEIGHT: 20px; HEIGHT: 20px; TEXT-ALIGN: center
}
.sub_n {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px 5px; WIDTH: 37px; HEIGHT: 35px
}
.sub_n A {
	DISPLAY: block; WIDTH: 37px; HEIGHT: 35px
}
.sub_n A:hover {
	DISPLAY: block; WIDTH: 37px; HEIGHT: 35px
}
.sd_main {
	MARGIN: 0px auto; WIDTH: 950px
}
.sd_m {
	WIDTH: 950px; BACKGROUND-COLOR: #fff
}
.sd_left {
	BACKGROUND-IMAGE: url(../images/sd/sd_bg.gif); WIDTH: 207px
}
.sd_l1 {
	BACKGROUND-IMAGE: url(../images/sd/left_bg01.gif); OVERFLOW: hidden; WIDTH: 207px; HEIGHT: 264px
}
.sd_l1 P {
	FONT-SIZE: 12px; MARGIN: 6px 0px 0px 27px; WIDTH: 160px; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.sd_zst {
	OVERFLOW: hidden; WIDTH: 207px; HEIGHT: 37px
}
.sd_zsm {
	DISPLAY: inline; WIDTH: 200px
}
.sd_zsm IMG {
	BORDER-RIGHT: #ccc 3px double; BORDER-TOP: #ccc 3px double; DISPLAY: inline; MARGIN: 10px 0px 0px 16px; OVERFLOW: hidden; BORDER-LEFT: #ccc 3px double; WIDTH: 168px; BORDER-BOTTOM: #ccc 3px double; HEIGHT: 111px
}
.sd_zsm P {
	FONT-SIZE: 12px; MARGIN: 0px 0px 0px 16px; WIDTH: 168px; COLOR: #666; LINE-HEIGHT: 30px; HEIGHT: 30px; TEXT-ALIGN: center
}
.sd_right {
	WIDTH: 740px
}
.sd_rmt {
	MARGIN-TOP: 2px; BACKGROUND-IMAGE: url(../images/sd/rt_bg.gif); WIDTH: 740px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 25px
}
.sd_rmt P {
	BACKGROUND-POSITION: 5px 4px; BACKGROUND-IMAGE: url(../images/sd/rt_ti.gif); TEXT-INDENT: 24px; LINE-HEIGHT: 25px; BACKGROUND-REPEAT: no-repeat
}
.sd_con_tx {
	FLOAT: right; MARGIN: 15px auto 0px; WIDTH: 700px
}
.sd_con_tx P {
	MARGIN: 15px 0px 0px; WIDTH: 700px; TEXT-INDENT: 24px; LINE-HEIGHT: 22px
}
.mian_01 {
	MARGIN-TOP: 10px; WIDTH: 730px; HEIGHT: 700px
}
.m_right {
	WIDTH: 213px; HEIGHT: 336px
}
.m_rl1 {
	WIDTH: 213px; HEIGHT: 336px
}
.m_rl2 {
	MARGIN-TOP: 15px; WIDTH: 213px; HEIGHT: 158px
}
.m_rt {
	BACKGROUND-IMAGE: url(../images/sd/m_rl2bg.jpg); WIDTH: 213px; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.m_rm {
	MARGIN: 5px 0px 0px 5px; WIDTH: 200px
}
.m_rm P {
	MARGIN: 0px; LINE-HEIGHT: 20px
}
.m_left {
	DISPLAY: inline; MARGIN-LEFT: 5px; WIDTH: 495px
}
.m_ll1 {
	WIDTH: 495px; HEIGHT: 300px
}
.m_lt {
	BACKGROUND-POSITION: 3px 5px; BACKGROUND-IMAGE: url(../images/sd/m_llist.jpg); WIDTH: 495px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px
}
.m_lt P {
	FONT-SIZE: 13px; MARGIN: 0px; LINE-HEIGHT: 25px; HEIGHT: 18px
}
.m_ll2 {
	WIDTH: 495px; HEIGHT: 180px
}
.m_lmt {
	MARGIN: 5px 0px 0px 5px; WIDTH: 485px; HEIGHT: 150px
}
.m_lmt P {
	BACKGROUND-POSITION: 3px 6px; BACKGROUND-IMAGE: url(../images/sd/meat_list.gif); MARGIN: 0px; TEXT-INDENT: 20px; LINE-HEIGHT: 22px; BORDER-BOTTOM: #ddd 1px dotted; BACKGROUND-REPEAT: no-repeat
}
.m_lmt A {
	TEXT-DECORATION: none
}
.m_tj {
	WIDTH: 495px; HEIGHT: 100px
}
.tj_img {
	MARGIN: 10px 0px 0px 10px; WIDTH: 111px; HEIGHT: 81px
}
.tj_meat {
	MARGIN: 10px 10px 0px 0px; WIDTH: 350px; HEIGHT: 80px
}
.tj_meat P {
	MARGIN: 0px; LINE-HEIGHT: 18px
}
.sd_book {
	MARGIN-TOP: 15px; WIDTH: 495px
}
.sd_mb {
	BACKGROUND-IMAGE: url(../images/sd/book_m.gif); WIDTH: 455px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 154px
}
.sd_bkt {
	BACKGROUND-POSITION: 0px 5px; FONT-WEIGHT: 600; FONT-SIZE: 13px; BACKGROUND-IMAGE: url(../images/sd/bookt.gif); WIDTH: 450px; TEXT-INDENT: 24px; LINE-HEIGHT: 30px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 30px
}
.sd_bkm {
	WIDTH: 450px; HEIGHT: 120px
}
.book_m {
	DISPLAY: inline; MARGIN: 0px 10px 0px 5px; WIDTH: 205px; HEIGHT: 120px
}
.book_m IMG {
	BORDER-RIGHT: #ccc 3px double; BORDER-TOP: #ccc 3px double; FLOAT: left; MARGIN: 5px 10px 0px 0px; BORDER-LEFT: #ccc 3px double; BORDER-BOTTOM: #ccc 3px double; TEXT-ALIGN: left
}
.book_m P {
	MARGIN: 10px 0px 0px; LINE-HEIGHT: 17px
}
.mian_02 {
	MARGIN-TOP: 5px; WIDTH: 730px; HEIGHT: 180px
}
.sd_cont_txt {
	PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px dotted; DISPLAY: inline; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px auto 0px; WIDTH: 700px; PADDING-TOP: 5px
}
.sd_cont_txtp {
	BACKGROUND-POSITION: 3px 2px; DISPLAY: inline; FLOAT: left; BACKGROUND-IMAGE: url(/images/article_ontop.gif); MARGIN: 0px 30px 0px 0px; WIDTH: 300px; TEXT-INDENT: 17px; LINE-HEIGHT: 20px; BACKGROUND-REPEAT: no-repeat
}
.sd_ciso {
	WIDTH: 350px; BACKGROUND-COLOR: #f4f4f4
}
