A.link_w:link {
	COLOR: #fff; TEXT-DECORATION: none
}
A.link_w:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
A.link_w:hover {
	COLOR: #ff0; TEXT-DECORATION: underline
}
A.link_w:active {
	COLOR: #f60; TEXT-DECORATION: none
}
A.link_wu:link {
	COLOR: #fff
}
A.link_wu:visited {
	COLOR: #fff
}
A.link_wu:hover {
	COLOR: #ff0; TEXT-DECORATION: none
}
A.link_wu:active {
	COLOR: #f60; TEXT-DECORATION: none
}
A.link_gy:link {
	COLOR: #666; TEXT-DECORATION: none
}
A.link_gy:visited {
	COLOR: #666
}
A.link_gy:hover {
	COLOR: #f90; TEXT-DECORATION: none
}
A.link_gy:active {
	COLOR: #f00; TEXT-DECORATION: none
}
A.link_gn:link {
	COLOR: #666; TEXT-DECORATION: none
}
A.link_gn:visited {
	COLOR: #666; TEXT-DECORATION: none
}
A.link_gn:hover {
	COLOR: #f90; TEXT-DECORATION: underline
}
A.link_gn:active {
	COLOR: #f00; TEXT-DECORATION: none
}
A.link_b:link {
	COLOR: #0675bc
}
A.link_b:visited {
	COLOR: #09f
}
A.link_b:hover {
	COLOR: #f60; TEXT-DECORATION: none
}
A.link_b:active {
	COLOR: #f00; TEXT-DECORATION: none
}
A.link_r:link {
	FONT-WEIGHT: 600; FONT-SIZE: 12px; COLOR: #f00; TEXT-DECORATION: none
}
A.link_r:visited {
	FONT-WEIGHT: 600; FONT-SIZE: 12px; COLOR: #f00; TEXT-DECORATION: none
}
A.link_r:hover {
	FONT-WEIGHT: 600; FONT-SIZE: 12px; COLOR: #f60; TEXT-DECORATION: underline
}
A.link_r:active {
	FONT-WEIGHT: 600; FONT-SIZE: 12px; COLOR: #f00
}
A:link {
	COLOR: #666
}
A:visited {
	COLOR: #0675bc; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f90; TEXT-DECORATION: underline
}
A:active {
	COLOR: #f00; TEXT-DECORATION: none
}
.txt_r {
	COLOR: #f00
}
A.link_b1:link {
	COLOR: #0860a8
}
A.link_b1:visited {
	COLOR: #0860a8
}
A.link_b1:hover {
	COLOR: #f60; TEXT-DECORATION: none
}
A.link_b1:active {
	COLOR: #f00; TEXT-DECORATION: none
}
A.linkadvert_list:link {
	FONT-WEIGHT: 600; FONT-SIZE: 14px; COLOR: #fff; TEXT-DECORATION: none
}
A.linkadvert_list:visited {
	FONT-WEIGHT: 600; FONT-SIZE: 14px; COLOR: #fff; TEXT-DECORATION: none
}
A.linkadvert_list:hover {
	FONT-WEIGHT: 600; FONT-SIZE: 14px; COLOR: #fff; TEXT-DECORATION: underline
}
A.linkadvert_list:active {
	FONT-WEIGHT: 600; FONT-SIZE: 14px; COLOR: #fff; TEXT-DECORATION: none
}
A.link15_r:link {
	FONT-WEIGHT: 600; FONT-SIZE: 15px; COLOR: #f00; TEXT-DECORATION: none
}
A.link15_r:visited {
	FONT-WEIGHT: 600; FONT-SIZE: 15px; COLOR: #f00; TEXT-DECORATION: none
}
A.link15_r:hover {
	FONT-WEIGHT: 600; FONT-SIZE: 15px; COLOR: #fff; TEXT-DECORATION: underline
}
A.link15_r:active {
	FONT-WEIGHT: 600; FONT-SIZE: 15px; COLOR: #f00; TEXT-DECORATION: none
}
A.link14_r:link {
	FONT-WEIGHT: 600; FONT-SIZE: 14px; COLOR: #f00; TEXT-DECORATION: none
}
A.link14_r:visited {
	FONT-WEIGHT: 600; FONT-SIZE: 14px; COLOR: #f00; TEXT-DECORATION: none
}
A.link14_r:hover {
	FONT-WEIGHT: 600; FONT-SIZE: 14px; COLOR: #f90; TEXT-DECORATION: underline
}
A.link14_r:active {
	FONT-WEIGHT: 600; FONT-SIZE: 14px; COLOR: #f00; TEXT-DECORATION: none
}
A.link_soft:link {
	COLOR: #36c; TEXT-DECORATION: none
}
A.link_soft:visited {
	COLOR: #36c; TEXT-DECORATION: none
}
A.link_soft:hover {
	COLOR: #f36c00; TEXT-DECORATION: underline
}
A.link_soft:active {
	COLOR: #36c; TEXT-DECORATION: none
}
