 {
	LINE-HEIGHT: 130%
}
HTML {
	BORDER-TOP-WIDTH: 0px; OVERFLOW-Y: scroll; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UNKNOWN {
	CLEAR: both; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H3 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H4 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
B {
	FONT-WEIGHT: bold
}
STRONG {
	FONT-WEIGHT: bold
}
BODY {
	FONT: 12px Verdana, Arial, Helvetica, "宋体", sans-serif; COLOR: #333
}
TABLE {
	FONT: 12px Verdana, Arial, Helvetica, "宋体", sans-serif; COLOR: #333
}
A {
	FONT: 12px Verdana, Arial, Helvetica, "宋体", sans-serif; COLOR: #333
}
INPUT {
	FONT: 12px Verdana, Arial, Helvetica, "宋体", sans-serif; COLOR: #333
}
TEXTAREA {
	FONT: 12px Verdana, Arial, Helvetica, "宋体", sans-serif; COLOR: #333
}
SELECT {
	FONT: 12px Verdana, Arial, Helvetica, "宋体", sans-serif; COLOR: #333
}
BODY {
	BACKGROUND: #eee
}
A {
	TEXT-DECORATION: underline
}
A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
A:unknown {
	moz-outline-style: none
}
A.texta {
	COLOR: #333
}
TEXTAREA {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: white
}
SELECT {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: white
}
INPUT.text {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 16px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: white
}
INPUT.button {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ccc 1px solid; CURSOR: pointer; LINE-HEIGHT: 18px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: white
}
INPUT.button-submit {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ccc 1px solid; CURSOR: pointer; COLOR: red; LINE-HEIGHT: 18px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: white
}
.targeter {
	BORDER-RIGHT: red 1px dashed; PADDING-RIGHT: 2px; BORDER-TOP: red 1px dashed; PADDING-LEFT: 2px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 2px; BORDER-LEFT: red 1px dashed; PADDING-TOP: 2px; BORDER-BOTTOM: red 1px dashed
}
.infoBox {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #ccc 1px solid; COLOR: #333; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #ffffe1
}
.clear {
	CLEAR: both; BORDER-TOP: transparent 0px solid; MARGIN-TOP: 0px; VISIBILITY: hidden
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
UNKNOWN {
	DISPLAY: inline-block; WIDTH: 100%
}
 HTML .clearfix {
	HEIGHT: 1%
}
UNKNOWN {
	MIN-HEIGHT: 1%
}
#wrapper {
	
}
#innerWrapper {
	WIDTH: 950px
}
#topPadding {
	LINE-HEIGHT: 1px; HEIGHT: 5px
}
#header {
	BACKGROUND: url(images/headerBg.jpg) white no-repeat left top; HEIGHT: 100px
}
#innerHeader {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; PADDING-BOTTOM: 5px; PADDING-TOP: 25px
}
#navBar {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: url(images/navBarBg.jpg) white repeat-x 50% top; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px; HEIGHT: 33px
}
#innerNavBar {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#indiBar {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px; BACKGROUND: url(images/indiBarBg.jpg) white repeat-x 50% top; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 38px
}
#innerIndiBar {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; PADDING-BOTTOM: 0px; PADDING-TOP: 9px
}
#neckWrapper {
	DISPLAY: none
}
#mainWrapper {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px; BACKGROUND: #f9f9f9; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
#articleContent {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; PADDING-BOTTOM: 20px; PADDING-TOP: 10px
}
#articleInnerContent {
	OVERFLOW: hidden; WIDTH: 100%
}
#footer {
	CLEAR: both
}
#innerFooter {
	PADDING-RIGHT: 40px; PADDING-LEFT: 40px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
#blogLogo {
	DISPLAY: none
}
#blogTitle {
	FLOAT: left
}
#blogTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}
#blogTitle A {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}
#blogTitle INPUT {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}
#blogUrl {
	MARGIN-TOP: 3px; FLOAT: left; MARGIN-LEFT: 10px
}
#blogUrl A {
	MARGIN: 0px 5px
}
#blogUrl .navUrl IMG {
	MARGIN-RIGHT: 3px
}
#blogDesc {
	CLEAR: both; WORD-BREAK: break-all; PADDING-TOP: 20px
}
#playerBox {
	DISPLAY: none
}
#navBar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#navBar LI {
	MARGIN-TOP: 9px; FLOAT: left; LIST-STYLE-TYPE: none
}
#mainNav {
	FLOAT: left
}
#mainNav UL {
	DISPLAY: block; FLOAT: left
}
#mainNav LI {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 8px; BACKGROUND: #eee; LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 4px 2px 0px 0px; BORDER-LEFT: #ccc 1px solid; CURSOR: pointer; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px; TOP: 0px
}
#mainNav LI.active {
	BORDER-TOP-WIDTH: 2px; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 5px; MARGIN: 2px 2px 0px 0px; CURSOR: auto; BORDER-TOP-COLOR: #3499cc; PADDING-TOP: 4px
}
#mainNav LI.private {
	BACKGROUND: #fff6cc
}
#mainNav LI.hover {
	BORDER-LEFT-COLOR: red; BORDER-BOTTOM-COLOR: red; BORDER-TOP-COLOR: red; BORDER-RIGHT-COLOR: red
}
#mainNav LI.dropmarker {
	BORDER-RIGHT: red 1px solid; PADDING-RIGHT: 0px! important; BORDER-TOP: red 1px solid; PADDING-LEFT: 0px! important; BORDER-LEFT: red 1px solid; CURSOR: default; BORDER-BOTTOM: red 1px solid
}
#mainNav LI .pageIcon {
	FLOAT: left; MARGIN: 3px 3px 0px 0px; WIDTH: 16px; HEIGHT: 16px
}
#mainNav LI .pageTitle {
	MARGIN-TOP: 4px; FONT-WEIGHT: bold; FLOAT: left; CURSOR: pointer; WHITE-SPACE: nowrap
}
#mainNav LI .pageTitleHover {
	BACKGROUND-COLOR: #ddd
}
#mainNav LI INPUT {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN: 1px 0px -1px; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 14px
}
#mainNav LI .pageCls {
	BACKGROUND: url(images/ico_pageCls.gif); FLOAT: left; MARGIN: 1px 0px 4px 6px; WIDTH: 11px; CURSOR: pointer; HEIGHT: 11px
}
#mainNav LI .pageClsHover {
	BACKGROUND-COLOR: #ddd
}
#mainNav LI .pageOpt {
	BACKGROUND: url(images/ico_pageOpt.gif); FLOAT: left; MARGIN: 12px 0px -6px -11px; WIDTH: 11px; CURSOR: pointer; HEIGHT: 11px
}
#mainNav LI .pageOptHover {
	BACKGROUND-COLOR: #ddd
}
#mainNav #newPageBtn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(images/ico_addPage.gif) no-repeat left center; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 11px 0px 0px 4px; PADDING-TOP: 0px
}
#mainNav A {
	TEXT-DECORATION: none
}
#mainNav A SPAN {
	MARGIN-TOP: 4px; DISPLAY: block; FONT-WEIGHT: bold; FLOAT: left; CURSOR: pointer; PADDING-TOP: 3px; WHITE-SPACE: nowrap
}
#optionNav {
	FLOAT: right
}
#optionNav LI {
	MARGIN-LEFT: 20px; POSITION: relative
}
#optionNav LI IMG.new {
	RIGHT: -8px; WIDTH: auto; POSITION: absolute; TOP: -8px; HEIGHT: auto
}
#optionNav A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: no-repeat left center; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
#navBar A.navNewMod {
	BACKGROUND-IMAGE: url(images/ico_mod.gif)
}
#navBar A.navEditTheme {
	BACKGROUND-IMAGE: url(images/ico_theme.gif)
}
#navBar A.navSysOpt {
	BACKGROUND-IMAGE: url(images/ico_sys.gif)
}
#navBar .navSysArrow {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(images/ico_submenushow.gif) center 50%; PADDING-BOTTOM: 0px; MARGIN: 1px 1px 1px 3px; BORDER-LEFT: #ccc 1px solid; CURSOR: pointer; PADDING-TOP: 0px
}
#navBar .navSysArrow-over {
	BACKGROUND-COLOR: #ddd
}
.menuSub-div {
	BORDER-RIGHT: #ccc 2px solid; BORDER-TOP: #ccc 2px solid; BACKGROUND: white; BORDER-LEFT: #ccc 2px solid; BORDER-BOTTOM: #ccc 2px solid
}
.menuSub-div  {
	FONT: 12px Verdana, Arial, Helvetica, "宋体", sans-serif; COLOR: #333
}
.menuSub-div A {
	COLOR: #333! important; TEXT-DECORATION: underline
}
.menuSub-div A:hover {
	COLOR: red! important; TEXT-DECORATION: underline
}
.menuSub-div INPUT.text {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; COLOR: #333; LINE-HEIGHT: 16px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: white
}
.menuSub-div INPUT.button {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ccc 1px solid; CURSOR: pointer; COLOR: #333; LINE-HEIGHT: 18px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: white
}
.menuSub-div INPUT.button-submit {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ccc 1px solid; CURSOR: pointer; COLOR: red; LINE-HEIGHT: 18px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: white
}
.menuSub-div FIELDSET {
	MARGIN: 5px 5px 10px
}
.menuSub-div LEGEND {
	MARGIN-BOTTOM: 0px
}
.menuSub-div .btnfield {
	MARGIN: 10px
}
.subMenu-maintitle {
	PADDING-RIGHT: 2px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 0px 2px 5px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid
}
.subMenu-maintitle .cls {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: url(images/ico_cls.gif) no-repeat center 50%; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 16px; CURSOR: pointer; PADDING-TOP: 0px; HEIGHT: 16px
}
.subMenu-content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.subMenu-content .more {
	PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 5px 2px 0px; PADDING-TOP: 5px; TEXT-ALIGN: right
}
.subMenu-btnfield {
	PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px 2px 0px; PADDING-TOP: 5px
}
.subMenu-btnfield .button-submit {
	MARGIN-RIGHT: 10px
}
.subMenu-title {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: left center; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; MARGIN: 5px 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #ddd 1px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #eee
}
.subMenu-title-out {
	BACKGROUND-IMAGE: url(images/ico_submenuhide.gif)
}
.subMenu-title-active {
	BACKGROUND-IMAGE: url(images/ico_submenushow.gif)
}
.subMenu-title-over {
	CURSOR: pointer; BACKGROUND-COLOR: #f6f6f6
}
.menuInnerSub-div {
	
}
.menuInnerSub-div UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.menuInnerSub-div UL LABEL {
	CURSOR: pointer
}
.menuSub-out {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 2px; MARGIN: 1px 2px; BORDER-LEFT: #ccc 1px solid; CURSOR: pointer; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid
}
.menuSub-out .span_jsy {
	CLEAR: both; MARGIN-TOP: 3px; DISPLAY: block; BACKGROUND: #666; MARGIN-LEFT: 9px; WIDTH: 47px; COLOR: #fff; LINE-HEIGHT: 19px; HEIGHT: 19px; TEXT-ALIGN: center
}
.div_jsf {
	COLOR: #da1300
}
.menuSub-out .span_jgm {
	CLEAR: both; BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 3px; DISPLAY: block; PADDING-LEFT: 1px; FONT-SIZE: 10px; PADDING-BOTTOM: 1px; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; WIDTH: 55px; LINE-HEIGHT: 14px; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: arial; HEIGHT: 14px
}
.menuSub-out .span_jgm FONT {
	FONT-SIZE: 12px; BACKGROUND: #d34400; COLOR: #fff
}
.menuSub-out .span_jgm B {
	FONT-SIZE: 12px; MARGIN-LEFT: 3px; FONT-FAMILY: "宋体"
}
.menuSub-out IMG {
	VERTICAL-ALIGN: middle
}
.menuSub-over {
	BORDER-LEFT-COLOR: red; BORDER-BOTTOM-COLOR: red; BORDER-TOP-COLOR: red; BACKGROUND-COLOR: white; BORDER-RIGHT-COLOR: red
}
.menuSub-down {
	BACKGROUND-COLOR: #ddd
}
.menuSub-disabled {
	CURSOR: default; COLOR: #999; BACKGROUND-COLOR: #eee
}
.menuSub-active {
	BORDER-LEFT-COLOR: #3499cc; BORDER-BOTTOM-COLOR: #3499cc; BORDER-TOP-COLOR: #3499cc; BORDER-RIGHT-COLOR: #3499cc
}
.menuSub-div-newPage {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; WIDTH: 120px; PADDING-TOP: 3px
}
.menuSub-div-conEntry {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; WIDTH: 260px; PADDING-TOP: 3px
}
.menuSub-div-newPage .menuInnerSub-div IMG {
	WIDTH: 16px; HEIGHT: 16px
}
.menuSub-div-newMod {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; WIDTH: 400px; PADDING-TOP: 3px
}
.menuSub-div-newMod .menuInnerSub-div {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; PADDING-TOP: 0px; BORDER-BOTTOM: #eee 1px solid
}
.menuSub-div-newMod .menuInnerSub-div DIV {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 120px; LINE-HEIGHT: 21px; POSITION: relative; HEIGHT: 21px
}
.menuSub-div-newMod .menuInnerSub-div IMG {
	WIDTH: 16px; HEIGHT: 16px
}
.menuSub-div-newMod .menuInnerSub-div IMG.new {
	RIGHT: -2px; WIDTH: auto; POSITION: absolute; TOP: -2px; HEIGHT: auto
}
.menuSub-div-colStyle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; WIDTH: 289px; PADDING-TOP: 3px
}
.menuSub-div-colStyle .menuInnerSub-div DIV {
	FLOAT: left; POSITION: relative
}
.menuSub-div-theme .menuInnerSub-div DIV {
	FLOAT: left; POSITION: relative
}
.menuInnerSub-div-colStyle IMG {
	WIDTH: 60px; HEIGHT: 50px
}
.menuInnerSub-div-ico IMG {
	WIDTH: 16px; HEIGHT: 16px
}
.menuSub-div-theme {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; WIDTH: 564px; PADDING-TOP: 3px
}
.menuInnerSub-div-theme IMG {
	WIDTH: 60px; HEIGHT: 50px
}
.menuInnerSub-div-theme IMG.new {
	RIGHT: 2px; WIDTH: auto; POSITION: absolute; TOP: 2px; HEIGHT: auto
}
.menuSub-div-cusTheme {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; WIDTH: 490px; PADDING-TOP: 3px
}
.menuSub-div-cusTheme .subMenu-title {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 5px 0px 0px 5px; BORDER-TOP-STYLE: none; PADDING-TOP: 5px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.menuSub-div-cusTheme .subMenu-title-out {
	BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 8px; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 5px; BORDER-LEFT: #eee 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #eee 1px; BACKGROUND-COLOR: #f6f6f6
}
.menuSub-div-cusTheme .subMenu-title-over {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #ccc 1px; BACKGROUND-COLOR: #ddd
}
.menuSub-div-cusTheme .subMenu-title-active {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #ccc 1px; BACKGROUND-COLOR: #ddd
}
.menuSub-div-cusTheme .subMenu-content {
	
}
.menuSub-div-cusTheme .menuInnerSub-div {
	CLEAR: both; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 2px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-TOP: 0px; HEIGHT: 320px
}
.menuSub-div-cusTheme TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: bottom; PADDING-TOP: 3px
}
.menuSub-div-cusTheme LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.menuSub-div-cusTheme IFRAME {
	OVERFLOW: hidden; WIDTH: 230px; HEIGHT: 22px
}
.menuSub-div-cusTheme .cusThemeClean {
	PADDING-RIGHT: 0px; BORDER-TOP: #ccc 2px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 4px; PADDING-TOP: 10px
}
.menuSub-div-cusTheme .infoBox {
	MARGIN: 0px 5px
}
.menuSub-div-cusTheme .headerBgiSmp {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 2px; BACKGROUND: white; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 5px; OVERFLOW: hidden; BORDER-LEFT: #ddd 1px solid; WIDTH: 48px; CURSOR: pointer; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 48px
}
.menuSub-div-cusTheme .bodyBgiSmp {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 2px; BACKGROUND: white; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 5px; OVERFLOW: hidden; BORDER-LEFT: #ddd 1px solid; WIDTH: 48px; CURSOR: pointer; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 48px
}
.menuSub-div-cusTheme .headerBgiSmp-over {
	BORDER-LEFT-COLOR: red; BORDER-BOTTOM-COLOR: red; BORDER-TOP-COLOR: red; BORDER-RIGHT-COLOR: red
}
.menuSub-div-cusTheme .bodyBgiSmp-over {
	BORDER-LEFT-COLOR: red; BORDER-BOTTOM-COLOR: red; BORDER-TOP-COLOR: red; BORDER-RIGHT-COLOR: red
}
.menuSub-div-cusTheme .headerBgiSmp-active {
	BORDER-TOP-WIDTH: 2px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 2px; BORDER-LEFT-COLOR: #3499cc; BORDER-BOTTOM-WIDTH: 2px; BORDER-BOTTOM-COLOR: #3499cc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #3499cc; PADDING-TOP: 1px; BORDER-RIGHT-WIDTH: 2px; BORDER-RIGHT-COLOR: #3499cc
}
.menuSub-div-cusTheme .bodyBgiSmp-active {
	BORDER-TOP-WIDTH: 2px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 2px; BORDER-LEFT-COLOR: #3499cc; BORDER-BOTTOM-WIDTH: 2px; BORDER-BOTTOM-COLOR: #3499cc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #3499cc; PADDING-TOP: 1px; BORDER-RIGHT-WIDTH: 2px; BORDER-RIGHT-COLOR: #3499cc
}
.modCtnInfo-private {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; BACKGROUND: #fff6cc; PADDING-BOTTOM: 2px; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}
.public {
	BORDER-TOP-WIDTH: 0px! important; BORDER-LEFT-WIDTH: 0px! important; BORDER-BOTTOM-WIDTH: 0px! important; COLOR: #666! important; BACKGROUND-COLOR: #ffc! important; BORDER-RIGHT-WIDTH: 0px! important
}
.modCtnInfo-noMod {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; PADDING-BOTTOM: 2px; PADDING-TOP: 5px
}
#modContainer {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#modContainerTable {
	WIDTH: 100%
}
.col {
	VERTICAL-ALIGN: top; HEIGHT: 100px
}
.colDiv {
	HEIGHT: 100%
}
.mod {
	BORDER-RIGHT: #eee 3px solid; BORDER-TOP: #eee 3px solid; DISPLAY: block; BACKGROUND: white; MARGIN: 5px; BORDER-LEFT: #eee 3px solid; BORDER-BOTTOM: #eee 3px solid
}
.mod .modFrame {
	BORDER-RIGHT: #cfdfff 1px solid; BORDER-TOP: #cfdfff 1px solid; BORDER-LEFT: #cfdfff 1px solid; BORDER-BOTTOM: #cfdfff 1px solid
}
.mod .modTable {
	TABLE-LAYOUT: fixed; WIDTH: 100%
}
.mod .mheader {
	OVERFLOW: hidden
}
.mod .lt {
	WIDTH: 0px
}
.mod .t {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: url(images/modHeaderBg.jpg) #eef6ff repeat-x 50% top; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: 22px
}
.mod .modHeader {
	OVERFLOW: hidden; HEIGHT: 16px
}
.mod .rt {
	WIDTH: 0px
}
.mod .mneck {
	
}
.mod .ec {
	
}
.mod .modEditCon {
	PADDING-RIGHT: 0px; BORDER-TOP: #d3e2f4 1px solid; PADDING-LEFT: 10px; BACKGROUND: #eff5ff; PADDING-BOTTOM: 10px; MARGIN: 0px 1px 1px; PADDING-TOP: 10px; BORDER-BOTTOM: #b9d0ed 1px solid
}
.mod .mbody {
	
}
.mod .l {
	WIDTH: 0px
}
.mod .c {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; VERTICAL-ALIGN: top; PADDING-TOP: 7px
}
.mod .modCon {
	OVERFLOW: hidden
}
.mod .r {
	WIDTH: 0px
}
.mod .mfooter {
	
}
.mod .lb {
	
}
.mod .b {
	HEIGHT: 0px
}
.mod .rb {
	
}
.mod .modShow {
	FLOAT: left; CURSOR: pointer
}
.mod .modHide {
	FLOAT: left; CURSOR: pointer
}
.mod .modShow {
	BACKGROUND: url(images/ico_showMod.gif) no-repeat center 50%; WIDTH: 16px; HEIGHT: 16px
}
.mod .modHide {
	BACKGROUND: url(images/ico_showMod.gif) no-repeat center 50%; WIDTH: 16px; HEIGHT: 16px
}
.mod .modHide {
	BACKGROUND-IMAGE: url(images/ico_hideMod.gif)
}
.mod .modTitle {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WORD-BREAK: break-all; PADDING-TOP: 1px; WHITE-SPACE: normal; HEIGHT: 16px
}
.mod .modTitle {
	FONT-WEIGHT: bold
}
.mod .modTitle A {
	FONT-WEIGHT: bold
}
.mod .modEdit {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: right; PADDING-BOTTOM: 0px; CURSOR: pointer; PADDING-TOP: 1px
}
.mod .modEdit A {
	TEXT-DECORATION: underline
}
.mod .modCls {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: right; PADDING-BOTTOM: 0px; CURSOR: pointer; PADDING-TOP: 0px
}
.mod .modCls {
	BACKGROUND: url(images/ico_cls.gif) no-repeat center 50%; WIDTH: 16px; HEIGHT: 16px
}
.mod .modRfs {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: right; PADDING-BOTTOM: 0px; CURSOR: pointer; PADDING-TOP: 0px
}
.mod .modRfs {
	BACKGROUND: url(images/ico_rfs.gif) no-repeat center 50%; WIDTH: 16px; HEIGHT: 16px
}
.mod .modAdw {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: right; PADDING-BOTTOM: 0px; CURSOR: pointer; PADDING-TOP: 0px
}
.mod .modAdw {
	PADDING-LEFT: 18px; BACKGROUND: url(images/ico_adw.gif) no-repeat left 50%; HEIGHT: 16px; TEXT-DECORATION: underline
}
.mod .modIco {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 16px; HEIGHT: 16px; TEXT-ALIGN: center
}
.mod .modIco IMG {
	
}
.mod .divBtn {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
.mod .divBtn INPUT {
	MARGIN: 0px 10px
}
.mod .divFlashSpacer {
	BORDER-RIGHT: #ccc 1px dashed; BORDER-TOP: #ccc 1px dashed; MARGIN: 0px; BORDER-LEFT: #ccc 1px dashed; BORDER-BOTTOM: #ccc 1px dashed
}
#powered {
	MARGIN: 10px 0px
}
#contact {
	MARGIN: 10px 0px
}
#copyright {
	MARGIN: 10px 0px
}
.loadBar {
	BORDER-RIGHT: #eee 2px solid; BORDER-TOP: #eee 2px solid; BORDER-LEFT: #eee 2px solid; BORDER-BOTTOM: #eee 2px solid
}
.loadBar DIV {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; COLOR: white; PADDING-TOP: 2px; BACKGROUND-COLOR: #cc4444
}
.loadBar IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.okBar DIV {
	BACKGROUND-COLOR: #669933
}
.okBar IMG {
	DISPLAY: none
}
#tooltip {
	BORDER-RIGHT: #eee 3px solid; BORDER-TOP: #eee 3px solid; Z-INDEX: 2000; BACKGROUND: white; BORDER-LEFT: #eee 3px solid; BORDER-BOTTOM: #eee 3px solid; POSITION: absolute
}
#tooltip .modFrame {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}
#tooltip .modFrame {
	COLOR: #333
}
#tooltip .modFrame DIV {
	COLOR: #333
}
.popWin {
	BACKGROUND: white
}
.popWin DIV {
	MARGIN: 0px
}
#contentLabelBox {
	
}
#innerContentLabelBox {
	FLOAT: left; HEIGHT: 25px
}
.contentLabel {
	BORDER-RIGHT: #cecece 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #cecece 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN: 0px 1px; BORDER-LEFT: #cecece 1px solid; CURSOR: pointer; LINE-HEIGHT: 24px; PADDING-TOP: 3px; BORDER-BOTTOM: #cecece 1px solid; BACKGROUND-COLOR: white; TEXT-DECORATION: none
}
.contentLabel:hover {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; TEXT-DECORATION: none
}
.contentLabelActive {
	BORDER-RIGHT: #cecece 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #cecece 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN: 0px 1px; BORDER-LEFT: #cecece 1px solid; CURSOR: default; LINE-HEIGHT: 24px; PADDING-TOP: 3px; BORDER-BOTTOM: #cecece 1px solid; BACKGROUND-COLOR: #cecece
}
.contentLabel-new {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 15px
}
#mainContent {
	FLOAT: left; MARGIN-LEFT: -230px; OVERFLOW: hidden; WIDTH: 100%
}
#mainInnerContent {
	MARGIN-LEFT: 230px
}
#sidebar {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 20px; WIDTH: 180px; PADDING-TOP: 10px
}
.item {
	MARGIN-BOTTOM: 5px
}
.item-top {
	
}
.item-bottom {
	
}
.item-title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px; BORDER-BOTTOM: #ccc 1px solid
}
.item HR {
	BORDER-TOP: #ccc 1px solid; MARGIN: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BORDER-BOTTOM-STYLE: none
}
.item-title H3 {
	FLOAT: left
}
.item-title H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.item-title H3 A {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; TEXT-DECORATION: none
}
.item-label {
	FLOAT: right; PADDING-TOP: 3px
}
.item-label A {
	MARGIN-LEFT: auto; COLOR: #006699
}
.item-label IMG {
	MARGIN-LEFT: 4px
}
.item-body {
	
}
.item-body-hidden {
	DISPLAY: none
}
.item-content {
	FONT-SIZE: 13px; OVERFLOW: hidden; BORDER-BOTTOM: #ccc 1px solid
}
.item-content {
	LINE-HEIGHT: 180%
}
.item-content  {
	LINE-HEIGHT: 180%
}
.item-info {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
.item-info {
	
}
.item-info A {
	
}
.item-info A SPAN {
	
}
.info-content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; WORD-BREAK: break-all; BORDER-TOP-STYLE: none; PADDING-TOP: 10px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.info-content BLOCKQUOTE {
	BORDER-RIGHT: #cecece 1px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #cecece 1px dashed; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #cecece 1px dashed; PADDING-TOP: 10px; BORDER-BOTTOM: #cecece 1px dashed
}
.info-title {
	PADDING-TOP: 10px
}
.info-title H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.panel {
	MARGIN-BOTTOM: 10px
}
.panel-title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 1px solid
}
.panel-title H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.panel-title H3 IMG {
	DISPLAY: none
}
.panel-content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.panel-content UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: inside; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.panel-content LI {
	MARGIN: 5px 0px
}
.panel-content LI A {
	
}
.ptags {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.ptags LI {
	PADDING-RIGHT: 10px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.ptags A {
	LINE-HEIGHT: 180%; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
.ptag_1 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px
}
.ptag_1 A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px
}
.ptag_2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.ptag_2 A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.ptag_3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.ptag_3 A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.ptag_4 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px
}
.ptag_4 A {
	FONT-WEIGHT: bold; FONT-SIZE: 18px
}
.mngBtn {
	MARGIN-BOTTOM: 3px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: right
}
.entries-content .entriesAdd {
	VERTICAL-ALIGN: text-bottom; TEXT-ALIGN: right
}
.entries-content .entriesAdd IMG {
	MARGIN-RIGHT: 3px
}
.entries-content .entriesAdd A {
	FONT-WEIGHT: bold; COLOR: #339900
}
.entries-content .entriesAdd A:hover {
	COLOR: red
}
.entries-content .moreEntries {
	TEXT-ALIGN: right
}
.categories-content UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
.categories-content LI {
	
}
.categories-content LI A {
	
}
.latest_comments-content UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
.latest_comments-content LI {
	
}
.latest_comments-content LI A {
	
}
.latest_comments-content LI A IMG {
	WIDTH: 20px; HEIGHT: 20px
}
.fresh_blogs-content .collect {
	FLOAT: left; MARGIN: 5px; OVERFLOW: hidden; WIDTH: 54px
}
.fresh_blogs-content .collect .collectIco {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; WIDTH: 50px; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 50px; TEXT-ALIGN: center
}
.fresh_blogs-content .collect IMG {
	HEIGHT: 48px; max-height: 48px; max-width: 48px
}
.fresh_blogs-content .collect SPAN {
	MARGIN-TOP: 2px; OVERFLOW: hidden; WIDTH: 50px; CURSOR: pointer; WHITE-SPACE: nowrap; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.fresh_blogs-content HR {
	CLEAR: both; BORDER-TOP: #cecece 1px solid; MARGIN: -5px 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BORDER-BOTTOM-STYLE: none
}
.links-content .link {
	CLEAR: both; MARGIN-BOTTOM: 3px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid
}
.Custom_Links-content .link {
	CLEAR: both; MARGIN-BOTTOM: 3px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid
}
.links-content .tit {
	MARGIN-BOTTOM: 2px; OVERFLOW: hidden; HEIGHT: 16px
}
.Custom_Links-content .tit {
	MARGIN-BOTTOM: 2px; OVERFLOW: hidden; HEIGHT: 16px
}
.links-content .tit A {
	FONT-WEIGHT: bold
}
.Custom_Links-content .tit A {
	FONT-WEIGHT: bold
}
.links-content .desc {
	OVERFLOW: hidden; HEIGHT: 16px
}
.Custom_Links-content .desc {
	OVERFLOW: hidden; HEIGHT: 16px
}
.links-content .linksAdd {
	MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 2px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: right
}
.Custom_Links-content .linksAdd {
	MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 2px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: right
}
.links-content .opr {
	RIGHT: 0px; FLOAT: right; TOP: 0px
}
.Custom_Links-content .opr {
	RIGHT: 0px; FLOAT: right; TOP: 0px
}
.links-content .opr IMG {
	MARGIN-LEFT: 2px; CURSOR: pointer
}
.Custom_Links-content .opr IMG {
	MARGIN-LEFT: 2px; CURSOR: pointer
}
.links-content .linkEdit {
	BORDER-RIGHT: #eee 2px solid; BORDER-TOP: #eee 2px solid; MARGIN-BOTTOM: 2px; BORDER-LEFT: #eee 2px solid; BORDER-BOTTOM: #eee 2px solid
}
.Custom_Links-content .linkEdit {
	BORDER-RIGHT: #eee 2px solid; BORDER-TOP: #eee 2px solid; MARGIN-BOTTOM: 2px; BORDER-LEFT: #eee 2px solid; BORDER-BOTTOM: #eee 2px solid
}
.links-content .editFrame {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}
.Custom_Links-content .editFrame {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}
.links-content .linkEdit .clsLinkEdit {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: right; PADDING-BOTTOM: 0px; CURSOR: pointer; PADDING-TOP: 0px
}
.Custom_Links-content .linkEdit .clsLinkEdit {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: right; PADDING-BOTTOM: 0px; CURSOR: pointer; PADDING-TOP: 0px
}
.links-content .linkEdit .linkEditHeader {
	FONT-WEIGHT: bold
}
.Custom_Links-content .linkEdit .linkEditHeader {
	FONT-WEIGHT: bold
}
.links-content .editContent {
	CLEAR: both
}
.Custom_Links-content .editContent {
	CLEAR: both
}
.links-content .editContent INPUT {
	LINE-HEIGHT: 14px
}
.Custom_Links-content .editContent INPUT {
	LINE-HEIGHT: 14px
}
.pp-content .ppMng {
	MARGIN-BOTTOM: 3px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: right
}
.pp-content .ppFlash {
	TEXT-ALIGN: center
}
.profile-content #profile_photo {
	TEXT-ALIGN: center
}
.profile-content HR {
	CLEAR: both; BORDER-TOP: #cecece 1px solid; MARGIN: -5px 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BORDER-BOTTOM-STYLE: none
}
.profile-content #profile_content {
	WORD-BREAK: break-all
}
.profile-content .profileMng {
	MARGIN-BOTTOM: 3px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: right
}
.stats-content UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 100%; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
.stats-content LI {
	LIST-STYLE-TYPE: none
}
.stats-content #sogouRank {
	MARGIN-TOP: 4px
}
.stats-content #sogouRank SPAN {
	FLOAT: left
}
.stats-content #sogouRank DIV {
	FLOAT: left
}
.stats-content #sogouRank .imgborder {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: url(http://www.sogou.com/images/prbar.gif) no-repeat left 50%; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 2px 2px 0px 0px; WIDTH: 65px; CURSOR: pointer; PADDING-TOP: 2px; HEIGHT: 7px
}
.stats-content #sogouRank SPAN IMG {
	HEIGHT: 7px
}
.refer .referItem {
	CLEAR: both; MARGIN-BOTTOM: 6px; OVERFLOW: hidden; LINE-HEIGHT: 18px; HEIGHT: 36px
}
.refer .referIco {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; FLOAT: left; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; WIDTH: 34px; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 34px; TEXT-ALIGN: center
}
.refer IMG {
	HEIGHT: 32px
}
.refer SPAN {
	FONT-WEIGHT: bold; LINE-HEIGHT: 20px
}
.music-content .musicMng {
	MARGIN-BOTTOM: 3px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: right
}
.music-content .musicFlash {
	TEXT-ALIGN: center
}
.messages-content .messagesMng {
	MARGIN-BOTTOM: 3px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: right
}
.messages-content .msg {
	CLEAR: both; MARGIN-BOTTOM: 3px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid
}
.messages-content .aName SPAN {
	MARGIN-BOTTOM: 2px; OVERFLOW: hidden; HEIGHT: 18px
}
.messages-content .aName A {
	FONT-WEIGHT: bold
}
.messages-content .raName SPAN {
	FONT-WEIGHT: bold
}
.messages-content .aName .aIco {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; FLOAT: left; BORDER-LEFT: #ccc 1px solid; MARGIN-RIGHT: 2px; BORDER-BOTTOM: #ccc 1px solid
}
.messages-content .aName .aIco IMG {
	WIDTH: 32px
}
.messages-content .content {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 150%; PADDING-TOP: 2px
}
.messages-content .reply .rContent {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 150%; PADDING-TOP: 2px
}
.messages-content .msgOpr {
	RIGHT: 0px; FLOAT: right; TOP: 0px
}
.messages-content .rplOpr {
	RIGHT: 0px; FLOAT: right; TOP: 0px
}
.messages-content .msgOpr IMG {
	MARGIN-LEFT: 2px; CURSOR: pointer
}
.messages-content .rplOpr IMG {
	MARGIN-LEFT: 2px; CURSOR: pointer
}
.messages-content .reply {
	BORDER-TOP: #ccc 1px solid; MARGIN: 2px 0px 0px 10px; PADDING-TOP: 2px
}
.messages-content .rplFormBox {
	BORDER-TOP: #ccc 1px solid; MARGIN: 2px 0px 0px 10px; PADDING-TOP: 2px
}
.messages-content .writeMsg {
	FLOAT: left
}
.messages-content .writeMsg A {
	FONT-WEIGHT: bold
}
.messages-content .moreMsgs {
	FLOAT: right
}
.messages-content .msgFormBox {
	CLEAR: both
}
#rec {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 10px auto; BORDER-LEFT: #ccc 1px solid; WIDTH: 670px; LINE-HEIGHT: 150%; PADDING-TOP: 10px; BORDER-BOTTOM: #ccc 1px solid
}
#tag_cloud {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#tag_cloud LI {
	PADDING-RIGHT: 10px; DISPLAY: inline; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#tag_cloud A {
	COLOR: #479299; LINE-HEIGHT: 150%; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#tag_cloud A:hover {
	COLOR: #fc7821; TEXT-DECORATION: underline
}
#tag_cloud LI.tag_popularity_1 A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px
}
#tag_cloud LI.tag_popularity_2 A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
#tag_cloud LI.tag_popularity_3 A {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
#tag_cloud LI.tag_popularity_4 A {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #fc7821
}
.tagEntry {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; MARGIN: 10px 0px; OVERFLOW: hidden; WORD-BREAK: break-all; PADDING-TOP: 0px; BORDER-BOTTOM: #eee 1px solid
}
.tagEntry_authorPic {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; WIDTH: 48px; MARGIN-RIGHT: 5px; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 48px
}
.tagEntry_authorPic IMG {
	HEIGHT: 48px
}
.tagEntry H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; LINE-HEIGHT: 26px; PADDING-TOP: 0px
}
.tagEntry H5 .tagEntyr_title {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.tagEntry_authorName {
	FONT-WEIGHT: normal; FONT-SIZE: 12px
}
.tagEntry_pubTime {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN-LEFT: 10px
}
.tagEntry_content {
	LINE-HEIGHT: 150%
}
.tagListMore {
	CLEAR: both; TEXT-ALIGN: right
}
.tagListMore A {
	MARGIN-LEFT: 5px
}
.corEntry {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; LIST-STYLE-POSITION: inside; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 5px
}
.corEntry LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: inside; PADDING-BOTTOM: 0px; MARGIN: 7px 0px; PADDING-TOP: 0px
}
.corEntry A {
	
}
.corEntry .corEntryMore {
	PADDING-LEFT: 0px; LIST-STYLE-TYPE: none
}
.emotionBox {
	FLOAT: left; WIDTH: 626px
}
.emotionBox .emotionBody {
	
}
.emotionBox .emotionBody A {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.emotionBox .emotionBody A:hover {
	BORDER-RIGHT: #f63 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #f63 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #f63 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #f63 1px solid
}
.emotionBox .basicEm {
	PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.emotionBox .emotionBar {
	
}
.emotionBox .emotionBar SPAN {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px 3px 0px 0px; BORDER-LEFT: #eee 1px solid; CURSOR: pointer; COLOR: #666; LINE-HEIGHT: 20px; PADDING-TOP: 3px; HEIGHT: 20px
}
.emotionBox .emotionBar SPAN.active {
	FONT-WEIGHT: bold; BACKGROUND: url(http://js1.pp.sohu.com.cn/ppp/blog/styles_ppp/images/emotion_tab_bg.gif) #ffd682 repeat-x 0px 50%; CURSOR: auto
}
.emotionBox .emotionNav {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; TEXT-ALIGN: right
}
.pn_na {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; HEIGHT: 15px
}
.previous {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; HEIGHT: 15px; TEXT-ALIGN: left
}
.previous_l {
	PADDING-RIGHT: 0px; MARGIN-TOP: 5px; PADDING-LEFT: 4px; BACKGROUND: url(http://js2.pp.sohu.com.cn/ppp/blog/styles_ppp/images/ico_prev.gif) no-repeat 0px 0px; FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 15px; PADDING-TOP: 4px; HEIGHT: 15px; TEXT-ALIGN: center
}
.previous_txt {
	FONT-SIZE: 12px; FLOAT: left; COLOR: #333333; LINE-HEIGHT: 24px; HEIGHT: 15px; TEXT-ALIGN: center
}
.next {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FLOAT: right; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; HEIGHT: 15px; TEXT-ALIGN: left
}
.next_txt {
	FONT-SIZE: 12px; FLOAT: left; COLOR: #333333; LINE-HEIGHT: 24px; HEIGHT: 15px; TEXT-ALIGN: center
}
.next_r {
	BACKGROUND: url(http://js2.pp.sohu.com.cn/ppp/blog/styles_ppp/images/ico_next.gif) no-repeat 0px 0px; FLOAT: left; MARGIN: 5px 0px 0px 4px; WIDTH: 15px; HEIGHT: 15px; TEXT-ALIGN: center
}
#main-content P {
	MARGIN: 10px 0px
}
