BODY {
	MARGIN-TOP: 0px; BACKGROUND-IMAGE: url(Images/bg.jpg); MARGIN-BOTTOM: 0px; BACKGROUND-COLOR: #44595e
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
TEXTAREA {
	BORDER-RIGHT: #2e465c 1px solid; BORDER-TOP: #2e465c 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #2e465c 1px solid; COLOR: #000000; LINE-HEIGHT: normal; BORDER-BOTTOM: #2e465c 1px solid; FONT-STYLE: normal; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #eaf0f4; TEXT-DECORATION: none
}
A {
	FONT-SIZE: 12px; COLOR: #414b65; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: "宋体"
       text-decoration:none
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.c0 {
	BORDER-RIGHT: #435f7a 1px; BORDER-TOP: #435f7a 1px; BORDER-LEFT: #435f7a 1px; BORDER-BOTTOM: #435f7a 1px; BACKGROUND-COLOR: #c7d8e2
}
.popt_0 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.popt_1 {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.popt_2 {
	BACKGROUND-COLOR: #44849f
}
.popt_3 {
	FONT-SIZE: 12px; COLOR: #000033; LINE-HEIGHT: 10px; FONT-STYLE: normal; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.popt_4 {
	FONT-SIZE: 13px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.popt_5 {
	FONT-SIZE: 12px; COLOR: #999999; FONT-STYLE: normal; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.popt_6 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #253e56; LINE-HEIGHT: 30px; FONT-STYLE: normal; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.popt_7 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #2e355f; LINE-HEIGHT: 30px; FONT-STYLE: normal; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.popt_8 {
	FONT-SIZE: 12px; COLOR: #414b65; FONT-STYLE: normal; FONT-FAMILY: "宋体"
}
.popinput {
	BORDER-RIGHT: #2e465c 1px solid; BORDER-TOP: #2e465c 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #2e465c 1px solid; COLOR: #000000; LINE-HEIGHT: normal; BORDER-BOTTOM: #2e465c 1px solid; FONT-STYLE: normal; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #eaf0f4; TEXT-DECORATION: none
}
.Infotitle {
	BORDER-RIGHT: #70aac2 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #70aac2 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 2px; BORDER-LEFT: #70aac2 1px solid; WIDTH: 90%; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #70aac2 1px solid; FONT-FAMILY: Tahoma, palatino, georgia, times new roman, serif; HEIGHT: 26px; BACKGROUND-COLOR: #70aac2; TEXT-ALIGN: center
}
.Infocontent {
	BORDER-RIGHT: #70aac2 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 13px; PADDING-BOTTOM: 4px; BORDER-LEFT: #70aac2 1px solid; WIDTH: 90%; COLOR: #ff0000; LINE-HEIGHT: 120%; PADDING-TOP: 4px; BORDER-BOTTOM: #70aac2 1px solid; FONT-FAMILY: Tahoma, palatino, georgia, times new roman, serif; BACKGROUND-COLOR: #eaf0f4; TEXT-ALIGN: center
}
.popt_9 {
	BORDER-RIGHT: #93c8d2 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #93c8d2 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; BORDER-LEFT: #93c8d2 1px solid; WIDTH: 100%; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #93c8d2 1px solid; FONT-FAMILY: Tahoma, palatino, georgia, times new roman, serif; HEIGHT: 26px; BACKGROUND-COLOR: #93c8d2; TEXT-ALIGN: left
}
.popt_10 {
	BORDER-RIGHT: #93c8d2 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; BORDER-LEFT: #93c8d2 1px solid; WIDTH: 100%; COLOR: #ff0000; LINE-HEIGHT: 120%; PADDING-TOP: 4px; BORDER-BOTTOM: #93c8d2 1px solid; FONT-FAMILY: Tahoma, palatino, georgia, times new roman, serif; BACKGROUND-COLOR: #eaf0f4; TEXT-ALIGN: left
}
.m_0 {
	FONT-SIZE: 13px; COLOR: #414b65
}
.menuskin {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BACKGROUND-IMAGE: url(Images/menubg.gif); VISIBILITY: hidden; FONT: 12px verdana; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; POSITION: absolute; BACKGROUND-COLOR: #f6f6f6
}
.menuskin A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 25px; COLOR: black; TEXT-DECORATION: none
}
#mouseoverstyle {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #eeeeee
}
.menuitems {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 2px; WORD-BREAK: keep-all; PADDING-TOP: 1px; TEXT-DECORATION: none
}
A.menulink:link {
	TEXT-DECORATION: none
}
A.menulink:visited {
	TEXT-DECORATION: none
}
A.menulink:hover {
	TEXT-DECORATION: none
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #996600
}
.menuA:link {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: url(menu_main.jpg) #e3ce96 0px 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #493107; LINE-HEIGHT: 210%; PADDING-TOP: 0px; HEIGHT: 28px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.menuA:visited {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: url(menu_main.jpg) #e3ce96 0px 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #493107; LINE-HEIGHT: 210%; PADDING-TOP: 0px; HEIGHT: 28px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.menuA:hover {
	BACKGROUND: url(images/menu_main.jpg) #e3ce96 0px -28px; COLOR: #493107
}
.titleA:link {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: verdana,宋体; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.titleA:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: verdana,宋体; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.titleA:hover {
	COLOR: #ffffcc; TEXT-DECORATION: underline
}
.sideA:link {
	DISPLAY: block; PADDING-LEFT: 16px; BACKGROUND: url(images/arrow.gif) no-repeat 2px 3px; MARGIN-BOTTOM: 2px; OVERFLOW: hidden; WIDTH: 170px; HEIGHT: 16px; TEXT-DECORATION: none
}
.sideA:visited {
	DISPLAY: block; PADDING-LEFT: 16px; BACKGROUND: url(images/arrow.gif) no-repeat 2px 3px; MARGIN-BOTTOM: 2px; OVERFLOW: hidden; WIDTH: 170px; HEIGHT: 16px; TEXT-DECORATION: none
}
.sideA:hover {
	PADDING-LEFT: 16px; BACKGROUND: url(images/arrow.gif) no-repeat 2px -13px; OVERFLOW: hidden; HEIGHT: 16px; TEXT-DECORATION: underline
}
.CategoryA:link {
	TEXT-DECORATION: none
}
.CategoryA:visited {
	TEXT-DECORATION: none
}
.CategoryA:hover {
	TEXT-DECORATION: underline
}
