/*Sets line-height of all menuitems*/
#p7TMnav {
	/*/*/line-height: 1.3; /* */
}

/*second level menuitem divs on - Cascades to lower levels*/
/*Sets left margin to 16px establishing a cascading indent*/
#p7TMnav div div {
	margin: 0 0 0 16px;
}

/*The Link style for top-level menuitems*/
#p7TMnav div a {
	color: #0000FF;
	font-size: 0.8em;
	padding: 0;
	text-decoration: none;
}
#p7TMnav div a:visited {
	color: #0000FF;
}
#p7TMnav div a:hover {
	text-decoration: underline;
}

/*The Link style for second-level menuitems*/
#p7TMnav div div a {
	font-size: 0.7em;
}

/*The Link style for third-level menuitems and lower*/
/*To set a specific style for the fourth level, add a div to the selector*/
/*Fourth-level example syntax: p7TMnav div div div div a {declaration}*/
#p7TMnav div div div a {
	font-size: 0.7em;
}

/*rules programatically assigned to parent links when image-based plus and minus option is selected*/
/*do not remove*/
.p7plusmark {
	background-repeat: no-repeat;
	background-image:   url(p7t_plus.gif);
	background-position: 0 50%;
	padding: 0 0 0 20px !important;
}
.p7minusmark {
	background-repeat: no-repeat;
	background-image:   url(p7t_minus.gif);
	background-position: 0 50%;
	padding: 0 0 0 20px !important;
}
/*rule programatically assigned to child links when image-based plus and minus option is selected*/
.p7defmark {
	background-image:  none;
	padding: 0 0 0 20px !important;
}

/*rules programatically assigned to page link correesponding to current page (You are Here)*/
.p7currentmark {
	font-weight: bold;
}
