A:link {
	COLOR: #0055cc; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #0055cc; TEXT-DECORATION: underline
}
A:hover {
	BACKGROUND: #0055cc; COLOR: #ffffff; TEXT-DECORATION: none
}
A:active {
	BACKGROUND: #cc0000; COLOR: #ffffff; TEXT-DECORATION: none
}
BODY {
	BACKGROUND: #ffffff; PADDING-BOTTOM: 8px; MARGIN: 4px 8px; FONT: 12px "Verdana", "Tahoma", "Arial"; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TD {
	FONT: 12px "Verdana", "Tahoma", "Arial"
}
#Header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/images/dotted.png) repeat-x left bottom; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 100%; COLOR: #999999; PADDING-TOP: 6px; LETTER-SPACING: 1px
}
#HeaderNavMain {
	PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; WHITE-SPACE: nowrap; HEIGHT: 25px
}
#HeaderNavMain UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#HeaderNavMain UL LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; TEXT-INDENT: 0px; LINE-HEIGHT: normal; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#HeaderNavMain UL LI P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 6px; MARGIN: 0px; PADDING-TOP: 6px; LETTER-SPACING: 0px
}
#HeaderNavMain UL LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 6px; COLOR: #000000; PADDING-TOP: 6px; TEXT-DECORATION: none
}
#HeaderNavMain UL LI A:hover {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 9px; PADDING-LEFT: 9px; PADDING-BOTTOM: 6px; BORDER-LEFT: #666666 1px solid; COLOR: #ffffff; PADDING-TOP: 5px
}
#HeaderLogo {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
#HeaderNavSub {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#HeaderNavSub SPAN {
	MARGIN: 0px 8px 0px 3px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 1px; HEIGHT: 10px
}
.HeaderNavTab {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.HeaderNavTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 26px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #666666; LINE-HEIGHT: 30px; PADDING-TOP: 4px; WHITE-SPACE: nowrap; LETTER-SPACING: 0px
}
.Main {
	MARGIN: 5px auto 20px; WIDTH: 100%; TEXT-ALIGN: left
}
.Footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/images/dotted.png) repeat-x left top; PADDING-BOTTOM: 6px; MARGIN: 20px auto; FONT: 12px/175% "Verdana", "Tahoma", "Arial"; WIDTH: 100%; COLOR: #999999; PADDING-TOP: 6px
}
.TwoCol_Left {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; COLOR: #000000; PADDING-TOP: 6px
}
TD.TwoCol_Left {
	VERTICAL-ALIGN: top
}
.TwoCol_Left H2 {
	CLEAR: both; PADDING-RIGHT: 4px; PADDING-LEFT: 12px; FONT-SIZE: 15px; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 8px; PADDING-TOP: 4px; BORDER-BOTTOM: #ffcc33 1px dotted; LETTER-SPACING: 2px
}
.TwoCol_Right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; PADDING-BOTTOM: 16px; WIDTH: 230px; COLOR: #000000; PADDING-TOP: 6px
}
TD.TwoCol_Right {
	VERTICAL-ALIGN: top
}
.TwoCol_Right H2 {
	CLEAR: both; PADDING-RIGHT: 4px; PADDING-LEFT: 12px; FONT-SIZE: 15px; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 8px; PADDING-TOP: 4px; BORDER-BOTTOM: #0055cc 1px dotted; LETTER-SPACING: 2px
}
.TwoCol_Right_Indent {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 8px; PADDING-TOP: 0px
}
.TwoCol2_Left {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; COLOR: #000000; PADDING-TOP: 6px
}
TD.TwoCol2_Left {
	VERTICAL-ALIGN: top
}
.TwoCol2_Left H2 {
	CLEAR: both; PADDING-RIGHT: 4px; PADDING-LEFT: 12px; FONT-SIZE: 15px; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 8px; PADDING-TOP: 4px; BORDER-BOTTOM: #ffcc33 1px dotted; LETTER-SPACING: 2px
}
.TwoCol2_Left H2 SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LETTER-SPACING: 1px
}
.TwoCol2_Right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; PADDING-BOTTOM: 20px; WIDTH: 230px; COLOR: #000000; PADDING-TOP: 6px
}
TD.TwoCol2_Right {
	VERTICAL-ALIGN: top
}
.TwoCol2_Right H2 {
	CLEAR: both; PADDING-RIGHT: 4px; PADDING-LEFT: 12px; FONT-SIZE: 15px; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 8px; PADDING-TOP: 4px; BORDER-BOTTOM: #0055cc 1px dotted; LETTER-SPACING: 2px
}
.TwoCol2_Right H2 SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LETTER-SPACING: 1px
}
.TwoCol2_Right_Indent {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 8px; PADDING-TOP: 0px
}
.ContentIndent {
	CLEAR: both; MARGIN-LEFT: 20px
}
.ModifyForm {
	LINE-HEIGHT: 150%
}
.ModifyForm TR TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.ModifyForm TR TD TEXTAREA {
	WIDTH: 95%
}
.DisplayForm {
	LINE-HEIGHT: 150%
}
.DisplayForm TR TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
INPUT.Butt {
	BORDER-RIGHT: #5728a7 1px solid; BORDER-TOP: #9c7cff 1px solid; BACKGROUND: #0055cc; FONT: 12px "Verdana", "Tahoma", "Arial"; BORDER-LEFT: #9c7cff 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #5728a7 1px solid; HEIGHT: 22px
}
A.Butt {
	BORDER-RIGHT: #5728a7 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #9c7cff 1px solid; PADDING-LEFT: 8px; BACKGROUND: #0055cc; PADDING-BOTTOM: 2px; FONT: 12px "Verdana", "Tahoma", "Arial"; BORDER-LEFT: #9c7cff 1px solid; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #5728a7 1px solid; HEIGHT: 22px
}
A.Butt:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.Butt:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.Butt:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.Butt:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.SubjectShow {
	
}
.SubjectShow TR TD {
	VERTICAL-ALIGN: top
}
.SubjectShowCoverpage {
	PADDING-RIGHT: 16px; TEXT-ALIGN: center
}
.SubjectShowRate {
	MARGIN: 4px auto 8px 0px; COLOR: #000000
}
.ShowRateText {
	FONT: bold 16px Tahoma; COLOR: #cc0000
}
.ShowRateStdText {
	WHITE-SPACE: nowrap
}
.SubjectShowContribute {
	MARGIN: 4px auto 8px 0px; COLOR: #c0c0c0
}
.SubjectShowApplyTag {
	PADDING-BOTTOM: 8px
}
.SubjectShowApplyTag FORM {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; MARGIN: 0px; LINE-HEIGHT: 200%; PADDING-TOP: 8px
}
.SubjectShowApplyTag P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.SubjectShowInfoEm {
	FONT-SIZE: 14px; LINE-HEIGHT: 150%
}
.SubjectShowInfo {
	FONT-SIZE: 12px; LINE-HEIGHT: 180%
}
.SubjectShowInfoNeg {
	FONT-SIZE: 12px; COLOR: #c0c0c0; LINE-HEIGHT: 180%
}
.SubjectShowInterest {
	LINE-HEIGHT: 150%
}
.SubjectShowMemo {
	MARGIN: 0px 0px 8px; LINE-HEIGHT: 175%
}
.SubjectShowMerchants {
	COLOR: #c0c0c0
}
.SubjectShowMerchants UL LI {
	LINE-HEIGHT: 175%; LIST-STYLE-TYPE: none
}
.SubjectShowPostsMore {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 12px; PADDING-TOP: 8px
}
.SubjectShowCoverpages {
	MARGIN: 0px 0px 8px
}
.SubjectShowCoverpages DIV {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 8px; PADDING-TOP: 0px; HEIGHT: 128px; TEXT-ALIGN: center
}
.SubjectShowCoverpagesMore {
	CLEAR: both; MARGIN: 0px 0px 12px
}
.SubjectLinkPostReview {
	MARGIN-BOTTOM: 16px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.SubjectShowReview {
	MARGIN-BOTTOM: 8px; BORDER-BOTTOM: #eeeeee 1px solid
}
.SubjectShowReview TD {
	PADDING-BOTTOM: 8px
}
.SubjectShowReview TD#avatar {
	PADDING-RIGHT: 8px; VERTICAL-ALIGN: top
}
.SubjectShowReview H3 {
	FONT-SIZE: 15px; MARGIN: 0px 0px 8px
}
.SubjectShowReviewAttribution {
	MARGIN-BOTTOM: 8px; COLOR: #c0c0c0
}
.SubjectShowReviewOp {
	
}
.SubjectShowReviewOp A {
	MARGIN: 0px 4px
}
.SubjectShowReviewContent {
	MARGIN: 12px 0px; LINE-HEIGHT: 175%
}
.SubjectNewForm TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; LINE-HEIGHT: 175%; PADDING-TOP: 4px
}
.SubjectNewForm INPUT {
	WIDTH: 150px
}
.SubjectEditForm {
	
}
.SubjectEditForm TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; LINE-HEIGHT: 175%; PADDING-TOP: 4px
}
.SubjectEditForm INPUT#long {
	WIDTH: 300px
}
.SubjectEditForm INPUT#short {
	WIDTH: 150px
}
.SubjectEditForm TEXTAREA {
	WIDTH: 100%
}
.SubjectEditorialHistory LI {
	LINE-HEIGHT: 200%
}
TABLE.SubjectCoverpageList {
	WIDTH: 100%
}
.SubjectCoverpageList TD {
	BACKGROUND: #fafafa; VERTICAL-ALIGN: bottom; TEXT-ALIGN: center
}
.SubjectCoverpageList TD P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px; PADDING-TOP: 5px
}
.SubjectCoverpageList TD IMG {
	BORDER-RIGHT: #f0f0f0 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #f0f0f0 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #f0f0f0 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #f0f0f0 1px solid
}
.UserListNickname {
	FONT-SIZE: 14px
}
.SubjectListInterestUser {
	COLOR: #c0c0c0
}
.SubjectListInterestUser TR TD {
	PADDING-RIGHT: 20px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.SubjectListInterestUser SPAN {
	MARGIN: auto 4px
}
.ReviewEditForm {
	
}
.ReviewEditForm TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; LINE-HEIGHT: 175%; PADDING-TOP: 4px
}
.ReviewEditForm INPUT#title {
	WIDTH: 100%
}
.ReviewEditForm TEXTAREA#content {
	WIDTH: 100%
}
.ReviewShow {
	PADDING-BOTTOM: 16px; PADDING-TOP: 4px
}
.ReviewShowTitle H3 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.ReviewShowAttribution {
	PADDING-BOTTOM: 8px; COLOR: #c0c0c0; LINE-HEIGHT: 175%
}
.ReviewShowContent {
	PADDING-LEFT: 24px; PADDING-BOTTOM: 8px; LINE-HEIGHT: 150%
}
.ReviewShowFooter {
	LINE-HEIGHT: 175%
}
.CommentShow TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 12px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.CommentShowAttribution {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.CommentShowContent {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; LINE-HEIGHT: 150%; PADDING-TOP: 4px
}
.CommentEditForm {
	PADDING-LEFT: 24px; MARGIN-LEFT: 24px
}
.CommentEditForm TEXTAREA#content {
	WIDTH: 300px
}
.ReviewsbyUser {
	CLEAR: both; PADDING-BOTTOM: 24px; LINE-HEIGHT: 150%
}
.ReviewsbyUserInfo {
	FLOAT: right; TEXT-ALIGN: right
}
.SearchHintBox {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FLOAT: right; PADDING-BOTTOM: 4px; WIDTH: 230px; PADDING-TOP: 4px; HEIGHT: 90px
}
.SearchForm {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f6f6ff; PADDING-BOTTOM: 8px; MARGIN: 0px 0px 20px; WIDTH: 460px; PADDING-TOP: 8px; HEIGHT: 90px; TEXT-ALIGN: center
}
.SearchForm FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.SearchForm P {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px
}
.SearchFormQ {
	WIDTH: 220px
}
.SearchFormGo {
	WIDTH: 40px
}
.SearchFormCat {
	VERTICAL-ALIGN: middle
}
.SearchResultSubject {
	
}
.SearchResultSubjectCoverpage {
	PADDING-RIGHT: 20px; PADDING-LEFT: 12px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.SearchResultSubjectCoverpage {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 16px; PADDING-TOP: 12px
}
.SearchResultSubjectInfo {
	CLEAR: both; PADDING-RIGHT: 0px; BORDER-TOP: #f3f3f3 1px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 16px; LINE-HEIGHT: 150%; PADDING-TOP: 12px
}
.SearchResultSubjectName {
	FONT-SIZE: 14px
}
.SearchResultSubjectInfoNeg {
	COLOR: #999999
}
A.SearchResultSubjectInfoNeg:link {
	COLOR: #999999; TEXT-DECORATION: underline
}
A.SearchResultSubjectInfoNeg:visited {
	COLOR: #999999; TEXT-DECORATION: underline
}
A.SearchResultSubjectInfoNeg:hover {
	BACKGROUND: #999999; COLOR: #ffffff; TEXT-DECORATION: none
}
A:active {
	BACKGROUND: #666666; COLOR: #ffffff; TEXT-DECORATION: none
}
.UserInfo {
	CLEAR: both; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 8px; MARGIN: 0px 0px 8px; PADDING-TOP: 8px
}
.UserInfo TD {
	VERTICAL-ALIGN: top; LINE-HEIGHT: 175%
}
.UserInfo TD P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; MARGIN: 0px; PADDING-TOP: 0px
}
.UserInfoNickName {
	FONT-SIZE: 14px
}
.MultiSubjectReviewsList {
	
}
.MultiSubjectReviewsListCoverpage {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; VERTICAL-ALIGN: top; PADDING-TOP: 8px
}
.MultiSubjectReviewsListInfo {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; LINE-HEIGHT: 150%; PADDING-TOP: 8px
}
.UserSubjectList {
	
}
.UserSubjectListCoverpage {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 12px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.UserSubjectListInfo {
	PADDING-RIGHT: 0px; BORDER-TOP: #f3f3f3 1px solid; PADDING-LEFT: 12px; PADDING-BOTTOM: 12px; LINE-HEIGHT: 175%; PADDING-TOP: 4px
}
.UserSubjectListName {
	FONT-SIZE: 14px
}
.UserSubjectListInfoNeg {
	COLOR: #999999
}
.UserSubjectListTags SPAN {
	MARGIN: auto 4px
}
.UserMoreNeighbors {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 12px; PADDING-TOP: 0px
}
.UserMoreGroups {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 12px; PADDING-TOP: 0px
}
.SearchFormSubject {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f6f6ff; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 8px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.SearchFormSubject FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; MARGIN: 0px; LINE-HEIGHT: 200%; PADDING-TOP: 8px
}
.SearchFormSubjectQ {
	WIDTH: 150px
}
.SearchFormSubjectGo {
	WIDTH: 40px
}
.SearchFormSubjectCat {
	VERTICAL-ALIGN: middle
}
.UserAvatarwithNameCity {
	FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 75px; COLOR: #c0c0c0; LINE-HEIGHT: 150%; PADDING-TOP: 4px; HEIGHT: 110px; TEXT-ALIGN: center
}
.UserAvatarwithName {
	FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 75px; COLOR: #c0c0c0; LINE-HEIGHT: 150%; PADDING-TOP: 4px; HEIGHT: 110px; TEXT-ALIGN: center
}
.UserAvatarwithName #op {
	FONT-SIZE: 9px
}
.SubjectCoverpageInList {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 100px; PADDING-TOP: 4px; HEIGHT: 110px; TEXT-ALIGN: center
}
.ReviewSnippetShow {
	PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.MetaGuideLine {
	LINE-HEIGHT: 150%; LIST-STYLE-TYPE: none
}
.MetaGuideLine LI {
	PADDING-BOTTOM: 8px
}
.IndexGuide {
	MARGIN: 0px 0px 20px
}
.IndexGuide TD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; WIDTH: 33%; PADDING-TOP: 4px
}
.IndexGuide TD#addtofav {
	BACKGROUND: #fafafa
}
.IndexGuide TD#share {
	BACKGROUND: #fafafa; BORDER-LEFT: #cfcfcf 1px solid
}
.IndexGuide TD#discover {
	BACKGROUND: #fafafa; BORDER-LEFT: #cfcfcf 1px solid
}
.IndexGuide H3 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px; LETTER-SPACING: 1px
}
.IndexGuide UL {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px
}
.IndexGuide LI {
	LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none
}
.IndexSearchForm {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f6f6ff; PADDING-BOTTOM: 8px; MARGIN: 0px 0px 8px; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.IndexSearchForm FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.IndexSearchForm P {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px
}
.IndexSearchFormQ {
	WIDTH: 180px
}
A#signup_link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.IndexLatestInterest TD#coverpage {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; WIDTH: 33%; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.IndexLatestInterest TD#name {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; WIDTH: 33%; COLOR: #999999; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.IndexTopSubjects TD#coverpage {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; WIDTH: 33%; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.IndexTopSubjects TD#name {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 8px; VERTICAL-ALIGN: top; WIDTH: 33%; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.IndexTopSubjects TD#name P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px
}
.IndexMore {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 16px; MARGIN: 0px; PADDING-TOP: 4px
}
.IndexIntroNav {
	
}
.IndexIntroNav P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; LINE-HEIGHT: 150%; PADDING-TOP: 4px
}
.IndexLinks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.IndexLinks SPAN {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.IndexLinks A {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 2px 4px; PADDING-TOP: 1px
}
.IndexLinks A IMG {
	VERTICAL-ALIGN: middle
}
.IndexPostList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 0px
}
.IndexPostList TABLE {
	BORDER-COLLAPSE: collapse
}
.IndexPostList TABLE TH {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #f6f6f6; PADDING-BOTTOM: 2px; LINE-HEIGHT: 150%; PADDING-TOP: 2px; BORDER-BOTTOM: #f0f0f0 1px solid; WHITE-SPACE: nowrap; TEXT-ALIGN: left
}
.IndexPostList TABLE TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; LINE-HEIGHT: 150%; PADDING-TOP: 2px; BORDER-BOTTOM: #f3f3f3 1px solid; WHITE-SPACE: nowrap
}
.IndexPostList TABLE TH#PostCount {
	TEXT-ALIGN: center
}
.IndexPostList TABLE TD#PostCount {
	TEXT-ALIGN: center
}
.IndexPostList TABLE TD#PostTitle {
	WHITE-SPACE: normal
}
.IndexPostList P {
	
}
.TopList TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; LINE-HEIGHT: 150%; PADDING-TOP: 4px
}
.Top_Header TD {
	FONT-WEIGHT: bold; BACKGROUND: #f6f6f6; WHITE-SPACE: nowrap; LETTER-SPACING: 1px
}
.TopList #Top_Rank {
	TEXT-ALIGN: center
}
.Top_3 #Top_Rank {
	FONT: bold 16px Tahoma; COLOR: #cc0000
}
.Top_10 #Top_Rank {
	FONT: bold 16px Tahoma
}
.Top_3 #Top_Name {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.Top_10 #Top_Name {
	FONT-SIZE: 14px
}
.TopList #Top_Rate {
	COLOR: #cccccc; WHITE-SPACE: nowrap
}
.Top_Header #Top_Rate {
	PADDING-LEFT: 10px; COLOR: #000000
}
.TopList #Top_RateText {
	FONT: bold 16px Tahoma; COLOR: #cc0000
}
.TopList #Top_RateStdText {
	WHITE-SPACE: nowrap
}
.TopList #Top_AddToFav {
	WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
.TopList #Top_Name2 {
	
}
.TopList #Top_More {
	TEXT-ALIGN: center
}
.LatestInterest TD#coverpage {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.LatestInterest TD#name {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; COLOR: #999999; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.LatestEditions UL {
	LINE-HEIGHT: 200%
}
.LatestEditions IMG {
	VERTICAL-ALIGN: middle
}
.LatestEditions A#SubjectName {
	FONT-SIZE: 14px
}
.PopupMain {
	MARGIN: 5px; TEXT-ALIGN: left
}
.PopupMainClose {
	PADDING-RIGHT: 4px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 6px
}
.PopupMain H2 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 15px; BACKGROUND: #fdfdf0; PADDING-BOTTOM: 4px; MARGIN: 8px 0px; BORDER-LEFT: #ffcc33 2px solid; PADDING-TOP: 4px; LETTER-SPACING: 1px
}
.PopupInterestExpress {
	WIDTH: 100%
}
.PopupInterestExpress TR TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.PopupInterestExpress TR TD#label {
	VERTICAL-ALIGN: top; TEXT-ALIGN: right
}
UL.PopupShare {
	LIST-STYLE-TYPE: none
}
.PopupShare LI {
	LINE-HEIGHT: 200%
}
.ShowOp {
	CLEAR: both; COLOR: #c0c0c0; LINE-HEIGHT: 150%; TEXT-ALIGN: right
}
.SubNav2 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-SIZE: 12px; MARGIN-BOTTOM: 12px; PADDING-BOTTOM: 6px; COLOR: #f09696; PADDING-TOP: 6px; BORDER-BOTTOM: #cc0000 1px dotted
}
.SubNav {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #fff3f3; MARGIN-BOTTOM: 12px; PADDING-BOTTOM: 6px; COLOR: #f09696; LINE-HEIGHT: 150%; PADDING-TOP: 6px
}
.SubNavOrderBy {
	FLOAT: right
}
.OrderByMenu {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FLOAT: right; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.PageNav {
	PADDING-RIGHT: 4px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #f6f6ff; PADDING-BOTTOM: 4px; MARGIN: 12px auto; BORDER-LEFT: #0055cc 2px solid; PADDING-TOP: 4px; LETTER-SPACING: 1px
}
.PageNavLight {
	PADDING-RIGHT: 4px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; MARGIN: 12px auto; PADDING-TOP: 4px; LETTER-SPACING: 1px
}
.Act {
	BORDER-RIGHT: #5728a7 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ccccdd 1px solid; PADDING-LEFT: 8px; BACKGROUND: #f6f6ff; PADDING-BOTTOM: 2px; MARGIN-LEFT: 4px; BORDER-LEFT: #ccccdd 1px solid; COLOR: #003399; MARGIN-RIGHT: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #5728a7 1px solid
}
A.Act:link {
	COLOR: #003399; TEXT-DECORATION: none
}
A.Act:visited {
	COLOR: #003399; TEXT-DECORATION: none
}
A.Act:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.Act:hover {
	BACKGROUND: #003399; COLOR: #ffffff; TEXT-DECORATION: none
}
.Act2 {
	BORDER-RIGHT: #ccccdd 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #5728a7 1px solid; PADDING-LEFT: 8px; BACKGROUND: #f6f6ff; PADDING-BOTTOM: 2px; MARGIN-LEFT: 4px; BORDER-LEFT: #5728a7 1px solid; COLOR: #003399; MARGIN-RIGHT: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #ccccdd 1px solid
}
.GreyAct {
	BORDER-RIGHT: #dcdcdc 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 8px; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 2px; MARGIN-LEFT: 4px; BORDER-LEFT: #ffffff 1px solid; COLOR: #909090; MARGIN-RIGHT: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #dcdcdc 1px solid
}
A.GreyAct:link {
	COLOR: #808080; TEXT-DECORATION: none
}
A.GreyAct:visited {
	COLOR: #808080; TEXT-DECORATION: none
}
A.GreyAct:hover {
	BACKGROUND: #666666; COLOR: #ffffff; TEXT-DECORATION: none
}
.GreyAct2 {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #c0c0c0 1px solid; PADDING-LEFT: 8px; BACKGROUND: #f3f3f3; PADDING-BOTTOM: 2px; MARGIN-LEFT: 4px; BORDER-LEFT: #c0c0c0 1px solid; COLOR: #808080; MARGIN-RIGHT: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #ffffff 1px solid
}
.GreyAct2:link {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #c0c0c0 1px solid; PADDING-LEFT: 8px; BACKGROUND: #f3f3f3; PADDING-BOTTOM: 2px; MARGIN-LEFT: 8px; BORDER-LEFT: #c0c0c0 1px solid; COLOR: #808080; PADDING-TOP: 4px; BORDER-BOTTOM: #ffffff 1px solid; TEXT-DECORATION: none
}
.GreyAct2:visited {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #c0c0c0 1px solid; PADDING-LEFT: 8px; BACKGROUND: #f3f3f3; PADDING-BOTTOM: 2px; MARGIN-LEFT: 8px; BORDER-LEFT: #c0c0c0 1px solid; COLOR: #808080; PADDING-TOP: 4px; BORDER-BOTTOM: #ffffff 1px solid; TEXT-DECORATION: none
}
.License {
	COLOR: #999999
}
A.License:link {
	COLOR: #999999; TEXT-DECORATION: none
}
A.License:visited {
	COLOR: #999999; TEXT-DECORATION: none
}
A.License:hover {
	BACKGROUND: #999999; COLOR: #ffffff; TEXT-DECORATION: none
}
A.License:active {
	BACKGROUND: #cc0000; COLOR: #ffffff; TEXT-DECORATION: none
}
.License A:link {
	COLOR: #999999; TEXT-DECORATION: none
}
.License A:visited {
	COLOR: #999999; TEXT-DECORATION: none
}
.License A:hover {
	BACKGROUND: #999999; COLOR: #ffffff; TEXT-DECORATION: none
}
.License A:active {
	BACKGROUND: #cc0000; COLOR: #ffffff; TEXT-DECORATION: none
}
.error {
	PADDING-RIGHT: 4px; PADDING-LEFT: 19px; BACKGROUND: url(/images/error.png) #cc0000 no-repeat 3px 3px; PADDING-BOTTOM: 2px; MARGIN: 6px auto 6px 0px; COLOR: #ffffcc; LINE-HEIGHT: 150%; PADDING-TOP: 2px
}
.error A:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.error A:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.error A:hover {
	BACKGROUND: #ffffff; COLOR: #cc0000; TEXT-DECORATION: none
}
.error A:active {
	BACKGROUND: #ffffff; COLOR: #cc0000; TEXT-DECORATION: none
}
.info {
	BORDER-RIGHT: #ffcc33 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ffcc33 1px solid; PADDING-LEFT: 19px; BACKGROUND: url(/images/info.png) #ffffcc no-repeat 3px 3px; PADDING-BOTTOM: 2px; MARGIN: 6px auto 6px 0px; BORDER-LEFT: #ffcc33 1px solid; COLOR: #000000; LINE-HEIGHT: 150%; PADDING-TOP: 2px; BORDER-BOTTOM: #ffcc33 1px solid
}
.hint {
	COLOR: #aaaaaa; LINE-HEIGHT: 150%
}
.FormLabelEdit {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: top; WIDTH: 150px; TEXT-ALIGN: right
}
.FormLabelDisplay {
	MARGIN: 20px; VERTICAL-ALIGN: top; WIDTH: 150px; TEXT-ALIGN: right
}
.FormFieldDisplay {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: top
}
.FormFieldEdit {
	VERTICAL-ALIGN: top
}
.DescriptionText {
	COLOR: #9c9c9c; LINE-HEIGHT: 150%
}
.Avatar {
	BORDER-RIGHT: #f0f0f0 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #f0f0f0 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #f0f0f0 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #f0f0f0 1px solid
}
.AvatarNoBorder {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.TablewithBorder {
	BORDER-RIGHT: #0055cc 1px solid; BORDER-TOP: #0055cc 1px solid
}
.TablewithBorder TD {
	BORDER-LEFT: #0055cc 1px solid; BORDER-BOTTOM: #0055cc 1px solid
}
INPUT.Butt {
	BORDER-RIGHT: #5728a7 1px solid; BORDER-TOP: #9c7cff 1px solid; BACKGROUND: #0055cc; FONT: bold 12px "Verdana", "Tahoma", "Arial"; BORDER-LEFT: #9c7cff 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #5728a7 1px solid; HEIGHT: 22px
}
A.Butt {
	BORDER-RIGHT: #5728a7 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #9c7cff 1px solid; PADDING-LEFT: 8px; BACKGROUND: #0055cc; PADDING-BOTTOM: 2px; FONT: bold 12px "Verdana", "Tahoma", "Arial"; BORDER-LEFT: #9c7cff 1px solid; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #5728a7 1px solid; HEIGHT: 22px
}
A.Butt:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.Butt:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.Butt:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.Butt:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.SearchButton {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: bold; BACKGROUND: url(/images/search_button.png); BORDER-LEFT: 0px; WIDTH: 40px; BORDER-BOTTOM: 0px; HEIGHT: 23px; TEXT-ALIGN: center
}
.BadgeIllustration IMG {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.BadgeIllustration H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; MARGIN: 4px 0px; PADDING-TOP: 0px
}
.BadgeIllustration P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 16px; PADDING-BOTTOM: 0px; MARGIN: 12px 0px 16px; PADDING-TOP: 0px
}
.BadgeIllustration UL {
	MARGIN: 12px 0px 16px auto; LIST-STYLE-TYPE: none
}
.BadgeIllustration LI {
	LINE-HEIGHT: 175%
}
.BadgeGenPanel H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; MARGIN: 4px 0px; PADDING-TOP: 0px
}
.BadgeGenPanel TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 8px; PADDING-TOP: 4px
}
.BadgeGenPanel TD BLOCKQUOTE P {
	LINE-HEIGHT: 150%
}
.BadgeGenSetting TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; WIDTH: 90px; PADDING-TOP: 0px; HEIGHT: 28px; TEXT-ALIGN: right
}
.BadgeGenSetting TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 28px
}
.BadgeGenSetting INPUT {
	FONT-FAMILY: "Courier New"
}
.BadgeColorHover {
	BORDER-RIGHT: #0055cc 1px solid; BORDER-TOP: #0055cc 1px solid; DISPLAY: block; BORDER-LEFT: #0055cc 1px solid; WIDTH: 21px; CURSOR: pointer; BORDER-BOTTOM: #0055cc 1px solid; HEIGHT: 17px
}
TABLE.ColorPalette {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 5px; BACKGROUND: #000000; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.ColorPalette TD A {
	DISPLAY: block; TEXT-DECORATION: none
}
TABLE.ColorPalette TD A DIV {
	WIDTH: 20px; HEIGHT: 20px
}
TABLE.ColorPalette A {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #cccccc 1px solid
}
TABLE.ColorPalette A:hover {
	BORDER-RIGHT: #cc0000 1px solid; BORDER-TOP: #cc0000 1px solid; BORDER-LEFT: #cc0000 1px solid; CURSOR: pointer; BORDER-BOTTOM: #cc0000 1px solid
}
TABLE.BrowseList {
	WIDTH: 90%
}
TABLE.BrowseList TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; WIDTH: 20%; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.SearchFormTag {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f6f6ff; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 8px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.SearchFormTag FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; MARGIN: 0px; LINE-HEIGHT: 200%; PADDING-TOP: 8px
}
.SearchFormTagQ {
	WIDTH: 150px
}
.SearchFormTagGo {
	WIDTH: 70px
}
.EleCloud {
	PADDING-BOTTOM: 8px; LINE-HEIGHT: 250%
}
.EleCloud A {
	MARGIN: 4px 10px
}
.EleCloud A#EleLevel1 {
	FONT-SIZE: 12px; COLOR: #0066ff; TEXT-DECORATION: none
}
.EleCloud A#EleLevel1:visited {
	COLOR: #0066ff; TEXT-DECORATION: none
}
.EleCloud A#EleLevel1:hover {
	BACKGROUND: #0066ff; COLOR: #ffffff; TEXT-DECORATION: none
}
.EleCloud A#EleLevel1:active {
	BACKGROUND: #cc0000; COLOR: #ffffff; TEXT-DECORATION: none
}
.EleCloud A#EleLevel2 {
	FONT-SIZE: 14px; COLOR: #0033ff; TEXT-DECORATION: none
}
.EleCloud A#EleLevel2:visited {
	COLOR: #0033ff; TEXT-DECORATION: none
}
.EleCloud A#EleLevel2:hover {
	BACKGROUND: #0033ff; COLOR: #ffffff; TEXT-DECORATION: none
}
.EleCloud A#EleLevel2:active {
	BACKGROUND: #cc0000; COLOR: #ffffff; TEXT-DECORATION: none
}
.EleCloud A#EleLevel3 {
	FONT-SIZE: 16px; COLOR: #0066cc; TEXT-DECORATION: none
}
.EleCloud A#EleLevel3:visited {
	COLOR: #0066cc; TEXT-DECORATION: none
}
.EleCloud A#EleLevel3:hover {
	BACKGROUND: #0066cc; COLOR: #ffffff; TEXT-DECORATION: none
}
.EleCloud A#EleLevel3:active {
	BACKGROUND: #cc0000; COLOR: #ffffff; TEXT-DECORATION: none
}
.EleCloud A#EleLevel4 {
	FONT-SIZE: 18px; COLOR: #0033cc; TEXT-DECORATION: none
}
.EleCloud A#EleLevel4:visited {
	COLOR: #0033cc; TEXT-DECORATION: none
}
.EleCloud A#EleLevel4:hover {
	BACKGROUND: #0033cc; COLOR: #ffffff; TEXT-DECORATION: none
}
.EleCloud A#EleLevel4:active {
	BACKGROUND: #cc0000; COLOR: #ffffff; TEXT-DECORATION: none
}
.EleCloud A#EleLevel5 {
	FONT-SIZE: 20px; COLOR: #0000cc; TEXT-DECORATION: none
}
.EleCloud A#EleLevel5:visited {
	COLOR: #0000cc; TEXT-DECORATION: none
}
.EleCloud A#EleLevel5:hover {
	BACKGROUND: #0000cc; COLOR: #ffffff; TEXT-DECORATION: none
}
.EleCloud A#EleLevel5:active {
	BACKGROUND: #cc0000; COLOR: #ffffff; TEXT-DECORATION: none
}
.EleCloud A#EleLevel6 {
	FONT-SIZE: 24px; COLOR: #003399; TEXT-DECORATION: none
}
.EleCloud A#EleLevel6:visited {
	COLOR: #003399; TEXT-DECORATION: none
}
.EleCloud A#EleLevel6:hover {
	BACKGROUND: #003399; COLOR: #ffffff; TEXT-DECORATION: none
}
.EleCloud A#EleLevel6:active {
	BACKGROUND: #cc0000; COLOR: #ffffff; TEXT-DECORATION: none
}
.PostList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 0px
}
.PostList TABLE TH {
	FONT-WEIGHT: bold; BACKGROUND: #f6f6f6; LINE-HEIGHT: 150%; BORDER-BOTTOM: #f0f0f0 1px solid; WHITE-SPACE: nowrap; TEXT-ALIGN: left
}
.PostList TABLE TD {
	LINE-HEIGHT: 150%; BORDER-BOTTOM: #f3f3f3 1px solid; WHITE-SPACE: nowrap
}
.PostList TABLE TH#PostCount {
	TEXT-ALIGN: center
}
.PostList TABLE TD#PostCount {
	TEXT-ALIGN: center
}
.PostList TABLE TD#PostTitle {
	FONT-SIZE: 14px; WHITE-SPACE: normal
}
.PostList TABLE TD#PostTitleNormal {
	WHITE-SPACE: normal
}
.PostList P {
	FONT-SIZE: 14px
}
.PostMarkLocked {
	FONT-SIZE: 12px; COLOR: #000000
}
.PostMarkSticky {
	FONT-SIZE: 12px; COLOR: #cc0000
}
.PostMarkElite {
	FONT-SIZE: 12px; COLOR: #cc0000
}
.GroupSubjectInfo IMG {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 0px
}
.GroupMoreSubject {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 12px; PADDING-TOP: 0px
}
.GroupMoreUser {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 12px; PADDING-TOP: 0px
}
.Group2MorePost {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 8px; PADDING-BOTTOM: 12px; PADDING-TOP: 4px
}
.PostShow TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 12px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; BORDER-BOTTOM: #e0e0e0 1px solid
}
.PostShow TD#PostShowAvatar {
	WIDTH: 70px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.PostShowAttribution {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; COLOR: #909090; PADDING-TOP: 4px
}
.PostShowContent {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 12px; FONT: 14px/150% "Courier New"; PADDING-TOP: 4px
}
.PostEditForm {
	PADDING-LEFT: 24px
}
.PostEditForm TABLE TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; PADDING-TOP: 4px
}
.PostEditForm INPUT#title {
	WIDTH: 500px
}
.PostEditForm TEXTAREA#content {
	WIDTH: 500px
}
.PostEditForm INPUT#image_url {
	WIDTH: 500px
}
.SearchFormGroup2 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f6f6ff; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 8px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.SearchFormGroup2 FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; MARGIN: 0px; LINE-HEIGHT: 200%; PADDING-TOP: 8px
}
.SearchFormGroup2Q {
	WIDTH: 100px
}
.SearchFormGroup2Go {
	WIDTH: 70px
}
.Group2Logo {
	BORDER-RIGHT: #f0f0f0 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #f0f0f0 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 4px 8px 8px 4px; BORDER-LEFT: #f0f0f0 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #f0f0f0 1px solid; TEXT-ALIGN: left
}
.GroupSettingsForm {
	PADDING-LEFT: 24px
}
.GroupSettingsForm TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; PADDING-TOP: 4px
}
.GroupSettingsForm TH {
	PADDING-RIGHT: 4px; BORDER-TOP: #e0e0e0 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; PADDING-TOP: 8px
}
.GroupSettingsForm TEXTAREA {
	WIDTH: 400px; FONT-FAMILY: "Courier New"
}
.GroupSettingsFormFieldColor {
	WIDTH: 70px; FONT-FAMILY: "Courier New"
}
.GroupSettingsFormFieldBg {
	WIDTH: 200px; FONT-FAMILY: "Courier New"
}
.GroupSettingsFormFieldFont {
	WIDTH: 150px; FONT-FAMILY: "Courier New"
}
.GroupSettingsFormFieldSize {
	WIDTH: 20px; FONT-FAMILY: "Courier New"
}
UL.Users16List {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none
}
UL.Users16List LI {
	PADDING-BOTTOM: 4px; PADDING-TOP: 2px
}
UL.Group2LinksList {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none
}
UL.Group2LinksList LI {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 125%; PADDING-TOP: 2px
}
UL.Group2LinksList LI DIV#LinkName {
	
}
UL.Group2LinksList LI DIV#LinkDescription {
	PADDING-LEFT: 12px; COLOR: #cccccc; PADDING-TOP: 2px
}
.Group2LinksList {
	
}
.Group2LinksList TABLE {
	BORDER-COLLAPSE: collapse
}
.Group2LinksList TABLE TH {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #f6f6f6; PADDING-BOTTOM: 2px; COLOR: #000000; LINE-HEIGHT: 150%; PADDING-TOP: 2px; BORDER-BOTTOM: #f3f3f3 1px solid; TEXT-ALIGN: left
}
.Group2LinksList TABLE TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; LINE-HEIGHT: 150%; PADDING-TOP: 2px; BORDER-BOTTOM: #f3f3f3 1px solid
}
.Group2LinksList TABLE #idx {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; TEXT-ALIGN: center
}
.Group2LinksList TABLE #name {
	PADDING-RIGHT: 20px; TEXT-ALIGN: left
}
.Group2LinksList TABLE #url {
	PADDING-RIGHT: 20px; TEXT-ALIGN: left
}
.Group2LinksList TABLE #description {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; TEXT-ALIGN: left
}
.Group2LinksList TABLE #operation {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; TEXT-ALIGN: left
}
.Group2Info {
	CLEAR: both; MARGIN: 0px 0px 10px 20px
}
.Group2MembershipsList {
	
}
.Group2MembershipsList TABLE {
	BORDER-COLLAPSE: collapse
}
.Group2MembershipsList TABLE TH {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #f6f6f6; PADDING-BOTTOM: 2px; COLOR: #000000; LINE-HEIGHT: 150%; PADDING-TOP: 2px; BORDER-BOTTOM: #f3f3f3 1px solid; TEXT-ALIGN: left
}
.Group2MembershipsList TABLE TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; LINE-HEIGHT: 150%; PADDING-TOP: 2px; BORDER-BOTTOM: #f3f3f3 1px solid
}
.Group2MembershipsList TABLE #u_id {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; TEXT-ALIGN: center
}
.Group2MembershipsList TABLE #u_nick_name {
	PADDING-RIGHT: 20px; TEXT-ALIGN: left
}
.Group2MembershipsList TABLE #t_role {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; TEXT-ALIGN: center
}
.Group2MembershipsList TABLE #create_time {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; TEXT-ALIGN: center
}
.Group2MembershipsList TABLE #operation {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; TEXT-ALIGN: left
}
DIV.Group2LogowithName {
	FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 90px; COLOR: #c0c0c0; LINE-HEIGHT: 150%; PADDING-TOP: 4px; HEIGHT: 110px; TEXT-ALIGN: center
}
IMG.Group2Logo {
	BORDER-RIGHT: #f0f0f0 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #f0f0f0 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 4px 4px 8px; BORDER-LEFT: #f0f0f0 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #f0f0f0 1px solid
}
