P {
	MARGIN: 0px auto 10px; TEXT-INDENT: 0px
}
.postBody P {
	MARGIN: 0px auto 10px
}
.postCon P {
	MARGIN: 0px auto 10px
}
.postBody P {
	TEXT-INDENT: 0px
}
.postCon P {
	TEXT-INDENT: 0px
}
