BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #bbbbbb; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #222222; LINE-HEIGHT: 120%; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; WORD-WRAP: break-word
}
A {
	COLOR: #06a; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
P {
	MARGIN: 0px 0px 1.5em; LINE-HEIGHT: 120%
}
H1 {
	FONT-SIZE: 1.4em; MARGIN: 0px; PADDING-TOP: 0.5em
}
H2 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.postfoot A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 A:visited {
	FONT-SIZE: 1.6em; TEXT-TRANSFORM: none; COLOR: #111111; TEXT-DECORATION: none
}
H1 A:active {
	FONT-SIZE: 1.6em; TEXT-TRANSFORM: none; COLOR: #111111; TEXT-DECORATION: none
}
H1 A:link {
	FONT-SIZE: 1.6em; TEXT-TRANSFORM: none; COLOR: #111111; TEXT-DECORATION: none
}
H1 A:hover {
	FONT-SIZE: 1.6em; TEXT-TRANSFORM: none; COLOR: #111111; TEXT-DECORATION: none
}
H2 {
	MARGIN-TOP: 1em; FONT-SIZE: 1em
}
H3 {
	FONT-SIZE: 1.2em
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
PRE {
	FONT-SIZE: 1em; MARGIN: 0px 0px 0px 22px
}
BLOCKQUOTE {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px; FONT-STYLE: italic
}
INPUT.text {
	WIDTH: 350px
}
TEXTAREA {
	WIDTH: 350px; HEIGHT: 200px
}
.Textbox {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; WIDTH: 160px; BORDER-BOTTOM: #aaaaaa 1px solid
}
TEXTAREA {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; WIDTH: 160px; BORDER-BOTTOM: #aaaaaa 1px solid
}
.button {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; FONT-SIZE: 1em; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: #ccd4e0
}
INPUT {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 1em; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Geneva, Arial, Sans-Serif
}
TEXTAREA {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 1em; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Geneva, Arial, Sans-Serif
}
LEGEND {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #666666 1px solid; MARGIN-TOP: 0.5em; PADDING-LEFT: 3px; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 3px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #666666 1px solid; LETTER-SPACING: 2px; BACKGROUND-COLOR: #efefef
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.clr {
	CLEAR: both
}
#relatedlinks UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.media {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; MARGIN: 10px 10px 5px
}
.thumbnail {
	MARGIN: 5px
}
#container {
	MARGIN: 0px auto; WIDTH: 900px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
#header {
	
}
#headbox_out {
	MARGIN: 10px auto 0px; WIDTH: 900px
}
#headbox_in {
	HEIGHT: 20px
}
#top {
	BORDER-RIGHT: gainsboro 2px solid; PADDING-RIGHT: 1em; BORDER-TOP: gainsboro 2px solid; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; MARGIN: 0px; BORDER-LEFT: gainsboro 2px solid; PADDING-TOP: 1.5em; BORDER-BOTTOM: gainsboro 1px dashed; HEIGHT: 7em; TEXT-ALIGN: center
}
#top H1 {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-WEIGHT: normal; PADDING-BOTTOM: 1em; MARGIN: 0px; PADDING-TOP: 1em
}
#top P {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: 1.2em; PADDING-BOTTOM: 1em; MARGIN: 0px; PADDING-TOP: 0em
}
.weblogtitle {
	MARGIN: 0px; PADDING-TOP: 10px
}
#nav {
	BORDER-RIGHT: gainsboro 2px solid; MARGIN-TOP: 0em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: gainsboro 2px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: gainsboro 2px solid; TEXT-ALIGN: left
}
#nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#nav UL LI {
	DISPLAY: inline
}
#nav UL LI A {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1em; MARGIN-TOP: 0px; PADDING-LEFT: 1em; FONT-WEIGHT: normal; FLOAT: left; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em; TEXT-DECORATION: none
}
#nav SPAN {
	PADDING-LEFT: 1em
}
#navstats {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0.5em; FONT-SIZE: 0.9em; FLOAT: right; PADDING-BOTTOM: 0.5em; WIDTH: 380px; COLOR: #666666; MARGIN-RIGHT: 0.5em; PADDING-TOP: 0.5em; TEXT-ALIGN: right
}
#content {
	PADDING-RIGHT: 0em; MARGIN-TOP: 0px; PADDING-LEFT: 0em; FLOAT: left; PADDING-BOTTOM: 0em; WIDTH: 680px; PADDING-TOP: 0em
}
P.date IMG {
	VERTICAL-ALIGN: middle
}
P.date {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-TRANSFORM: none; COLOR: #666666; PADDING-TOP: 0px; TEXT-ALIGN: right
}
P.date A {
	COLOR: #666666
}
.post {
	BORDER-RIGHT: gainsboro 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: gainsboro 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px 10px; BORDER-LEFT: gainsboro 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: gainsboro 0px solid
}
.post IMG {
	BORDER-RIGHT: gainsboro 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: gainsboro 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 5px; BORDER-LEFT: gainsboro 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: gainsboro 1px solid
}
.posthead {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 0.9em; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
.postbody {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 1em; PADDING-BOTTOM: 10px; LINE-HEIGHT: 150%; PADDING-TOP: 10px
}
P {
	FONT-SIZE: 1em; LINE-HEIGHT: 200%
}
.posthead H2 {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; FONT-WEIGHT: normal; FONT-SIZE: 1.2em; PADDING-BOTTOM: 0em; MARGIN: 0px; TEXT-TRANSFORM: none; PADDING-TOP: 0.5em; LETTER-SPACING: 1px
}
.post H5 {
	FONT-SIZE: 1em; MARGIN: 0px 0px 0.5em
}
.postfoot {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 1em; PADDING-BOTTOM: 1px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 1px; TEXT-ALIGN: right
}
#AjaxHolder_UpdatePanel1 {
	BORDER-TOP: gainsboro 5px solid
}
#comments H4 SPAN {
	COLOR: #999
}
#comments H4 {
	FONT-SIZE: 0.9em; MARGIN: 0px
}
#sidebar-a {
	PADDING-RIGHT: 15px; PADDING-LEFT: 5px; FONT-SIZE: 1em; FLOAT: right; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 180px; PADDING-TOP: 5px
}
#sidebar-a H3 {
	MARGIN-TOP: 2em; FONT-SIZE: 1em; MARGIN-LEFT: 0em; TEXT-TRANSFORM: none; COLOR: #666666; BORDER-BOTTOM: #cccccc 1px solid; LETTER-SPACING: 2px
}
#sidebar-a UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px 8px; WIDTH: 100%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#sidebar-a LI {
	MARGIN-TOP: 6px
}
#sidebar-a A:active {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN-RIGHT: 0px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
#sidebar-a A:visited {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN-RIGHT: 0px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
#sidebar-a A:link {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN-RIGHT: 0px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
#sidebar-a A:hover {
	TEXT-DECORATION: underline
}
#calendar {
	MARGIN-BOTTOM: 1em; TEXT-ALIGN: center
}
#news {
	BORDER-RIGHT: #cccccc 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px dotted; PADDING-LEFT: 5px; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px dotted; WIDTH: 180px; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px dotted
}
.imageFrame {
	MARGIN: 20px; PADDING-TOP: 10px; POSITION: absolute; TEXT-ALIGN: center
}
.RecentComment UL LI {
	BORDER-BOTTOM: gainsboro 1px dashed
}
#footer {
	CLEAR: both; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.Cal {
	MARGIN-TOP: 10px; FONT-SIZE: 12px; MARGIN-BOTTOM: 10px; WIDTH: 180px; FONT-FAMILY: Arial; HEIGHT: 180px
}
.CalTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial; HEIGHT: 100%; BACKGROUND-COLOR: #ffffff
}
.CalOtherMonthDay {
	COLOR: #808080
}
.CalSelector {
	BACKGROUND-COLOR: #cccccc
}
A.CalNextPrev {
	COLOR: #fff
}
A.CalNextPrev:link {
	COLOR: #fff
}
A.CalNextPrev:visited {
	COLOR: #fff
}
A.CalNextPrev:active {
	COLOR: #fff
}
.CalNextPrev {
	COLOR: #fff
}
.CalDayHeader {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #efefef
}
.CalSelectedDay {
	BACKGROUND-COLOR: #cccccc
}
.CalWeekendDay {
	BACKGROUND-COLOR: #efefef
}
.CalTodayDay {
	BACKGROUND-COLOR: #dddddd
}
.spiffy {
	DISPLAY: block
}
.spiffy  {
	DISPLAY: block; FONT-SIZE: 0.01em; BACKGROUND: gainsboro; OVERFLOW: hidden; HEIGHT: 1px
}
.spiffy1 {
	BORDER-RIGHT: #bbbbbb 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND: #bbbbbb; MARGIN-LEFT: 3px; BORDER-LEFT: #bbbbbb 1px solid; MARGIN-RIGHT: 3px
}
.spiffy2 {
	BORDER-RIGHT: #bbbbbb 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND: #bbbbbb; MARGIN-LEFT: 1px; BORDER-LEFT: #bbbbbb 1px solid; MARGIN-RIGHT: 1px
}
.spiffy3 {
	BORDER-RIGHT: #bbbbbb 1px solid; MARGIN-LEFT: 1px; BORDER-LEFT: #bbbbbb 1px solid; MARGIN-RIGHT: 1px
}
.spiffy4 {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-LEFT: #bbbbbb 1px solid
}
.spiffy5 {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-LEFT: #bbbbbb 1px solid
}
.spiffyfg {
	BACKGROUND: gainsboro
}
