 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
HTML {
	FONT-SIZE: 12px; HEIGHT: 100%
}
BODY {
	FONT-SIZE: 12px; HEIGHT: 100%
}
H1 {
	FONT: 100 12px Verdana, Arial, Helvetica, sans-serif
}
H2 {
	FONT: 100 12px Verdana, Arial, Helvetica, sans-serif
}
H3 {
	FONT: 100 12px Verdana, Arial, Helvetica, sans-serif
}
H4 {
	FONT: 100 12px Verdana, Arial, Helvetica, sans-serif
}
H5 {
	FONT: 100 12px Verdana, Arial, Helvetica, sans-serif
}
H6 {
	FONT: 100 12px Verdana, Arial, Helvetica, sans-serif
}
EM {
	FONT: 100 12px Verdana, Arial, Helvetica, sans-serif
}
OL {
	LIST-STYLE: none none outside
}
UL {
	LIST-STYLE: none none outside
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #005197
}
A:visited {
	COLOR: #005197
}
A:hover {
	COLOR: #cc0000
}
A:active {
	COLOR: #cc0000
}
.BR {
	CLEAR: both; FONT-SIZE: 0px; LINE-HEIGHT: 0px; HEIGHT: 0px
}
.BR_3 {
	CLEAR: both; FONT-SIZE: 0px; LINE-HEIGHT: 3px; HEIGHT: 3px
}
.BR_8 {
	CLEAR: both; FONT-SIZE: 0px; LINE-HEIGHT: 8px; HEIGHT: 8px
}
.BR_10 {
	CLEAR: both; FONT-SIZE: 0px; LINE-HEIGHT: 10px; HEIGHT: 10px
}
.BR_20 {
	CLEAR: both; FONT-SIZE: 0px; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.BR_line {
	CLEAR: both; FONT-SIZE: 0px; MARGIN: 0px 0px 9px; LINE-HEIGHT: 0px; BORDER-BOTTOM: #dbdbdb 1px solid; HEIGHT: 1px
}
.BR_line_pro {
	CLEAR: both; BORDER-TOP: #aaaaaa 1px solid; FONT-SIZE: 0px; LINE-HEIGHT: 0px; BORDER-BOTTOM: #ffffff 1px solid
}
.LR {
	FLOAT: left; WIDTH: 8px; HEIGHT: 1em; TEXT-ALIGN: center
}
.banner {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; MARGIN-BOTTOM: 10px; MARGIN-LEFT: auto; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 958px; MARGIN-RIGHT: auto; BORDER-BOTTOM: #d3d3d3 1px solid; HEIGHT: 90px
}
.banner_l {
	BORDER-RIGHT: #d3d3d3 1px solid; FLOAT: left; WIDTH: 760px; HEIGHT: 90px
}
.banner_r {
	FLOAT: right; WIDTH: 190px; COLOR: #696969; LINE-HEIGHT: 20px; PADDING-TOP: 6px
}
.banner_r A {
	COLOR: #696969; TEXT-DECORATION: none
}
.banner_r A.lcnew {
	TEXT-DECORATION: none
}
.banner_r A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#subNav {
	BORDER-RIGHT: #b7b7b7 1px solid; BORDER-TOP: #b7b7b7 1px solid; MARGIN: 0px auto; BORDER-LEFT: #b7b7b7 1px solid; WIDTH: 958px; BORDER-BOTTOM: #b7b7b7 1px solid; HEIGHT: 33px
}
#subNav .subNav_logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 100px; PADDING-TOP: 3px; HEIGHT: 24px
}
#subNav .subNav_l {
	FLOAT: left; WIDTH: 630px; PADDING-TOP: 12px
}
#subNav .subNav_l A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#subNav .subNav_l A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#subNav .search {
	FLOAT: right; WIDTH: 211px; PADDING-TOP: 5px; HEIGHT: 23px
}
#subNav .search DL {
	WIDTH: 206px; HEIGHT: 24px
}
#subNav .search DT {
	FLOAT: left; WIDTH: 156px; HEIGHT: 24px
}
#subNav .search DD {
	FLOAT: left; WIDTH: 50px; HEIGHT: 24px
}
#container {
	MARGIN: 0px auto; WIDTH: 960px
}
#container #left {
	FLOAT: left; WIDTH: 640px
}
#container #left .title {
	BORDER-RIGHT: #dbdbdb 1px solid; BORDER-TOP: #dbdbdb 1px solid; BORDER-LEFT: #dbdbdb 1px solid; BORDER-BOTTOM: #dbdbdb 1px solid
}
#container #left .title .breadcrumb {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; COLOR: #464646; PADDING-TOP: 10px; HEIGHT: 21px; BACKGROUND-COLOR: #f2f2f2
}
#container #left .title .breadcrumb A {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; COLOR: #005197; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
#container #left .title .breadcrumb A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .title .con {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; HEIGHT: 74px; TEXT-ALIGN: center
}
#container #left .title .con H2 {
	FONT-SIZE: 20px; LINE-HEIGHT: 42px; PADDING-TOP: 6px; BORDER-BOTTOM: #dbdbdb 1px solid; FONT-FAMILY: "ºÚÌå"
}
#container #left .title .con H1 {
	FONT-SIZE: 20px; LINE-HEIGHT: 42px; PADDING-TOP: 6px; BORDER-BOTTOM: #dbdbdb 1px solid; FONT-FAMILY: "ºÚÌå"
}
#container #left .title .con .msg {
	COLOR: #464646; PADDING-TOP: 7px
}
#container #left .title .con .msg SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#container #left .title .con .msg A {
	COLOR: #f00; TEXT-DECORATION: none
}
#container #left .title .con .msg A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container {
	BORDER-RIGHT: #dbdbdb 1px solid; BORDER-TOP: #dbdbdb 1px solid; BORDER-LEFT: #dbdbdb 1px solid; PADDING-TOP: 14px; BORDER-BOTTOM: #dbdbdb 1px solid
}
#container #left .container .sum {
	PADDING-RIGHT: 24px; PADDING-LEFT: 24px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#container #left .container .summary {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; WIDTH: 554px; COLOR: #005197; LINE-HEIGHT: 24px; PADDING-TOP: 8px
}
#container #left .container .summary {
	BORDER-RIGHT: #dde6f1 1px dashed; PADDING-RIGHT: 16px; BORDER-TOP: #dde6f1 1px dashed; PADDING-LEFT: 16px; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; BORDER-LEFT: #dde6f1 1px dashed; WIDTH: 554px; COLOR: #005197; LINE-HEIGHT: 24px; PADDING-TOP: 8px; BORDER-BOTTOM: #dde6f1 1px dashed; BACKGROUND-COLOR: #fefde8
}
#container #left .container .con {
	PADDING-RIGHT: 24px; PADDING-LEFT: 24px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; PADDING-TOP: 10px
}
#container #left .container .con EM {
	FONT-STYLE: oblique
}
#container #left .container .con P {
	TEXT-INDENT: 28px
}
#container #left .container .tuij {
	BORDER-RIGHT: #e06666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #e06666 1px solid; PADDING-LEFT: 8px; BACKGROUND: url(../images/tuij_bg.gif) no-repeat 50% top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 8px 16px 0px 0px; BORDER-LEFT: #e06666 1px solid; WIDTH: 153px; PADDING-TOP: 36px; BORDER-BOTTOM: #e06666 1px solid
}
#container #left .container .tuij A {
	COLOR: #464646; TEXT-DECORATION: none
}
#container #left .container .tuij A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container .tuij LI {
	PADDING-RIGHT: 8px; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND: url(../images/dian_12_1.gif) no-repeat left top; PADDING-BOTTOM: 4px; LINE-HEIGHT: 18px; PADDING-TOP: 4px; LIST-STYLE-TYPE: none
}
#container #left .container .tuij UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#container #left .container .biant {
	BORDER-RIGHT: #bdd5e9 1px solid; BORDER-TOP: #bdd5e9 1px solid; BACKGROUND: url(../images/biant_bg.gif) no-repeat 50% top; MARGIN: 10px auto; BORDER-LEFT: #bdd5e9 1px solid; WIDTH: 590px; BORDER-BOTTOM: #bdd5e9 1px solid
}
#container #left .container .biant .tit {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; HEIGHT: 20px
}
#container #left .container .biant .tit H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #005197
}
#container #left .container .biant .con {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; PADDING-BOTTOM: 0px; PADDING-TOP: 14px; HEIGHT: 130px
}
#container #left .container .biant .con .le {
	BORDER-RIGHT: #a2a2a2 1px dashed; FLOAT: left; WIDTH: 276px; HEIGHT: 120px
}
#container #left .container .biant .con .le H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #005197; HEIGHT: 24px
}
#container #left .container .biant .con .le H4 A {
	COLOR: #005197; TEXT-DECORATION: none
}
#container #left .container .biant .con .le H4 A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container .biant .con .le DL {
	FONT-SIZE: 12px; WIDTH: 260px
}
#container #left .container .biant .con .le DT {
	FLOAT: left; WIDTH: 100px; HEIGHT: 80px
}
#container #left .container .biant .con .le DD {
	FLOAT: right; WIDTH: 150px; COLOR: #464646; LINE-HEIGHT: 20px
}
#container #left .container .biant .con .ri {
	PADDING-LEFT: 18px; FONT-SIZE: 12px; FLOAT: left; WIDTH: 255px; LINE-HEIGHT: 24px
}
#container #left .container .biant .con .ri A {
	COLOR: #005197; TEXT-DECORATION: underline
}
#container #left .container .biant .con .ri A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container .biant .con .ri LI {
	PADDING-LEFT: 10px; BACKGROUND: url(../images/dian_12_3.gif) no-repeat left top
}
#container #left .container .status {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 24px; MARGIN: 0px auto; PADDING-TOP: 24px; HEIGHT: 24px; TEXT-ALIGN: center
}
#container #left .container .status A {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; COLOR: #396588; PADDING-TOP: 7px; TEXT-DECORATION: none
}
#container #left .container .status A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container .status SPAN {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#container #left .container .status SPAN A {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: url(../images/status_bg.gif) no-repeat; PADDING-BOTTOM: 5px; WIDTH: 23px; COLOR: #396588; PADDING-TOP: 3px; HEIGHT: 23px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#container #left .container .status SPAN A:hover {
	BACKGROUND: url(../images/status_bg1.gif) no-repeat; COLOR: #c00; TEXT-DECORATION: none
}
#container #left .container .status EM {
	FONT-SIZE: 14px; COLOR: #396588; PADDING-TOP: 8px
}
#container #left .container .status .sp1 A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(../images/status_bg1.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 7px; MARGIN: 0px 4px; WIDTH: 23px; COLOR: #396588; PADDING-TOP: 3px; HEIGHT: 23px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#container #left .container .status .sp1 A:hover {
	BACKGROUND: url(../images/status_bg1.gif) no-repeat; COLOR: #c00; TEXT-DECORATION: none
}
#container #left .container .feny {
	BORDER-RIGHT: #bdd5e9 1px solid; PADDING-RIGHT: 14px; BORDER-TOP: #bdd5e9 1px solid; PADDING-LEFT: 14px; PADDING-BOTTOM: 4px; MARGIN: 0px 24px; BORDER-LEFT: #bdd5e9 1px solid; WIDTH: 560px; PADDING-TOP: 10px; BORDER-BOTTOM: #bdd5e9 1px solid
}
#container #left .container .feny SPAN {
	FONT-WEIGHT: bold; COLOR: #005197
}
#container #left .container .feny UL {
	PADDING-TOP: 6px
}
#container #left .container .feny LI {
	FLOAT: left; WIDTH: 280px; COLOR: #005197; LINE-HEIGHT: 20px; HEIGHT: 20px
}
#container #left .container .feny A {
	COLOR: #005197; TEXT-DECORATION: none
}
#container #left .container .feny A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container .feny EM {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container .zhus {
	PADDING-RIGHT: 5px; BORDER-TOP: #dde6f1 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px; BORDER-BOTTOM: #dde6f1 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #f5fafe
}
#container #left .container .zhus DL {
	HEIGHT: 18px
}
#container #left .container .zhus DT {
	FONT-WEIGHT: bold; FLOAT: left; WIDTH: 350px; COLOR: #005197; HEIGHT: 18px
}
#container #left .container .zhus DD {
	FLOAT: right; WIDTH: 240px; COLOR: #c00; TEXT-ALIGN: right
}
#container #left .container .zhus DD A {
	MARGIN-LEFT: 4px; COLOR: #005197; TEXT-DECORATION: underline
}
#container #left .container .zhus DD A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container .lij {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 18px; COLOR: #005197; LINE-HEIGHT: 24px; PADDING-TOP: 18px; TEXT-ALIGN: center
}
#container #left .container .lij A {
	MARGIN: 0px 4px; COLOR: #005197; TEXT-DECORATION: underline
}
#container #left .container .lij A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container .lij SPAN {
	PADDING-RIGHT: 25px; PADDING-LEFT: 25px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#container #left .review {
	BORDER-RIGHT: #dbdbdb 1px solid; BORDER-TOP: #dbdbdb 1px solid; BORDER-LEFT: #dbdbdb 1px solid; BORDER-BOTTOM: #dbdbdb 1px solid
}
#container #left .review .tit {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 9px; HEIGHT: 21px; BACKGROUND-COLOR: #f2f2f2
}
#container #left .review .tit H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; COLOR: #005197
}
#container #left .review .tit SPAN {
	FONT-WEIGHT: bold; FLOAT: right; COLOR: #005197
}
#container #left .review .tit SPAN A {
	COLOR: #005197; TEXT-DECORATION: none
}
#container #left .review .tit SPAN A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .review .tit EM {
	FONT-WEIGHT: 100; COLOR: #f00
}
#container #left .review .con {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px 14px; PADDING-TOP: 14px; BORDER-BOTTOM: #b2b2b3 1px dashed
}
#container #left .review .con DL {
	HEIGHT: 20px
}
#container #left .review .con DT {
	FONT-WEIGHT: bold; FLOAT: left; WIDTH: 200px; COLOR: #005197
}
#container #left .review .con DT A {
	COLOR: #005197; TEXT-DECORATION: underline
}
#container #left .review .con DT A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .review .con DD {
	FLOAT: right; WIDTH: 200px; COLOR: #7d7d7d; HEIGHT: 20px; TEXT-ALIGN: right
}
#container #left .review .con .bg1 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 4px; COLOR: #7d7d7d; LINE-HEIGHT: 18px; PADDING-TOP: 4px; BACKGROUND-COLOR: #f7f7f7
}
#container #left .review .con .bg2 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 4px; COLOR: #7d7d7d; LINE-HEIGHT: 18px; PADDING-TOP: 4px; BACKGROUND-COLOR: #f5fafe
}
#container #left .review .con1 {
	PADDING-RIGHT: 14px; BORDER-TOP: #dbdbdb 1px solid; MARGIN-TOP: 12px; PADDING-LEFT: 14px; BACKGROUND: url(../images/pingl_bg.gif) #f8f8f8 no-repeat left top; PADDING-BOTTOM: 4px; PADDING-TOP: 10px
}
#container #left .review .con1 .sp1 {
	PADDING-LEFT: 63px; HEIGHT: 20px
}
#container #left .review .con1 .sp1 EM {
	PADDING-RIGHT: 2px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
#container #left .review .con1 .sp2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 18px
}
#container #left .mary {
	BORDER-RIGHT: #dbdbdb 1px solid; PADDING-RIGHT: 14px; BORDER-TOP: #dbdbdb 1px solid; PADDING-LEFT: 14px; PADDING-BOTTOM: 4px; BORDER-LEFT: #dbdbdb 1px solid; COLOR: #005197; PADDING-TOP: 12px; BORDER-BOTTOM: #dbdbdb 1px solid; BACKGROUND-COLOR: #f8f8f8
}
#container #left .mary A {
	COLOR: #005197; TEXT-DECORATION: none
}
#container #left .mary A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .mary .le1 {
	BORDER-RIGHT: #dbdbdb 1px solid; FLOAT: left; WIDTH: 290px; MARGIN-RIGHT: 16px
}
#container #left .mary .le1 .tit {
	PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/ico1.gif) no-repeat; HEIGHT: 26px
}
#container #left .mary .le1 LI {
	PADDING-LEFT: 10px; BACKGROUND: url(../images/dian_12.gif) no-repeat left top; LINE-HEIGHT: 23px
}
#container #left .mary .le2 {
	FLOAT: left; WIDTH: 290px; HEIGHT: 150px
}
#container #left .mary .le2 .tit {
	PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/ico1.gif) no-repeat; HEIGHT: 26px
}
#container #left .mary .le2 LI {
	PADDING-LEFT: 10px; BACKGROUND: url(../images/dian_12.gif) no-repeat left top; LINE-HEIGHT: 23px
}
#container #right {
	BORDER-RIGHT: #dbdbdb 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #dbdbdb 1px solid; PADDING-LEFT: 5px; FLOAT: right; PADDING-BOTTOM: 0px; BORDER-LEFT: #dbdbdb 1px solid; WIDTH: 300px; PADDING-TOP: 5px; BORDER-BOTTOM: #dbdbdb 1px solid; BACKGROUND-COLOR: #f2f2f2
}
#container #right .hot {
	PADDING-RIGHT: 12px; PADDING-LEFT: 10px; BACKGROUND: url(../images/new_bg.gif); PADDING-BOTTOM: 0px; WIDTH: 277px; PADDING-TOP: 10px; HEIGHT: 115px
}
#container #right .hot A {
	COLOR: #000; TEXT-DECORATION: none
}
#container #right .hot A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #right .hot .tit {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; HEIGHT: 20px
}
#container #right .hot .tit EM {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; COLOR: #fff; PADDING-TOP: 2px; BACKGROUND-COLOR: #b70701
}
#container #right .hot .con {
	PADDING-TOP: 8px
}
#container #right .hot .con DL {
	HEIGHT: 70px
}
#container #right .hot .con DT {
	FLOAT: left; WIDTH: 136px; HEIGHT: 70px
}
#container #right .hot .con DD {
	FLOAT: right; WIDTH: 134px; COLOR: #666; LINE-HEIGHT: 23px; HEIGHT: 70px
}
#container #right .bann {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#container #right .top10 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: url(../images/top10.gif) #fff no-repeat; PADDING-BOTTOM: 6px; PADDING-TOP: 44px
}
#container #right .top10 .tab {
	FONT-SIZE: 14px; BACKGROUND: url(../images/tab_bg1.gif); PADDING-TOP: 8px; HEIGHT: 20px
}
#container #right .top10 .tab A {
	PADDING-RIGHT: 31px; DISPLAY: block; PADDING-LEFT: 31px; FLOAT: left; PADDING-BOTTOM: 1px; COLOR: #c00; PADDING-TOP: 2px; TEXT-DECORATION: none
}
#container #right .top10 .tab .myon {
	BACKGROUND: url(../images/tab_bg2.gif) no-repeat center top; COLOR: #c00; TEXT-DECORATION: none
}
#container #right .top10 .tab1 {
	BACKGROUND: url(../images/tab_bg2.gif) no-repeat center top
}
#container #right .top10 .list {
	BORDER-RIGHT: #f2f2f2 1px solid; BORDER-TOP: #f2f2f2 1px solid; MARGIN-TOP: 1px; BACKGROUND: url(../images/dian_10.gif) no-repeat left top; BORDER-LEFT: #f2f2f2 1px solid
}
#container #right .top10 .list A {
	COLOR: #005197; TEXT-DECORATION: none
}
#container #right .top10 .list A:hover {
	COLOR: #c00; BACKGROUND-COLOR: #fefde8; TEXT-DECORATION: underline
}
#container #right .top10 .list LI {
	PADDING-LEFT: 36px; LINE-HEIGHT: 27px; BORDER-BOTTOM: #f2f2f2 1px solid; HEIGHT: 27px
}
#container #right .tag {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: url(../images/tag_bg.gif) #fff no-repeat; PADDING-BOTTOM: 6px; PADDING-TOP: 37px
}
#container #right .tag .con {
	BORDER-RIGHT: #f2f2f2 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #f2f2f2 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 2px; BORDER-LEFT: #f2f2f2 1px solid; LINE-HEIGHT: 24px; PADDING-TOP: 4px; BORDER-BOTTOM: #f2f2f2 1px solid
}
#container #right .tag .con A {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; COLOR: #005197; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#container #right .tag .con A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #right .dingy {
	BACKGROUND: url(../images/dingy_bg.gif); HEIGHT: 129px
}
#container #right .dingy A {
	FONT-WEIGHT: bold; COLOR: #005197; TEXT-DECORATION: underline
}
#container #right .dingy A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #right .redian {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: url(../images/redian_bg.gif) #fff no-repeat; PADDING-BOTTOM: 6px; PADDING-TOP: 38px
}
#container #right .redian .list {
	BORDER-RIGHT: #f2f2f2 1px solid; BORDER-TOP: #f2f2f2 1px solid; MARGIN-TOP: 1px; BORDER-LEFT: #f2f2f2 1px solid
}
#container #right .redian .list A {
	COLOR: #005197; TEXT-DECORATION: none
}
#container #right .redian .list A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #right .redian .list LI {
	PADDING-LEFT: 18px; BACKGROUND: url(../images/dian_12_2.gif) no-repeat left top; LINE-HEIGHT: 27px; BORDER-BOTTOM: #f2f2f2 1px solid; HEIGHT: 27px
}
#tanc {
	LEFT: 260px; MARGIN: 0px; WIDTH: 259px; POSITION: fixed; TOP: 260px
}
#tanc .tit {
	PADDING-RIGHT: 6px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 8px; HEIGHT: 21px; BACKGROUND-COLOR: #2f8cbe
}
#tanc .tit DL {
	WIDTH: 234px; HEIGHT: 20px
}
#tanc .tit DT {
	FLOAT: left; WIDTH: 210px; HEIGHT: 20px
}
#tanc .tit SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #fff200
}
#tanc .tit DD {
	FLOAT: right; WIDTH: 15px; HEIGHT: 20px
}
#tanc .con {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #aaa 1px solid
}
#tanc .con OL {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; COLOR: #da1911; LINE-HEIGHT: 22px; BORDER-BOTTOM: #464646 1px dashed
}
#tanc .con UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#tanc .con UL A {
	COLOR: #222; TEXT-DECORATION: none
}
#tanc .con UL A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#tanc .con LI {
	PADDING-LEFT: 14px; BACKGROUND: url(../images/dian_12_4.gif) no-repeat left top; LINE-HEIGHT: 24px; HEIGHT: 24px
}
#tanc .con EM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #ff0
}
#foot {
	PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px auto; WIDTH: 960px; LINE-HEIGHT: 24px; PADDING-TOP: 12px; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
.new_te1 {
	BORDER-RIGHT: #606060 1px solid; BORDER-TOP: #606060 1px solid; BORDER-LEFT: #606060 1px solid; WIDTH: 149px; BORDER-BOTTOM: #606060 1px solid; HEIGHT: 21px; BACKGROUND-COLOR: #fff
}
.new_te2 {
	BORDER-RIGHT: #b2b2b2 1px solid; BORDER-TOP: #b2b2b2 1px solid; BORDER-LEFT: #b2b2b2 1px solid; WIDTH: 135px; BORDER-BOTTOM: #b2b2b2 1px solid; HEIGHT: 19px; BACKGROUND-COLOR: #fff
}
.new_te3 {
	BORDER-RIGHT: #b2b2b2 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #b2b2b2 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 14px; BACKGROUND: url(../images/logo_bg.gif) #fff no-repeat right top; PADDING-BOTTOM: 10px; BORDER-LEFT: #b2b2b2 1px solid; WIDTH: 570px; COLOR: #464646; PADDING-TOP: 10px; BORDER-BOTTOM: #b2b2b2 1px solid; HEIGHT: 80px
}
.new_te4 {
	BORDER-RIGHT: #b2b2b2 1px solid; BORDER-TOP: #b2b2b2 1px solid; BORDER-LEFT: #b2b2b2 1px solid; WIDTH: 50px; BORDER-BOTTOM: #b2b2b2 1px solid; HEIGHT: 19px; BACKGROUND-COLOR: #fff
}
.new_te5 {
	BORDER-TOP: #be390a 1px solid; BORDER-LEFT: #be390a 1px solid; WIDTH: 130px; BORDER-BOTTOM: #be390a 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #fff; BORDER-RIGHT-WIDTH: 0px
}
.wrap {
	MARGIN-BOTTOM: 20px; MARGIN-LEFT: auto; WIDTH: 960px; MARGIN-RIGHT: auto
}
.m_l {
	BORDER-RIGHT: #b7b7b7 1px solid; BORDER-TOP: #b7b7b7 1px solid; FLOAT: left; BORDER-LEFT: #b7b7b7 1px solid; WIDTH: 638px; BORDER-BOTTOM: #b7b7b7 1px solid
}
.m_l_menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; COLOR: #525252; PADDING-TOP: 10px; BORDER-BOTTOM: #d3d3d3 1px solid; HEIGHT: 18px
}
.m_l_menu A {
	COLOR: #525252; TEXT-DECORATION: none
}
.m_l_menu A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
PRE {
	FONT-SIZE: 12px; BACKGROUND: #e6e6e6; MARGIN: 0px 0px 1em; OVERFLOW: auto; WIDTH: 99%; FONT-FAMILY: 'Courier New' , Monospace
}
PRE OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
PRE OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
PRE OL LI SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
PRE A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
PRE A:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
PRE OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/010101bg.gif) repeat-y; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 1px 3em; COLOR: #5c5c5c; PADDING-TOP: 5px; LIST-STYLE-TYPE: decimal
}
PRE OL LI {
	PADDING-RIGHT: 3px! important; PADDING-LEFT: 10px! important; LIST-STYLE-POSITION: outside! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; COLOR: #5c5c5c; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px! important
}
PRE OL LI.alt {
	
}
PRE OL LI SPAN {
	COLOR: black
}
PRE .comment {
	COLOR: #008200
}
PRE .comments {
	COLOR: #008200
}
PRE .string {
	COLOR: blue
}
PRE .keyword {
	FONT-WEIGHT: bold; COLOR: #069
}
PRE .preprocessor {
	COLOR: gray
}
PRE .dp-xml .cdata {
	COLOR: #ff1493
}
PRE .dp-xml .tag {
	FONT-WEIGHT: bold; COLOR: #069
}
PRE .dp-xml .tag-name {
	FONT-WEIGHT: bold; COLOR: #069
}
PRE .dp-xml .attribute {
	COLOR: red
}
PRE .dp-xml .attribute-value {
	COLOR: blue
}
PRE .dp-sql .func {
	COLOR: #ff1493
}
PRE .dp-sql .op {
	COLOR: #808080
}
PRE .dp-rb .symbol {
	COLOR: #a70
}
PRE .dp-rb .variable {
	FONT-WEIGHT: bold; COLOR: #a70
}
PRE .dp-py .builtins {
	COLOR: #ff1493
}
PRE .dp-py .magicmethods {
	COLOR: #808080
}
PRE .dp-py .exceptions {
	COLOR: brown
}
PRE .dp-py .types {
	COLOR: brown; FONT-STYLE: italic
}
PRE .dp-py .commonlibs {
	COLOR: #8a2be2; FONT-STYLE: italic
}
PRE .dp-j .annotation {
	COLOR: #646464
}
PRE .dp-j .number {
	COLOR: #c00000
}
PRE .dp-delphi .number {
	COLOR: blue
}
PRE .dp-delphi .directive {
	COLOR: #008284
}
PRE .dp-delphi .vars {
	COLOR: #000
}
PRE .dp-css .value {
	COLOR: black
}
PRE .dp-css .important {
	COLOR: red
}
PRE .dp-c .vars {
	COLOR: #d00
}
PRE .dp-cpp .datatypes {
	FONT-WEIGHT: bold; COLOR: #2e8b57
}
#container #left .container {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 6px; LINE-HEIGHT: 26px; PADDING-TOP: 6px
}
#container #left .container LI {
	BACKGROUND: none transparent scroll repeat 0% 0%; LINE-HEIGHT: 24px
}
#container #left .container A {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
#container #left .container A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
#container #left .container UL {
	LINE-HEIGHT: 30px
}
#container #left .container OL {
	PADDING-LEFT: 20px; COLOR: #000; LINE-HEIGHT: 30px
}
#container #left .container OL LI {
	PADDING-LEFT: 14px; BACKGROUND-IMAGE: url(../AppData/Roaming/Adobe/Dreamweaver%20CS4/zh_CN/Configuration/images/dt1.gif); COLOR: #000; BACKGROUND-REPEAT: no-repeat
}
#container #left .container UL P {
	MARGIN: 10px 0px; TEXT-INDENT: 28px
}
