UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	MARGIN-TOP: 0px
}
HTML {
	WIDTH: 100%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 100%; BORDER-BOTTOM-STYLE: none
}
#header {
	FONT-SIZE: 12px; MARGIN: 0px 0px 8px 8px; WIDTH: 760px
}
#header FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#header A {
	COLOR: #00c
}
#header IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#header .i {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 3px; FONT: 16px/16px arial; WIDTH: 360px; PADDING-TOP: 3px
}
#header .su {
	FONT-SIZE: 14px; MARGIN: 0px 9px 0px 8px; WIDTH: 78px; LINE-HEIGHT: 24px; HEIGHT: 28px
}
#header .hdf {
	FLOAT: left
}
#header .hdl {
	FLOAT: left; WIDTH: 145px
}
#header .hdf P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#header .hdf LABEL {
	MARGIN-RIGHT: 6px
}
#header .hdtag {
	FONT-SIZE: 14px; MARGIN-BOTTOM: 3px; LINE-HEIGHT: 16px; FONT-FAMILY: arial
}
#header .hda {
	MARGIN-TOP: 28px; FONT-SIZE: 12px; FLOAT: left; LINE-HEIGHT: 16px
}
.hdtag B {
	FONT-WEIGHT: 700
}
#hdSearch {
	MARGIN: 4px 0px 8px 8px
}
#hdSearch IMG {
	MARGIN-RIGHT: 9px
}
#hdSearch A {
	TEXT-DECORATION: underline
}
#hdTopTag {
	FONT-SIZE: 14px; LINE-HEIGHT: 18px; FONT-FAMILY: arial; HEIGHT: 21px
}
#hdSearch .i {
	FONT-SIZE: 16px; FONT-FAMILY: arial
}
.search_label LABEL {
	MARGIN-RIGHT: 6px
}
#header .tab {
	FONT-SIZE: 14px; LINE-HEIGHT: 18px; FONT-FAMILY: arial; HEIGHT: 21px
}
#header .tab A {
	MARGIN-RIGHT: 12px
}
.tab STRONG {
	MARGIN-RIGHT: 12px
}
#header TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
.FeDialog {
	LEFT: 20px; TOP: 20px
}
.FeDialog_shadow {
	BACKGROUND: #ccc
}
.FeDialogContent {
	MIN-HEIGHT: 40px; BACKGROUND: #fff; CURSOR: default; TEXT-ALIGN: left; min-width: 150px
}
.FeDialog_inner {
	PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #709cd2
}
.FeDialog_wrapper {
	BORDER-COLLAPSE: collapse
}
.FeDialog .FeDialogCaption {
	CURSOR: default; PADDING-TOP: 3px; HEIGHT: 22px; TEXT-ALIGN: left
}
.FeDialog .FeDialogCaptionText {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; OVERFLOW: hidden; CURSOR: move; COLOR: #fff; LINE-HEIGHT: 18px; MARGIN-RIGHT: 5px; HEIGHT: 20px
}
.FeDialog .FeDialogControlBar {
	PADDING-RIGHT: 1px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; CURSOR: default; LINE-HEIGHT: normal; PADDING-TOP: 1px
}
.FeDialog .FeDialogControlBar IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.FeDialog .FeDialogStatusBar {
	BACKGROUND: #fff; CURSOR: default; COLOR: #fff; LINE-HEIGHT: 20px
}
.FeDialog .FeDialogButtonBar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 10px; PADDING-TOP: 5px; HEIGHT: 30px
}
.FeDialog_wrapper TR.top_ TD {
	FONT-SIZE: 1px; OVERFLOW: hidden; LINE-HEIGHT: 1px; HEIGHT: 0px
}
.FeDialog_wrapper TR.bottom_ TD {
	FONT-SIZE: 1px; OVERFLOW: hidden; LINE-HEIGHT: 1px; HEIGHT: 0px
}
.FeDialog_wrapper TR.middle_ TD.left_ {
	OVERFLOW: hidden; WIDTH: 1px
}
.FeDialog_wrapper TR.middle_ TD.right_ {
	OVERFLOW: hidden; WIDTH: 1px
}
.focused_ .FeDialogControlBar .close_ IMG {
	BACKGROUND-POSITION: left 0px
}
.focused_ .FeDialogControlBar .close_:hover IMG {
	BACKGROUND-POSITION: left 0px
}
.FeDialog .accept_ {
	MARGIN-RIGHT: 8px
}
.FeDialog .accept_ {
	WIDTH: 75px
}
.FeDialog .cancel_ {
	WIDTH: 75px
}
.FeDialog .alertFacePanel {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.errorFaceTitle {
	PADDING-LEFT: 60px; FONT-SIZE: 20px; BACKGROUND: url(http://static.tieba.baidu.com/tb/js/Fe/_resource/FeDialog/errorFace.gif) no-repeat 10px 10px; LINE-HEIGHT: 60px; FONT-FAMILY: '黑体'; HEIGHT: 60px
}
.messageFaceTitle {
	PADDING-LEFT: 60px; FONT-SIZE: 20px; BACKGROUND: url(http://static.tieba.baidu.com/tb/js/Fe/_resource/FeDialog/messageFace.gif) no-repeat 10px 10px; LINE-HEIGHT: 60px; FONT-FAMILY: '黑体'; HEIGHT: 60px
}
#passpost_sign {
	PADDING-RIGHT: 22px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; FONT: 12px/18px '宋体'; OVERFLOW: hidden; PADDING-TOP: 10px; TEXT-ALIGN: left
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#passpost_sign IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#passpost_sign A:link {
	COLOR: #261cdc
}
#passpost_sign A:visited {
	COLOR: #261cdc
}
#passpost_sign_wrapper {
	CLEAR: both; PADDING-LEFT: 18px
}
#passpost_sign_footer {
	PADDING-LEFT: 8px
}
#passpost_sign FIELDSET {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#passpost_sign LEGEND {
	DISPLAY: none
}
#passpost_sign INPUT {
	VERTICAL-ALIGN: middle
}
#passpost_sign UL {
	LIST-STYLE-TYPE: none
}
#passpost_sign_nav {
	FONT-SIZE: 14px; PADDING-BOTTOM: 8px
}
#passpost_sign_nav LI A {
	FONT-SIZE: 14px; LINE-HEIGHT: 23px
}
#passpost_sign_nav UL {
	PADDING-RIGHT: 18px; PADDING-LEFT: 18px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; BORDER-BOTTOM: #a1a1a1 1px solid; LIST-STYLE-TYPE: none; HEIGHT: 23px
}
#passpost_sign_nav LI {
	BORDER-RIGHT: #a1a1a1 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #a1a1a1 1px solid; PADDING-LEFT: 12px; BACKGROUND: #ebf3fe; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #a1a1a1 1px solid; MARGIN-RIGHT: 3px; PADDING-TOP: 0px; BORDER-BOTTOM: #a1a1a1 1px; HEIGHT: 22px
}
#passpost_sign_nav LI.focus {
	BACKGROUND: #fff; LINE-HEIGHT: 23px; POSITION: relative; HEIGHT: 23px
}
#passpost_sign_nav .focus A {
	FONT-WEIGHT: bold; COLOR: black
}
#passpost_sign_cnt P {
	CLEAR: both; MARGIN-TOP: 0px; MARGIN-BOTTOM: 6px
}
#passpost_sign_cnt {
	WIDTH: 100%; ZOOM: 1
}
#passpost_sign_cnt .pass-server-error {
	MARGIN: 0px
}
.pass-form-wapper-reg LABEL {
	FONT-WEIGHT: bold
}
.pass-valid-note {
	MARGIN-LEFT: 6px
}
.pass-server-error {
	COLOR: red
}
.pass-loginpass INPUT {
	WIDTH: 90px
}
.pass-verifypass INPUT {
	WIDTH: 90px
}
.pass-verifypass .pass-desc {
	DISPLAY: none; HEIGHT: 0px
}
.pass-verifycode .pass-desc {
	DISPLAY: none; HEIGHT: 0px
}
.pass-verifycode {
	PADDING-BOTTOM: 8px; OVERFLOW: hidden; ZOOM: 1
}
.pass-verifycode INPUT {
	WIDTH: 60px; MARGIN-RIGHT: 6px
}
.pass-verifycode  {
	MARGIN-TOP: 20px; FLOAT: left
}
.pass-verifycode IMG {
	MARGIN: 0px 6px; VERTICAL-ALIGN: bottom
}
.pass-sex INPUT {
	MARGIN-TOP: -3px
}
.pass-email INPUT {
	WIDTH: 186px
}
.pass-desc {
	DISPLAY: block; PADDING-LEFT: 72px; COLOR: #666
}
.pass-valid-note {
	COLOR: red
}
#PassFormreg {
	PADDING-TOP: 10px
}
#PassRegAgree {
	DISPLAY: none
}
.reg_protocal {
	MARGIN-TOP: -28px; PADDING-LEFT: 96px; FLOAT: left
}
.reg_protocal_tip {
	COLOR: #666
}
#reg_recommended {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 6px
}
#reg_recommended P {
	MARGIN: 0px
}
#reg_recommended H2 {
	MARGIN: 0px; FONT: lighter 14px/22px 'Arial'
}
#reg_recommended INPUT {
	VERTICAL-ALIGN: middle
}
.reg_recommended_title {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: #eee; PADDING-BOTTOM: 2px; OVERFLOW: hidden; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 18px
}
.reg_recommended_wrapper {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; WIDTH: 425px; BORDER-BOTTOM: #ccc 1px solid
}
#reg_recommended P.reg_face_link {
	BORDER-RIGHT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; BACKGROUND: #fff; MARGIN: 0px auto; BORDER-LEFT: #d4d4d4 1px solid; WIDTH: 50px; BORDER-BOTTOM: #d4d4d4 1px solid; HEIGHT: 50px
}
.reg_name_link IMG {
	MARGIN-TOP: -3px; VERTICAL-ALIGN: middle
}
#reg_recommended_cnt {
	OVERFLOW-Y: auto; HEIGHT: 100px
}
#reg_recommended_cnt TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 96px; PADDING-TOP: 6px; TEXT-ALIGN: center
}
#reg_recommended_cnt TD P {
	
}
#reg_success_tip {
	PADDING-TOP: 66px; TEXT-ALIGN: center
}
.reg_success_tip_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fdfdd5; MARGIN-BOTTOM: 24px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.reg_success_tip_title P {
	FONT-SIZE: 14px; LINE-HEIGHT: 18px; HEIGHT: 18px
}
.reg_success_tip_title IMG {
	MARGIN-BOTTOM: -3px; MARGIN-RIGHT: 18px
}
.reg_success_tip_info {
	MARGIN-TOP: 24px; COLOR: #666
}
#PassFormlogin P {
	MARGIN-BOTTOM: 8px
}
.pass-form-wapper-login {
	PADDING-TOP: 18px
}
.pass-form-wapper-login LABEL {
	FONT-SIZE: 14px
}
.passport_login_title {
	PADDING-LEFT: 12px; FONT: bold 14px/22px 'Arial'
}
.passport_reg_entry {
	PADDING-RIGHT: 0px; BORDER-TOP: #a1a1a1 1px solid; MARGIN-TOP: 16px; PADDING-LEFT: 0px; PADDING-BOTTOM: 18px; PADDING-TOP: 10px; ZOOM: 1; TEXT-ALIGN: center
}
.pass-safe-trigger {
	DISPLAY: none
}
.pass-mem_pass {
	MARGIN-LEFT: 56px; PADDING-TOP: 8px; HEIGHT: 18px
}
.pass-mem_pass LABEL {
	FONT-SIZE: 12px
}
#PassFormlogin {
	PADDING-LEFT: 12px
}
#PassFormlogin BUTTON {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px 12px 0px 54px; PADDING-TOP: 0px
}
#PassFormlogin .pass-server-error {
	MARGIN-TOP: -18px; FLOAT: left; WIDTH: 100%; HEIGHT: 18px
}
.pass-form-wapper-login .pass-desc {
	DISPLAY: none
}
#PassFormlogin .pass-verifycode {
	MARGIN-BOTTOM: 0px
}
#PassFormlogin .pass-username INPUT {
	WIDTH: 136px
}
#PassFormlogin .pass-password INPUT {
	WIDTH: 136px
}
#PassFormlogin .pass-verifycode SPAN {
	DISPLAY: none
}
.pass-form P {
	WIDTH: 100%
}
#reg_recommended_cnt P {
	WIDTH: 100%
}
#userbar {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: '宋体'; HEIGHT: 23px
}
#userbar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#userbar P {
	MARGIN: 0px
}
#userbar UL.userbar_nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 4px; HEIGHT: 19px
}
.userbar_nav LI {
	DISPLAY: block; FLOAT: left; LINE-HEIGHT: 20px; HEIGHT: 20px
}
#userbar .split {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#userbar .more {
	PADDING-RIGHT: 8px; TEXT-ALIGN: right
}
#userbar .text_cnt {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.userbar_tab_wrap {
	Z-INDEX: 600; ZOOM: 1; POSITION: relative
}
.userbar_tab_body_title {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 6px; Z-INDEX: 6; BACKGROUND: #fff; LEFT: -7px; PADDING-BOTTOM: 2px; BORDER-LEFT: #999 1px solid; WIDTH: auto; PADDING-TOP: 0px; BORDER-BOTTOM: #999 1px; POSITION: absolute; TOP: -1px
}
.userbar_tab_body_cnt {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; Z-INDEX: 5; BACKGROUND: #fff; LEFT: -7px; PADDING-BOTTOM: 4px; BORDER-LEFT: #999 1px solid; WIDTH: 120px; LINE-HEIGHT: 18px; BORDER-BOTTOM: #999 1px solid; POSITION: absolute; TOP: 20px; TEXT-ALIGN: left
}
.userbar_tab_body LI {
	FLOAT: none; LINE-HEIGHT: 18px; HEIGHT: auto
}
.userbar_tab_body_cnt UL A {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.userbar_tab_body_cnt UL A:hover {
	BACKGROUND-COLOR: #e4e4e4
}
.userbar_tab_body_divide {
	MARGIN: 2px 3px; OVERFLOW: hidden; LINE-HEIGHT: 0; BORDER-BOTTOM: #d4d4d4 1px solid
}
#hiIcon {
	BACKGROUND: url(http://static.tieba.baidu.com/tb/img/webIM.gif) no-repeat left 50%; MARGIN: 0px 0px 0px 4px; WIDTH: 16px; CURSOR: pointer; HEIGHT: 17px
}
#hiMsg {
	DISPLAY: none; BACKGROUND: url(http://static.tieba.baidu.com/tb/img/webIM.gif) no-repeat right 2px; CURSOR: pointer
}
#msgRight {
	PADDING-RIGHT: 2px; PADDING-LEFT: 4px; BACKGROUND: url(http://static.tieba.baidu.com/tb/img/webIM.gif) no-repeat -16px 50%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 2px 1px 0px 0px; COLOR: #fff; LINE-HEIGHT: 14px; PADDING-TOP: 0px; HEIGHT: 17px
}
#userbar .arrow {
	PADDING-RIGHT: 16px; DISPLAY: inline-block; BACKGROUND: url(common/userbar.gif) no-repeat right -42px; MARGIN: 0px; LINE-HEIGHT: 20px; HEIGHT: 19px
}
#my_forum_wrap .arrow {
	LINE-HEIGHT: 18px
}
#tb_message_tip {
	Z-INDEX: 2; LEFT: 24px; WIDTH: 170px; POSITION: absolute; TOP: 12px; TEXT-ALIGN: left
}
#tb_message_tip .top {
	BACKGROUND: url(common/userbar.gif) no-repeat 24px 0px; MARGIN-BOTTOM: -1px; OVERFLOW: hidden; POSITION: relative; HEIGHT: 11px
}
#tb_message_tip_cnt {
	BORDER-RIGHT: #fadc80 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #fadc80 1px solid; PADDING-LEFT: 6px; BACKGROUND: #fff9e3; PADDING-BOTTOM: 4px; OVERFLOW: hidden; BORDER-LEFT: #fadc80 1px solid; WIDTH: 150px; PADDING-TOP: 4px; BORDER-BOTTOM: #fadc80 1px solid
}
#tb_message_tip .tb_msg_tip_rightpanel {
	FLOAT: right; MARGIN: 0px; LINE-HEIGHT: 18px
}
#tb_message_tip .tb_msg_tip_rightpanel .setting:link {
	FONT-SIZE: 12px; FLOAT: left; COLOR: #686868; MARGIN-RIGHT: 10px; TEXT-DECORATION: underline
}
#tb_message_tip .tb_msg_tip_rightpanel .setting:hover {
	FONT-SIZE: 12px; FLOAT: left; COLOR: #686868; MARGIN-RIGHT: 10px; TEXT-DECORATION: underline
}
#tb_message_tip .tb_msg_tip_rightpanel .setting:visited {
	FONT-SIZE: 12px; FLOAT: left; COLOR: #686868; MARGIN-RIGHT: 10px; TEXT-DECORATION: underline
}
#tb_message_tip .tb_msg_tip_rightpanel .close_msg_tip {
	MARGIN-TOP: 3px; DISPLAY: block; BACKGROUND: url(common/userbar.gif) no-repeat 2px -68px; FLOAT: left; WIDTH: 11px; HEIGHT: 11px
}
#tb_message_tip UL {
	FLOAT: left
}
#tb_message_tip LI {
	FLOAT: none; OVERFLOW: hidden; WIDTH: 95px; LINE-HEIGHT: 20px; HEIGHT: auto
}
#userbar .username {
	LINE-HEIGHT: 18px; FONT-FAMILY: 'arial'
}
.itb_i_small {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: '宋体'
}
.itb_i_big {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; FONT-FAMILY: '宋体'
}
#my_space_info .userbar_tab_body_cnt {
	WIDTH: 110px
}
#my_space_entry A {
	DISPLAY: inline
}
#my_space_entry LI {
	HEIGHT: 18px
}
#my_apps_entry {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#my_apps_entry A {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#my_apps_entry UL {
	LIST-STYLE-TYPE: none
}
#my_apps_entry .more_app {
	BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 2px; PADDING-TOP: 4px
}
#my_apps_entry IMG {
	MARGIN-TOP: -1px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 4px
}
#my_apps_info .userbar_tab_body_cnt {
	WIDTH: 110px
}
#sign_in_guide_li {
	Z-INDEX: 400
}
#userbar_sign_in_guide {
	DISPLAY: none; RIGHT: 0px; WIDTH: 229px; POSITION: absolute; TOP: 22px; HEIGHT: 66px
}
.userbar_sign_in_guide_online {
	BACKGROUND: url(common/wealth.gif?v=1.2) no-repeat 0px 0px
}
.userbar_sign_in_guide_offline {
	BACKGROUND: url(common/wealth.gif?v=1.2) no-repeat 0px -30px
}
.userbar_sign_in_guide_cnt {
	PADDING-RIGHT: 9px; PADDING-LEFT: 60px; PADDING-BOTTOM: 0px; PADDING-TOP: 16px; TEXT-ALIGN: left
}
.userbar_sign_in_guide_close {
	DISPLAY: block; FLOAT: right; WIDTH: 14px; MARGIN-RIGHT: 0px; HEIGHT: 14px
}
#my_forum_wrap #userbar_sign_in_guide {
	BACKGROUND-POSITION: 0px -80px; RIGHT: auto; LEFT: 20px
}
#local_flash_cnt {
	MARGIN-TOP: -1px; FONT-SIZE: 0px; WIDTH: 1px; LINE-HEIGHT: 1px; HEIGHT: 1px
}
.simple_popup_msg {
	BORDER-RIGHT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; FILTER: progid:DXImageTransform.Microsoft.dropshadow(OffX=3,OffY=3,Color=#E5E5E5,Positive=true); BORDER-LEFT: #d4d4d4 1px solid; WIDTH: 270px; PADDING-TOP: 5px; BORDER-BOTTOM: #d4d4d4 1px solid; ZOOM: 1; moz-box-shadow: 3px 3px #E5E5E5; webkit-box-shadow: 3px 3px #E5E5E5
}
.simple_popup_msg .rc_content {
	MARGIN-TOP: -5px; BACKGROUND: #fffcd2
}
.simple_popup_msg .rc_top {
	DISPLAY: none; OVERFLOW: hidden; POSITION: relative; HEIGHT: 5px
}
.simple_popup_msg .rc_bottom {
	DISPLAY: none; OVERFLOW: hidden; POSITION: relative; HEIGHT: 5px
}
.simple_popup_msg .rc_bottom {
	MARGIN-TOP: -5px
}
.simple_popup_msg .rc_top B {
	BACKGROUND: url(common/rc.png) no-repeat; WIDTH: 5px; HEIGHT: 5px
}
.simple_popup_msg .rc_top I {
	BACKGROUND: url(common/rc.png) no-repeat; WIDTH: 5px; HEIGHT: 5px
}
.simple_popup_msg .rc_bottom B {
	BACKGROUND: url(common/rc.png) no-repeat; WIDTH: 5px; HEIGHT: 5px
}
.simple_popup_msg .rc_bottom I {
	BACKGROUND: url(common/rc.png) no-repeat; WIDTH: 5px; HEIGHT: 5px
}
.simple_popup_msg .rc_top B {
	FLOAT: left
}
.simple_popup_msg .rc_bottom B {
	FLOAT: left
}
.simple_popup_msg .rc_top I {
	FLOAT: right
}
.simple_popup_msg .rc_bottom I {
	FLOAT: right
}
.simple_popup_msg .rc_top B {
	BACKGROUND-POSITION: 0px 0px
}
.simple_popup_msg .rc_top I {
	BACKGROUND-POSITION: -5px 0px
}
.simple_popup_msg .rc_bottom B {
	BACKGROUND-POSITION: 0px -5px
}
.simple_popup_msg .rc_bottom I {
	BACKGROUND-POSITION: -5px -5px
}
.simple_popup_msg .cnt {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.tb_beans_num_tip {
	COLOR: red; FONT-FAMILY: Arial
}
.tb_beans_msg_tip {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 14px; PADDING-BOTTOM: 8px; LINE-HEIGHT: 1.5em; PADDING-TOP: 8px; TEXT-ALIGN: center
}
.debubg_title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 8px 0px; COLOR: red
}
#LCF_info {
	DISPLAY: block
}
#LCF_info H2 {
	MARGIN: 8px 0px
}
#LCF_info H3 {
	MARGIN: 8px 0px
}
#LCF_info H4 {
	MARGIN: 8px 0px
}
#LCF_info H2 {
	FONT-WEIGHT: 700; FONT-SIZE: 16px; COLOR: #af183f
}
#LCF_info H3 {
	FONT-WEIGHT: 700; FONT-SIZE: 14px; COLOR: #49138d
}
#LCF_info H4 {
	FONT-WEIGHT: 700; FONT-SIZE: 14px; COLOR: #13538d
}
#LCF_info H5 {
	FONT-WEIGHT: 700; FONT-SIZE: 14px; COLOR: #638d13
}
#LCF_info H6 {
	FONT-WEIGHT: 700; FONT-SIZE: 1em
}
