BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
HR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
IFRAME {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.clearfix {
	ZOOM: 1
}
BODY {
	FONT: 12px/18px '宋体'
}
DIV {
	FONT: 12px/18px '宋体'
}
TD {
	FONT: 12px/18px '宋体'
}
P {
	WORD-BREAK: break-all
}
DIV {
	WORD-BREAK: break-all
}
TD {
	WORD-BREAK: break-all
}
.i {
	FONT-SIZE: 16px; FONT-FAMILY: arial
}
.hdch {
	MARGIN-TOP: 3px; FONT-SIZE: 14px; FONT-FAMILY: arial; HEIGHT: 21px
}
A.top {
	FONT-FAMILY: arial
}
A.top:link {
	COLOR: #00c; TEXT-DECORATION: underline
}
A.top:visited {
	COLOR: #800080; TEXT-DECORATION: underline
}
A.top:active {
	COLOR: #00c; TEXT-DECORATION: underline
}
.fB {
	FONT-WEIGHT: bold
}
.cpro_post {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 12px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-RIGHT-WIDTH: 0px
}
.cpro_post DIV {
	OVERFLOW: hidden; WORD-BREAK: break-all
}
.cpro_post DIV A {
	FONT-SIZE: 12px; COLOR: black; TEXT-DECORATION: none
}
.cpro_post DIV A:visited {
	FONT-SIZE: 12px; COLOR: black; TEXT-DECORATION: none
}
.cpro_post DIV A U {
	FONT-SIZE: 14px; COLOR: blue; TEXT-DECORATION: underline
}
.cpro_post DIV A SPAN {
	FONT-SIZE: 12px; COLOR: green
}
.cpro_post DIV A SPAN.cpro_red {
	FONT-SIZE: 12px; COLOR: #c60a00
}
.cpro_post DIV A U SPAN.cpro_red {
	FONT-SIZE: 14px
}
#cproshow {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 210px; WORD-BREAK: break-all; PADDING-TOP: 0px
}
:link {
	COLOR: #261cdc; TEXT-DECORATION: underline
}
:visited {
	COLOR: #261cdc; TEXT-DECORATION: underline
}
#nav {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 18px
}
#admin_list {
	FLOAT: right
}
#admin_list A {
	PADDING-RIGHT: 6px
}
#thread_nav {
	PADDING-RIGHT: 6px; PADDING-LEFT: 16px; BACKGROUND: #00c; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 0px; HEIGHT: 18px
}
#thread_nav UL {
	LIST-STYLE-TYPE: none
}
#thread_nav A {
	COLOR: #fff
}
#thread_nav_left {
	FLOAT: left
}
#thread_nav_left LI {
	DISPLAY: inline
}
#thread_op_list {
	FLOAT: right
}
#thread_op_list LI {
	DISPLAY: inline
}
#thread_op_list .split {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#content {
	PADDING-LEFT: 16px
}
#content {
	LINE-HEIGHT: 18px
}
#content TD {
	LINE-HEIGHT: 18px
}
#thread_header {
	BACKGROUND: #fff; OVERFLOW: hidden; WIDTH: 75%; LINE-HEIGHT: 22px; FONT-FAMILY: 'Arial'
}
#thread_footer {
	BACKGROUND: #fff; OVERFLOW: hidden; WIDTH: 75%; LINE-HEIGHT: 22px; FONT-FAMILY: 'Arial'
}
#thread_header UL {
	LIST-STYLE-TYPE: none
}
#thread_footer UL {
	LIST-STYLE-TYPE: none
}
#thread_header {
	PADDING-BOTTOM: 12px; PADDING-TOP: 16px
}
#thread_footer {
	PADDING-TOP: 6px
}
#thread_header .forward_info {
	FLOAT: right; COLOR: #4b4b4b
}
#thread_header LI {
	FLOAT: left
}
#thread_footer LI {
	FLOAT: left
}
#thread_header #tb_version {
	MARGIN-LEFT: 12px
}
#thread_footer .forward {
	DISPLAY: inline-block; FLOAT: right; MARGIN-RIGHT: 6px
}
.post_num {
	COLOR: #f00
}
#forward_num {
	COLOR: #f00
}
.pagination {
	MARGIN-LEFT: 8px
}
.pagination {
	FONT: 12px/22px Verdana
}
.pagination A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; WHITE-SPACE: normal; TEXT-DECORATION: none
}
.pagination SPAN.tP {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; MARGIN: 0px 2px; WIDTH: 10px; COLOR: #fff; PADDING-TOP: 2px; BACKGROUND-COLOR: #0449be
}
.pagination SPAN.disabled {
	DISPLAY: none
}
#thread_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f4f4f4; PADDING-BOTTOM: 6px; WIDTH: 75%; COLOR: #fff; LINE-HEIGHT: 20px; PADDING-TOP: 6px; HEIGHT: 20px
}
#thread_title H1 {
	PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; COLOR: black; TEXT-ALIGN: left
}
#thread_title .forward {
	DISPLAY: inline-block; FLOAT: right; MARGIN-RIGHT: 6px
}
#thread_title_ext {
	WIDTH: 75%; LINE-HEIGHT: 1px; HEIGHT: 8px
}
.post_link A {
	COLOR: #261cdc; TEXT-DECORATION: underline
}
.post {
	WIDTH: 75%; BACKGROUND-COLOR: #fff
}
.post TABLE {
	TABLE-LAYOUT: fixed; WIDTH: 100%
}
.post INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.post TD {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.post .author UL {
	LIST-STYLE-TYPE: none
}
.post .author .name {
	PADDING-TOP: 4px
}
.post .author LI {
	PADDING-BOTTOM: 0px
}
.post .follow_info {
	PADDING-TOP: 5px
}
.post .author {
	OVERFLOW: hidden; WIDTH: 115px; TEXT-ALIGN: center
}
.post .author IMG.icon {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #ccc 1px solid; WIDTH: auto; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid
}
.post .author .has_followed {
	MARGIN: 0px auto
}
.post .author .follow {
	MARGIN: 0px auto
}
.post .author .unfollow {
	MARGIN: 0px auto
}
.author .name A {
	TEXT-DECORATION: none
}
.author .name A:hover {
	TEXT-DECORATION: underline
}
.post .author_anonym {
	OVERFLOW: hidden; WIDTH: 115px; PADDING-TOP: 18px; TEXT-ALIGN: right
}
.floor {
	PADDING-RIGHT: 5px; FONT-SIZE: 12px; COLOR: #4b4b4b; LINE-HEIGHT: 18px; TEXT-ALIGN: right
}
.post .content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-SIZE: 14px; PADDING-BOTTOM: 14px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; TEXT-ALIGN: left; WORD-WRAP: break-word
}
#content TD.content {
	LINE-HEIGHT: 20px
}
.post .content A {
	WORD-BREAK: break-all; LINE-HEIGHT: 20px
}
.post .info {
	PADDING-RIGHT: 5px; TEXT-ALIGN: right
}
.post .info UL {
	FLOAT: right; LIST-STYLE-TYPE: none
}
.post .info LI {
	DISPLAY: inline; MARGIN-LEFT: 6px
}
.post .vote {
	FONT-SIZE: 12px
}
.post_split {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; OVERFLOW: hidden; WIDTH: 75%; PADDING-TOP: 0px; BACKGROUND-COLOR: #fff
}
.post_split .split_line {
	FONT-SIZE: 0px; MARGIN: 4px 0px 0px 1px; LINE-HEIGHT: 0; BORDER-BOTTOM: #c0c1c1 1px solid
}
#editor {
	MARGIN-BOTTOM: 12px; MARGIN-LEFT: -4px; WIDTH: 80%
}
#editor TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#editor_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; FONT: bold 14px/1.5em '宋体'; COLOR: black; PADDING-TOP: 14px
}
#editor A {
	TEXT-DECORATION: underline
}
#add_post_submit {
	MARGIN: 4px 0px 0px
}
#captcha {
	IME-MODE: disabled
}
.postError {
	MARGIN-TOP: 3px; COLOR: #f00
}
#signNameWrapper {
	MARGIN: 7px 0px 3px; HEIGHT: 22px
}
#editor_banned_tip {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; Z-INDEX: 1000; LEFT: 30px; PADDING-BOTTOM: 6px; WIDTH: 600px; PADDING-TOP: 6px; POSITION: absolute; TOP: 64px
}
.editor_banned_tip_info {
	BORDER-RIGHT: #d4d4d4 1px solid; PADDING-RIGHT: 14px; BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 8px; BACKGROUND: #fffcd2; FILTER: progid:DXImageTransform.Microsoft.dropshadow(OffX=3,OffY=3,Color=#E5E5E5,Positive=true); FLOAT: left; PADDING-BOTTOM: 8px; BORDER-LEFT: #d4d4d4 1px solid; COLOR: black; PADDING-TOP: 8px; BORDER-BOTTOM: #d4d4d4 1px solid; ZOOM: 1; moz-box-shadow: 3px 3px #E5E5E5; webkit-box-shadow: 3px 3px #E5E5E5
}
.editor_banned {
	COLOR: #ccc
}
#simple_editor #editor_banned_tip {
	LEFT: 14px; TOP: 18px
}
.sign_split {
	BACKGROUND: url(pb/pb_new.png?v=1.3) no-repeat 0px 0px; MARGIN: 10px 0px 20px; WIDTH: 320px; HEIGHT: 11px
}
.forward {
	DISPLAY: block; BACKGROUND: url(pb/pb_new.png?v=1.3) -200px -70px; WIDTH: 99px; LINE-HEIGHT: 0; HEIGHT: 21px
}
.forward_to_fans {
	DISPLAY: block; BACKGROUND: url(pb/pb_new.png?v=1.3) -200px -70px; WIDTH: 99px; LINE-HEIGHT: 0; HEIGHT: 21px
}
.follow_male {
	DISPLAY: block; BACKGROUND: url(pb/pb_new.png?v=1.3) 0px -130px; MARGIN: 0px; WIDTH: 64px; LINE-HEIGHT: 0; HEIGHT: 21px
}
.follow_female {
	DISPLAY: block; BACKGROUND: url(pb/pb_new.png?v=1.3) -80px -130px; MARGIN: 0px; WIDTH: 64px; LINE-HEIGHT: 0; HEIGHT: 21px
}
.has_followed {
	DISPLAY: block; BACKGROUND: url(pb/pb_new.png?v=1.3) -400px -70px; MARGIN: 0px; WIDTH: 64px; LINE-HEIGHT: 0; HEIGHT: 21px
}
.unfollow {
	DISPLAY: block; BACKGROUND: url(pb/pb_new.png?v=1.3) -480px -70px; WIDTH: 64px; LINE-HEIGHT: 0; HEIGHT: 21px
}
.to_old_pb {
	DISPLAY: block; BACKGROUND: url(pb/pb_new.png?v=1.3) no-repeat -100px -70px; WIDTH: 86px; LINE-HEIGHT: 0; HEIGHT: 21px
}
.to_new_pb {
	DISPLAY: block; BACKGROUND: url(pb/pb_new.png?v=1.3) no-repeat 0px -70px; WIDTH: 86px; LINE-HEIGHT: 0; HEIGHT: 21px
}
.verified {
	PADDING-RIGHT: 18px; BACKGROUND: url(pb/pb_new.png?v=1.3) no-repeat right -110px
}
IMG.verified_icon {
	PADDING-RIGHT: 0px; MARGIN-TOP: -4px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.verified_icon_bg {
	BACKGROUND: url(pb/pb_new.png?v=1.3) no-repeat right -110px; WIDTH: 11px; HEIGHT: 18px
}
.gray {
	COLOR: #999
}
.c_post {
	TABLE-LAYOUT: fixed
}
.c_floor {
	PADDING-RIGHT: 2px; FONT-SIZE: 12px; WIDTH: 4%; COLOR: #261cdc; LINE-HEIGHT: 24px; TEXT-ALIGN: center; WORD-WRAP: break-word
}
.c_post_title {
	VERTICAL-ALIGN: top
}
.c_post_title H2 {
	FONT-WEIGHT: lighter; FONT-SIZE: 14px; FLOAT: left; COLOR: #261cdc; LINE-HEIGHT: 24px
}
.c_post_info {
	LINE-HEIGHT: 22px
}
.c_post_info UL {
	LIST-STYLE-TYPE: none
}
.c_post_info LI {
	DISPLAY: block; FLOAT: left; LINE-HEIGHT: 22px
}
.c_post_split {
	BORDER-TOP: #c0c1c1 1px solid; FONT-SIZE: 0px; MARGIN: 10px 0px 0px 1px; LINE-HEIGHT: 0; HEIGHT: 10px
}
.c_author {
	FLOAT: left
}
.c_post_op {
	PADDING-LEFT: 24px; FLOAT: left
}
.c_author LI {
	MARGIN-RIGHT: 8px
}
.c_post_op LI {
	FLOAT: left; MARGIN: 0px 6px
}
.c_post_content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.c_post .forward {
	DISPLAY: inline-block; FLOAT: right; MARGIN-RIGHT: 6px
}
.c_post .verified_icon_bg {
	MARGIN-TOP: 2px; MARGIN-LEFT: -8px
}
#c_editor_wrapper {
	PADDING-LEFT: 6px
}
#simple_editor {
	MARGIN-BOTTOM: 12px; MARGIN-LEFT: 20px; WIDTH: 80%
}
#simple_editor TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.c_pagination {
	MARGIN-LEFT: 8px
}
.c_pagination .tP {
	MARGIN: 0px 3px
}
.c_pagination A {
	MARGIN: 0px 3px
}
.c_pagination FONT {
	FONT-SIZE: 12px
}
#vip_complain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 14px; FONT-SIZE: 14px; PADDING-BOTTOM: 18px; LINE-HEIGHT: 24px; PADDING-TOP: 14px
}
#vip_complain TD {
	FONT-SIZE: 14px; LINE-HEIGHT: 24px; PADDING-TOP: 6px
}
#vip_complain UL {
	LIST-STYLE-TYPE: none
}
#vip_complain .star {
	COLOR: #f00
}
#vip_complain .err_msg {
	COLOR: #f00
}
#cplDetail {
	FONT-SIZE: 14px; WIDTH: 300px; HEIGHT: 80px
}
#vip_complain .err_msg {
	FONT-SIZE: 12px
}
#vip_complain .left {
	PADDING-RIGHT: 10px; VERTICAL-ALIGN: top; WIDTH: 84px; TEXT-ALIGN: right
}
#vip_complain INPUT {
	MARGIN: 0px
}
#vip_c_s {
	FONT-SIZE: 14px; WIDTH: 84px
}
.vip_c_protocol {
	FONT-SIZE: 12px
}
.vip_c_protocol INPUT {
	MARGIN-BOTTOM: -3px
}
A.chuan {
	MARGIN: 0px 2px; TEXT-DECORATION: none
}
#memTipClosePanel A:link {
	TEXT-DECORATION: none
}
#memTipClosePanel A:visited {
	TEXT-DECORATION: none
}
#memTipClosePanel A:active {
	TEXT-DECORATION: none
}
#editorInput DIV {
	MARGIN: 0px
}
#bdeTextPanel {
	OVERFLOW: hidden; WIDTH: 520px; POSITION: relative; HEIGHT: 224px
}
#editorInput .bdeTextPanel_editable {
	BORDER-RIGHT: #719cbb 1px solid; BORDER-TOP: #719cbb 1px solid; BORDER-LEFT: #719cbb 1px solid; BORDER-BOTTOM: #719cbb 1px solid
}
#editorInput .bdeTextPanel_uneditable {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
#bdeUneditWraper {
	FILTER: alpha(opacity=10); WIDTH: 100%; POSITION: absolute; HEIGHT: 100%; BACKGROUND-COLOR: #fff; opacity: .1
}
#bdeTextTool {
	PADDING-LEFT: 1px; BACKGROUND: #f1f1f1; BORDER-BOTTOM: #719cbb 1px solid; HEIGHT: 24px
}
.bdeTextPanel_editable #bdeTextTool {
	BORDER-BOTTOM: #719cbb 1px solid
}
.bdeTextPanel_uneditable #bdeTextTool {
	BORDER-BOTTOM: #ccc 1px solid
}
#bdeTextTool A {
	MARGIN-TOP: 1px; FLOAT: left; CURSOR: default
}
#bdeTextTool .bdeToolUp {
	BORDER-RIGHT: #f1f1f1 1px solid; BORDER-TOP: #f1f1f1 1px solid; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: #f1f1f1 1px solid; BORDER-BOTTOM: #f1f1f1 1px solid
}
#bdeTextTool .bdeToolOut {
	BORDER-RIGHT: #f1f1f1 1px solid; BORDER-TOP: #f1f1f1 1px solid; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: #f1f1f1 1px solid; BORDER-BOTTOM: #f1f1f1 1px solid
}
#bdeTextTool .bdeToolOver {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #fff 1px solid; BACKGROUND: url(http://static.tieba.baidu.com/tb/editor/images/bgItemActive.gif) repeat-x left top; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #808080 1px solid
}
#bdeTextTool .bdeToolDown {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #b3b3b3 1px solid; BACKGROUND: url(http://static.tieba.baidu.com/tb/editor/images/bgItemActive.gif) repeat-x left top; BORDER-LEFT: #b3b3b3 1px solid; BORDER-BOTTOM: #fff 1px solid
}
#bdeTextTool A DIV {
	WIDTH: 90px; HEIGHT: 20px
}
#bdeTextTool A .uneditableToolPanel {
	BACKGROUND: url(http://static.tieba.baidu.com/tb/editor/images/toolbar_uneditable.gif) no-repeat
}
#bdeTextTool A .editableToolPanel {
	BACKGROUND: url(http://static.tieba.baidu.com/tb/editor/images/toolbar.gif) no-repeat
}
#bdeTextTool #bdeImageTool DIV {
	BACKGROUND-POSITION: 7px -1px
}
#bdeTextTool #bdeFlashTool DIV {
	BACKGROUND-POSITION: -83px -1px
}
#bdeTextTool #bdeSmileyTool DIV {
	BACKGROUND-POSITION: -175px -1px
}
#bdeTextTool #bdeMusicTool DIV {
	BACKGROUND-POSITION: -260px -1px
}
#bdeTextArea {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 13px; PADDING-BOTTOM: 1px; MARGIN: 0px; WIDTH: 516px; CURSOR: text; WORD-BREAK: break-all; LINE-HEIGHT: 18px; PADDING-TOP: 1px; FONT-FAMILY: '宋体',Verdana,sans-serif; HEIGHT: 198px; BACKGROUND-COLOR: #fff
}
#bdeTextArea P {
	MARGIN: 0px
}
#bdeTextArea A {
	COLOR: #0449be; WORD-BREAK: break-all; LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
#bdeTextArea .BDE_Flash {
	BORDER-RIGHT: #c1c2c2 1px solid; BORDER-TOP: #c1c2c2 1px solid; BACKGROUND: url(http://static.tieba.baidu.com/tb/editor/images/flashlogo.gif) no-repeat 50% 35%; MARGIN: 4px 1px; BORDER-LEFT: #c1c2c2 1px solid; BORDER-BOTTOM: #c1c2c2 1px solid
}
#bdeTextArea .BDE_Music {
	BORDER-RIGHT: #c1c2c2 1px; BORDER-TOP: #c1c2c2 1px; BACKGROUND: url(http://static.tieba.baidu.com/tb/editor/images/flashlogo.gif) no-repeat 50% 35%; MARGIN: 1px; BORDER-LEFT: #c1c2c2 1px; BORDER-BOTTOM: #c1c2c2 1px
}
#bdeTextArea .BDE_Image {
	MARGIN: 4px 1px
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#textInput {
	MARGIN: 0px; WIDTH: 425px; HEIGHT: 220px
}
.bde_uneditable {
	BACKGROUND: #fff
}
#edit_parent {
	MARGIN-BOTTOM: 30px
}
#bakan_view {
	FONT-SIZE: 14px; LINE-HEIGHT: 20px
}
#bakan_view_content {
	FONT-SIZE: 14px; LINE-HEIGHT: 20px
}
#bakan_view_cover {
	MARGIN: 8px 0px
}
.post_icon {
	POSITION: relative
}
.post .author {
	OVERFLOW: visible
}
#TipParentDiv {
	Z-INDEX: 900; BACKGROUND: #e5e5ef
}
#memTipPanel {
	BORDER-RIGHT: #b0bade 2px solid; BORDER-TOP: #b0bade 2px solid; Z-INDEX: 901; BACKGROUND: #fff; LEFT: -2px; BORDER-LEFT: #b0bade 2px solid; BORDER-BOTTOM: #b0bade 2px solid; POSITION: relative; TOP: -2px
}
#my_friends_vote_detail {
	BORDER-RIGHT: #cfdae4 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cfdae4 1px solid; MARGIN-TOP: 12px; PADDING-LEFT: 10px; BACKGROUND: #f4f8fb; PADDING-BOTTOM: 10px; BORDER-LEFT: #cfdae4 1px solid; COLOR: #808080; MARGIN-RIGHT: 128px; PADDING-TOP: 10px; BORDER-BOTTOM: #cfdae4 1px solid
}
#my_friends_vote_detail .vote_options {
	FONT-FAMILY: '宋体'
}
#my_friends_vote_detail TABLE {
	TABLE-LAYOUT: auto; WIDTH: auto
}
