#interwiki-completelist {
	FONT-WEIGHT: bold
}
OL.references {
	FONT-SIZE: 100%
}
.references-small {
	FONT-SIZE: 90%
}
SUP.reference {
	WHITE-SPACE: nowrap
}
.references-2column {
	FONT-SIZE: 90%; moz-column-count: 2; column-count: 2
}
.same-bg {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
UNKNOWN {
	BACKGROUND-COLOR: #ddeeff
}
TABLE.wikitable {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; MARGIN-TOP: 1em; BACKGROUND: #f9f9f9; MARGIN-BOTTOM: 1em; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.prettytable {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; MARGIN-TOP: 1em; BACKGROUND: #f9f9f9; MARGIN-BOTTOM: 1em; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.wikitable TH {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaaaaa 1px solid
}
TABLE.wikitable TD {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaaaaa 1px solid
}
TABLE.prettytable TH {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaaaaa 1px solid
}
TABLE.prettytable TD {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaaaaa 1px solid
}
TABLE.wikitable TH {
	BACKGROUND: #f2f2f2; TEXT-ALIGN: center
}
TABLE.prettytable TH {
	BACKGROUND: #f2f2f2; TEXT-ALIGN: center
}
TABLE.wikitable CAPTION {
	
}
TABLE.prettytable CAPTION {
	
}
.notice {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN: 1em; PADDING-TOP: 0.2em; TEXT-ALIGN: justify
}
#disambig {
	BORDER-TOP: #cccccc 3px double; BORDER-BOTTOM: #cccccc 3px double
}
#spoiler {
	BORDER-TOP: #ddd 2px solid; BORDER-BOTTOM: #ddd 2px solid
}
.Talk-Notice {
	BORDER-RIGHT: #c0c090 1px solid; BORDER-TOP: #c0c090 1px solid; MARGIN-BOTTOM: 3px; MARGIN-LEFT: auto; BORDER-LEFT: #c0c090 1px solid; WIDTH: 80%; MARGIN-RIGHT: auto; BORDER-BOTTOM: #c0c090 1px solid; BACKGROUND-COLOR: #f8eaba; border-spacing: 3px
}
.Talk-Notice:unknown {
	content: "The CSS for this template should be changed. See [[Wikipedia:Template Standardisation]]."
}
.Talk-Notice TD {
	
}
.allpagesredirect {
	FONT-STYLE: italic
}
.Use_Default_Date_Convention {
	DISPLAY: inline
}
.Use_AD_and_BC {
	DISPLAY: none
}
.Use_BCE_and_CE {
	DISPLAY: none
}
.audiolink A {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 16px! important; BACKGROUND: url(http://upload.wikimedia.org/wikipedia/commons/f/f7/Loudspeaker.png) no-repeat left center
}
DIV.listenlist {
	PADDING-LEFT: 40px; BACKGROUND: url(http://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Gnome-speakernotes.png/30px-Gnome-speakernotes.png)
}
DIV.videolist {
	PADDING-LEFT: 50px; BACKGROUND: url(http://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Video.svg/40px-Video.svg.png)
}
DIV.multivideolist {
	PADDING-LEFT: 50px; BACKGROUND: url(http://upload.wikimedia.org/wikipedia/en/thumb/7/7a/FilmRoll-small.png/40px-FilmRoll-small.png)
}
DIV.medialist {
	BACKGROUND-POSITION: left top; MIN-HEIGHT: 50px; MARGIN: 1em; BACKGROUND-REPEAT: no-repeat
}
DIV.medialist UL {
	LIST-STYLE-IMAGE: none; MARGIN: 0px; LIST-STYLE-TYPE: none
}
DIV.medialist UL LI {
	PADDING-BOTTOM: 0.5em
}
DIV.medialist UL LI LI {
	FONT-SIZE: 91%; PADDING-BOTTOM: 0px
}
.plainlinksneverexpand {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
.plainlinksneverexpand .urlexpansion {
	DISPLAY: none! important
}
.plainlinksneverexpand A {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
.plainlinksneverexpand A.text:unknown {
	DISPLAY: none! important
}
.plainlinksneverexpand A.autonumber:unknown {
	DISPLAY: none! important
}
.infobox {
	CLEAR: right; BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.2em; FLOAT: right; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 0.2em; MARGIN-LEFT: 1em; BORDER-LEFT: #aaaaaa 1px solid; COLOR: black; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: #f9f9f9
}
.infobox TD {
	VERTICAL-ALIGN: top
}
.infobox TH {
	VERTICAL-ALIGN: top
}
.infobox CAPTION {
	FONT-SIZE: larger
}
.bordered {
	BORDER-COLLAPSE: collapse
}
.bordered TD {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid
}
.bordered TH {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid
}
.bordered .borderless TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.bordered .borderless TH {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.sisterproject {
	FONT-SIZE: 90%; WIDTH: 20em
}
.bordered .mergedtoprow TD {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px
}
.bordered .mergedtoprow TH {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px
}
.bordered .mergedrow TD {
	BORDER-TOP-WIDTH: 0px; BORDER-RIGHT: #aaaaaa 1px solid; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px
}
.bordered .mergedrow TH {
	BORDER-TOP-WIDTH: 0px; BORDER-RIGHT: #aaaaaa 1px solid; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px
}
.geography {
	FONT-SIZE: 90%; LINE-HEIGHT: 1.2em; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left
}
.geography TD {
	PADDING-RIGHT: 0.6em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.6em; PADDING-BOTTOM: 0.4em; PADDING-TOP: 0.4em
}
.geography TH {
	PADDING-RIGHT: 0.6em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.6em; PADDING-BOTTOM: 0.4em; PADDING-TOP: 0.4em
}
.geography .mergedtoprow TD {
	PADDING-RIGHT: 0.6em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.6em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.4em
}
.geography .mergedtoprow TH {
	PADDING-RIGHT: 0.6em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.6em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.4em
}
.geography .mergedrow TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0.6em; PADDING-LEFT: 0.6em; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.geography .mergedrow TH {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0.6em; PADDING-LEFT: 0.6em; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.geography .mergedbottomrow TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0.6em; PADDING-LEFT: 0.6em; PADDING-BOTTOM: 0.4em; PADDING-TOP: 0px; BORDER-BOTTOM: #aaaaaa 1px solid
}
.geography .mergedbottomrow TH {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0.6em; PADDING-LEFT: 0.6em; PADDING-BOTTOM: 0.4em; PADDING-TOP: 0px; BORDER-BOTTOM: #aaaaaa 1px solid
}
.geography .maptable TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.geography .maptable TH {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.IPA {
	FONT-FAMILY: "Segoe UI", "Chrysanthi Unicode", "Doulos SIL", "Gentium", "GentiumAlt", "Code2000", "TITUS Cyberbit Basic", "DejaVu Sans", "Bitstream Cyberbit", "Arial Unicode MS", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "Matrix Unicode"
}
.Unicode {
	FONT-FAMILY: "Segoe UI", "TITUS Cyberbit Basic", "Code2000", "Doulos SIL", "Chrysanthi Unicode", "Bitstream Cyberbit", "Bitstream CyberBase", "Thryomanes", "Gentium", "GentiumAlt", "Visual Geez Unicode", "Lucida Grande", "Arial Unicode MS", "Microsoft Sans Serif", "Lucida Sans Unicode"
}
.latinx {
	FONT-FAMILY: "TITUS Cyberbit Basic", "Code2000", "Microsoft Sans Serif"
}
.polytonic {
	FONT-FAMILY: "Athena", "Gentium", "Palatino Linotype", "Segoe UI", "Arial Unicode MS", "Lucida Sans Unicode", "Lucida Grande", "Code2000"
}
.interwiki-el A {
	FONT-FAMILY: "Athena", "Gentium", "Palatino Linotype", "Segoe UI", "Arial Unicode MS", "Lucida Sans Unicode", "Lucida Grande", "Code2000"
}
.mufi {
	FONT-FAMILY: "Alphabetum", "Cardo", "LeedsUni", "Junicode", "TITUS Cyberbit Basic", "ALPHA-Demo"
}
.interwiki-ja A {
	FONT-FAMILY: "Meiryo", "MS PMincho", "MS Mincho", "MS PGothic", "MS Gothic", "Arial Unicode MS"
}
.interwiki-ko A {
	FONT-FAMILY: "Malgun Gothic", "Gulim", "Dotum", "Arial Unicode MS"
}
.interwiki-ru A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-uk A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-be A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-bg A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-sr A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-mk A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-os A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-tg A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-mo A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-kk A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-ky A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-tt A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-ba A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-cv A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-mn A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-xal A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-udm A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-ab A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-av A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-ce A {
	FONT-FAMILY: "Times CY", "Times New Roman", Times, serif
}
.interwiki-ar A {
	DIRECTION: rtl; FONT-FAMILY: "Arial Unicode MS", "Microsoft Sans Serif", "Times New Roman", Times, serif
}
.interwiki-fa A {
	DIRECTION: rtl; FONT-FAMILY: "Arial Unicode MS", "Microsoft Sans Serif", "Times New Roman", Times, serif
}
.interwiki-ur A {
	DIRECTION: rtl; FONT-FAMILY: "Arial Unicode MS", "Microsoft Sans Serif", "Times New Roman", Times, serif
}
.interwiki-ug A {
	DIRECTION: rtl; FONT-FAMILY: "Arial Unicode MS", "Microsoft Sans Serif", "Times New Roman", Times, serif
}
.interwiki-he A {
	DIRECTION: rtl; FONT-FAMILY: Cardo, "Arial Unicode MS", Code2000, David, "Times New Roman", Times, serif
}
.interwiki-yi A {
	DIRECTION: rtl; FONT-FAMILY: Cardo, "Arial Unicode MS", Code2000, David, "Times New Roman", Times, serif
}
.interwiki-af A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-als A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-an A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-ang A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-ast A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-az A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-ba A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-bat-smg A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-bm A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-br A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-bs A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-ca A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-ceb A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-co A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-cs A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-csb A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-cy A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-da A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-de A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-en A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-eo A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-es A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-et A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-eu A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-ff A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-fi A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-fiu-vro A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-fo A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-fr A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-frp A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-fur A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-fy A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-ga A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-gd A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-gl A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-gv A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-ha A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-hr A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-ht A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-hu A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-ia A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-id A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-ie A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-ilo A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-io A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-is A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-it A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-jbo A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-jv A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-kg A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-ksh A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-ku A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-kw A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-la A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-lad A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-lb A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-li A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-lij A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-lmo A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-ln A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-lt A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-lv A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-map-bms A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-mi A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-ms A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-na A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-nap A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-nds A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-nl A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-nn A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-no A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-nrm A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-oc A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-om A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-os A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-pam A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-pl A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-pms A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-pt A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-rm A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-ro A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-sc A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-scn A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-sco A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-se A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-simple A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-sk A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-sl A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-so A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-sq A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-su A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-sv A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-sw A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-tet A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-tpi A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-tk A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-tl A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-tw A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-tr A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-uz A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-vec A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-vi A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-wa A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-war A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-wo A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-yo A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-cdo A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
.interwiki-zh-min-nan A {
	FONT-FAMILY: "Times New Roman", Times, serif
}
#wpSave {
	FONT-WEIGHT: bold
}
.hiddenStructure {
	DISPLAY: none; speak: none
}
.nounderlines A {
	TEXT-DECORATION: none
}
#EnWpMainPage {
	MARGIN-TOP: 1em; WIDTH: 100%
}
#EnWpMainPage H2 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 130%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#EnWpMpMargin {
	MARGIN-RIGHT: 13.8em
}
#EnWpMpCol1 {
	CLEAR: left; FLOAT: left; WIDTH: 50%
}
#EnWpMpCol2 {
	FLOAT: left; WIDTH: 49.9%
}
#EnWpMpBrowse {
	BORDER-RIGHT: #c7c7c7 1px solid; BORDER-TOP: #c7c7c7 1px solid; BACKGROUND: url(http://upload.wikimedia.org/wikipedia/en/9/9f/MP-three-books.png) #f8fcff no-repeat 180% 9%; BORDER-LEFT: #c7c7c7 1px solid; BORDER-BOTTOM: #c7c7c7 1px solid
}
#EnWpMpBrowseCats LI {
	FONT-SIZE: 85%; MARGIN-LEFT: 1em; LINE-HEIGHT: 1.5
}
#EnWpMpBrowseCats H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 120%; PADDING-BOTTOM: 0px; MARGIN: 0.2em 0px 0.1em -0.8em; PADDING-TOP: 0px
}
#EnWpMpBrowseCats H3 A {
	FONT-WEIGHT: bold
}
#EnWpMpBook {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/en/7/7e/MP-open-book.png)
}
#EnWpMpFeaturedPic {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; MARGIN: 0px 0px 0.5em; TEXT-ALIGN: center
}
#EnWpMpFeaturedPic H2 {
	FONT-SIZE: 145%; TEXT-ALIGN: left
}
.EnWpMpBrowseRight {
	FLOAT: right; WIDTH: 12.7em
}
.EnWpMpBrowseBottom {
	MARGIN: 1em 0px
}
.EnWpMpBrowseBottom #EnWpMpBrowseCats LI {
	FLOAT: left; MARGIN: 0px; WIDTH: 24%; LINE-HEIGHT: normal
}
.EnWpMpBrowseBottom #EnWpMpUsefulLinks {
	FLOAT: left; MARGIN: 0px; WIDTH: 24%; LINE-HEIGHT: normal
}
.EnWpMpBrowseBottom #EnWpMpFeaturedPic {
	FLOAT: left; MARGIN: 0px; WIDTH: 24%; LINE-HEIGHT: normal
}
.EnWpMpBrowseBottom #EnWpMpBrowseCats H3 {
	MARGIN-LEFT: 0px
}
#EnWpMpUsefulLinks {
	CLEAR: left
}
#EnWpMpSearch {
	BACKGROUND: url(http://upload.wikimedia.org/wikipedia/en/a/ae/MP-magnifying-glass.png) no-repeat right top
}
#EnWpMpSearch INPUT {
	VERTICAL-ALIGN: middle
}
#EnWpMpSearchInner {
	FLOAT: right; WIDTH: 20em; TEXT-ALIGN: center
}
#bodySearchMP {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#bodySearchMP .bodySearchWrap {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0.8em; WIDTH: 17.5em; PADDING-TOP: 0.8em; TEXT-ALIGN: left
}
#bodySearchMP LABEL {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 95%; MARGIN-BOTTOM: -0.2em
}
#bodySearchMP .bodySearchBtnGo {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; FONT-WEIGHT: bold; MARGIN-LEFT: 0.5em
}
.EnWpMpContentBox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 0.9em; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
#EnWpMpCol2 .EnWpMpContentBox {
	MARGIN-LEFT: 0.9em
}
.EnWpMpImage {
	FLOAT: right; MARGIN: 0px 0px 0.2em 0.2em
}
.EnWpMpImage IMG {
	Z-INDEX: 3; POSITION: relative
}
#EnWpMpSisterProjects {
	FLOAT: left; WIDTH: 49%
}
.EnWpMpSisterProject {
	FLOAT: left; MARGIN: 0px; WIDTH: 17em; HEIGHT: 5.5em
}
.EnWpMpSisterImg {
	FLOAT: left; WIDTH: 40px; HEIGHT: 100%
}
#EnWpMpOtherLangs {
	MARGIN-LEFT: 50%
}
#EnWpMainPageNoCSS {
	DISPLAY: none
}
#EnWpMpBook2 {
	BACKGROUND-IMAGE: url(http://upload.wikimedia.org/wikipedia/commons/8/8e/MP-open-book2.png)
}
#EnWpMpSearch2 {
	BACKGROUND: url(http://upload.wikimedia.org/wikipedia/en/3/3a/MP-magnifying-glass2.png) no-repeat right top
}
.charboxblack A:link {
	COLOR: black
}
.charboxblack A:hover {
	COLOR: black
}
.charboxblack A:visited {
	COLOR: black
}
.charboxblack A:active {
	COLOR: black
}
.charboxsilver A:link {
	COLOR: silver
}
.charboxsilver A:hover {
	COLOR: silver
}
.charboxsilver A:visited {
	COLOR: silver
}
.charboxsilver A:active {
	COLOR: silver
}
.charboxgray A:link {
	COLOR: gray
}
.charboxgray A:hover {
	COLOR: gray
}
.charboxgray A:visited {
	COLOR: gray
}
.charboxgray A:active {
	COLOR: gray
}
.charboxwhite A:link {
	COLOR: white
}
.charboxwhite A:hover {
	COLOR: white
}
.charboxwhite A:visited {
	COLOR: white
}
.charboxwhite A:active {
	COLOR: white
}
.charboxmaroon A:link {
	COLOR: maroon
}
.charboxmaroon A:hover {
	COLOR: maroon
}
.charboxmaroon A:visited {
	COLOR: maroon
}
.charboxmaroon A:active {
	COLOR: maroon
}
.charboxred A:link {
	COLOR: red
}
.charboxred A:hover {
	COLOR: red
}
.charboxred A:visited {
	COLOR: red
}
.charboxred A:active {
	COLOR: red
}
.charboxpurple A:link {
	COLOR: purple
}
.charboxpurple A:hover {
	COLOR: purple
}
.charboxpurple A:visited {
	COLOR: purple
}
.charboxpurple A:active {
	COLOR: purple
}
.charboxfuchsia A:link {
	COLOR: fuchsia
}
.charboxfuchsia A:hover {
	COLOR: fuchsia
}
.charboxfuchsia A:visited {
	COLOR: fuchsia
}
.charboxfuchsia A:active {
	COLOR: fuchsia
}
.charboxgreen A:link {
	COLOR: green
}
.charboxgreen A:hover {
	COLOR: green
}
.charboxgreen A:visited {
	COLOR: green
}
.charboxgreen A:active {
	COLOR: green
}
.charboxlime A:link {
	COLOR: lime
}
.charboxlime A:hover {
	COLOR: lime
}
.charboxlime A:visited {
	COLOR: lime
}
.charboxlime A:active {
	COLOR: lime
}
.charboxolive A:link {
	COLOR: olive
}
.charboxolive A:hover {
	COLOR: olive
}
.charboxolive A:visited {
	COLOR: olive
}
.charboxolive A:active {
	COLOR: olive
}
.charboxyellow A:link {
	COLOR: yellow
}
.charboxyellow A:hover {
	COLOR: yellow
}
.charboxyellow A:visited {
	COLOR: yellow
}
.charboxyellow A:active {
	COLOR: yellow
}
.charboxnavy A:link {
	COLOR: navy
}
.charboxnavy A:hover {
	COLOR: navy
}
.charboxnavy A:visited {
	COLOR: navy
}
.charboxnavy A:active {
	COLOR: navy
}
.charboxblue A:link {
	COLOR: blue
}
.charboxblue A:hover {
	COLOR: blue
}
.charboxblue A:visited {
	COLOR: blue
}
.charboxblue A:active {
	COLOR: blue
}
.charboxteal A:link {
	COLOR: teal
}
.charboxteal A:hover {
	COLOR: teal
}
.charboxteal A:visited {
	COLOR: teal
}
.charboxteal A:active {
	COLOR: teal
}
.charboxaqua A:link {
	COLOR: aqua
}
.charboxaqua A:hover {
	COLOR: aqua
}
.charboxaqua A:visited {
	COLOR: aqua
}
.charboxaqua A:active {
	COLOR: aqua
}
.allpagesredirect A:link {
	COLOR: #0066ff
}
.tickerDiffLink {
	
}
.tickerMiscLink {
	
}
.tickerList UL {
	MARGIN-LEFT: 2em; TEXT-INDENT: -2em; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.tickerList UL LI {
	MARGIN-LEFT: 2em; TEXT-INDENT: -2em; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.tickerList UL UL {
	MARGIN-LEFT: 1.5em; TEXT-INDENT: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.tickerList UL UL LI {
	MARGIN-LEFT: 1.5em; TEXT-INDENT: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.tickerEntry_deleted {
	
}
.tickerEntry_replaced {
	
}
.tickerEntry_tagged {
	
}
.tickerEntry_redir {
	
}
.tickerEntry_recat {
	
}
.tickerEntry_notify {
	
}
.tickerEntry_changed {
	
}
.tickerAction_deleted:unknown {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; BACKGROUND: pink; COLOR: #ff0000; FONT-FAMILY: monospace; content: "(¡Á)"
}
.tickerAction_replaced:unknown {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #cc88ff; FONT-FAMILY: monospace; content: " REPL "
}
.tickerAction_addedBad:unknown {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #ff8800; FONT-FAMILY: monospace; content: " +VfD "
}
.tickerAction_removedBad:unknown {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #00bb00; FONT-FAMILY: monospace; content: " -VfD "
}
.tickerAction_addedGood:unknown {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #00bb00; FONT-FAMILY: monospace; content: " +OK  "
}
.tickerAction_removedGood:unknown {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #ff8800; FONT-FAMILY: monospace; content: " -OK  "
}
.tickerUsage {
	FONT-SIZE: 80%
}
.tickerTemplateEntry {
	FONT-WEIGHT: bold
}
.tickerSubEntry {
	
}
.tickerMinorEntry {
	COLOR: #666
}
.tickerMinorEntry A {
	COLOR: #669
}
.tickerMinorEntry A:link {
	COLOR: #669
}
.tickerMinorEntry A:visited {
	COLOR: #669
}
#bodyContent .tickerMinorEntry A.extiw {
	COLOR: #669
}
#bodyContent .tickerMinorEntry A.extiw:link {
	COLOR: #669
}
#bodyContent .tickerMinorEntry A.extiw:visited {
	COLOR: #669
}
.toccolours {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 95%; PADDING-BOTTOM: 5px; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: #f9f9f9
}
#bodyContent .plainlinks A {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
#p-nav H5 {
	DISPLAY: none
}
.portlet A {
	TEXT-DECORATION: none
}
.portlet A:hover {
	TEXT-DECORATION: underline
}
#p-nav .pBody {
	PADDING-RIGHT: 0px
}
#p-nav A {
	DISPLAY: block; WIDTH: 100%
}
#editpage-specialchars A {
	TEXT-DECORATION: none
}
#editpage-specialchars A:hover {
	TEXT-DECORATION: underline
}
DIV.thumb DIV A IMG {
	BACKGROUND-COLOR: #f9f9f9
}
#file IMG {
	BACKGROUND: url(http://upload.wikimedia.org/wikipedia/commons/5/5d/Checker-16x16.png)
}
#spoken {
	DISPLAY: block! important; FONT-SIZE: 90%; Z-INDEX: 1; RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: right; POSITION: absolute; TOP: -2.2em; TEXT-ALIGN: right; BORDER-BOTTOM-STYLE: none
}
.plainlinksneverexpand A.text:unknown {
	DISPLAY: none! important
}
DIV.Boxmerge {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 95%; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #aaaaaa 1px solid; BORDER-COLLAPSE: collapse
}
DIV.NavFrame {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 95%; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #aaaaaa 1px solid; BORDER-COLLAPSE: collapse
}
DIV.Boxmerge DIV.NavFrame {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
UNKNOWN {
	
}
DIV.NavPic {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; BACKGROUND-COLOR: #ffffff
}
DIV.NavFrame DIV.NavHead {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; CURSOR: pointer; HEIGHT: 1.6em; BACKGROUND-COLOR: #efefef; TEXT-ALIGN: center
}
DIV.NavFrame P {
	FONT-SIZE: 100%
}
DIV.NavFrame DIV.NavContent {
	FONT-SIZE: 100%
}
DIV.NavFrame DIV.NavContent P {
	FONT-SIZE: 100%
}
DIV.NavEnd {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1px; PADDING-TOP: 0px
}
SPAN.NavToggle {
	DISPLAY: none; FONT-WEIGHT: normal; FONT-SIZE: smaller; FLOAT: right; TEXT-ALIGN: right
}
.geo-default {
	DISPLAY: inline
}
.geo-nondefault {
	DISPLAY: none
}
.geo-dms {
	DISPLAY: inline
}
.geo-dec {
	DISPLAY: inline
}
.geo-multi-punct {
	DISPLAY: none
}
.longitude .latitude {
	WHITE-SPACE: nowrap
}
.geo {
	
}
#content SPAN.coordinates A.text:unknown {
	content: ""
}
#content SPAN.coordinates A.autonumber:unknown {
	content: ""
}
#coordinates {
	FONT-SIZE: 10px
}
UNKNOWN {
	PADDING-RIGHT: 18px! important; BACKGROUND: url(http://upload.wikimedia.org/wikipedia/commons/d/d4/Gnome-globe.png) no-repeat right center
}
#catlinks {
	CLEAR: both; BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaa 1px solid; MARGIN-TOP: 1em; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #aaa 1px solid; BACKGROUND-COLOR: #f9f9f9
}
TABLE.navbox {
	CLEAR: both; BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 88%; PADDING-BOTTOM: 1px; MARGIN: auto; BORDER-LEFT: #aaa 1px solid; WIDTH: 100%; PADDING-TOP: 1px; BORDER-BOTTOM: #aaa 1px solid; TEXT-ALIGN: center
}
UNKNOWN {
	MARGIN-TOP: -1px
}
.navbox-title {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; TEXT-ALIGN: center
}
.navbox-abovebelow {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; TEXT-ALIGN: center
}
TABLE.navbox TH {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; TEXT-ALIGN: center
}
.navbox-group {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-WEIGHT: bold; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.navbox {
	BACKGROUND: #fdfdfd
}
.navbox-subgroup {
	BACKGROUND: #fdfdfd
}
.navbox-list {
	BORDER-LEFT-COLOR: #fdfdfd; BORDER-BOTTOM-COLOR: #fdfdfd; BORDER-TOP-COLOR: #fdfdfd; BORDER-RIGHT-COLOR: #fdfdfd
}
.navbox-title {
	BACKGROUND: #ccccff
}
TABLE.navbox TH {
	BACKGROUND: #ccccff
}
.navbox-abovebelow {
	BACKGROUND: #ddddff
}
.navbox-group {
	BACKGROUND: #ddddff
}
.navbox-subgroup .navbox-title {
	BACKGROUND: #ddddff
}
.navbox-subgroup .navbox-group {
	BACKGROUND: #e6e6ff
}
.navbox-subgroup .navbox-abovebelow {
	BACKGROUND: #e6e6ff
}
.navbox-even {
	BACKGROUND: #f7f7f7
}
.navbox-odd {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.collapseButton {
	FONT-WEIGHT: normal; FLOAT: right; WIDTH: auto; TEXT-ALIGN: right
}
.navbox .collapseButton {
	WIDTH: 6em
}
.editsection {
	FONT-WEIGHT: normal! important; MARGIN-LEFT: 1em
}
.noedit {
	PADDING-TOP: 1px
}
.noedit .editsection {
	DISPLAY: none
}
.messagebox {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN: 0px auto 1em; BORDER-LEFT: #aaa 1px solid; WIDTH: 80%; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaa 1px solid; BACKGROUND-COLOR: #f9f9f9
}
.merge {
	BORDER-RIGHT: #c0b8cc 1px solid; BORDER-TOP: #c0b8cc 1px solid; BORDER-LEFT: #c0b8cc 1px solid; BORDER-BOTTOM: #c0b8cc 1px solid; BACKGROUND-COLOR: #f0e5ff; TEXT-ALIGN: center
}
.cleanup {
	BORDER-RIGHT: #9f9fff 1px solid; BORDER-TOP: #9f9fff 1px solid; BORDER-LEFT: #9f9fff 1px solid; BORDER-BOTTOM: #9f9fff 1px solid; BACKGROUND-COLOR: #efefff; TEXT-ALIGN: center
}
.standard-talk {
	BORDER-RIGHT: #c0c090 1px solid; BORDER-TOP: #c0c090 1px solid; BORDER-LEFT: #c0c090 1px solid; BORDER-BOTTOM: #c0c090 1px solid; BACKGROUND-COLOR: #f8eaba
}
.nested-talk {
	BORDER-RIGHT: #c0c090 1px solid; BORDER-TOP: #c0c090 1px solid; MARGIN: 2px 4px; BORDER-LEFT: #c0c090 1px solid; WIDTH: 100%; BORDER-BOTTOM: #c0c090 1px solid; BACKGROUND-COLOR: #f8eaba
}
.small {
	CLEAR: both; FONT-SIZE: 85%; FLOAT: right; MARGIN: 0px 0px 1em 1em; WIDTH: 238px; LINE-HEIGHT: 1.25em
}
.small-talk {
	CLEAR: both; FONT-SIZE: 85%; BACKGROUND: #f8eaba; FLOAT: right; MARGIN: 0px 0px 1em 1em; WIDTH: 238px; LINE-HEIGHT: 1.25em
}
.template-documentation {
	CLEAR: both; BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 1em 0px 0px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #aaa 1px solid; BACKGROUND-COLOR: #ecfcf4
}
UNKNOWN {
	PADDING-RIGHT: 16px; BACKGROUND: url(http://upload.wikimedia.org/wikipedia/commons/2/23/Icons-mini-file_acrobat.gif) no-repeat right center
}
SPAN.PDFlink A {
	PADDING-RIGHT: 17px! important; BACKGROUND: url(http://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Icons-mini-file_acrobat.gif/15px-Icons-mini-file_acrobat.gif) no-repeat right center
}
SPAN.geolink A {
	PADDING-RIGHT: 11px! important; BACKGROUND: url(http://upload.wikimedia.org/wikipedia/en/a/a7/Monobook-globe.png) no-repeat right center
}
.TipTrackButton_tip {
	BORDER-RIGHT: #8888aa 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #8888aa 1px solid; PADDING-LEFT: 0.5em; BACKGROUND: #f7f8ff; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #8888aa 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #8888aa 1px solid
}
.TipMouseButton_tip {
	BORDER-RIGHT: #8888aa 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #8888aa 1px solid; PADDING-LEFT: 0.5em; BACKGROUND: #f7f8ff; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #8888aa 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #8888aa 1px solid
}
.TipClickButton_tip {
	BORDER-RIGHT: #8888aa 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #8888aa 1px solid; PADDING-LEFT: 0.5em; BACKGROUND: #f7f8ff; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #8888aa 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #8888aa 1px solid
}
.TipTrack_tip {
	BORDER-RIGHT: #8888aa 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #8888aa 1px solid; PADDING-LEFT: 0.5em; BACKGROUND: #f7f8ff; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #8888aa 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #8888aa 1px solid
}
.TipMouse_tip {
	BORDER-RIGHT: #8888aa 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #8888aa 1px solid; PADDING-LEFT: 0.5em; BACKGROUND: #f7f8ff; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #8888aa 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #8888aa 1px solid
}
.TipClick_tip {
	BORDER-RIGHT: #8888aa 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #8888aa 1px solid; PADDING-LEFT: 0.5em; BACKGROUND: #f7f8ff; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #8888aa 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #8888aa 1px solid
}
SPAN.lanLabel {
	PADDING-LEFT: 0.5em; COLOR: #777777
}
TT SPAN.minor {
	FONT-SIZE: 12px; MARGIN: 0px -2px 0px -3px
}
TT SPAN.newpage {
	FONT-SIZE: 12px; MARGIN: 0px 1px 0px -6px
}
TT SPAN.bot {
	FONT-SIZE: 12px; MARGIN: 0px -6px 0px 1px
}
DIV.user-block {
	BORDER-RIGHT: #a9a9a9 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #a9a9a9 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #a9a9a9 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #a9a9a9 1px solid; BACKGROUND-COLOR: #ffefd5
}

@media Screen, Handheld, Projection    
{
CITE .printonly {
	DISPLAY: none
}
    }
.mcBoto {
	BORDER-RIGHT: #b090e0 0.15em solid; PADDING-RIGHT: 0.3em; BORDER-TOP: #f0d0ff 0.15em solid; DISPLAY: inline; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #f0d0ff 0.15em solid; CURSOR: pointer; MARGIN-RIGHT: 0.1em; PADDING-TOP: 0.2em; BORDER-BOTTOM: #9070c0 0.15em solid; POSITION: relative; BACKGROUND-COLOR: #d0b0ff; border-radius-topleft: .5em; border-radius-topright: .5em; moz-border-radius: .5em .5em 0em 0em
}
.mcBoto A {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; FONT-WEIGHT: bold; FONT-SIZE: 90%; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px! important; COLOR: #7050a0! important; PADDING-TOP: 0px! important; TEXT-DECORATION: none! important
}
.mcBoto STRONG {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; FONT-WEIGHT: bold; FONT-SIZE: 90%; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px! important; COLOR: #7050a0! important; PADDING-TOP: 0px! important; TEXT-DECORATION: none! important
}
.mcBoto A:hover {
	COLOR: black! important; TEXT-DECORATION: underline! important
}
.mcBoto STRONG:hover {
	COLOR: black! important; TEXT-DECORATION: underline! important
}
.mcBotoSel {
	BORDER-RIGHT: #7050a0 0.15em solid; PADDING-RIGHT: 0.3em; BORDER-TOP: #b090e0 0.15em solid; DISPLAY: inline; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #b090e0 0.15em solid; CURSOR: default; COLOR: white; MARGIN-RIGHT: 0.1em; PADDING-TOP: 0.2em; BORDER-BOTTOM: #9070c0 0.15em solid; POSITION: relative; BACKGROUND-COLOR: #9070c0; border-radius-topleft: .5em; border-radius-topright: .5em; moz-border-radius: .5em .5em 0em 0em
}
.mcBotoSel A {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; FONT-WEIGHT: bold; FONT-SIZE: 90%; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px! important; CURSOR: default; COLOR: white! important; PADDING-TOP: 0px! important; TEXT-DECORATION: none! important
}
.mcContingut {
	BORDER-RIGHT: #7050a0 0.2em solid; PADDING-RIGHT: 1em; BORDER-TOP: #9070c0 0.2em solid; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; BORDER-LEFT: #9070c0 0.2em solid; PADDING-TOP: 1em; BORDER-BOTTOM: #7050a0 0.2em solid; POSITION: static; BACKGROUND-COLOR: #f8f8ff; border-radius-topright: .5em; moz-border-radius: 0em .5em .5em 0em; border-radius-bottomright: .5em
}
.mcPestanya {
	BORDER-LEFT-COLOR: #7050a0; BORDER-BOTTOM-COLOR: #b090e0; WIDTH: 100%; BORDER-TOP-COLOR: #7050a0; BACKGROUND-COLOR: #f8f8ff; BORDER-RIGHT-COLOR: #b090e0
}
.mcVerd .mcBoto {
	BORDER-LEFT-COLOR: #c0f090; BORDER-BOTTOM-COLOR: #75c045; BORDER-TOP-COLOR: #c0f090; BACKGROUND-COLOR: #a5e085; BORDER-RIGHT-COLOR: #90d060
}
.mcVerd .mcBoto A {
	FONT-SIZE: 90%; COLOR: #60b030! important
}
.mcVerd .mcBoto STRONG {
	FONT-SIZE: 90%; COLOR: #60b030! important
}
.mcVerd .mcBoto A:hover {
	COLOR: black! important; TEXT-DECORATION: underline
}
.mcVerd .mcBoto STRONG:hover {
	COLOR: black! important; TEXT-DECORATION: underline
}
.mcVerd .mcBotoSel {
	BORDER-LEFT-COLOR: #90d060; BORDER-BOTTOM-COLOR: #75c045; BORDER-TOP-COLOR: #90d060; BACKGROUND-COLOR: #75c045; BORDER-RIGHT-COLOR: #60b030
}
.mcVerd .mcContingut {
	BORDER-LEFT-COLOR: #75c045; BORDER-BOTTOM-COLOR: #60b030; BORDER-TOP-COLOR: #75c045; BACKGROUND-COLOR: #f5fffa; BORDER-RIGHT-COLOR: #60b030
}
.mcVerd .mcPestanya {
	BORDER-LEFT-COLOR: #60b030; BORDER-BOTTOM-COLOR: #90d060; BORDER-TOP-COLOR: #60b030; BACKGROUND-COLOR: #f5fffa; BORDER-RIGHT-COLOR: #90d060
}
.mcVermell .mcBoto {
	BORDER-LEFT-COLOR: #ffcccc; BORDER-BOTTOM-COLOR: #ff0000; BORDER-TOP-COLOR: #ffcccc; BACKGROUND-COLOR: #ffaaaa; BORDER-RIGHT-COLOR: #ff8888
}
.mcVermell .mcBoto A {
	FONT-SIZE: 90%; COLOR: #cc0000! important
}
.mcVermell .mcBoto STRONG {
	FONT-SIZE: 90%; COLOR: #cc0000! important
}
.mcVermell .mcBoto A:hover .mcVermell .mcBoto STRONG:hover {
	COLOR: black! important; TEXT-DECORATION: underline
}
.mcVermell .mcBotoSel {
	BORDER-LEFT-COLOR: #ff8888; BORDER-BOTTOM-COLOR: #ff0000; BORDER-TOP-COLOR: #ff8888; BACKGROUND-COLOR: #ff0000; BORDER-RIGHT-COLOR: #cc0000
}
.mcVermell .mcContingut {
	BORDER-LEFT-COLOR: #ff0000; BORDER-BOTTOM-COLOR: #cc0000; BORDER-TOP-COLOR: #ff0000; BACKGROUND-COLOR: #fffafa; BORDER-RIGHT-COLOR: #cc0000
}
.mcVermell .mcPestanya {
	BORDER-LEFT-COLOR: #cc0000; BORDER-BOTTOM-COLOR: #ff0000; BORDER-TOP-COLOR: #cc0000; BACKGROUND-COLOR: #fffafa; BORDER-RIGHT-COLOR: #ff0000
}
.mcBlau .mcBoto {
	BORDER-LEFT-COLOR: #c8d6e9; BORDER-BOTTOM-COLOR: #5b8dd6; BORDER-TOP-COLOR: #c8d6e9; BACKGROUND-COLOR: #a7c1e6; BORDER-RIGHT-COLOR: #88abde
}
.mcBlau .mcBoto A {
	FONT-SIZE: 90%; COLOR: #3379de! important
}
.mcBlau .mcBoto STRONG {
	FONT-SIZE: 90%; COLOR: #3379de! important
}
.mcBlau .mcBoto A:hover .mcBlau .mcBoto STRONG:hover {
	COLOR: black! important; TEXT-DECORATION: underline
}
.mcBlau .mcBotoSel {
	BORDER-LEFT-COLOR: #88abde; BORDER-BOTTOM-COLOR: #5b8dd6; BORDER-TOP-COLOR: #88abde; BACKGROUND-COLOR: #5b8dd6; BORDER-RIGHT-COLOR: #3379de
}
.mcBlau .mcContingut {
	BORDER-LEFT-COLOR: #5b8dd6; BORDER-BOTTOM-COLOR: #3379de; BORDER-TOP-COLOR: #5b8dd6; BACKGROUND-COLOR: #f0f8ff; BORDER-RIGHT-COLOR: #3379de
}
.mcBlau .mcPestanya {
	BORDER-LEFT-COLOR: #3379de; BORDER-BOTTOM-COLOR: #88abde; BORDER-TOP-COLOR: #3379de; BACKGROUND-COLOR: #f0f8ff; BORDER-RIGHT-COLOR: #88abde
}
.mcGroc .mcBoto {
	BORDER-LEFT-COLOR: #fef4bc; BORDER-BOTTOM-COLOR: #ffe147; BORDER-TOP-COLOR: #fef4bc; BACKGROUND-COLOR: #fff1a4; BORDER-RIGHT-COLOR: #ffe977
}
.mcGroc .mcBoto A {
	FONT-SIZE: 90%; COLOR: #ffd813! important
}
.mcGroc .mcBoto STRONG {
	FONT-SIZE: 90%; COLOR: #ffd813! important
}
.mcGroc .mcBoto A:hover .mcGroc .mcBoto STRONG:hover {
	COLOR: black! important; TEXT-DECORATION: underline
}
.mcGroc .mcBotoSel {
	BORDER-LEFT-COLOR: #ffe977; BORDER-BOTTOM-COLOR: #ffe147; BORDER-TOP-COLOR: #ffe977; BACKGROUND-COLOR: #ffe147; BORDER-RIGHT-COLOR: #ffd813
}
.mcGroc .mcContingut {
	BORDER-LEFT-COLOR: #ffe147; BORDER-BOTTOM-COLOR: #ffd813; BORDER-TOP-COLOR: #ffe147; BACKGROUND-COLOR: #fffce8; BORDER-RIGHT-COLOR: #ffd813
}
.mcGroc .mcPestanya {
	BORDER-LEFT-COLOR: #ffd813; BORDER-BOTTOM-COLOR: #88abde; BORDER-TOP-COLOR: #ffd813; BACKGROUND-COLOR: #fffce8; BORDER-RIGHT-COLOR: #88abde
}
.mcTaronja .mcBoto {
	BORDER-LEFT-COLOR: #ffd0a4; BORDER-BOTTOM-COLOR: #ff9d42; BORDER-TOP-COLOR: #ffd0a4; BACKGROUND-COLOR: #ffbd7f; BORDER-RIGHT-COLOR: #ffac5d
}
.mcTaronja .mcBoto A {
	FONT-SIZE: 90%; COLOR: #ff820e! important
}
.mcTaronja .mcBoto STRONG {
	FONT-SIZE: 90%; COLOR: #ff820e! important
}
.mcTaronja .mcBoto A:hover .mcTaronja .mcBoto STRONG:hover {
	COLOR: black! important; TEXT-DECORATION: underline
}
.mcTaronja .mcBotoSel {
	BORDER-LEFT-COLOR: #ffac5d; BORDER-BOTTOM-COLOR: #ff9d42; BORDER-TOP-COLOR: #ffac5d; BACKGROUND-COLOR: #ff9d42; BORDER-RIGHT-COLOR: #ff820e
}
.mcTaronja .mcContingut {
	BORDER-LEFT-COLOR: #ff9d42; BORDER-BOTTOM-COLOR: #ff820e; BORDER-TOP-COLOR: #ff9d42; BACKGROUND-COLOR: #ffeedd; BORDER-RIGHT-COLOR: #ff820e
}
.mcTaronja .mcPestanya {
	BORDER-LEFT-COLOR: #ff820e; BORDER-BOTTOM-COLOR: #ffac5d; BORDER-TOP-COLOR: #ff820e; BACKGROUND-COLOR: #ffeedd; BORDER-RIGHT-COLOR: #ffac5d
}
STRONG.mw-plusminus-neg {
	COLOR: #c00
}
.mw-plusminus-pos {
	COLOR: #060
}
.mw-plusminus-neg {
	COLOR: #900
}
.topicon {
	MARGIN-RIGHT: 0px! important
}
TH.mbox-text {
	PADDING-RIGHT: 0.9em; PADDING-LEFT: 0.9em; PADDING-BOTTOM: 0.25em; WIDTH: 100%; BORDER-TOP-STYLE: none; PADDING-TOP: 0.25em; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TD.mbox-text {
	PADDING-RIGHT: 0.9em; PADDING-LEFT: 0.9em; PADDING-BOTTOM: 0.25em; WIDTH: 100%; BORDER-TOP-STYLE: none; PADDING-TOP: 0.25em; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TD.mbox-image {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0.9em; PADDING-BOTTOM: 2px; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
TD.mbox-imageright {
	PADDING-RIGHT: 0.9em; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
TD.mbox-empty-cell {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 1px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TABLE.ambox {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; BACKGROUND: #fbfbfb; MARGIN: 0px 10%; BORDER-LEFT: #1e90ff 10px solid; BORDER-BOTTOM: #aaa 1px solid
}
UNKNOWN {
	MARGIN-TOP: -1px
}
.ambox TH.mbox-text {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.25em; PADDING-TOP: 0.25em
}
.ambox TD.mbox-text {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.25em; PADDING-TOP: 0.25em
}
.ambox TD.mbox-image {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.ambox TD.mbox-imageright {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TABLE.ambox-notice {
	BORDER-LEFT: #1e90ff 10px solid
}
TABLE.ambox-speedy {
	BORDER-LEFT: #ff0000 10px solid
}
TABLE.ambox-delete {
	BORDER-LEFT: #b22222 10px solid
}
TABLE.ambox-content {
	BORDER-LEFT: #f28500 10px solid
}
TABLE.ambox-style {
	BORDER-LEFT: #f4c430 10px solid
}
TABLE.ambox-move {
	BORDER-LEFT: #9932cc 10px solid
}
TABLE.ambox-protection {
	BORDER-LEFT: #bba 10px solid
}
TABLE.imbox {
	BORDER-RIGHT: #1e90ff 3px solid; BORDER-TOP: #1e90ff 3px solid; BACKGROUND: #fbfbfb; MARGIN: 4px 10%; BORDER-LEFT: #1e90ff 3px solid; BORDER-BOTTOM: #1e90ff 3px solid; BORDER-COLLAPSE: collapse
}
.imbox .mbox-text .imbox {
	MARGIN: 0px -0.5em
}
.mbox-inside .imbox {
	MARGIN: 4px
}
TABLE.imbox-notice {
	BORDER-RIGHT: #1e90ff 3px solid; BORDER-TOP: #1e90ff 3px solid; BORDER-LEFT: #1e90ff 3px solid; BORDER-BOTTOM: #1e90ff 3px solid
}
TABLE.imbox-speedy {
	BORDER-RIGHT: #b22222 3px solid; BORDER-TOP: #b22222 3px solid; BACKGROUND: #fee; BORDER-LEFT: #b22222 3px solid; BORDER-BOTTOM: #b22222 3px solid
}
TABLE.imbox-delete {
	BORDER-RIGHT: #b22222 3px solid; BORDER-TOP: #b22222 3px solid; BORDER-LEFT: #b22222 3px solid; BORDER-BOTTOM: #b22222 3px solid
}
TABLE.imbox-content {
	BORDER-RIGHT: #f28500 3px solid; BORDER-TOP: #f28500 3px solid; BORDER-LEFT: #f28500 3px solid; BORDER-BOTTOM: #f28500 3px solid
}
TABLE.imbox-style {
	BORDER-RIGHT: #f4c430 3px solid; BORDER-TOP: #f4c430 3px solid; BORDER-LEFT: #f4c430 3px solid; BORDER-BOTTOM: #f4c430 3px solid
}
TABLE.imbox-move {
	BORDER-RIGHT: #9932cc 3px solid; BORDER-TOP: #9932cc 3px solid; BORDER-LEFT: #9932cc 3px solid; BORDER-BOTTOM: #9932cc 3px solid
}
TABLE.imbox-protection {
	BORDER-RIGHT: #bba 3px solid; BORDER-TOP: #bba 3px solid; BORDER-LEFT: #bba 3px solid; BORDER-BOTTOM: #bba 3px solid
}
TABLE.imbox-license {
	BORDER-RIGHT: #88a 3px solid; BORDER-TOP: #88a 3px solid; BACKGROUND: #f7f8ff; BORDER-LEFT: #88a 3px solid; BORDER-BOTTOM: #88a 3px solid
}
TABLE.imbox-featured {
	BORDER-RIGHT: #cba135 3px solid; BORDER-TOP: #cba135 3px solid; BORDER-LEFT: #cba135 3px solid; BORDER-BOTTOM: #cba135 3px solid
}
TABLE.cmbox {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; BACKGROUND: #dfe8ff; MARGIN: 3px 10%; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.cmbox-notice {
	BACKGROUND: #d8e8ff
}
TABLE.cmbox-speedy {
	BORDER-RIGHT: #b22222 4px solid; BORDER-TOP: #b22222 4px solid; MARGIN-TOP: 4px; BACKGROUND: #ffdbdb; MARGIN-BOTTOM: 4px; BORDER-LEFT: #b22222 4px solid; BORDER-BOTTOM: #b22222 4px solid
}
TABLE.cmbox-delete {
	BACKGROUND: #ffdbdb
}
TABLE.cmbox-content {
	BACKGROUND: #ffe7ce
}
TABLE.cmbox-style {
	BACKGROUND: #fff9db
}
TABLE.cmbox-move {
	BACKGROUND: #e4d8ff
}
TABLE.cmbox-protection {
	BACKGROUND: #efefe1
}
TABLE.ombox {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; BACKGROUND: #f9f9f9; MARGIN: 4px 10%; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.ombox-notice {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 1px solid
}
TABLE.ombox-speedy {
	BORDER-RIGHT: #b22222 2px solid; BORDER-TOP: #b22222 2px solid; BACKGROUND: #fee; BORDER-LEFT: #b22222 2px solid; BORDER-BOTTOM: #b22222 2px solid
}
TABLE.ombox-delete {
	BORDER-RIGHT: #b22222 2px solid; BORDER-TOP: #b22222 2px solid; BORDER-LEFT: #b22222 2px solid; BORDER-BOTTOM: #b22222 2px solid
}
TABLE.ombox-content {
	BORDER-RIGHT: #f28500 1px solid; BORDER-TOP: #f28500 1px solid; BORDER-LEFT: #f28500 1px solid; BORDER-BOTTOM: #f28500 1px solid
}
TABLE.ombox-style {
	BORDER-RIGHT: #f4c430 1px solid; BORDER-TOP: #f4c430 1px solid; BORDER-LEFT: #f4c430 1px solid; BORDER-BOTTOM: #f4c430 1px solid
}
TABLE.ombox-move {
	BORDER-RIGHT: #9932cc 1px solid; BORDER-TOP: #9932cc 1px solid; BORDER-LEFT: #9932cc 1px solid; BORDER-BOTTOM: #9932cc 1px solid
}
TABLE.ombox-protection {
	BORDER-RIGHT: #bba 2px solid; BORDER-TOP: #bba 2px solid; BORDER-LEFT: #bba 2px solid; BORDER-BOTTOM: #bba 2px solid
}
TABLE.tmbox {
	BORDER-RIGHT: #c0c090 1px solid; BORDER-TOP: #c0c090 1px solid; BACKGROUND: #f8eaba; MARGIN: 4px 10%; BORDER-LEFT: #c0c090 1px solid; BORDER-BOTTOM: #c0c090 1px solid; BORDER-COLLAPSE: collapse
}
.mediawiki .mbox-inside .tmbox {
	MARGIN: 2px 0px; WIDTH: 100%
}
.mbox-inside .mbox-small {
	FONT-SIZE: 100%; LINE-HEIGHT: 1.5em
}
TABLE.tmbox-speedy {
	BORDER-RIGHT: #b22222 2px solid; BORDER-TOP: #b22222 2px solid; BACKGROUND: #fee; BORDER-LEFT: #b22222 2px solid; BORDER-BOTTOM: #b22222 2px solid
}
TABLE.tmbox-delete {
	BORDER-RIGHT: #b22222 2px solid; BORDER-TOP: #b22222 2px solid; BORDER-LEFT: #b22222 2px solid; BORDER-BOTTOM: #b22222 2px solid
}
TABLE.tmbox-content {
	BORDER-RIGHT: #f28500 2px solid; BORDER-TOP: #f28500 2px solid; BORDER-LEFT: #f28500 2px solid; BORDER-BOTTOM: #f28500 2px solid
}
TABLE.tmbox-style {
	BORDER-RIGHT: #f4c430 2px solid; BORDER-TOP: #f4c430 2px solid; BORDER-LEFT: #f4c430 2px solid; BORDER-BOTTOM: #f4c430 2px solid
}
TABLE.tmbox-move {
	BORDER-RIGHT: #9932cc 2px solid; BORDER-TOP: #9932cc 2px solid; BORDER-LEFT: #9932cc 2px solid; BORDER-BOTTOM: #9932cc 2px solid
}
TABLE.tmbox-protection {
	BORDER-RIGHT: #c0c090 1px solid; BORDER-TOP: #c0c090 1px solid; BORDER-LEFT: #c0c090 1px solid; BORDER-BOTTOM: #c0c090 1px solid
}
TABLE.tmbox-notice {
	BORDER-RIGHT: #c0c090 1px solid; BORDER-TOP: #c0c090 1px solid; BORDER-LEFT: #c0c090 1px solid; BORDER-BOTTOM: #c0c090 1px solid
}
TABLE.dmbox {
	CLEAR: both; BORDER-TOP: #ccc 1px solid; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0.9em 1em; BORDER-BOTTOM: #ccc 1px solid
}
TABLE.fmbox {
	CLEAR: both; BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; BACKGROUND: #f9f9f9; MARGIN: 0.2em 0px; BORDER-LEFT: #aaa 1px solid; WIDTH: 100%; BORDER-BOTTOM: #aaa 1px solid
}
TABLE.fmbox-system {
	BACKGROUND: #f9f9f9
}
TABLE.fmbox-warning {
	BORDER-RIGHT: #bb7070 1px solid; BORDER-TOP: #bb7070 1px solid; BACKGROUND: #ffdbdb; BORDER-LEFT: #bb7070 1px solid; BORDER-BOTTOM: #bb7070 1px solid
}
TABLE.fmbox-editnotice {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
DIV.mw-warning-with-logexcerpt {
	CLEAR: both; BORDER-RIGHT: #bb7070 1px solid; PADDING-RIGHT: 0.9em; BORDER-TOP: #bb7070 1px solid; PADDING-LEFT: 0.9em; BACKGROUND: #ffdbdb; PADDING-BOTTOM: 0.25em; MARGIN: 0.2em 0px; BORDER-LEFT: #bb7070 1px solid; PADDING-TOP: 0.25em; BORDER-BOTTOM: #bb7070 1px solid
}
DIV.mw-lag-warn-high {
	CLEAR: both; BORDER-RIGHT: #bb7070 1px solid; PADDING-RIGHT: 0.9em; BORDER-TOP: #bb7070 1px solid; PADDING-LEFT: 0.9em; BACKGROUND: #ffdbdb; PADDING-BOTTOM: 0.25em; MARGIN: 0.2em 0px; BORDER-LEFT: #bb7070 1px solid; PADDING-TOP: 0.25em; BORDER-BOTTOM: #bb7070 1px solid
}
DIV.mw-cascadeprotectedwarning {
	CLEAR: both; BORDER-RIGHT: #bb7070 1px solid; PADDING-RIGHT: 0.9em; BORDER-TOP: #bb7070 1px solid; PADDING-LEFT: 0.9em; BACKGROUND: #ffdbdb; PADDING-BOTTOM: 0.25em; MARGIN: 0.2em 0px; BORDER-LEFT: #bb7070 1px solid; PADDING-TOP: 0.25em; BORDER-BOTTOM: #bb7070 1px solid
}
DIV#mw-protect-cascadeon {
	CLEAR: both; BORDER-RIGHT: #bb7070 1px solid; PADDING-RIGHT: 0.9em; BORDER-TOP: #bb7070 1px solid; PADDING-LEFT: 0.9em; BACKGROUND: #ffdbdb; PADDING-BOTTOM: 0.25em; MARGIN: 0.2em 0px; BORDER-LEFT: #bb7070 1px solid; PADDING-TOP: 0.25em; BORDER-BOTTOM: #bb7070 1px solid
}
DIV.mw-lag-warn-normal {
	CLEAR: both; BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0.9em; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 0.9em; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 0.25em; MARGIN: 0.2em 0px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 0.25em; BORDER-BOTTOM: #aaa 1px solid
}
DIV.noarticletext {
	CLEAR: both; BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0.9em; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 0.9em; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 0.25em; MARGIN: 0.2em 0px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 0.25em; BORDER-BOTTOM: #aaa 1px solid
}
DIV.fmbox-system {
	CLEAR: both; BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0.9em; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 0.9em; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 0.25em; MARGIN: 0.2em 0px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 0.25em; BORDER-BOTTOM: #aaa 1px solid
}
BODY.mediawiki TABLE.mbox-small {
	CLEAR: right; FONT-SIZE: 88%; FLOAT: right; MARGIN: 4px 0px 4px 1em; WIDTH: 238px; LINE-HEIGHT: 1.25em
}
BODY.mediawiki TABLE.mbox-small-left {
	FONT-SIZE: 88%; MARGIN: 4px 1em 4px 0px; WIDTH: 238px; LINE-HEIGHT: 1.25em; BORDER-COLLAPSE: collapse
}
#siteNotice DIV {
	MARGIN: 0px
}
#mw-dismissable-notice {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#wpSummary {
	MARGIN-BOTTOM: 0px
}
#wpSummaryLabel {
	MARGIN-BOTTOM: 0px
}
.nonumtoc .tocnumber {
	DISPLAY: none
}
.nonumtoc #toc UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.3em 0px 0px; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.nonumtoc .toc UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.3em 0px 0px; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.nonumtoc #toc UL UL {
	MARGIN: 0px 0px 0px 2em
}
.nonumtoc .toc UL UL {
	MARGIN: 0px 0px 0px 2em
}
.toclimit-2 .toclevel-2 {
	DISPLAY: none
}
.toclimit-3 .toclevel-3 {
	DISPLAY: none
}
.toclimit-4 .toclevel-4 {
	DISPLAY: none
}
.toclimit-5 .toclevel-5 {
	DISPLAY: none
}
.toclimit-6 .toclevel-6 {
	DISPLAY: none
}
.toclimit-7 .toclevel-7 {
	DISPLAY: none
}
