.ns-0 .ambox {
	DISPLAY: none
}
.ns-0 .navbox {
	DISPLAY: none
}
.ns-0 .sisterproject {
	DISPLAY: none
}
.ns-0 .dablink {
	DISPLAY: none
}
.ns-0 .metadata {
	DISPLAY: none
}
#privacy {
	DISPLAY: none
}
#about {
	DISPLAY: none
}
#disclaimer {
	DISPLAY: none
}
.editlink {
	DISPLAY: none
}
SPAN.collapseButton {
	DISPLAY: none
}
A.NavToggle {
	DISPLAY: none
}
.noprint {
	DISPLAY: none
}
#content CITE A.text:unknown {
	DISPLAY: none! important
}
.nourlexpansion A.text:unknown {
	DISPLAY: none! important
}
.nourlexpansion A.autonumber:unknown {
	DISPLAY: none! important
}
TABLE.collapsible TR {
	DISPLAY: block! important
}
DIV.NavPic {
	DISPLAY: block! important
}
DIV.NavContent {
	DISPLAY: block! important
}
TABLE.collapsible TR {
	
}
.skin-simple DIV#column-one {
	DISPLAY: none
}
.skin-simple DIV#f-poweredbyico {
	DISPLAY: none
}
.skin-simple DIV#f-copyrightico {
	DISPLAY: none
}
.skin-simple .editsection {
	DISPLAY: none
}
