.mw-plusminus-pos {
	COLOR: #006400
}
.mw-plusminus-neg {
	COLOR: #8b0000
}
.mw-plusminus-null {
	COLOR: #aaa
}
SPAN.comment {
	FONT-STYLE: italic
}
SPAN.changedby {
	FONT-SIZE: 95%
}
.texvc {
	DIRECTION: ltr; unicode-bidi: embed
}
IMG.tex {
	VERTICAL-ALIGN: middle
}
SPAN.texhtml {
	FONT-FAMILY: serif
}
.ontop#wikiPreview {
	MARGIN-BOTTOM: 1em
}
#editform {
	CLEAR: both
}
#toolbar {
	CLEAR: both
}
#wpTextbox1 {
	CLEAR: both
}
DIV#mw-js-message {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 2.5%; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 2.5%; PADDING-BOTTOM: 0.5em; MARGIN: 1em 5%; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ddd 1px solid; BACKGROUND-COLOR: #fcfcfc
}
.editsection {
	FLOAT: right; MARGIN-LEFT: 5px
}
TABLE.filehistory TH {
	VERTICAL-ALIGN: top
}
TABLE.filehistory TD {
	VERTICAL-ALIGN: top
}
TABLE.filehistory TH {
	TEXT-ALIGN: left
}
TABLE.filehistory TD.mw-imagepage-filesize {
	WHITE-SPACE: nowrap
}
TABLE.filehistory TH.mw-imagepage-filesize {
	WHITE-SPACE: nowrap
}
TABLE.filehistory TD.filehistory-selected {
	FONT-WEIGHT: bold
}
LI SPAN.deleted {
	COLOR: #888; FONT-STYLE: italic; TEXT-DECORATION: line-through
}
SPAN.history-deleted {
	COLOR: #888; FONT-STYLE: italic; TEXT-DECORATION: line-through
}
.not-patrolled {
	BACKGROUND-COLOR: #ffa
}
.unpatrolled {
	FONT-WEIGHT: bold; COLOR: red
}
DIV.patrollink {
	FONT-SIZE: 75%; TEXT-ALIGN: right
}
BODY.ltr TD.mw-label {
	TEXT-ALIGN: right
}
BODY.ltr TD.mw-input {
	TEXT-ALIGN: left
}
BODY.ltr TD.mw-submit {
	TEXT-ALIGN: left
}
BODY.rtl TD.mw-label {
	TEXT-ALIGN: left
}
BODY.rtl TD.mw-input {
	TEXT-ALIGN: right
}
BODY.rtl TD.mw-submit {
	TEXT-ALIGN: right
}
TD.mw-label {
	VERTICAL-ALIGN: top
}
.prefsection TD.mw-label {
	WIDTH: 20%
}
.prefsection TABLE {
	WIDTH: 100%
}
TD.mw-submit {
	WHITE-SPACE: nowrap
}
TABLE.mw-htmlform-nolabel TD.mw-label {
	WIDTH: 0px! important
}
BODY.rtl .thumbcaption {
	TEXT-ALIGN: right
}
BODY.rtl .magnify {
	FLOAT: left
}
BODY.ltr .thumbcaption {
	TEXT-ALIGN: left
}
BODY.ltr .magnify {
	FLOAT: right
}
.mw-hidden-cats-hidden {
	DISPLAY: none
}
.catlinks-allhidden {
	DISPLAY: none
}
P.mw-ipb-conveniencelinks {
	FONT-SIZE: 90%; FLOAT: right
}
P.mw-protect-editreasons {
	FONT-SIZE: 90%; FLOAT: right
}
P.mw-filedelete-editreasons {
	FONT-SIZE: 90%; FLOAT: right
}
P.mw-delete-editreasons {
	FONT-SIZE: 90%; FLOAT: right
}
P.mw-revdel-editreasons {
	FONT-SIZE: 90%; FLOAT: right
}
.searchresults {
	
}
.searchresults P {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1.2em; MARGIN-LEFT: 0.4em
}
DIV.searchresult {
	FONT-SIZE: 95%; WIDTH: 38em
}
.mw-search-results {
	MARGIN-LEFT: 0.4em
}
.mw-search-results LI {
	LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 1em; LIST-STYLE-TYPE: none
}
.mw-search-results LI A {
	FONT-SIZE: 108%
}
.mw-search-result-data {
	FONT-SIZE: 97%; COLOR: green
}
.mw-search-formheader {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; MARGIN-TOP: 1em; BORDER-LEFT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: #f3f3f3
}
.mw-search-formheader DIV.search-types {
	PADDING-LEFT: 0.25em; FLOAT: left
}
.rtl .mw-search-formheader DIV.search-types {
	FLOAT: right
}
.mw-search-formheader DIV.search-types UL {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important; LIST-STYLE-TYPE: none! important
}
.mw-search-formheader DIV.search-types UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.mw-search-formheader DIV.search-types UL LI A {
	PADDING-RIGHT: 0.5em; DISPLAY: block; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
.mw-search-formheader DIV.search-types UL LI.current A {
	CURSOR: default; COLOR: #333333
}
.mw-search-formheader DIV.search-types UL LI.current A:hover {
	TEXT-DECORATION: none
}
.mw-search-formheader DIV.results-info {
	PADDING-RIGHT: 0.75em; PADDING-LEFT: 0.5em; FLOAT: right; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
.mw-search-formheader DIV.results-info UL {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important; LIST-STYLE-TYPE: none! important
}
.mw-search-formheader DIV.results-info UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET#mw-searchoptions {
	BORDER-RIGHT: silver 1px solid; PADDING-RIGHT: 0.75em! important; BORDER-TOP: silver 0px solid; PADDING-LEFT: 0.75em! important; PADDING-BOTTOM: 0.5em! important; MARGIN: 0px; BORDER-LEFT: silver 1px solid; PADDING-TOP: 0.5em! important; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: #f9f9f9
}
FIELDSET#mw-searchoptions LEGEND {
	DISPLAY: none
}
FIELDSET#mw-searchoptions H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.rtl FIELDSET#mw-searchoptions H4 {
	FLOAT: right
}
FIELDSET#mw-searchoptions DIV#mw-search-togglebox {
	FLOAT: right
}
.rtl FIELDSET#mw-searchoptions DIV#mw-search-togglebox {
	FLOAT: left
}
FIELDSET#mw-searchoptions DIV#mw-search-togglebox LABEL {
	MARGIN-RIGHT: 0.25em
}
FIELDSET#mw-searchoptions DIV#mw-search-togglebox INPUT {
	MARGIN-LEFT: 0.25em
}
FIELDSET#mw-searchoptions TABLE {
	FLOAT: left; MARGIN-RIGHT: 3em
}
FIELDSET#mw-searchoptions TABLE TD {
	PADDING-RIGHT: 1em
}
.rtl FIELDSET#mw-searchoptions TABLE TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em
}
BODY.rtl FIELDSET#mw-searchoptions TABLE {
	FLOAT: right; MARGIN-LEFT: 3em; MARGIN-RIGHT: 0px
}
FIELDSET#mw-searchoptions DIV.divider {
	CLEAR: both; MARGIN-BOTTOM: 0.5em; PADDING-TOP: 0.5em; BORDER-BOTTOM: #dddddd 1px solid
}
TD#mw-search-menu {
	PADDING-LEFT: 6em; FONT-SIZE: 85%
}
DIV#mw-search-interwiki {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; MARGIN-TOP: 2ex; FLOAT: right; BORDER-LEFT: #aaaaaa 1px solid; WIDTH: 18em; BORDER-BOTTOM: #aaaaaa 1px solid
}
.rtl DIV#mw-search-interwiki {
	FLOAT: left
}
DIV#mw-search-interwiki LI {
	FONT-SIZE: 95%
}
.mw-search-interwiki-more {
	FONT-SIZE: 90%; FLOAT: right
}
.rtl .mw-search-interwiki-more {
	FLOAT: left
}
DIV#mw-search-interwiki-caption {
	FONT-WEIGHT: bold; FONT-SIZE: 95%; TEXT-ALIGN: center
}
.mw-search-interwiki-project {
	PADDING-RIGHT: 0.15em; BORDER-TOP: #bbbbbb 1px solid; PADDING-LEFT: 0.2em; FONT-SIZE: 97%; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.15em; BACKGROUND-COLOR: #ececec; TEXT-ALIGN: left
}
.rtl .mw-search-interwiki-project {
	TEXT-ALIGN: right
}
SPAN.searchalttitle {
	FONT-SIZE: 95%
}
DIV.searchdidyoumean {
	MARGIN-TOP: 0.8em; FONT-SIZE: 127%; COLOR: #c00
}
DIV.searchdidyoumean EM {
	FONT-WEIGHT: bold
}
.searchmatch {
	FONT-WEIGHT: bold
}
TABLE#mw-search-top-table {
	BACKGROUND-COLOR: transparent
}
TD#mw-search-togglebox {
	TEXT-ALIGN: right
}
TABLE#mw-search-powertable {
	WIDTH: 100%
}
FORM#powersearch {
	CLEAR: both
}
.mw-userrights-disabled {
	COLOR: #888
}
TABLE.mw-userrights-groups  TD {
	PADDING-RIGHT: 1.5em
}
TABLE.mw-userrights-groups  TH {
	PADDING-RIGHT: 1.5em
}
.os-suggest {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; FONT-SIZE: 95%; Z-INDEX: 99; LEFT: 0px; OVERFLOW-X: hidden; OVERFLOW: auto; BORDER-LEFT: #aaaaaa 1px solid; WIDTH: 0px; BORDER-BOTTOM: #aaaaaa 1px solid; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: window
}
TABLE.os-suggest-results {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 95%; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 100%; CURSOR: pointer; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
.os-suggest-result {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: windowtext; PADDING-TOP: 2px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: window
}
.os-suggest-result-hl {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: windowtext; PADDING-TOP: 2px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: window
}
.os-suggest-result-hl {
	COLOR: white; BACKGROUND-COLOR: #4c59a6
}
.os-suggest-result-hl-webkit {
	COLOR: white; BACKGROUND-COLOR: #4c59a6
}
.os-suggest-result-hl {
	COLOR: highlighttext; BACKGROUND-COLOR: highlight
}
.os-suggest-toggle {
	FONT-SIZE: 65%; LEFT: 1ex; POSITION: relative
}
.os-suggest-toggle-def {
	FONT-SIZE: 65%; LEFT: 0px; VISIBILITY: hidden; POSITION: absolute; TOP: 0px
}
.autocomment {
	COLOR: gray
}
#pagehistory .history-user {
	MARGIN-LEFT: 0.4em; MARGIN-RIGHT: 0.2em
}
#pagehistory SPAN.minor {
	FONT-WEIGHT: bold
}
#pagehistory LI {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: white 1px solid
}
#pagehistory LI.selected {
	BORDER-RIGHT: #aaa 1px dashed; BORDER-TOP: #aaa 1px dashed; BORDER-LEFT: #aaa 1px dashed; BORDER-BOTTOM: #aaa 1px dashed; BACKGROUND-COLOR: #f9f9f9
}
.newpage {
	FONT-WEIGHT: bold
}
.minor {
	FONT-WEIGHT: bold
}
.bot {
	FONT-WEIGHT: bold
}
.mw-uctop {
	FONT-WEIGHT: bold
}
TABLE.mw-listgrouprights-table TR {
	VERTICAL-ALIGN: top
}
.listgrouprights-revoked {
	TEXT-DECORATION: line-through
}
TD.mw-statistics-numbers {
	TEXT-ALIGN: right
}
H4.mw-specialpagesgroup {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0.3em 0em 0em; PADDING-TOP: 2px; BACKGROUND-COLOR: #dcdcdc
}
.mw-specialpagerestricted {
	FONT-WEIGHT: bold
}
#shared-image-dup {
	FONT-STYLE: italic
}
#shared-image-conflict {
	FONT-STYLE: italic
}
TABLE.mw-emailuser-table {
	WIDTH: 98%
}
TD#mw-emailuser-sender {
	FONT-WEIGHT: bold
}
TD#mw-emailuser-recipient {
	FONT-WEIGHT: bold
}
TABLE.allpageslist {
	BACKGROUND-COLOR: transparent
}
TABLE.mw-allpages-table-form {
	WIDTH: 100%; BACKGROUND-COLOR: transparent
}
TABLE.mw-allpages-table-chunk {
	WIDTH: 100%; BACKGROUND-COLOR: transparent
}
TD.mw-allpages-alphaindexline {
	TEXT-ALIGN: right
}
TD.mw-allpages-nav {
	FONT-SIZE: smaller; MARGIN-BOTTOM: 1em; TEXT-ALIGN: right
}
P.mw-allpages-nav {
	FONT-SIZE: smaller; MARGIN-BOTTOM: 1em; TEXT-ALIGN: right
}
TABLE.mw-allpages-table-form TR {
	VERTICAL-ALIGN: top
}
TABLE#mw-prefixindex-list-table {
	WIDTH: 98%; BACKGROUND-COLOR: transparent
}
TABLE#mw-prefixindex-nav-table {
	WIDTH: 98%; BACKGROUND-COLOR: transparent
}
TD#mw-prefixindex-nav-form {
	FONT-SIZE: smaller; MARGIN-BOTTOM: 1em; VERTICAL-ALIGN: top; TEXT-ALIGN: right
}
DIV.mw-warning-with-logexcerpt {
	BORDER-RIGHT: #2f6fab 2px solid; PADDING-RIGHT: 3px; BORDER-TOP: #2f6fab 2px solid; PADDING-LEFT: 3px; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #2f6fab 2px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #2f6fab 2px solid
}
DIV.mw-warning-with-logexcerpt UL LI {
	FONT-SIZE: 90%
}
SPAN.mw-revdelundel-link {
	FONT-SIZE: 90%
}
STRONG.mw-revdelundel-link {
	FONT-SIZE: 90%
}
SPAN.mw-revdelundel-hidden {
	VISIBILITY: hidden
}
INPUT.mw-revdelundel-hidden {
	VISIBILITY: hidden
}
A.feedlink {
	PADDING-LEFT: 16px; BACKGROUND: url(images/feed-icon.png) no-repeat left center
}
.plainlinks A {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
TABLE.wikitable {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; BACKGROUND: #f9f9f9; MARGIN: 1em 1em 1em 0px; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 1px solid; BORDER-COLLAPSE: collapse
}
.wikitable TH {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaa 1px solid
}
.wikitable TD {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaa 1px solid
}
.wikitable TH {
	BACKGROUND: #f2f2f2; TEXT-ALIGN: center
}
.wikitable CAPTION {
	FONT-WEIGHT: bold
}
TABLE.collapsed TR.collapsable {
	DISPLAY: none
}
.success {
	FONT-SIZE: larger; COLOR: green
}
.error {
	FONT-SIZE: larger; COLOR: red
}
.errorbox {
	BORDER-RIGHT: 2px solid; PADDING-RIGHT: 1em; BORDER-TOP: 2px solid; PADDING-LEFT: 1em; FONT-SIZE: larger; FLOAT: left; MARGIN-BOTTOM: 2em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: 2px solid; COLOR: #000; PADDING-TOP: 0.5em; BORDER-BOTTOM: 2px solid
}
.successbox {
	BORDER-RIGHT: 2px solid; PADDING-RIGHT: 1em; BORDER-TOP: 2px solid; PADDING-LEFT: 1em; FONT-SIZE: larger; FLOAT: left; MARGIN-BOTTOM: 2em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: 2px solid; COLOR: #000; PADDING-TOP: 0.5em; BORDER-BOTTOM: 2px solid
}
.errorbox {
	BORDER-LEFT-COLOR: red; BORDER-BOTTOM-COLOR: red; BORDER-TOP-COLOR: red; BACKGROUND-COLOR: #fff2f2; BORDER-RIGHT-COLOR: red
}
.successbox {
	BORDER-LEFT-COLOR: green; BORDER-BOTTOM-COLOR: green; BORDER-TOP-COLOR: green; BACKGROUND-COLOR: #dfd; BORDER-RIGHT-COLOR: green
}
.errorbox H2 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 1em; MARGIN: 0px 0.5em 0px 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.successbox H2 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 1em; MARGIN: 0px 0.5em 0px 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.visualClear {
	CLEAR: both
}
#mw_trackbacks {
	BORDER-RIGHT: #bbbbff 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #bbbbff 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #bbbbff 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #bbbbff 1px solid; BACKGROUND-COLOR: #eeeeff
}
.TablePager {
	min-width: 80%
}
.TablePager_nav A {
	TEXT-DECORATION: none
}
.TablePager {
	BORDER-COLLAPSE: collapse
}
.TablePager {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.15em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.15em; PADDING-BOTTOM: 0px; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #aaaaaa 1px solid
}
.TablePager TD {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.15em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.15em; PADDING-BOTTOM: 0px; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #aaaaaa 1px solid
}
.TablePager TH {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.15em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.15em; PADDING-BOTTOM: 0px; BORDER-LEFT: #aaaaaa 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #aaaaaa 1px solid
}
.TablePager TH {
	BACKGROUND-COLOR: #eeeeff
}
.TablePager TD {
	BACKGROUND-COLOR: #ffffff
}
.TablePager TR:hover TD {
	BACKGROUND-COLOR: #eeeeff
}
.imagelist TD {
	WHITE-SPACE: nowrap
}
.imagelist TH {
	WHITE-SPACE: nowrap
}
.imagelist .TablePager_col_links {
	BACKGROUND-COLOR: #eeeeff
}
.imagelist .TablePager_col_img_description {
	WHITE-SPACE: normal
}
.imagelist TH.TablePager_sort {
	BACKGROUND-COLOR: #ccccff
}
#mw-allmessagestable .allmessages-customised TD.am_default {
	BACKGROUND-COLOR: #fcffc4
}
#mw-allmessagestable TR.allmessages-customised:hover TD.am_default {
	BACKGROUND-COLOR: #faff90
}
#mw-allmessagestable TD.am_actual {
	BACKGROUND-COLOR: #e2ffe2
}
UNKNOWN {
	BACKGROUND-COLOR: #b1ffb1
}
UL#filetoc {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 95%; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 5px; MARGIN-LEFT: 0px; BORDER-LEFT: #aaaaaa 1px solid; MARGIN-RIGHT: 0px; PADDING-TOP: 5px; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: #f9f9f9; TEXT-ALIGN: center
}
#filetoc LI {
	PADDING-RIGHT: 2em; DISPLAY: inline; LIST-STYLE-TYPE: none
}
TABLE.mw_metadata {
	FONT-SIZE: 0.8em; MARGIN-BOTTOM: 0.5em; MARGIN-LEFT: 0.5em; WIDTH: 300px
}
TABLE.mw_metadata CAPTION {
	FONT-WEIGHT: bold
}
TABLE.mw_metadata TH {
	FONT-WEIGHT: normal
}
TABLE.mw_metadata TD {
	PADDING-RIGHT: 0.1em; PADDING-LEFT: 0.1em; PADDING-BOTTOM: 0.1em; PADDING-TOP: 0.1em
}
TABLE.mw_metadata {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-COLLAPSE: collapse; BORDER-BOTTOM-STYLE: none
}
TABLE.mw_metadata TD {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.1em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.1em; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid; TEXT-ALIGN: center
}
TABLE.mw_metadata TH {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0.1em; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0.1em; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid; TEXT-ALIGN: center
}
TABLE.mw_metadata TH {
	BACKGROUND-COLOR: #f9f9f9
}
TABLE.mw_metadata TD {
	BACKGROUND-COLOR: #fcfcfc
}
TABLE.gallery {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: white
}
TABLE.gallery TR {
	VERTICAL-ALIGN: top
}
TABLE.gallery TD {
	BORDER-RIGHT: white 2px solid; BORDER-TOP: white 2px solid; VERTICAL-ALIGN: top; BORDER-LEFT: white 2px solid; BORDER-BOTTOM: white 2px solid; BACKGROUND-COLOR: #f9f9f9
}
TABLE.gallery CAPTION {
	FONT-WEIGHT: bold
}
DIV.gallerybox {
	MARGIN: 2px
}
DIV.gallerybox DIV.thumb {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN: 2px; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center
}
DIV.gallerytext {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 94%; PADDING-BOTTOM: 2px; OVERFLOW: hidden; PADDING-TOP: 2px
}
TABLE.mw-enhanced-rc {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; border-spacing: 0
}
TD.mw-enhanced-rc {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; FONT-FAMILY: monospace; WHITE-SPACE: nowrap
}
#mw-addcategory-prompt {
	DISPLAY: inline; MARGIN-LEFT: 1em
}
#mw-addcategory-prompt INPUT {
	MARGIN-LEFT: 0.5em; MARGIN-RIGHT: 0.5em
}
.mw-remove-category {
	PADDING-RIGHT: 8px; BACKGROUND-POSITION: center center; PADDING-LEFT: 8px; BACKGROUND-IMAGE: url(images/remove.png); PADDING-BOTTOM: 8px; PADDING-TOP: 8px; BACKGROUND-REPEAT: no-repeat
}
.mw-ajax-addcategory {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(images/add.png); BACKGROUND-REPEAT: no-repeat
}
.mw-ajax-loader {
	PADDING-RIGHT: 16px; BACKGROUND-POSITION: center center; PADDING-LEFT: 16px; BACKGROUND-IMAGE: url(images/ajax-loader.gif); PADDING-BOTTOM: 16px; PADDING-TOP: 16px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; TOP: -16px
}
