.p1 { text-align: left; text-indent: 26; line-height: 150%; margin: 7 10 }
.p2 { text-align: right; text-indent: 26; line-height: 150%; margin: 7 26 }
.p3	{ text-align: left; line-height: 150%; margin: 1 10}		
td, tr, p, form, br{font: 12px song, Verdana}
input, select{font: 10px song, Verdana}

.tableheader{color:#000000;height:24;background-image: url('/images/tablehd.gif');background-repeat: repeat-x; border-color:#80C5E9;border-left-style: solid; border-width: 1; border-right-style: solid;}
.tableborder{border-collapse: collapse;border: 1px solid #80C5E9;}
.tablebody {color: #333366; text-decoration: none; background-color: #f0f0f0}
.tablebody2 {;color: #333366; background-color: #f9f9f9}
.windows {background-color: #199CE1;border-left-style: solid;border-left-color:#D4ECF9; border-right-style: solid; border-right-color: #00679D; border-top-style: solid ;border-top-color:#D4ECF9; border-bottom-style: solid; border-bottom-color:#00679D;}

a:link {text-decoration:underline;color: #0044B6 }
a:visited {text-decoration:underline;color: #0044B6 }
a:active {text-decoration:underline;color: #0044B6 }
a:hover {text-decoration:underline;color: #FF0000 }

:link.list1 { text-decoration:none;color:#000000}
:visited.list1 {text-decoration:none;color:#000000}
:active.list1 {  text-decoration:none;color:#ff0000}
:hover.list1 {  text-decoration:underline;color:#FF0000}
:link.list2 { text-decoration:none;color:#FFFFFF}
:visited.list2 {text-decoration:none;color:#FFFFFF}
:active.list2 {  text-decoration:none;color:#ff0000}
:hover.list2 {  text-decoration:underline;color:#FF0000}
:link.list3 { text-decoration:underline;color:#336600}
:visited.list3 {text-decoration:underline;color:#336600}
:active.list3 {  text-decoration:underline;color:#ff0000}
:hover.list3 {  text-decoration:underline;color:#FF0000}

:link.listtree { text-decoration:none;color:#2B5A88}
:visited.listtree {text-decoration:none;color:#2B5A88}
:active.listtree {  text-decoration:none;color:#2B5A88}
:hover.listtree {  text-decoration:underline;color:#FF0000}

.text1{border: 1px solid #80C5E9; padding: 1}
.text2{border: 1px solid #666666; padding: 1}
.button1{color:#0066CC; border: 1px solid #80C5E9; padding: 1; background-color: #C5E8FA;height:18;cursor:hand}
.button2{color:#0066CC; border: 1px solid #F9A859; padding: 1; background-color: #F8DFB9;height:18;cursor:hand}

.todyaColor {BACKGROUND-COLOR: #99ff00}


ul#navmenu li {
  display: block !important; /*For GOOD browsers*/
  display: inline; /*For IE*/
  position: relative;
}

/* Root Menu */
ul#navmenu a {
  border: 1px solid #FFF;
  border-right-color: #A2DF9F;
  border-bottom-color: #A2DF9F;
  padding: 0 3px;
  display: block;
  background: #D6F7B5;
  color: #666;
  font: 12px/22px Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}
/* Root Menu Hover Persistence */
ul#navmenu a:hover,
ul#navmenu li:hover a,
ul#navmenu li.iehover a {
  background: #A2DF9F;
  color: #FFF;
}

/* 2nd Menu */
ul#navmenu li:hover li a,
ul#navmenu li.iehover li a {
  background: #D6F7B5;
  color: #666;
}

/* 2nd Menu Hover Persistence */
ul#navmenu li:hover li a:hover,
ul#navmenu li:hover li:hover a,
ul#navmenu li.iehover li a:hover,
ul#navmenu li.iehover li.iehover a {
  background: #A2DF9F;
  color: #FFF;
}

/* 3rd Menu */
ul#navmenu li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li a {
  background: #D6F7B5;
  color: #666;
}

/* 3rd Menu Hover Persistence */
ul#navmenu li:hover li:hover li a:hover,
ul#navmenu li:hover li:hover li:hover a,
ul#navmenu li.iehover li.iehover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover a {
  background: #A2DF9F;
  color: #FFF;
}

/* 4rd Menu */
ul#navmenu li:hover li:hover li:hover li a,
ul#navmenu li.iehover li.iehover li.iehover li a {
  background: #D6F7B5;
  color: #666;
}

/* 4rd Menu Hover Persistence */
ul#navmenu li:hover li:hover li:hover li a:hover,
ul#navmenu li:hover li:hover li:hover li:hover a,
ul#navmenu li.iehover li.iehover li.iehover li a:hover,
ul#navmenu li.iehover li.iehover li.iehover li.iehover a {
  background: #A2DF9F;
  color: #FFF;
}


.ul0{
  height:24px;
  line-height:24px;
  list-style-type:none;
  margin:0;
  width:60px;
  text-align:center;
  float:right;
}

.ul1{
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 120px; /*For KHTML*/
  list-style: none;
  display: none;
  position: absolute;
  top: 24px;
  left: 0px;
  text-align:left;
}
.ul2{
  display: none;
  position: absolute;
  top: 0;
  left: 120px;
  text-align:left;
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 120px; /*For KHTML*/
  list-style: none;
}
ul#navmenu li:hover ul ul,
ul#navmenu li:hover ul ul ul,
ul#navmenu li.iehover ul ul,
ul#navmenu li.iehover ul ul ul {
  display: none;
}

ul#navmenu li:hover ul,
ul#navmenu ul li:hover ul,
ul#navmenu ul ul li:hover ul,
ul#navmenu li.iehover ul,
ul#navmenu ul li.iehover ul,
ul#navmenu ul ul li.iehover ul {
  display: block;
}