BODY {
	FONT-SIZE: 12px; MARGIN: 0px; LINE-HEIGHT: 168%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TABLE {
	WORD-WRAP: break-word
}
.whitetop {
	WORD-SPACING: 5px; COLOR: #ffffff; TEXT-INDENT: 12px
}
.whitetop A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.whitetop A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.whitetop A:hover {
	COLOR: #ff3300; TEXT-DECORATION: none
}
.BLKtext {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.BLKallgrey {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 7px; BORDER-BOTTOM: #cccccc 1px solid
}
.Ftext1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #333333; LINE-HEIGHT: normal; FONT-FAMILY: "ו"; TEXT-ALIGN: center
}
.Ftext2 {
	COLOR: #666666
}
.Ftext2 A:link {
	COLOR: #ff0000
}
.Ftext2 A:visited {
	COLOR: #ff0000
}
.Ftext2 A:hover {
	COLOR: #ff0000
}
.Ftext2 A:active {
	COLOR: #ff0000
}
.BlkLightblue {
	BORDER-RIGHT: #7bbdff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #7bbdff 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; BORDER-LEFT: #7bbdff 1px solid; COLOR: #666666; PADDING-TOP: 10px; BORDER-BOTTOM: #7bbdff 1px solid; BACKGROUND-COLOR: #f5faff
}
.F14 {
	FONT-SIZE: 14px; WIDTH: 650px; COLOR: #000000; WORD-WRAP: break-word
}
.F14BL {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0044b6
}
.F13 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; VERTICAL-ALIGN: middle; COLOR: #0044b6; TEXT-INDENT: 10px; LINE-HEIGHT: normal
}
.more {
	PADDING-RIGHT: 0px; PADDING-LEFT: 122px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.more702 {
	PADDING-LEFT: 415px
}
.F12 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
A:link {
	COLOR: #0044b6; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0044b6; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #0044b6; TEXT-DECORATION: none
}
.BlkBlue {
	BORDER-RIGHT: #7bbdff 1px solid; BORDER-TOP: #7bbdff 1px solid; BORDER-LEFT: #7bbdff 1px solid; BORDER-BOTTOM: #7bbdff 1px solid; HEIGHT: 120px; BACKGROUND-COLOR: #e7f4ff
}
.Fred {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ff0000
}
.gray {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 83px; PADDING-TOP: 1px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 72px
}
.gray2 {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 125px; PADDING-TOP: 1px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 90px
}
.orange {
	FONT-WEIGHT: bold; COLOR: #ff6600
}
.orange A:link {
	FONT-WEIGHT: bold; COLOR: #ff6600; TEXT-DECORATION: none
}
.orange A:visited {
	FONT-WEIGHT: bold; COLOR: #ff6600; TEXT-DECORATION: none
}
.orange A:hover {
	FONT-WEIGHT: bold; COLOR: #ff6600; TEXT-DECORATION: underline
}
.orange A:active {
	FONT-WEIGHT: bold; COLOR: #ff6600; TEXT-DECORATION: none
}
.darkpred {
	COLOR: #990000
}
.darkpred A:link {
	COLOR: #990000; TEXT-DECORATION: none
}
.darkpred A:visited {
	COLOR: #990000; TEXT-DECORATION: none
}
.darkpred A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
.darkpred A:active {
	COLOR: #990000; TEXT-DECORATION: none
}
.f13 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #0044b6
}
